
<template>
  <main class="w-48">
    <div class="rounded-md bg-white shadow-xs w-auto py-4 px-5">
      <p
        @click="edit(obj)"
        class="text-gray-600 font-light text-sm hover:text-gray-500 mt- cursor-pointer"
      >
        Edit Job
      </p>
      <p
        @click="close(obj)"
        class="text-gray-600 font-light text-sm hover:text-gray-500 my-3 cursor-pointer"
      >
        Close Job
      </p>
      <p
        @click="remove(obj)"
        class="text-gray-600 font-light text-sm hover:text-gray-500 mt- cursor-pointer"
      >
        Delete Job
      </p>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: ["obj"],
  computed: {
    ...mapGetters(["getActiveJobs"]),
    allActivejobs() {
      return this.getActiveJobs;
    },
  },
  methods: {
    async edit(x) {
      console.log(x, "ppppp");
      let editContent = { ...x, id: x._id };
      delete editContent._id;
      this.$store.commit("set", {
        type: "editJobs",
        data: editContent,
      });
      console.log();
      this.$router.push({ name: "EditRecruitmentGeneralJobInformation" });
    },
    async remove(x) {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "DeleteJob",
        data: { id: x._id },
      });
      if (res.success) {
        this.updateAfterSuccess(x._id);
        this.$toast.success("Job Deleted Successfully ", {
          position: "bottom",
          duration: 5000,
        });
      }
    },
    async close(x) {
      let editInfo = { id: x._id, status: "CLOSED" };
      let res = await this.$store.dispatch("mutate", {
        endpoint: "ChangeJobStatus",
        data: editInfo,
      });
      if (res.success) {
        this.updateAfterSuccess(x._id);
        this.$toast.success("Job Closed Successfully ", {
          position: "bottom",
          duration: 5000,
        });
      }
    },
    updateAfterSuccess(id) {
      let update = {
        count: this.allActivejobs.count - 1,
        data: this.allActivejobs.data.filter((y) => y._id !== id),
      };
      this.$store.commit("set", {
        type: "activeJobs",
        data: update,
      });
    },
  },
};
</script>

