<template>
  <main class="w-48">
    <div class="rounded-md bg-white shadow-xs w-auto py-4 px-5">
      <p
        @click="$router.push({name:'EmployeeApplicationsView', params: { id: obj.id } })"
        class="text-gray-600 font-light text-sm hover:text-gray-500 cursor-pointer"
      >View</p>
      <p
        @click="$router.push({name:'EmployeeApplicationsReply', params: { id: obj.id, receiverId: obj.receiverId } })"
        class="text-gray-600 font-light text-sm hover:text-gray-500 mt-3 cursor-pointer"
      >Reply</p>
      <p
        @click="remove(obj)"
        class="text-red-600 font-light text-sm hover:text-gray-500 mt-3 cursor-pointer"
        
      >Delete</p>
    </div>
  </main>
</template>

<script>//v-if="$route.name == 'FeedbacksAll'"
import { mapGetters } from "vuex";
export default {
  props: ["obj"],
  computed: {
    ...mapGetters(["listSentApplications", "listReceivedApplications", "listAllApplications"]),
  },
  methods: {
    async remove(x) {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "DeleteInternalApplication",
        data: { id: x.id }
      });
      if (res.success) {
        this.updateAfterSuccess(x.id);
        this.$toast.success("Message Deleted Successfully ", {
          position: "bottom",
          duration: 5000
        });
      }
    },

    updateAfterSuccess(id) {
      if (this.$route.name == 'EmployeeApplicationsAll'){
        let update = {
          count: this.listAllApplications.count - 1,
          data: this.listAllApplications.data.filter(y => y._id !== id)
        };
        this.$store.commit("set", {
          type: "allApplications",
          data: update
        });
      } 
      
      else if (this.$route.name == 'EmployeeApplicationsSent'){
        let update = {
          count: this.listSentApplications.count - 1,
          data: this.listSentApplications.data.filter(y => y._id !== id)
        };
        this.$store.commit("set", {
          type: "sentApplications",
          data: update
        });
      } 
      
      else if (this.$route.name == 'EmployeeApplicationsReceived'){
        let update = {
          count: this.listReceivedApplications.count - 1,
          data: this.listReceivedApplications.data.filter(y => y._id !== id)
        };
        this.$store.commit("set", {
          type: "receivedApplications",
          data: update
        });
      }

      
    }
  }
};
</script>

