
<template>
  <main class="w-48">
    <div class="rounded-md bg-white shadow-xs w-auto py-4 px-5">
      <p
        @click="publish(obj)"
        class="text-gray-600 font-light text-sm hover:text-gray-500 mt- cursor-pointer"
      >Publish Job</p>
      <p
        @click="remove(obj)"
        class="text-gray-600 font-light text-sm hover:text-gray-500 mt-3 cursor-pointer"
      >Delete Job</p>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: ["obj"],
  computed: {
    ...mapGetters(["getArchivedJobs"]),
    allArchivedJobs() {
      return this.getArchivedJobs;
    }
  },
  methods: {
    async remove(x) {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "DeleteJob",
        data: { id: x._id }
      });
      if (res.success) {
        this.updateAfterSuccess(x._id);
        this.$toast.success("Job Deleted Successfully ", {
          position: "bottom",
          duration: 5000
        });
      }
    },
    async publish(x) {
      let editInfo = { id: x._id, status: "OPEN" };
      let res = await this.$store.dispatch("mutate", {
        endpoint: "ChangeJobStatus",
        data: editInfo
      });
      if (res.success) {
        this.updateAfterSuccess(x._id);
        this.$toast.success("Job Published Successfully ", {
          position: "bottom",
          duration: 5000
        });
      }
    },
    updateAfterSuccess(id) {
      let update = {
        count: this.allArchivedJobs.count - 1,
        data: this.allArchivedJobs.data.filter(y => y._id !== id)
      };
      this.$store.commit("set", {
        type: "archivedJobs",
        data: update
      });
    }
  }
};
</script>

