<template>
  <div>
    <main class="w-48">
      <div class="rounded-md bg-white shadow-xs w-auto py-4 px-5">
        <p
          @click="edit(catObj)"
          class="text-gray-600 font-light text-sm hover:text-gray-500 mt- cursor-pointer"
        >Edit Category</p>
        <p
          @click="remove(catObj)"
          class="text-gray-600 font-light text-sm hover:text-gray-500 mt-3 cursor-pointer"
        >Delete Category</p>
      </div>
    </main>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: ["catObj"],
  computed: {
    ...mapGetters(["editAssesmentPayload", "listAllAssessmentCategories"]),
    payload() {
      return this.editAssesmentPayload;
    },
  },

  methods: {
    edit(x) {
      this.$store.commit("change", {
        type: "editAssessmentCategoryModal",
        data: true,
      });
      this.$store.commit("change", {
        type: "editAssesmentPayload",
        data: {
          ...this.payload,
          id: x._id,
          description: x.description,
          name: x.name,
        },
      });
    },
    async remove(x) {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "DeleteAssessmentCategory",
        data: { id: x._id },
      });
      let update = {
        count: this.listAllAssessmentCategories.count - 1,
        data: this.listAllAssessmentCategories.data.filter(
          (y) => y._id !== x._id
        ),
      };
      this.$store.commit("set", {
        type: "listAssessmentCategory",
        data: update,
      });
      this.$toast.success("Deleted Successfully");
    },
  },
};
</script>

<style>
</style>