<template>
  <main class="w-48 z-10">
    <div class="rounded-md bg-white shadow-xs w-auto py-4 px-5">
      <p
        @click="edit(assessmentObj)"
        class="text-gray-600 font-light text-sm hover:text-gray-500 mt- cursor-pointer"
      >
        Edit
      </p>
      <p
        @click="addQuestions(assessmentObj)"
        class="text-gray-600 font-light text-sm hover:text-gray-500 mt-3 cursor-pointer"
      >
        Add Questions
      </p>
      <p
        :class="{
          'opacity-50 cursor-not-allowed pointer-events-none':
            assessmentObj.questionsCount == 0,
        }"
        @click="viewQuestions(assessmentObj)"
        class="text-gray-600 font-light text-sm hover:text-gray-500 mt-3 cursor-pointer"
      >
        View Questions
      </p>
      <p
        :class="{
          'opacity-50 cursor-not-allowed pointer-events-none':
            assessmentObj.questionsCount == 0,
        }"
        @click="addToCategory(assessmentObj)"
        class="text-gray-600 font-light text-sm hover:text-gray-500 mt-3 cursor-pointer"
      >
        Add to Category
      </p>
      <p
        @click="removeAssessment(assessmentObj)"
        class="text-gray-600 font-light text-sm hover:text-gray-500 mt-3 cursor-pointer"
      >
        Delete
      </p>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: ["assessmentObj"],
  computed: {
    ...mapGetters([
      "editAssesmentData",
      "listAllAssessments",
      "getQuestions",
      "getAssessmentCategoryPayload",
    ]),

    assessmentcategoryPayload() {
      return this.getAssessmentCategoryPayload;
    },

    payload() {
      return this.editAssesmentData;
    },
    allQuestions() {
      return this.getQuestions;
    },
  },
  methods: {
    edit(x) {
      this.$store.commit("change", {
        type: "editAssessmentModal",
        data: true,
      });
      this.$store.commit("change", {
        type: "editAssessmentData",
        data: {
          ...this.payload,
          id: x._id,
          title: x.title,
          level: x.level,
          duration: x.duration,
        },
      });
    },
    addQuestions(x) {
      this.$store.commit("set", {
        type: "questions",
        data: { ...this.allQuestions, assessmentId: x._id },
      });
      this.$router.push({ name: "MultipleChoice" });
    },

    viewQuestions(x) {
      this.$store.commit("set", {
        type: "questions",
        data: { ...this.allQuestions, assessmentId: x._id },
      });
      this.$router.push({ name: "ViewQuestions" });
    },

    addToCategory(x) {
      this.$store.commit("change", {
        type: "addAssessmentToCategoryModal",
        data: true,
      });

      this.$store.commit("set", {
        type: "assessmentToCategoryPayload",
        data: { ...this.assessmentcategoryPayload, assessmentId: x._id },
      });
    },

    async removeAssessment(x) {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "DeleteAssessment",
        data: { id: x._id },
      });
      if (res.success) {
        let update = {
          count: this.listAllAssessments.count - 1,
          data: this.listAllAssessments.data.filter((y) => y._id !== x._id),
        };
        this.$store.commit("set", {
          type: "listAssessments",
          data: update,
        });
        this.$toast.success("Deleted Successfully");
      } else {
        this.$toast.error(
          "Sorry, you cannot delete this assessment, as it is already added to existing assessment categories."
        );
      }
    },
  },
};
</script>

<style>
</style>