<template>
  <div>
    <main class="w-48">
      <div class="rounded-md bg-white shadow-xs w-auto py-4 px-5">
        <p
          @click="update(obj)"
          class="text-gray-600 font-light text-sm hover:text-gray-500 cursor-pointer"
        >
          Update Department
        </p>
        <p
          @click="remove(obj)"
          class="text-gray-600 font-light text-sm hover:text-gray-500 mt-3 cursor-pointer"
        >
          Delete Department
        </p>
      </div>
    </main>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: ["obj"],
  computed: {
    ...mapGetters(["getEditDepartmentModal", "getAllDepartments"]),
  },
  methods: {
    update(x) {
      this.$store.commit("change", {
        type: "departmentModal",
        data: true,
      });
      this.$store.commit("change", {
        type: "editDepartmentModal",
        data: {
          ...this.getEditDepartmentModal,
          id: x._id,
          name: x.name,
          description: x.description,
        },
      });
    },
    async remove(x) {
      let update = {
        count: this.getAllDepartments.count - 1,
        data: this.getAllDepartments.data.filter((y) => y._id !== x._id),
      };
      let res = await this.$store.dispatch("mutate", {
        endpoint: "DeleteDepartment",
        data: { id: x._id },
      });
      if (res.success) {
        this.$toast.success("Department Deleted");
        this.$store.commit("set", {
          type: "listDepartments",
          data: update,
        });
      }
    },
  },
};
</script>

<style>
</style>