
<template>
  <main class="w-48">
    <div class="rounded-md bg-white shadow-xs w-auto py-4 px-5">
      <p
        @click="$router.push({name:'FeedbacksViewMessage', params: { id: obj.id } })"
        class="text-gray-600 font-light text-sm hover:text-gray-500 mt- cursor-pointer"
      >View</p>
      <p
        @click="remove(obj)"
        class="text-red-600 font-light text-sm hover:text-gray-500 mt-3 cursor-pointer"
        
      >Delete</p>
    </div>
  </main>
</template>

<script>//v-if="$route.name == 'FeedbacksAll'"
import { mapGetters } from "vuex";
export default {
  props: ["obj"],
  computed: {
    ...mapGetters(["listSentFeedback", "listReceivedFeedback", "listAllFeedback"]),
  },
  methods: {
    async remove(x) {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "DeleteFeedback",
        data: { id: x.id }
      });
      if (res.success) {
        this.updateAfterSuccess(x.id);
        this.$toast.success("Message Deleted Successfully ", {
          position: "bottom",
          duration: 5000
        });
      }
    },

    updateAfterSuccess(id) {
      if (this.$route.name == 'FeedbacksAll'){
        let update = {
          count: this.listAllFeedback.count - 1,
          data: this.listAllFeedback.data.filter(y => y._id !== id)
        };
        this.$store.commit("set", {
          type: "allFeedback",
          data: update
        });
      } 
      
      else if (this.$route.name == 'FeedbacksSent'){
        let update = {
          count: this.listSentFeedback.count - 1,
          data: this.listSentFeedback.data.filter(y => y._id !== id)
        };
        this.$store.commit("set", {
          type: "sentFeedback",
          data: update
        });
      } 
      
      else if (this.$route.name == 'FeedbacksReceived'){
        let update = {
          count: this.listReceivedFeedback.count - 1,
          data: this.listReceivedFeedback.data.filter(y => y._id !== id)
        };
        this.$store.commit("set", {
          type: "receivedFeedback",
          data: update
        });
      }

      
    }
  }
};
</script>

