<template>
  <main class="w-48">
    <div class="rounded-md bg-white shadow-xs w-auto py-4 px-5">
      <p
        @click="
          $router.push({
            name: 'MemoEditTemplate',
            params: {
              id: obj._id,
              fig: obj,
            },
          })
        "
        class="text-gray-600 font-light text-sm hover:text-gray-500 mt- cursor-pointer"
      >
        Edit
      </p>
      <p class="text-gray-600 font-light text-sm hover:text-gray-500 mt-3 cursor-pointer">
        View
      </p>
      <p class="text-gray-600 font-light text-sm hover:text-gray-500 mt-3 cursor-pointer">
        Approve
      </p>
      <p class="text-gray-600 font-light text-sm hover:text-gray-500 mt-3 cursor-pointer">
        Reject
      </p>
      <p
        @click="remove(obj.id)"
        class="text-red-600 font-light text-sm hover:text-gray-500 mt-3 cursor-pointer"
      >
        Delete Template
      </p>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: ["obj"],
  computed: {
    ...mapGetters(["getAllMemos"]),
  },
  methods: {
    async remove(x) {
      console.log(x, "<<<");
      let res = await this.$store.dispatch("mutate", {
        endpoint: "DeleteMemo",
        data: { id: x },
      });
      if (res.success) {
        let update = {
          count: this.getAllMemos.count - 1,
          data: this.getAllMemos.data.filter((y) => y._id !== x),
        };
        this.$store.commit("set", {
          type: "listMemos",
          data: update,
        });
        this.$toast.success("Memo Deleted Succesfully!");
        this.$router.push({ name: "MemoAll" });
      }
    },
  },
};
</script>