
<template>
  <main class="w-48">
    <div class="rounded-md bg-white shadow-xs w-auto py-4 px-5">
      <p
        @click="$router.push({name:'ViewGoals', params: { id: obj.id } })"
        class="text-gray-600 font-light text-sm hover:text-gray-500 mt- cursor-pointer"
      >View</p>
      <p
        @click="$router.push({name:'InputReport', params: { id: obj.id } })"
        class="text-red-600 font-light text-sm hover:text-gray-500 mt-3 cursor-pointer"
      >Input Report</p>
    </div>
  </main>
</template>

<script>
export default {
  props: ["obj"],
};
</script>

