<template>
  <div class="w-90 mt-1">
    <div class="rounded-md bg-white shadow-xs w-auto">
      <div role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
        <div class="flex justify-between items-center">
          <a
            href="#"
            class="block px-4 py-3 text-sm leading-5 font-medium hover:font-normal capitalize hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
            role="menuitem"
          >Notifications</a>
          <div class="mr-4 cursor-pointer">
            <svg
              width="10"
              height="10"
              viewBox="0 0 12 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M6.93 6.01l4.92-5a.58.58 0 00-.83-.82l-4.9 5L1 .18a.58.58 0 10-.81.83l5.1 5-5.1 5a.58.58 0 00.81.84l5.11-5.02 4.9 5.01a.58.58 0 00.84-.81L6.93 6z"
                fill="#505050"
              />
            </svg>
          </div>
        </div>
        <div class="border-t border-gray-200"></div>

        <div v-for="i in 5" :key="i">
          <div class="px-4 py-2">
            <a
              href="#"
              class="inline-block text-red-600 text-sm leading-2 font-light hover:font-normal"
              role="menuitem"
            >Application</a>
            <p class="text-xs text-gray-600 py-1">Your Product Design application status was updated</p>
          </div>
          <div v-if="i != 5" class="border-t border-gray-200"></div>
        </div>
      </div>
    </div>
  </div>
</template>
