<template>
  <main class="w-48">
    <div class="rounded-md bg-white shadow-xs w-auto py-4 px-5">
      <p
        @click="$router.push({name:'PayrollPaymentsEmployees'})"
        class="text-gray-600 font-light text-sm hover:text-gray-500 mt- cursor-pointer"
      >View</p>
      <p
        @click="edit(obj)"
        class="grayColor font-light text-sm hover:text-gray-500 mt-3 cursor-pointer"
      >Edit</p>
      <p
        @click="remove(obj)"
        class="font-light text-sm hover:text-gray-500 mt-3 cursor-pointer"
      >Remove</p>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: ["obj"],
  methods: {
  }
};
</script>

