<template>
  <main>
    <div class="p-6 bg-white">
      <div class="w-40">
        <easiButton variant="outline">
          <div class="px-4 leading-4">Contact Me Alert</div>
        </easiButton>
      </div>
      <div class="w-56 mt-4">
        <easiButton variant="outline">
          <div class="px-4 leading-4">Request for Applicants</div>
        </easiButton>
      </div>
    </div>
  </main>
</template>

<script>
export default {};
</script>

<style>
</style>