<template>
  <main class="w-48 z-10">
    <div class="rounded-md bg-white shadow-xs w-auto py-4 px-5">
      <p
        @click="remove(obj)"
        class="text-gray-600 font-light text-sm hover:text-gray-500 mt- cursor-pointer"
      >
        Remove Assessment
      </p>
    </div>
  </main>
</template>

<script>
export default {
  props: ["obj"],
  data() {
    return {
      assessmentGroupPayload: {
        limit: 10,
        skip: 0,
        search: null,
      },
    };
  },
  methods: {
    async remove(x) {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "RemoveAssessmentFromCategory",
        data: x,
      });
      if (res.success) {
        await this.$store.dispatch("query", {
          endpoint: "ListAssessmentCategory",
          payload: this.assessmentGroupPayload,
          storeKey: "listAssessmentCategory",
        });
        this.$toast.success("Assessment deleted");
      }
    },
  },
};
</script>

<style>
</style>