<template>
  <main class="w-48">
    <div class="rounded-md bg-white shadow-xs w-auto py-4 px-5">
      <p
        @click="$router.push({name:'PayrollSettingsEditStatutoryBody', params: { statutorybodyId:obj.statutorybodyId, provisionId:obj.provisionId } })"
        class="text-gray-600 font-light text-sm hover:text-gray-500 cursor-pointer"
      >Edit</p>
      <p
        @click="remove(obj)"
        class="text-red-600 font-light text-sm hover:text-gray-500 mt-3 cursor-pointer"
        
      >Delete</p>
    </div>
  </main>
</template>

<script>//v-if="$route.name == 'FeedbacksAll'"
import { mapGetters } from "vuex";
export default {
  props: ["obj"],
  computed: {
    ...mapGetters(["listStatutoryBodyByProvision"]),
  },
  methods: {
    async remove(x) {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "DeleteStatutoryBodyForProvision",
        data: { id: x.statutorybodyId }
      });
      if (res.success) {
        this.updateAfterSuccess(x.statutorybodyId);
        this.$toast.success("Statutory Deleted Successfully ", {
          position: "bottom",
          duration: 5000
        });
      }
    },

    updateAfterSuccess(id) {
      let update = {
        count: this.listStatutoryBodyByProvision.count - 1,
        data: this.listStatutoryBodyByProvision.data.filter(y => y._id !== id)
      };
      this.$store.commit("set", {
        type: "statutoryBodyByProvision",
        data: update
      });
    }
    }
};
</script>

