
<template>
  <main class="w-48">
    <div class="rounded-md bg-white shadow-xs w-auto py-4 px-5">
      <p
        @click="$router.push({name: 'TasksViewTask', params: { id: obj.id }})"
        class="text-gray-600 font-light text-sm hover:text-gray-500 mt- cursor-pointer"
      >View</p>
      <p
        @click="completeTask(obj)"
        class="text-gray-600 font-light text-sm hover:text-gray-500 mt-3 cursor-pointer"
      >Mark Complete</p>
      <p
        @click="remove(obj)"
        class="text-red-600 font-light text-sm hover:text-gray-500 mt-3 cursor-pointer"
      >Delete</p>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: ["obj"],
  computed: {
    ...mapGetters(["getAllTasks"]),
    allTasks() {
      return this.getAllTasks;
    }
  },
  methods: {
    async completeTask(x) {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "MarkTaskAsCompleted",
        data: { id: x.id }
      });
      if (res.success) {
        this.$toast.success("Task Succesfully Marked as Completed. ", {
          position: "bottom",
          duration: 5000
        });
      }
    },

    async remove(x) {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "DeleteTask",
        data: { id: x.id }
      });
      if (res.success) {
        this.updateAfterSuccess(x.id);
        this.$toast.success("Task Deleted Successfully ", {
          position: "bottom",
          duration: 5000
        });
      }
    },

    updateAfterSuccess(id) {
      let update = {
        count: this.getAllTasks.count - 1,
        data: this.getAllTasks.data.filter(y => y._id !== id)
      };
      this.$store.commit("set", {
        type: "listTasks",
        data: update
      });
    }
  }
};
</script>


