<template>
  <div class="rounded-md bg-white shadow-xs w-56 z-30">
    <div role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
      <a
        href="#"
        class="block px-4 py-3 text-xs leading-5 font-light hover:font-normal capitalize text-orange-600 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
        role="menuitem"
      >Hi, Dean</a>
      <div class="border-t border-gray-200"></div>
      <a
        href="#"
        class="block cursor-pointer px-4 py-3 text-xs leading-5 font-light hover:font-normal text-gray-600 hover:bg-gray-100 hover:text-orange-400 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
        role="menuitem"
      >Career Profile</a>
      <div class="border-t border-gray-200"></div>
      <a
        @click="$router.push('/dashboard/send-message')"
        class="block cursor-pointer px-4 py-3 text-xs leading-5 font-light hover:font-normal text-gray-600 hover:bg-gray-100 hover:text-orange-400 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
        role="menuitem"
      >Send Message</a>
      <div class="border-t border-gray-200"></div>
      <a
        @click="$router.push('/dashboard/settings')"
        class="block cursor-pointer px-4 py-3 text-xs leading-5 font-light hover:font-normal text-gray-600 hover:bg-gray-100 hover:text-orange-400 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
        role="menuitem"
      >Account Setting</a>
      <div class="border-t border-gray-200"></div>
      <!-- <form method="POST" action="#"> -->
        <button
          type="submit"
          class="block w-full text-left px-4 py-3 text-xs leading-5 font-medium hover:font-normal text-red-800 hover:bg-gray-100 hover:text-red-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
          role="menuitem"
          @click="logUserOut()"
        >Sign out</button>
      <!-- </form> -->
    </div>
  </div>
</template>

<script>
import logout from "../../api/api";

export default {
  methods: {
    logUserOut() {
      localStorage.removeItem("token");
      this.$store.commit("set", {
          type: "isLoggedIn",
          data: false,
      });
      this.$store.commit("set", {
          type: "applicant",
          data: "",
      });
      this.$router.push("/login");
      }
  }
}
</script>

<style>
</style>