<template>
  <main>
    <div class="flex w-full max-w-2xl">
      <easiBackButton @click.native="$router.push({ name: 'EmployeeOverviewDepartment' })" />
      <h1 class="text-2xl text-gray-700 ml-8">Create Department</h1>
    </div>
    <div class="w-full max-w-2xl bg-white py-3 px-5 mt-6 shadow-xs pb-8">
      <p class="text-gray-600 text-sm mt-6 font-bold">Name</p>
      <div class="mt-2">
        <input
          class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
          type="text"
          placeholder
          required
          v-model="args.name"
        />
      </div>
      <p v-if="!args.isTemplate" class="text-gray-600 font-medium text-sm mt-6 font-bold">
        Assign to Branch
      </p>
      <div class="mt-2">
        <select
          class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
          id="grid-state"
          v-model="args.branchId"
        >
          <option value disabled>Select</option>
          <option v-for="branch in listBranch.data" :key="branch._id" :value="branch._id">
            {{branch.name}}
          </option>
        </select>
        <div
          class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
        >
          <svg
            class="fill-current h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path
              d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
            />
          </svg>
        </div>
      </div>
      <div class="flex justify-end mt-8 text-right">
        <easiButton @click.native="create" class="inline-block">
          <div class="px-8">Create</div>
        </easiButton>
      </div>
    </div>

    <!-- *Note: Modal restriction when Branch is not created. -->
    <easiModal v-if="listBranch.count <= 0">
      <template v-slot:header>
        No Branch Created
      </template>
      <div class="flex justify-center flex-col items-center pb-12">
        <svg
          class="w-16 h-16 text-easiorange fill-current"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            d="M501.36 383.95L320.5 51.47c-29.06-48.92-99.9-48.98-129 0L10.65 383.95c-29.7 49.99 6.26 113.3 64.48 113.3h361.74c58.17 0 94.2-63.26 64.5-113.3zM256 437.25c-16.54 0-30-13.47-30-30 0-16.55 13.46-30 30-30s30 13.45 30 30c0 16.53-13.46 30-30 30zm30-120c0 16.53-13.46 30-30 30s-30-13.47-30-30v-150c0-16.55 13.46-30 30-30s30 13.45 30 30v150z"
          />
        </svg>
        <div class="mt-3 text-sm font-thin">
          You must have atleast one Branch created.
        </div>
        <div class="w-1/2 justify-between mt-8">
          <easiButton @click.native="$router.push({name: 'CreateBranch'})">
            <div class="leading-4 px-2">Create Branch</div>
          </easiButton>
        </div>
      </div>
    </easiModal>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      args: {
        name: "",
        branchId: "",
      },
      payload: {
        paging: {
          limit: 10,
          skip: 0,
          search: null
        }
      },
    };
  },
  computed: {
    ...mapGetters(["getAllEmployees", "applicant", "listBranch"]),
  },
  methods: {
    async create() {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "CreateDepartment",
        data: { request: this.args },
        service: "EMP",
      });
      if (res.success) {
        this.$toast.success("Department Created Successfuly");
        this.$router.push({ name: "EmployeeOverviewDepartment" });
      }
    },

    async queryBranches() {
      await this.$store.dispatch("query", {
        endpoint: "ListBranch",
        payload: this.payload,
        storeKey: "branch",
        service: "EMP",
      });
    },
  },
  async created() {},
};
</script>


<style>
</style>