<template>
  <main>
    <div class="flex w-full max-w-2xl">
      <easiBackButton @click.native="$router.push({ name: 'EmployeeOverviewBranch' })" />
      <h1 class="text-2xl text-gray-700 ml-8">Create Branch</h1>
    </div>
    <div class="w-full max-w-2xl bg-white py-3 px-5 mt-6 shadow-xs pb-8">
      <p class="text-gray-600 font-medium text-sm mt-6 font-bold">Name</p>
      <div class="mt-2">
        <input
          class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
          type="text"
          placeholder
          required
          v-model="args.name"
        />
      </div>
      <p v-if="!args.isTemplate" class="text-gray-600 font-medium text-sm mt-6 font-bold">
        Address
      </p>
      <div class="mt-2">
        <input
          class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
          type="text"
          placeholder
          required
          v-model="args.address"
        />
      </div>
      <div class="flex justify-end mt-8 text-right">
        <easiButton @click.native="create" class="inline-block">
          <div class="px-8">Create</div>
        </easiButton>
      </div>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
import Multiselect from "vue-multiselect";

export default {
  data() {
    return {
      args: {
        name: "",
        address: "",
      },
      value: [],
    };
  },
  methods: {
    async create() {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "CreateBranch",
        data: { request: this.args },
        service: "EMP",

      });
      if (res.success) {
        this.$toast.success("Branch Created Successfuly");
        this.$router.push({ name: "EmployeeOverviewBranch" });
      }
    },
  },
  components: {
    Multiselect,
  },

  computed: {
    ...mapGetters(["applicant", "allIds"]),
  },
  async created() {},
};
</script>


<style>
</style>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>