<template>
  <main class>
    <div class="py-3 flex items-center border">
      <div class="text-sm text-gray-900 pl-4">
        {{ getAllEmployees.count }} Employees
      </div>

      <div class="ml-10">
        <input
          type="text"
          class="focus:outline-none text-xs w-64 text-gray-600 appearance-none border rounded-sm leading-7 pl-3"
          placeholder="Search"
        />
      </div>
    </div>
    <table class="table-auto w-full overflow-y-auto shadow-sm bg-white">
      <thead>
        <tr class="bg-easipurple text-white">
          <th
            v-for="(title, index) in headers"
            :key="index"
            class="px-4 py-3 text-left font-light uppercase text-sm"
          >
            <div>{{ title }}</div>
          </th>
        </tr>
      </thead>
      <div class="py-2" v-if="checkLoading">
        <div class="loader">
          <svg viewBox="0 0 80 80">
            <rect x="8" y="8" width="64" height="64" />
          </svg>
        </div>
      </div>
      <tbody v-else-if="getAllEmployees.data.length">
        <tr
          v-for="employee in getAllEmployees.data"
          :key="employee._id"
          class="bg-white even:bg-gray-100 text-gray-600 cursor-pointer hover:bg-gray-600 group hover:text-white"
        >
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ employee.profile.firstName }} {{ employee.profile.lastName }}
          </td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ employee.empJob.jobTitle }}
          </td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ employee.profile.state }}, {{ employee.profile.country }}
          </td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ moment(employee.empJob.hireDate).format("DD-MM-YYYY") }}
          </td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ employee.profile.status }}
          </td>

          <td class="px-4 py-4 text-sm font-thin tracking-wide">
            <svg
              @click="$router.push({ name: 'ViewEmployeeProfile', params:{id: employee._id} })"
              class="w-5 h-5 fill-current text-blue-500 group-hover:text-white"
              viewBox="0 0 23 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                clip-rule="evenodd"
                d="M22.4331 7.43364C22.2477 7.1297 17.7968 0 11.3316 0C4.86648 0 0.415569 7.1297 0.230115 7.43364C-0.0767049 7.93104 -0.0767049 8.55896 0.230115 9.05636C0.415569 9.3603 4.86648 16.4642 11.3265 16.4848H11.3574C17.8019 16.4848 22.2528 9.35515 22.4383 9.05121C22.7414 8.5541 22.7394 7.92881 22.4331 7.43364ZM11.3574 14.9394C5.69072 14.9394 1.56951 8.24242 1.56951 8.24242C1.56951 8.24242 5.69072 1.54545 11.3574 1.54545C17.0241 1.54545 21.1453 8.24242 21.1453 8.24242C21.1453 8.24242 17.0086 14.9394 11.3574 14.9394Z"
              />
              <path
                clip-rule="evenodd"
                d="M11.3317 4.12122C9.05558 4.12122 7.21045 5.96635 7.21045 8.24243C7.21045 10.5185 9.05558 12.3636 11.3317 12.3636C13.6077 12.3636 15.4529 10.5185 15.4529 8.24243C15.4529 5.96635 13.6077 4.12122 11.3317 4.12122ZM11.3317 10.8182C9.90911 10.8182 8.7559 9.66498 8.7559 8.24243C8.7559 6.81988 9.90911 5.66667 11.3317 5.66667C12.7542 5.66667 13.9074 6.81988 13.9074 8.24243C13.9074 9.66498 12.7542 10.8182 11.3317 10.8182Z"
              />
            </svg>
          </td>
        </tr>
      </tbody>

      <div v-else>
        <div
          class="py-4 flex justify-center bg-white items-center text-gray-600 font-light"
        >
          You have no Employee
        </div>
      </div>
    </table>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
import moment from 'moment'
export default {
  data() {
    return {
      moment,
      headers: ["Employee", "Job Title", "Location", "Hire Date", "Status", "Action"],
      loading: false,
      jobs: [],
      payload: {
        paging: {
          limit: 10,
          search: null,
          skip: 0,
        }
      },
    };
  },
  computed: {
    ...mapGetters(["getAllEmployees", "applicant", "checkLoading", "listEmployeeRole"]),
  },
  methods: {
    makeRequest() {
      this.$store.dispatch("query", {
        endpoint: "ListEmployees",
        payload: this.payload,
        storeKey: "listEmployees",
        service: "EMP",
      });
    },
  },
  async created() {
    await this.makeRequest();
  },
};
</script>

<style>
</style>