<template>
  <main class>
    <div class="py-3 flex items-center border">
      <div class="text-sm text-gray-900 pl-4">
        {{ getAllEmployees.count }} Teams
      </div>

      <div class="ml-10">
        <input
          type="text"
          class="focus:outline-none text-xs w-64 text-gray-600 appearance-none border rounded-sm leading-7 pl-3"
          placeholder="Search"
        />
      </div>
    </div>
    <table class="table-auto w-full overflow-y-auto shadow-sm bg-white">
      <thead>
        <tr class="bg-easipurple text-white">
          <th
            v-for="(title, index) in headers"
            :key="index"
            class="px-4 py-3 text-left font-light uppercase text-sm"
          >
            <div>{{ title }}</div>
          </th>
        </tr>
      </thead>
      <div class="py-2" v-if="checkLoading">
        <div class="loader">
          <svg viewBox="0 0 80 80">
            <rect x="8" y="8" width="64" height="64" />
          </svg>
        </div>
      </div>
      <tbody v-else-if="listTeam.data.length">
        <tr
          v-for="team in listTeam.data"
          :key="team._id"
          class="bg-white even:bg-gray-100 text-gray-600 cursor-pointer hover:bg-gray-600 group hover:text-white"
        >
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ team.name }}
          </td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ getBranchById(team.branchId) }}
          </td>

          <td class="px-4 py-4 text-sm font-thin tracking-wide">
            <svg width="36" height="41" viewBox="0 0 36 41" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0)">
              <path d="M25.2167 10.6231C24.2086 9.48271 22.5762 9.48271 21.5682 10.6231L20.6549 11.6639L10.933 22.6762L10.9124 22.6998C10.9074 22.7054 10.9074 22.7115 10.9021 22.7115C10.8917 22.729 10.8762 22.7464 10.8661 22.764C10.8661 22.7698 10.8607 22.7698 10.8607 22.7757C10.8504 22.7932 10.8454 22.8049 10.8349 22.8225C10.8299 22.8284 10.8299 22.834 10.8247 22.8401C10.8196 22.8576 10.8144 22.8693 10.8091 22.8869C10.8091 22.8926 10.8041 22.8926 10.8041 22.8986L8.64708 30.2498C8.5838 30.459 8.63191 30.6908 8.77088 30.8461C8.86854 30.9553 9.00026 31.0164 9.1373 31.0159C9.19331 31.0148 9.24883 31.0049 9.30242 30.9866L15.7837 28.5362C15.7887 28.5362 15.7887 28.5362 15.7941 28.5305C15.8104 28.525 15.826 28.5172 15.8404 28.5069C15.8444 28.5064 15.848 28.5044 15.8509 28.5012C15.8662 28.4895 15.8869 28.4776 15.9024 28.4659C15.9177 28.4544 15.9334 28.4368 15.9489 28.4251C15.954 28.4191 15.959 28.4191 15.959 28.4134C15.9644 28.4076 15.9747 28.4019 15.9799 28.39L26.615 16.3368C27.6213 15.1944 27.6213 13.3443 26.615 12.2021L25.2167 10.6231ZM15.6186 27.1618L12.0271 23.0916L21.0162 12.904L24.6077 16.9742L15.6186 27.1618ZM11.5212 24.1735L14.6588 27.7292L9.94744 29.507L11.5212 24.1735ZM25.8875 15.518L25.3405 16.1438L21.7488 12.0733L22.3012 11.4476C22.9054 10.7635 23.8847 10.7635 24.489 11.4476L25.8925 13.0383C26.4922 13.7261 26.4899 14.8334 25.8875 15.518Z" fill="#D3DCE6"/>
              </g>
              <rect x="0.5" y="0.5" width="35" height="39.8" rx="2.5" stroke="#D3DCE6"/>
              <defs>
              <clipPath id="clip0">
              <rect width="20" height="22.6667" fill="white" transform="translate(8 9.06665)"/>
              </clipPath>
              </defs>
            </svg>
          </td>
        </tr>
      </tbody>

      <div v-else>
        <div
          class="py-4 flex justify-center bg-white items-center text-gray-600 font-light"
        >
          You have no Team Created.
        </div>
      </div>
    </table>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      headers: ["Name", "Branch", "Action"],
      loading: false,
      jobs: [],
      args: {
        companyId: "",
        limit: 10,
        search: null,
        skip: 0,
      },
      payload: {
        paging: {
          limit: 10,
          skip: 0,
          search: null
        }
      },
    };
  },
  computed: {
    ...mapGetters(["getAllEmployees", "applicant", "listTeam", "listBranch"]),
  },
  methods: {
    async queryTeams() {
      await this.$store.dispatch("query", {
        endpoint: "ListTeam",
        payload: this.payload,
        storeKey: "team",
      });
    },

    async queryBranches() {
      await this.$store.dispatch("query", {
        endpoint: "ListBranch",
        payload: this.payload,
        storeKey: "branch",
      });
    },

    getBranchById(id) {
      var branches = this.listBranch.data;
      var branchName = null;
      branches.forEach(
        function(branch, index) {
          if (branch._id == id){
            branchName = branch.name
          }
        }
      )

      return branchName
    }
  },
  async created() {
    this.args.companyId = this.applicant.companyId;
    await this.queryTeams();
    await this.queryBranches();
  },
};
</script>

<style>
</style>