<template>
  <main>
    <div class="flex w-full max-w-2xl items-center justify-between">
      <easiBackButton @click.native="$router.push({ name: 'FeedbacksAll' })" />
      <h1 class="text-lg text-gray-700">New Message</h1>
      <div></div>
    </div>
    <div class="w-full max-w-2xl bg-white py-3 px-5 mt-6 shadow-xs pb-8">
      <p class="text-gray-600 font-medium text-sm mt-6">Send To</p>
      <div class="mt-2">
        <!-- <input
          class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
          type="text"
          placeholder
          required
          v-model="args.message"
        /> -->
        <div class="relative">
          <select
            class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
            id="grid-state"
            v-model="args.receiverId"
          >
            <option value disabled>Choose Employee(s)</option>
            <option v-for="employee in getAllEmployees.data" :key="employee._id" :value="employee._id">
              {{ employee.profile.firstName + " " + employee.profile.lastName }}
            </option>
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="mt-6">
        <p class="text-gray-600 font-medium text-sm">
          Note
          <span class="text-orange-500">*</span>
        </p>
        <easiEditor v-model="args.message" required class="w-full mt-2" />
      </div>
      <div class="flex justify-end mt-8 text-right">
        <easiButton
          @click.native="$router.push({ name: 'MemoAll' })"
          variant="outline"
          class="inline-block mr-3"
        >
          <div class="px-8 leading-4">Cancel</div>
        </easiButton>
        <easiButton @click.native="SendMessage()" class="inline-block">
          <div class="px-8">Send</div>
        </easiButton>
      </div>
    </div>

    <!-- <div class="mt-6">
      <p class="text-gray-600 font-medium text-sm">Monthly Salary</p>
      <input
        class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
        type="number"
        placeholder="Monthly Salary"
        required
      />
    </div> -->
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      args: {
        receiverId: "",
        message: ""
      },

      employeeArgs: {
        companyId: "",
        limit: 10,
        search: null,
        skip: 0,
      },
    };
  },

  methods: {
    async SendMessage() {
        let res = await this.$store.dispatch("mutate", {
          endpoint: "CreateFeedback",
          data: {request: this.args},
        });
        if (res.success) {
          this.$toast.success("Message Sent Successfully!");
          this.$router.push({ name: "FeedbacksAll" });
        }
    },

    queryEmployees() {
      this.$store.dispatch("query", {
        endpoint: "ListEmployees",
        payload: this.employeeArgs,
        storeKey: "listEmployees",
        service: "EMP",
      });
    },
  },

  computed: {
    ...mapGetters(["getAllEmployees", "applicant",]),
  },

  async created() {
    this.employeeArgs.companyId = this.applicant.companyId;
    await this.queryEmployees();
  },
};
</script>

<style>
</style>
