<template>
  <main>
    <div class="flex w-full max-w-2xl items-center justify-between">
      <easiBackButton @click.native="$router.push({ name: 'EmployeeApplicationsAll' })" />
      <h1 class="text-lg text-gray-700">View Message</h1>
      <div></div>
    </div>
    <div class="w-full max-w-2xl bg-white py-3 px-5 mt-6 shadow-xs pb-8">
      <p class="text-gray-600 font-thin text-sm mt-2">
        {{viewFeedback.data.timeUpdated}}
      </p>
      <p class="text-gray-600 font-normal text-sm mt-2">
        Message
      </p>
      <p class="text-gray-600 font-thin text-sm leading-6 tracking-wide mt-2">
        {{viewFeedback.data.message}}
      </p>
      <div class="flex justify-end mt-8 text-right">
        <easiButton variant="outline" class="inline-block mr-3">
          <div class="px-8 leading-4">Cancel</div>
        </easiButton>
        <easiButton class="inline-block">
          <div class="px-8">Reply</div>
        </easiButton>
      </div>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      employeePayload: {
        companyId: "",
        limit: 10,
        search: null,
        skip: 0,
      },
    };
  },

  computed: {
    ...mapGetters(["getAllEmployees", "applicant", "checkLoading", "viewFeedback"]),
  },

  methods: {
    async makeRequest() {
      this.$store.dispatch("query", {
        endpoint: "ListEmployees",
        payload: this.employeePayload,
        storeKey: "listEmployees",
        service: "EMP",
      });
    },

    async queryFeedback() {
      var feedbackId = this.$route.params.id;
      console.log(">>>",feedbackId)
      this.$store.dispatch("query", {
        endpoint: "ViewFeedback",
        payload: {id: feedbackId},
        storeKey: "feedbackView",
      });
    },
  },

  async created() {
    await this.queryFeedback();
    // this.employeePayload.companyId = this.applicant.companyId;
    // await this.makeRequest();
  },
};
</script>

<style>
</style>