<template>
  <main>
    <easiSubHeader v-if="$route.meta.requiresHeader === 'Candidates'" :routeLinks="links" />

    <router-view
      class="pt-5 py-5 lg:pl-8 lg:pr-10 px-2"
      :class="{' pt-20':$route.meta.requiresHeader === 'Candidates'}"
    />
  </main>
</template>

<script>
export default {
  data() {
    return {
      links: [
        {
          routeName: "To review",
          routeLinks: "CandidateToReview"
        },
        {
          routeName: "In process",
          routeLinks: "CandidateInProcess"
        },
        {
          routeName: "Hired",
          routeLinks: "CandidateHired"
        },
        {
          routeName: "Rejected",
          routeLinks: "CandidateRejected"
        }
      ]
    };
  }
};
</script>

<style>
</style>