<template>
  <main>
    <div class="py-3 flex items-center border">
      <div v-if="name !== 'recruitmentAssessmentMain'" class="text-sm text-gray-900 pl-4">Listings</div>
      <div v-else class="text-sm text-gray-900 pl-4">Assessment</div>

      <div class="ml-10">
        <input
          type="text"
          class="focus:outline-none text-xs w-64 text-gray-600 appearance-none border rounded-sm leading-7 pl-3"
          placeholder="Search"
        />
      </div>
    </div>
    <easiTable name="CandidatesHired" :headers="title" :candidates="successfulCandidates" />
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      title: ["Name", "Job", "Applied On", "Accepted On", "Action"],
      args: {
        limit: 10,
        search: null,
        skip: 0,
        stage: "APPLIED"
      },
      successfulCandidates: [],
    };
  },
  computed: {
    ...mapGetters(["applicant", "checkLoading", "listCandidates"]),
  },
  methods: {
    async queryCandidates() {
      this.$store.dispatch("query", {
        endpoint: "ListCandidates",
        payload: this.args,
        storeKey: "candidates",
      });
    },
  },
  async created() {
    await this.queryCandidates();

    // Note: Show for only Active Job Status
    var result = [];
    this.listCandidates.data.forEach(
      function(candidate, index){
        if(candidate.status == "SUCCESSFUL"){
          result.push(candidate);
        }
      }
    );

    this.activeCandidates = result;
    
  },
};
</script>

<style>
</style>