<template>
  <main>
    <div class="p-6 shadow-xs bg-white mt-6 minimum">
      <div class>
        <p class="text-gray-600 font-medium text-sm">About</p>
        <p class="text-gray-600 font-light text-sm mt-1">{{selectedCandidate.applicant.career.about}}</p>
      </div>
      <div class="grid grid-cols-2 items-center row-gap-8 mt-8">
        <div class>
          <p class="text-gray-600 font-medium text-sm">Website</p>
          <a href class="text-blue-700 font-thin text-sm mt-1">{{selectedCandidate.applicant.career.website}}</a>
        </div>
        <div class>
          <p class="text-gray-600 font-medium text-sm">Location</p>
          <p class="text-gray-600 font-light text-sm mt-1">{{selectedCandidate.applicant.state}}, {{selectedCandidate.applicant.country}}</p>
        </div>
        <div class>
          <p class="text-gray-600 font-medium text-sm">Email</p>
          <a href class="text-blue-700 font-thin text-sm mt-1">{{selectedCandidate.applicant.email}}</a>
        </div>
        <div class>
          <p class="text-gray-600 font-medium text-sm">Phone</p>
          <p class="text-gray-600 font-light text-sm mt-1">{{selectedCandidate.applicant.phone}}</p>
        </div>
        <div class>
          <p class="text-gray-600 font-medium text-sm">Linkedin</p>
          <a href class="text-blue-700 font-thin text-sm mt-1">{{selectedCandidate.applicant.career.linkedin}}</a>
        </div>
        <div class>
          <p class="text-gray-600 font-medium text-sm">Years of experieince</p>
          <p class="text-gray-600 font-light text-sm mt-1">X years y months</p>
        </div>
        <div class>
          <p class="text-gray-600 font-medium text-sm">Level</p>
          <p class="text-gray-600 font-light text-sm mt-1">{{selectedCandidate.applicant.career.level}}</p>
        </div>
        <div class>
          <p class="text-gray-600 font-medium text-sm">Current Title</p>
          <p class="text-gray-600 font-light text-sm mt-1">{{selectedCandidate.applicant.career.title}}</p>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      args: {
        limit: 10,
        search: null,
        skip: 0,
        stage: "APPLIED"
      },
      selectedCandidate: [],
    }
  },
  computed: {
    ...mapGetters(["applicant", "checkLoading", "listCandidates"]),
  },
  methods: {
    async queryCandidates() {
      this.$store.dispatch("query", {
        endpoint: "ListCandidates",
        payload: this.args,
        storeKey: "candidates",
      });
    },
  },
  async created() {
    await this.queryCandidates();

    // Note: Show selected Candidate.
    var result = [];
    var candidateId = this.$route.params.id;
    console.log(candidateId);
    this.listCandidates.data.forEach(
      function(candidate, index){
        if(candidate._id == candidateId){
          result = candidate;
        }
      }
    );

    this.selectedCandidate = result;
  }
};
</script>

<style>
</style>