<template>
  <main>
    <div class="minimum shadow-xs bg-white p-6">
      <div>
        <p class="text-gray-600 font-medium text-sm pb-3 border-b">Experience</p>
        <p
          class="text-sm font-light text-gray-600 pt-3"
        >{{selectedCandidate.applicant.career.title}}</p>
      </div>
      <div class="mt-10">
        <p class="text-gray-600 font-medium text-sm pb-3 border-b">Education</p>
        <p
          class="text-sm font-light text-gray-600 pt-3"
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, cupiditate ipsam sunt, accusantium reiciendis labore et corporis adipisci sequi similique eum, quae rem pariatur saepe assumenda deleniti cumque temporibus unde obcaecati laborum. Itaque, excepturi recusandae. Saepe ut atque molestias? Eos, molestias ea dolore distinctio omnis at mollitia aspernatur optio natus dolorum maxime nostrum tempora quae aliquid autem harum commodi laborum impedit excepturi minus obcaecati recusandae magni facere necessitatibus? Itaque quam quaerat doloribus dicta commodi accusantium odio a officia quae, quas et dolores, rem dolorum! Dignissimos culpa ratione, quasi deleniti rerum eveniet aspernatur dicta laborum commodi ipsa tempora nemo quibusdam. Porro.</p>
      </div>
      <div class="mt-10">
        <p class="text-gray-600 font-medium text-sm pb-3 border-b">Skills</p>
        <p
          class="text-sm font-light text-gray-600 pt-3"
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, cupiditate ipsam sunt, accusantium reiciendis labore et corporis adipisci sequi similique eum, quae rem pariatur saepe assumenda deleniti cumque temporibus unde obcaecati laborum. Itaque, excepturi recusandae. Saepe ut atque molestias? Eos, molestias ea dolore distinctio omnis at mollitia aspernatur optio natus dolorum maxime nostrum tempora quae aliquid autem harum commodi laborum impedit excepturi minus obcaecati recusandae magni facere necessitatibus? Itaque quam quaerat doloribus dicta commodi accusantium odio a officia quae, quas et dolores, rem dolorum! Dignissimos culpa ratione, quasi deleniti rerum eveniet aspernatur dicta laborum commodi ipsa tempora nemo quibusdam. Porro.</p>
      </div>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      args: {
        limit: 10,
        search: null,
        skip: 0,
        stage: "APPLIED"
      },
      selectedCandidate: [],
    }
  },
  computed: {
    ...mapGetters(["applicant", "checkLoading", "listCandidates"]),
  },
  methods: {
    async queryCandidates() {
      this.$store.dispatch("query", {
        endpoint: "ListCandidates",
        payload: this.args,
        storeKey: "candidates",
      });
    },
  },
  async created() {
    await this.queryCandidates();

    // Note: Show selected Candidate.
    var result = [];
    var candidateId = this.$route.params.id;
    console.log(candidateId);
    this.listCandidates.data.forEach(
      function(candidate, index){
        if(candidate._id == candidateId){
          result = candidate;
        }
      }
    );

    this.selectedCandidate = result;
  }
};
</script>

<style>
</style>