<template>
  <main>
    <easiApplicantInfoHeader :links="links">
      <div>
        <easiButton variant="outline" class="inline-block mr-5 mb-2">
          <div class="leading-3 px-3">Accept</div>
        </easiButton>
        <easiButton variant="outline" class="inline-block mb-2">
          <div class="leading-3 px-3">Reject</div>
        </easiButton>
      </div>
    </easiApplicantInfoHeader>
    <router-view class="mt-5" />
  </main>
</template>

<script>
export default {
  data() {
    return {
      links: [
        {
          routeName: "Overview",
          routeLinks: "CandidateOverview"
        },
        {
          routeName: "Profile",
          routeLinks: "CandidateProfile"
        },
        {
          routeName: "Application",
          routeLinks: "CandidateApplication",
          disabled: true
        },
        {
          routeName: "Email",
          routeLinks: "CandidateEmail",
          disabled: true
        }
      ]
    };
  }
};
</script>

<style>
</style>