<template>
  <form @submit.prevent="next">
    <div class="grid grid-cols-2 col-gap-5 mt-5">
      <div>
        <p class="text-gray-600 font-medium text-sm">Bank Name</p>
        <div class="relative">
          <select
            class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
            id="grid-state"
            v-model="bankDetailsSelected"
            required
          >
            <option value="" selected>Select</option>
            <option v-for="bank in banks" :key="bank.name" :value="bank">{{bank.name}}</option>
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
          >
            <svg
              class="fill-current text-gray-500 h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </div>
        </div>
      </div>
      <div>
        <p class="text-gray-600 font-medium text-sm">Account Number</p>
        <input
          class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
          type="number"
          placeholder
          v-model="payment.accountNumber"
          required
        />
      </div>
      <div class="mt-5">
        <p class="text-gray-600 font-medium text-sm">Account Type</p>
        <div class="relative">
          <select
            class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
            id="grid-state"
            v-model="payment.bankAccountType"
            required
          >
            <option value="" selected>Select</option>
            <option value="Savings">Savings</option>
            <option value="Current">Current</option>
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
          >
            <svg
              class="fill-current text-gray-500 h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="mt-5">
        <p class="text-gray-600 font-medium text-sm">Account Name</p>
        <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="text"
            placeholder
            v-model="payment.accountName"
            required
        />
      </div>
    </div>

    

    
    <div class="flex justify-end mt-8 text-right">
      <easiButton
        @click.native.prevent="$router.push({ name: 'CreateEmployeeJob' })"
        variant="outline"
        class="inline-block mr-3"
      >
        <div class="px-8 leading-4">Previous</div>
      </easiButton>
      <easiButton class="inline-block">
        <div class="px-8">Next</div>
      </easiButton>
      <!-- <easiButton
        @click.native.prevent="skip"
        variant="outline"
        class="inline-block ml-3 mr-3"
      >
        <div class="px-8 leading-4">Skip</div>
      </easiButton> -->
    </div>
  </form>
</template>

<script>
import { mapGetters } from "vuex";
import banks from "../../../../utils/banks"

export default {
    data() {
        return {
            banks: banks,
            payment: {
                bankName: '',
                accountName: '',
                accountNumber: '',
                bankAccountType: '',
                bankCode: '',
            },
            bankDetailsSelected: {},
        };
    },

    computed: {
        ...mapGetters(["createNewEmployee"]),
        
    },
    methods: {
      skip() {
        delete this.createNewEmployee['payment'];
        this.$router.push({ name: 'CreateEmployeeEmergency' })
      },

      next() {
        // Get bank info:
        this.payment.bankName = this.bankDetailsSelected.name
        this.payment.bankCode = this.bankDetailsSelected.code

        // Store payment arg
        this.$store.commit("set", {
          type: "CreateEmployee",
          data: {
              ...this.createNewEmployee,
              payment: this.payment
          },
        });

        console.log(this.createNewEmployee.payment, 'payments argss sss' );

        this.$router.push({ name: "CreateEmployeeEmergency" });
      },
    },

    created() {
      // To preload payment data if previously entered.
      if (this.createNewEmployee.payment){
        this.payment = this.createNewEmployee.payment;
      }
    }
};
</script>

<style>
</style>