<template>
  <main class="p-10">
    <div class="flex items-center justify-between">
      <easiBackButton
        @click.native="$router.push({ name: 'EmployeeOverviewList' })"
      />
      <div>
        <h1 class="text-gray-800 w-full text-xl logo">
          Onboard a new Employee
        </h1>
      </div>
      <easiButton variant="outline">
        <div class="px-8 leading-4">Import Details</div>
      </easiButton>
    </div>
    <easiContainerColumn
      topOne="6rem"
      cssOne="sticky "
      widthOne="w-3/12"
      widthTwo="w-9/12"
    >
      <template v-slot:first>
        <ul>
          <li class="mb-3">
            <router-link
              class="focus:outline-none font-light"
              tag="button"
              exact-active-class=" text-easiorange "
              :to="{ name: 'CreateEmployeeProfile' }"
              >1. Employee Profile</router-link
            >
          </li>
          <li class="mb-3">
            <router-link
              :class="{ 'opacity-50 cursor-not-allowed': jobDisable }"
              :disabled="jobDisable"
              class="focus:outline-none font-light"
              tag="button"
              exact-active-class=" text-easiorange "
              :to="{ name: 'CreateEmployeeJob' }"
              >2. Job</router-link
            >
          </li>
          <li class="mb-3">
            <!-- :class="{
                'opacity-50 cursor-not-allowed':
                  jobInformationDisable || candidateBackgroundDisabled,
              }"
              :disabled="jobInformationDisable || candidateBackgroundDisabled" -->
            <router-link
              :class="{
                'opacity-50 cursor-not-allowed': jobDisable || job,
              }"
              :disabled="jobDisable || job"
              class="focus:outline-none font-light"
              tag="button"
              exact-active-class=" text-easiorange "
              :to="{ name: 'CreateEmployeeBank' }"
              >3. Payment & Bank</router-link
            >
          </li>
          <li class="mb-3">
            <!-- :class="{
                'opacity-50 cursor-not-allowed':
                  jobInformationDisable ||
                  candidateBackgroundDisabled ||
                  jobDescription,
              }"
              :disabled="
                jobInformationDisable ||
                candidateBackgroundDisabled ||
                jobDescription
              " -->
            <router-link
              :class="{
                'opacity-50 cursor-not-allowed':
                  jobDisable || jobCompensation || job,
              }"
              :disabled="jobDisable || jobCompensation || job"
              class="focus:outline-none font-light"
              tag="button"
              active-class=" text-easiorange "
              :to="{ name: 'CreateEmployeeEmergency' }"
              >4. Emergency Details</router-link
            >
          </li>
        </ul>
      </template>
      <template v-slot:second>
        <router-view />
      </template>
    </easiContainerColumn>

    <easiModal v-if="getAllDepartments.count <= 0">
      <template v-slot:header>
        No Department Created
      </template>
      <div class="flex justify-center flex-col items-center pb-12">
        <svg
          class="w-16 h-16 text-easiorange fill-current"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            d="M501.36 383.95L320.5 51.47c-29.06-48.92-99.9-48.98-129 0L10.65 383.95c-29.7 49.99 6.26 113.3 64.48 113.3h361.74c58.17 0 94.2-63.26 64.5-113.3zM256 437.25c-16.54 0-30-13.47-30-30 0-16.55 13.46-30 30-30s30 13.45 30 30c0 16.53-13.46 30-30 30zm30-120c0 16.53-13.46 30-30 30s-30-13.47-30-30v-150c0-16.55 13.46-30 30-30s30 13.45 30 30v150z"
          />
        </svg>
        <div class="mt-3 text-sm font-thin">
          You must have atleast one Department created.
        </div>
        <div class="w-1/2 justify-between mt-8">
          <easiButton @click.native="$router.push({name: 'CreateDepartment'})">
            <div class="leading-4 px-2">Create Department</div>
          </easiButton>
        </div>
      </div>
    </easiModal>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      payload: {
        paging: {
          limit: 10,
          search: null,
          skip: 0,
        }
      },
    };
  },
  computed: {
    ...mapGetters(["getAllDepartments", "applicant", "checkLoading"]),
  },
  methods: {
    queryDepartments() {
      this.$store.dispatch("query", {
        endpoint: "ListDepartments",
        payload: this.payload,
        storeKey: "listDepartments",
        service: "EMP",
      });
    },
  },
  async created() {
    await this.queryDepartments();
  },
};
</script>

<style>
</style>