<template>
  <main>
    <form @submit.prevent="next">
        <div class="grid-cols-2 grid col-gap-10 row-gap-5 mt-5">
            <div>
                <p class="text-gray-600 font-medium text-sm">Full Name</p>
                <input
                class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                type="text"
                required
                v-model="emergency.fullName"
                />
            </div>
            <div>
                <p class="text-gray-600 font-medium text-sm">Relationship</p>
                <input
                class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                type="text"
                required
                v-model="emergency.relationship"
                />
            </div>
            <div>
                <p class="text-gray-600 font-medium text-sm">Address</p>
                <input
                class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                type="text"
                required
                v-model="emergency.address"
                />
            </div>
            <div>
                <p class="text-gray-600 font-medium text-sm">Country</p>
                <div class="relative">
                    <select
                        class="block appearance-none text-gray-700 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
                        id="grid-state"
                        v-model="country"
                        required
                    >
                        <option value disabled>Countries</option>
                        <option v-for="(k, i) in countries" :key="i" :value="k">
                        {{ k }}
                        </option>
                    </select>
                    <div
                        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
                    >
                        <svg
                        class="fill-current h-4 w-4"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        >
                        <path
                            d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                        />
                        </svg>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-2 col-gap-10 row-gap-5 mt-5">
            <div>
                <p class="text-gray-600 font-medium text-sm">Phone</p>

                <input
                class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                type="text"
                placeholder=""
                required
                v-model="emergency.phone"
                />
            </div>
            <div>
                <p class="text-gray-600 font-medium text-sm">Email Address</p>

                <input
                class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                type="text"
                required
                v-model="emergency.email"
                />
            </div>
        </div>
        <div class="flex justify-end mt-8 text-right">
        <easiButton
            @click.native.prevent="$router.push({ name: 'CreateEmployeeBank' })"
            variant="outline"
            class="inline-block mr-3"
        >
            <div class="px-8 leading-4">Previous</div>
        </easiButton>
        <easiButton class="inline-block">
            <div class="px-8">Create</div>
        </easiButton>
        </div>
    </form>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      emergency: {
        fullName: '',
        relationship: '',
        address: '',
        country: '',
        phone: '',
        email: '',
      },
    };
  },

  watch: {
    country: {
      immediate: true,
      handler(x) {
        if (x) {
          let allCountry = this.getCountries.find((state) => {
            return state.name == x;
          });
          let states = [];
          allCountry.states.map((x) => {
            states.push(x.name);
          });
          this.allState = states;

          //Also set country in emergency arg:
          this.emergency.country = x;
        }
      },
    },
  },

  methods: {
        next() {
            // Store emergency arg
            this.$store.commit("set", {
                type: "CreateEmployee",
                data: {
                    ...this.createNewEmployee,
                    emergency: this.emergency
                },
            });
            // Create Employee
            this.create();

            this.$router.push({ name: "CreateEmployeeEmergency" });
        },

        async create() {       
            console.log(this.createNewEmployee, "Create ARG");     
            let res = await this.$store.dispatch("mutate", {
                endpoint: "CreateEmployee",
                data: this.createNewEmployee,
                service: "EMP",
            });
            if (res.success) {

                this.$toast.success("Employee Created Successfuly");

                // Clear stored Onboarding data.
                this.createNewEmployee.profile = {};
                this.createNewEmployee.job = {};
                this.createNewEmployee.emergency = {};

                delete this.createNewEmployee['payment'];
                //this.createNewEmployee.payment = {};


                this.$router.push({ name: "EmployeeOverviewList" });
            }
        },
  },
  computed: {
    ...mapGetters(["createNewEmployee", "getCountries"]),

    countries() {
        let allCountries = this.getCountries;
        let k = [];
        allCountries.map((x) => {
            k.push(x.name);
        });
        return k;
    },

    country: {
        // *Note: Does nothing.
        get() {
            return this.createNewEmployee.profile.country;
        },
        set(value) {
            this.$store.commit("set", {
            type: "CreateEmployee",
            data: {
                ...this.createNewEmployee,
                profile: {
                ...this.createNewEmployee.profile,
                country: value,
                },
            },
            });
        },
    },
  },

  created() {
      this.emergency = this.createNewEmployee.emergency; // To preload data previously entered.
    }
,};
</script>

<style>
</style>