<template>
  <main class="">
      <form @submit.prevent="next">
    <div>
      <div class="">
        <div class="grid-cols-2 grid col-gap-10 row-gap-5 mt-5">
          <div>
            <p class="text-gray-600 font-medium text-sm">First Name</p>
            <input
              class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
              type="text"
              placeholder="First Name"
              required
              v-model="profile.firstName"
            />
          </div>
          <div>
            <p class="text-gray-600 font-medium text-sm">Middle Name</p>
            <input
              class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
              type="text"
              placeholder="Middle Name"
              v-model="profile.middleName"
            />
          </div>
          <div>
            <p class="text-gray-600 font-medium text-sm">Last Name</p>
            <input
              class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
              type="text"
              placeholder="Last Name"
              required
              v-model="profile.lastName"
            />
          </div>
          <div>
            <p class="text-gray-600 font-medium text-sm">Gender</p>
            <div class="relative">
              <select
                class="block appearance-none text-gray-700 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
                id="grid-state"
                v-model="profile.gender"
              >
                <option value="" disabled selected>Gender</option>
                <option value="MALE">Male</option>
                <option value="FEMALE">Female</option>
              </select>
              <div
                class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
              >
                <svg
                  class="fill-current h-4 w-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                  />
                </svg>
              </div>
            </div>
          </div>
          <div>
            <p class="text-gray-600 font-medium text-sm">Date of Birth</p>
            <input
              class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
              type="date"
              placeholder="Select"
              v-model="profile.dob"
            />
          </div>
          <div class="mt-2">
            <p class="text-gray-600 font-medium text-sm">Marital Status</p>
            <div class="relative">
              <select
                class="block appearance-none text-gray-700 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
                id="grid-state"
                v-model="profile.relationshipStatus"
              >
                <option value="" disabled selected>Select</option>
                <option value="SINGLE">SINGLE</option>
                <option value="MARRIED">MARRIED</option>
                <option value="DIVORCED">DIVORCED</option>
              </select>
              <div
                class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
              >
                <svg
                  class="fill-current h-4 w-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                  />
                </svg>
              </div>
            </div>
        </div>
        </div>    

        <div class="mt-5">
          <p class="text-gray-600 font-medium text-sm">Address</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="text"
            required
            v-model="profile.address"
          />
        </div>
          
        <div class="grid grid-cols-2 col-gap-10 row-gap-5 mt-5">
          <div class="mt-2">
            <p class="text-gray-600 font-medium text-sm">Country</p>
            <div class="relative">
              <select
                class="block appearance-none text-gray-700 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
                id="grid-state"
                v-model="country"
                required
              >
                <option value disabled>Countries</option>
                <option v-for="(k, i) in countries" :key="i" :value="k">
                  {{ k }}
                </option>
              </select>
              <div
                class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
              >
                <svg
                  class="fill-current h-4 w-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                  />
                </svg>
              </div>
            </div>
          </div>
          <div class="mt-2">
            <p class="text-gray-600 font-medium text-sm">State</p>
            <div class="relative">
              <select
                class="block appearance-none text-gray-700 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
                id="grid-state"
                v-model="profile.state"
              >
                <option value selected>Select State</option>
                <option v-for="(k, i) in allState" :key="i" :value="k">
                  {{ k }}
                </option>
              </select>

              <div
                class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
              >
                <svg
                  class="fill-current h-4 w-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                  />
                </svg>
              </div>
            </div>
          </div>

            <div>
                <p class="text-gray-600 font-medium text-sm">Email Address</p>
                <input
                class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                type="email"
                placeholder
                required
                v-model="profile.email"
                />
            </div>
            <div>
                <p class="text-gray-600 font-medium text-sm">Phone</p>
                <input
                class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                type="number"
                placeholder
                required
                v-model="profile.phone"
                />
            </div>
        </div>
        <div class="mt-5">
            <p class="text-gray-600 font-medium text-sm mt-2">NIN</p>
            <input
              class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
              type="text"
              placeholder=""
              v-model="profile.nin"
            />
          </div>
      </div>

      <div class="flex justify-end mt-8 text-right">
        <easiButton @click.native="update" class="inline-block w-32">Next</easiButton>
      </div>
    </div>
      </form>
  </main>
</template>

    <script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        allState: [],
        profile: {
          firstName: null,
          // middleName: '', //Not compulsory
          lastName: null,
          phone: null,
          email: null,
          // dob: null, // Not compulsory
          address: '',
          country: '',
          state: '',
          gender: '',
          relationshipStatus: '',
          // nin: '', // Not compulsory
        },
    };
  },
  watch: {
    country: {
      immediate: true,
      handler(x) {
        if (x) {
          let allCountry = this.getCountries.find((state) => {
            return state.name == x;
          });
          let states = [];
          allCountry.states.map((x) => {
            states.push(x.name);
          });
          this.allState = states;

          //Also set country in profile arg:
          this.profile.country = x;
        }
      },
    },
  },
    computed: {
        ...mapGetters(["createNewEmployee", "getCountries"]),
        countries() {
            let allCountries = this.getCountries;
            let k = [];
            allCountries.map((x) => {
                k.push(x.name);
            });
            return k;
        },

        country: {
            // *Note: Does nothing.
            get() {
                return this.createNewEmployee.profile.country;
            },
            set(value) {
                this.$store.commit("set", {
                type: "CreateEmployee",
                data: {
                    ...this.createNewEmployee,
                    profile: {
                    ...this.createNewEmployee.profile,
                    country: value,
                    },
                },
                });
            },
        },
    },
    methods: {
      next() {
          // Store profile arg
          this.$store.commit("set", {
              type: "CreateEmployee",
              data: {
                ...this.createNewEmployee,
                profile: this.profile
              },
          });

          this.$router.push({ name: "CreateEmployeeJob" });
      },
    },

    created() {
      this.profile = this.createNewEmployee.profile; // To preload data previously entered.
    }



};
</script>

<style>
</style>