<template>
  <form @submit.prevent="next">
    <div class="grid grid-cols-2 col-gap-5 mt-5">
      <div>
        <p class="text-gray-600 font-medium text-sm">Job Title</p>
        <input
          class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
          type="text"
          placeholder
          required
          v-model="job.jobTitle"
        />
      </div>
      <div>
        <p class="text-gray-600 font-medium text-sm">Branch</p>
        <div class="relative">
          <select
            class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
            id="grid-state"
            v-model="job.branchId"
            @change="updateDepartments($event.target.value)"
            required
          >
            <option value disabled selected>Select</option>
            <option
              v-for="branch in listBranch.data"
              :key="branch._id"
              :value="branch._id"
              >{{ branch.name }}</option
            >
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="mt-5">
        <p class="text-gray-600 font-medium text-sm">Department</p>
        <div class="relative">
          <select
            class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
            id="grid-state"
            v-model="job.departmentId"
            required
          >
            <option value disabled selected>Select</option>
            <option
              v-for="department in relevantDepartments"
              :key="department._id"
              :value="department._id"
              >{{ department.name }}</option
            >
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="mt-5">
        <p class="text-gray-600 font-medium text-sm">Team</p>
        <div class="relative">
          <select
            class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
            id="grid-state"
            v-model="job.teamId"
          >
            <option disabled selected>Select</option>
            <option
              v-for="team in listTeam.data"
              :key="team._id"
              :value="team._id"
              >{{ team.name }}</option
            >
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="mt-5">
        <p class="text-gray-600 font-medium text-sm">Employment Type</p>
        <div class="relative">
          <select
            class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
            id="grid-state"
            v-model="job.employmentType"
          >
            <option value disabled selected>Select</option>
            <option value="FULLTIME_ONSITE">Full Time On Site</option>
            <option value="CONTRACT_ONSITE">Contract On Site</option>
            <option value="FULLTIME_REMOTE">Full Time Remote</option>
            <option value="CONTRACT_REMOTE">Contract Remote</option>
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="mt-5">
        <p class="text-gray-600 font-medium text-sm">Report To</p>
        <div class="relative">
          <select
            class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
            id="grid-state"
            v-model="job.reportTo"
          >
            <option value="" disabled selected>Select</option>
            <option
              v-for="employee in getAllEmployees.data"
              :key="employee._id"
              :value="employee._id"
              >{{ employee.profile.firstName }} {{ employee.profile.lastName }}</option
            >
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </div>
        </div>
      </div>
        <div class="mt-5">
            <p class="text-gray-600 font-medium text-sm">Hire Date</p>
            <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="date"
            placeholder
            required
            v-model="job.hireDateString"
            />
        </div>
       <div class="mt-5">
            <p class="text-gray-600 font-medium text-sm">Staff Level</p>
            <div class="relative">
            <select
                class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
                id="grid-state"
                v-model="job.staffLevelId"
            >
                <option value disabled selected>Select</option>
                <option
                v-for="stafflevel in listAllStaffLevels.data"
                :key="stafflevel._id"
                :value="stafflevel._id"
                >{{ stafflevel.title }}</option
                >
            </select>
            <div
                class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
            >
                <svg
                class="fill-current h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                >
                <path
                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
                </svg>
            </div>
            </div>
        </div>
      
    </div>    

    <div class="flex justify-end mt-8 text-right">
      <easiButton
        @click.native="$router.push({ name: 'CreateEmployeeProfile' })"
        variant="outline"
        class="inline-block mr-3"
      >
        <div class="px-8 leading-4">Previous</div>
      </easiButton>
      <easiButton class="inline-block">
        <div class="px-8">Next</div>
      </easiButton>
    </div>
  </form>
</template>

<script>
import { mapGetters } from "vuex";
export default {
    data() {
        return {
            job: {
                jobTitle: '',
                branchId: '',
                departmentId: '',
                // teamId: '', //Not compulsory
                employmentType: '',
                // reportTo: '', // Should not be compulsory.
                hireDateString: '',
                staffLevelId: '',
            },
            payload: {
                paging: {
                limit: 10,
                skip: 0,
                search: null
                }
            },

            selectedBranchId: "",
            relevantDepartments: [],
        };
    },

  computed: {
    ...mapGetters(["getAllEmployees", "createNewEmployee", "getAllDepartments", "applicant", "listBranch", "listTeam", "listAllStaffLevels"]),
    reporting() {
      let k = [];
      let currentUser = {};
      currentUser.firstName = this.applicant.firstName;
      currentUser.lastName = this.applicant.lastName;
      currentUser._id = this.applicant._id;
      k.push(currentUser);
      return k;
    },
  },

  methods: {
    next() {
        // Store job arg
        this.$store.commit("set", {
            type: "CreateEmployee",
            data: {
                ...this.createNewEmployee,
                job: this.job
            },
        });

        console.log(this.createNewEmployee.job, "job arg $")

        this.$router.push({ name: "CreateEmployeeBank" });
    },

    getDepartmentsByBranchId(id) {
      var departments = this.getAllDepartments.data;
      var data = [];
      departments.forEach(
        function(department, index) {
          if (department.branchId == id){
            data.push(department)
          }
        }
      )

      return data
    },

    updateDepartments(id) {
      console.log("id gotten;", id);
      this.relevantDepartments = this.getDepartmentsByBranchId(id);
    },

    async queryBranches() {
      await this.$store.dispatch("query", {
        endpoint: "ListBranch",
        payload: this.payload,
        storeKey: "branch",
        service: "EMP"
      });
    },

    async queryTeams() {
      await this.$store.dispatch("query", {
        endpoint: "ListTeam",
        payload: this.payload,
        storeKey: "team",
        service: "EMP",
      });
    },

    queryStafflevels() {
      this.$store.dispatch("query", {
        endpoint: "ListStaffLevel",
        payload: this.payload,
        storeKey: "listStaffLevel",
        service: "PAY",
      });
    },

    queryEmployees() {
      this.$store.dispatch("query", {
        endpoint: "ListEmployees",
        payload: this.payload,
        storeKey: "listEmployees",
        service: "EMP",
      });
    },
  },
  async created() {
    await this.queryBranches();
    await this.queryTeams();
    await this.queryStafflevels();
    await this.queryEmployees();

    this.job = this.createNewEmployee.job; // To preload data previously entered.

    // Update department when preloading;
    this.updateDepartments(this.job.branchId);
  },
};
</script>

<style>
</style>