<template>
  <main> <br>
    <div class="mt-4 ml-8 mr-8 pl-8 pr-8 pt-8 bg-white">
        <div class="mb-4">
            <div class='bg-black rounded-full h-20 w-20 float-left'></div>
            <div class="inline-block h-20 pt-4 ml-2">
                <div class="font-bold">{{getEmployeeDetailsById($route.params.id).profile.firstName}} {{getEmployeeDetailsById($route.params.id).profile.lastName}}</div>
                <div class="text-gray-700">{{getEmployeeDetailsById($route.params.id).empJob.jobTitle}}</div>
            </div>

            <div class="float-right h-20 pt-4 ml-2">
                <div class="font-bold">Manager</div>
                <div class="text-gray-700">Damilola Ajayi</div>
            </div>
        </div>

        <hr>>>>{{allPerformanceGoals}}<br>

        <div class="pb-4 mt-4">
          <span v-for="category in allPerformanceCategories.data" :key="category._id" @click="viewData = category; getObjectivesWithCategoryId()" class="mr-6 cursor-pointer text-gray-700" :class="(viewData == category)?'mr-6 cursor-pointer text-red-700 border-b-2 border-red-700 pb-3':''">{{category.title}}</span>
        </div>
    </div>
  
    <div class="mt-12 ml-8 mr-8 p-6 bg-white text-gray-700 font-bold" v-for="objective in relevantObjectives" :key="objective">
        <div class="">
            <div class="inline-block mr-16">
                <div>Objective: {{objective.title}}</div>
                <div>KPI: {{getGoalWithObjectiveId(objective._id).kpi}}</div>
            </div>
            <!-- {{ getGoalWithObjectiveId(objective._id) }}Rap
            {{ getAverageRatingWithGoalId(getGoalWithObjectiveId(objective._id) )}} -->

            <div class="inline-block">
                <div>Average Rating: <span class="text-red-500">x.5/y</span></div>
                <div class="text-red-500">Target: {{getGoalWithObjectiveId(objective._id).target}}</div>
            </div>

            <div class="float-right">
                <div style="display:none;">Duration: XXX</div>
                <div class="text-gray-400">Update Progress: {{getGoalWithObjectiveId(objective._id).getInput}}</div>
            </div>
        </div>
        <ShowObjective :categoryId="viewData._id" :objectiveId="objective._id" :employeeId="$route.params.id" />
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
import ShowObjective from "./ShowObjectiveComponent";
export default {
  components: {
    ShowObjective
  },
  data() {
    return {
      viewData: 'Financial',
      headers: [
        "DATE",
        "EXPECTED",
        "ACTUAL",
        "RATING",
      ],
      loading: false,
      performanceRatings: [],


      links: [
        {
          routeName: "Financial",
          routeLinks: "PerformanceList",
        },
        {
          routeName: "Customer",
          routeLinks: "PerformanceObjectives",
        },
        {
          routeName: "Internal Business Processes",
          routeLinks: "MyPerformance",
        },
        {
          routeName: "Learning & Growth",
          routeLinks: "MyPerformance",
        },
      ],

      payload: {
        limit: 10,
        skip: 0,
        search: null,
      },
      employeePayload: {
        companyId: "",
        limit: 10,
        search: null,
        skip: 0,
      },

      relevantObjectives: [],
    };
  },
  computed: {
    ...mapGetters(["applicant", "checkLoading", "allIds", "getAllEmployees", "allPerformanceGoals", "allPerformanceObjectives", "allPerformanceCategories"]),
  },//getRatingBasedOnGoalAndEmployee
  methods: {
    getObjectivesWithCategoryId() {
      var result = [];
      var argId = this.viewData._id;
      console.log('Obj>', argId)
      this.allPerformanceObjectives.data.forEach(
        function(objective, index) {
          if (objective.categoryId == argId){
            result.push(objective);
          }
        }
      )

      this.relevantObjectives = result;

      return result;
    },

    getGoalWithObjectiveId(argId) {
      var result = null;
      //var argId = this.$route.params.id;
      this.allPerformanceGoals.data.forEach(
        function(goal, index) {
          if (goal.objectiveId == argId){
            result = goal;
          }
        }
      )

      return result;
    },

    async allAverageRatingsBasedOnGoal() {
      await this.$store.dispatch("query", {
        endpoint: "GetRatingBasedOnGoalAndEmployee",
        storeKey: "averageGoalRatings",
        service: "PERFORM",
      });
    },

    async allObjectives() {
      await this.$store.dispatch("query", {
        endpoint: "ListPerformanceObjective",
        payload: this.payload,
        storeKey: "listObjectives",
        service: "PERFORM",
      });
    },

    async allGoals() {
      await this.$store.dispatch("query", {
        endpoint: "ListPerformanceGoals",
        payload: this.payload,
        storeKey: "listGoals",
        service: "PERFORM",
      });
    },

    async allCategories() {
      await this.$store.dispatch("query", {
        endpoint: "ListPerformanceCategory",
        payload: this.payload,
        storeKey: "listCategories",
        service: "PERFORM",
      });
    },

    allEmployees() {
      this.$store.dispatch("query", {
        endpoint: "ListEmployees",
        payload: this.employeePayload,
        storeKey: "listEmployees",
        service: "EMP",
      });
    },

    getObjectiveById(id) {
      var objectives = this.allPerformanceObjectives.data;
      var objectiveName = null;
      objectives.forEach(
        function(objective, index) {
          if (objective._id == id){
            objectiveName = objective.title
          }
        }
      )

      return objectiveName
    },

    getEmployeeDetailsById(id) {
      var employees = this.getAllEmployees.data;
      var employeeDetails = null;
      employees.forEach(
        function(employee, index) {
          if (employee._id == id){
            employeeDetails = employee
          }
        }
      )

      return employeeDetails
    }
  },

  async created() {
    this.employeePayload.companyId = this.applicant.companyId;

    let res = await this.$store.dispatch("query", {
      endpoint: "ListEmployeeNameAndIds",
      storeKey: "listIds",
    });

    await this.allObjectives();
    await this.allGoals();
    await this.allCategories();
    await this.allEmployees();
    await this.allAverageRatingsBasedOnGoal();

    this.viewData = this.allPerformanceCategories.data[0];
    this.getObjectivesWithCategoryId();
    // this.relevantObjectives = this.getObjectivesWithCategoryId();
  },
};
</script>

<style>
</style>
