<template>
  <main class>
    <div class="p-10">
    <div class="py-3 flex items-center border">
      <div class="text-sm text-black font-bold pl-4">Employees</div>

      <div class="ml-10">
        <input
          type="text"
          class="focus:outline-none text-xs w-64 text-gray-600 appearance-none border rounded-sm leading-7 pl-3"
          placeholder="Search"
        />
      </div>
    </div>
    <table class="table-auto w-full overflow-y-auto shadow-sm bg-white">
      <thead>
        <tr class="bg-easipurple text-white">
          <th
            v-for="(title,index) in headers"
            :key="index"
            class="px-4 py-3 text-left font-light uppercase text-sm"
          >
            <div>{{title}}</div>
          </th>
        </tr>
      </thead>
      <div class="py-2" v-if="loading">
        <div class="loader">
          <svg viewBox="0 0 80 80">
            <rect x="8" y="8" width="64" height="64" />
          </svg>
        </div>
      </div>
      <tbody v-else-if="getAllEmployees.data.length">
        <tr
          v-for="employee in getAllEmployees.data"
          :key="employee._id"
          class="bg-white even:bg-gray-100 text-gray-600 cursor-pointer hover:bg-gray-600 hover:text-white"
        >
          <td class="px-4 py-4 text-sm font-thin tracking-wider">{{employee.profile.firstName}} {{employee.profile.lastName}}</td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">{{employee.goals}}</td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">{{employee.highestRating}}</td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">{{employee.lowestRating}}</td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">{{employee.averageRating}}</td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">{{employee.manager}}</td>
          <td
            @mouseover="hover = true"
            @mouseleave="hover = false"
            class="px-4 py-4 text-sm font-thin tracking-wide"
          >
            <div @click = "$router.push({name:'EmployeePerformance', params:{id: employee._id}})">
              <svg width="23" height="17" viewBox="0 0 23 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M22.4331 7.43364C22.2477 7.1297 17.7968 0 11.3316 0C4.86648 0 0.415569 7.1297 0.230115 7.43364C-0.0767049 7.93104 -0.0767049 8.55896 0.230115 9.05636C0.415569 9.3603 4.86648 16.4642 11.3265 16.4848H11.3574C17.8019 16.4848 22.2528 9.35515 22.4383 9.05121C22.7414 8.5541 22.7394 7.92881 22.4331 7.43364ZM11.3574 14.9394C5.69072 14.9394 1.56951 8.24242 1.56951 8.24242C1.56951 8.24242 5.69072 1.54545 11.3574 1.54545C17.0241 1.54545 21.1453 8.24242 21.1453 8.24242C21.1453 8.24242 17.0086 14.9394 11.3574 14.9394Z" fill="#4A90E2"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3312 4.12109C9.05509 4.12109 7.20996 5.96622 7.20996 8.24231C7.20996 10.5184 9.05509 12.3635 11.3312 12.3635C13.6073 12.3635 15.4524 10.5184 15.4524 8.24231C15.4524 5.96622 13.6073 4.12109 11.3312 4.12109ZM11.3312 10.8181C9.90862 10.8181 8.75542 9.66486 8.75542 8.24231C8.75542 6.81975 9.90862 5.66655 11.3312 5.66655C12.7537 5.66655 13.9069 6.81975 13.9069 8.24231C13.9069 9.66486 12.7537 10.8181 11.3312 10.8181Z" fill="#4A90E2"/>
              </svg>
            </div>
          </td>
        </tr>
      </tbody>

      <div v-else>
        <div
          class="py-4 flex justify-center bg-white items-center text-gray-600 font-light"
        >Employee List - TBD</div>
      </div>
    </table>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      headers: [
        "EMPLOYEE",
        "NO OF GOALS",
        "HIGHEST RATING",
        "LOWEST RATING",
        "AVERAGE RATING",
        "MANAGER",
        "ACTION",
      ],
      loading: false,
      employeesPerformance: [{
        "employee":"James Patterson",
        "goals": 20,
        "highestRating": 3.9,
        "lowestRating": 2.9,
        "averageRating": 3.5,
        "manager": "Damiloloa Animashaun",
        "action": 3.9
      }],

      payload: {
        limit: 10,
        skip: 0,
        search: null,
      },
      employeePayload: {
        companyId: "",
        limit: 10,
        search: null,
        skip: 0,
      },
    };
  },

  computed: {
    ...mapGetters(["applicant", "checkLoading", "allIds", "getAllEmployees", "allPerformanceGoals", "allPerformanceRatings", "getRatingBasedOnEmployee"]),
  },
  methods: {
    async allGoals() {
      await this.$store.dispatch("query", {
        endpoint: "ListPerformanceGoals",
        payload: this.payload,
        storeKey: "listGoals",
        service: "PERFORM",
      });
    },

    allEmployees() {
      this.$store.dispatch("query", {
        endpoint: "ListEmployees",
        payload: this.employeePayload,
        storeKey: "listEmployees",
        service: "EMP",
      });
    },

    async allRatings() {
      await this.$store.dispatch("query", {
        endpoint: "ListPerformanceRatings",
        payload: this.payload,
        storeKey: "listRatings",
        service: "PERFORM",
      });
    },

    async allAverageRatings() {
      await this.$store.dispatch("query", {
        endpoint: "GetRatingBasedOnEmployee",
        storeKey: "averageRatings",
      });
    },
  },

  async created() {
    this.employeePayload.companyId = this.applicant.companyId;

    let res = await this.$store.dispatch("query", {
      endpoint: "ListEmployeeNameAndIds",
      storeKey: "listIds",
    });
    
    await this.allEmployees();
    await this.allGoals();
    await this.allRatings();
    await this.allAverageRatings();
  },
};
</script>

<style>
</style>