<template>
  <main>
      <div class="bg-white text-gray-700 font-bold">
        <table class="table-auto w-full overflow-y-auto shadow-sm bg-white mt-4">
        <thead>
            <tr class="bg-easipurple text-white">
            <th
                v-for="(title,index) in headers"
                :key="index"
                class="px-4 py-3 text-left font-light uppercase text-sm"
            >
                <div>{{title}}</div>
            </th>
            </tr>
        </thead>
        <div class="py-2" v-if="loading">
            <div class="loader">
            <svg viewBox="0 0 80 80">
                <rect x="8" y="8" width="64" height="64" />
            </svg>
            </div>
        </div>
        <!-- <tbody v-else-if="relevantGoals.length"> -->
        <tbody v-else-if="employeePerformance.length">
            <tr
            v-for="goal in relevantGoals"
            :key="goal._id"
            class="bg-white even:bg-gray-100 text-gray-600 cursor-pointer hover:bg-gray-600 hover:text-white"
            >
            <td class="px-4 py-4 text-sm font-thin tracking-wider">{{goal.timeCreated}}</td>
            <td class="px-4 py-4 text-sm font-thin tracking-wider">{{goal.expected}}</td>
            <td class="px-4 py-4 text-sm font-thin tracking-wider">{{goal.actual}}</td>
            <td class="px-4 py-4 text-sm font-thin tracking-wider">{{goal.rating}}</td>
            <td
                @mouseover="hover = true"
                @mouseleave="hover = false"
                class="px-4 py-4 text-sm font-thin tracking-wide"
            >
                <div @click = "$router.push({name:'ratingPerformance'})">
                <svg width="23" height="17" viewBox="0 0 23 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M22.4331 7.43364C22.2477 7.1297 17.7968 0 11.3316 0C4.86648 0 0.415569 7.1297 0.230115 7.43364C-0.0767049 7.93104 -0.0767049 8.55896 0.230115 9.05636C0.415569 9.3603 4.86648 16.4642 11.3265 16.4848H11.3574C17.8019 16.4848 22.2528 9.35515 22.4383 9.05121C22.7414 8.5541 22.7394 7.92881 22.4331 7.43364ZM11.3574 14.9394C5.69072 14.9394 1.56951 8.24242 1.56951 8.24242C1.56951 8.24242 5.69072 1.54545 11.3574 1.54545C17.0241 1.54545 21.1453 8.24242 21.1453 8.24242C21.1453 8.24242 17.0086 14.9394 11.3574 14.9394Z" fill="#4A90E2"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3312 4.12109C9.05509 4.12109 7.20996 5.96622 7.20996 8.24231C7.20996 10.5184 9.05509 12.3635 11.3312 12.3635C13.6073 12.3635 15.4524 10.5184 15.4524 8.24231C15.4524 5.96622 13.6073 4.12109 11.3312 4.12109ZM11.3312 10.8181C9.90862 10.8181 8.75542 9.66486 8.75542 8.24231C8.75542 6.81975 9.90862 5.66655 11.3312 5.66655C12.7537 5.66655 13.9069 6.81975 13.9069 8.24231C13.9069 9.66486 12.7537 10.8181 11.3312 10.8181Z" fill="#4A90E2"/>
                </svg>
                </div>
            </td>
            </tr>
        </tbody>

        <div v-else>
            <div
            class="py-4 flex justify-center bg-white items-center text-gray-600 font-light"
            >No data for performance assesment</div>
        </div>
    </table>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: ['categoryId', 'objectiveId', 'employeeId'],
  data() {
    return {
      viewData: 'Financial',
      headers: [
        "DATE",
        "EXPECTED",
        "ACTUAL",
        "RATING",
      ],
      loading: false,
      performanceRatings: [],


      links: [
        {
          routeName: "Financial",
          routeLinks: "PerformanceList",
        },
        {
          routeName: "Customer",
          routeLinks: "PerformanceObjectives",
        },
        {
          routeName: "Internal Business Processes",
          routeLinks: "MyPerformance",
        },
        {
          routeName: "Learning & Growth",
          routeLinks: "MyPerformance",
        },
      ],

      payload: {
        limit: 10,
        skip: 0,
        search: null,
      },
      employeePayload: {
        companyId: "",
        limit: 10,
        search: null,
        skip: 0,
      },
      relevantObjectives: [],
      relevantGoals:[],
      employeePerformance:[],
    };
  },
  computed: {
    ...mapGetters(["applicant", "checkLoading", "allIds", "getAllEmployees", "allPerformanceGoals", "allPerformanceObjectives", "allPerformanceCategories", "getRatingBasedOnGoalAndEmployee", "listEmployeePerformanceRatings"]),
  },
  methods: {

    getRatingWithEmployeeId() {
      var result = [];
      var argId = this.$route.params.id;
      this.listEmployeePerformanceRatings.data.forEach(
        function(employee, index) {
          if (employee.employeeId == argId){
            result = employee;
          }
        }
      )

      return result;
    },

    getAverageRatingWithGoalId(argId) {
      var result = null;
      //var argId = this.$route.params.id;
      this.getRatingBasedOnGoalAndEmployee.forEach(
        function(employee, index) {
          if (employee.goalID == argId){
            result = employee;
          }
        }
      )

      return result.averageRating;
    },

    getGoalWithObjectiveId(argId) {
      var result = [];
      this.allPerformanceGoals.data.forEach(
        function(goal, index) {
          if (goal.objectiveId == argId){
            result.push(goal);
          }
        }
      )

      return result;
    },

    async listEmployeePerformance() {
      await this.$store.dispatch("query", {
        endpoint: "ListEmployeePerformanceRatings",
        payload: this.payload,
        storeKey: "employeePerformance",
        service: "PERFORM",
      });
    },

    async allAverageRatingsBasedOnGoal() {
      await this.$store.dispatch("query", {
        endpoint: "GetRatingBasedOnGoalAndEmployee",
        storeKey: "averageGoalRatings",
        service: "PERFORM",
      });
    },

    async allObjectives() {
      await this.$store.dispatch("query", {
        endpoint: "ListPerformanceObjective",
        payload: this.payload,
        storeKey: "listObjectives",
        service: "PERFORM",
      });
    },

    async allGoals() {
      await this.$store.dispatch("query", {
        endpoint: "ListPerformanceGoals",
        payload: this.payload,
        storeKey: "listGoals",
        service: "PERFORM",
      });
    },

    async allCategories() {
      await this.$store.dispatch("query", {
        endpoint: "ListPerformanceCategory",
        payload: this.payload,
        storeKey: "listCategories",
        service: "PERFORM"
      });
    },

    allEmployees() {
      this.$store.dispatch("query", {
        endpoint: "ListEmployees",
        payload: this.employeePayload,
        storeKey: "listEmployees",
        service: "EMP",
      });
    },

    getObjectiveById(id) {
      var objectives = this.allPerformanceObjectives.data;
      var objectiveName = null;
      objectives.forEach(
        function(objective, index) {
          if (objective._id == id){
            objectiveName = objective.title
          }
        }
      )

      return objectiveName
    },

    getEmployeeDetailsById(id) {
      var employees = this.getAllEmployees.data;
      var employeeDetails = null;
      employees.forEach(
        function(employee, index) {
          if (employee._id == id){
            employeeDetails = employee
          }
        }
      )

      return employeeDetails
    }
  },

  async created() {
    this.employeePayload.companyId = this.applicant.companyId;

    let res = await this.$store.dispatch("query", {
      endpoint: "ListEmployeeNameAndIds",
      storeKey: "listIds",
    });

    await this.allObjectives();
    await this.allGoals();
    await this.allCategories();
    await this.allEmployees();
    await this.allAverageRatingsBasedOnGoal();
    await this.listEmployeePerformance();

    this.viewData = this.allPerformanceCategories.data[0];

    this.relevantGoals = this.getGoalWithObjectiveId(this.objectiveId);
    this.employeePerformance = this.getRatingWithEmployeeId();
  },
};
</script>