<template>
  <main>
    <div v-if="$route.meta.requiresHeader == 'RecruitmentAssessmentHeader'">
      <easiSubHeader :routeLinks="links">
        <div class="flex items-center">
          <easiButton
            class="my-1"
            v-if="$route.name == 'RecruitmentAssessmentsMain'"
            @click.native="showAssessment = true"
          >
            <div class="leading-3 flex items-center">
              <svg
                class="w-3 h-3 lg:block hidden"
                viewBox="0 0 12 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11.5312 5.53125H6.46875V0.46875C6.46875 0.209859 6.25889 0 6 0C5.74111 0 5.53125 0.209859 5.53125 0.46875V5.53125H0.46875C0.209859 5.53125 0 5.74111 0 6C0 6.25889 0.209859 6.46875 0.46875 6.46875H5.53125V11.5312C5.53125 11.7901 5.74111 12 6 12C6.25889 12 6.46875 11.7901 6.46875 11.5312V6.46875H11.5312C11.7901 6.46875 12 6.25889 12 6C12 5.74111 11.7901 5.53125 11.5312 5.53125Z"
                  fill="white"
                />
              </svg>
              <span class="ml-2">Create Assessments</span>
            </div>
          </easiButton>
          <div class="my-1">
            <easiButton
              v-if="$route.name == 'RecruitmentCategories'"
              @click.native="showAssessmentGroup = true"
            >
              <div class="leading-3 flex items-center">
                <svg
                  class="w-3 h-3 lg:block hidden"
                  viewBox="0 0 12 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M11.5312 5.53125H6.46875V0.46875C6.46875 0.209859 6.25889 0 6 0C5.74111 0 5.53125 0.209859 5.53125 0.46875V5.53125H0.46875C0.209859 5.53125 0 5.74111 0 6C0 6.25889 0.209859 6.46875 0.46875 6.46875H5.53125V11.5312C5.53125 11.7901 5.74111 12 6 12C6.25889 12 6.46875 11.7901 6.46875 11.5312V6.46875H11.5312C11.7901 6.46875 12 6.25889 12 6C12 5.74111 11.7901 5.53125 11.5312 5.53125Z"
                    fill="white"
                  />
                </svg>
                <span class="ml-2">Create Category</span>
              </div>
            </easiButton>
          </div>
        </div>
      </easiSubHeader>
    </div>
    <router-view
      ref="route"
      class="pt-5 py-5 lg:pl-8 lg:pr-10 px-2"
      :class="{
        ' pt-20': $route.meta.requiresHeader === 'RecruitmentAssessmentHeader',
      }"
    />
    <easiModal v-if="showAssessment" @close="showAssessment = false">
      <template v-slot:header>Create New Assessment</template>
      <form @submit.prevent="newAssessment" class="border-t px-6 pt-6 pb-8">
        <div class>
          <p class="text-gray-600 font-medium text-sm">Title</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="text"
            required
            placeholder="Enter Title"
            v-model="info.title"
          />
        </div>
        <div class="mt-6">
          <p class="text-gray-600 font-medium text-sm">Level</p>
          <div class="relative">
            <select
              class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
              id="grid-state"
              v-model="info.level"
              required
            >
              <option value disabled>Level</option>
              <option value="Junior">Junior</option>
              <option value="Intermediate">Intermediate</option>
              <option value="Senior">Senior</option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
            >
              <svg
                class="fill-current h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
        </div>

        <div class="mt-6">
          <p class="text-gray-600 font-medium text-sm">Duration (mins)</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="number"
            placeholder="Enter Duration in minutes"
            v-model="info.duration"
            required
          />
        </div>
        <div class="mt-8">
          <easiButton class="inline-block">
            <div class="px-6">Create New Assessment</div>
          </easiButton>
        </div>
      </form>
    </easiModal>
    <easiModal v-if="showAssessmentGroup" @close="showAssessmentGroup = false">
      <template v-slot:header>New Assessment Group</template>
      <form
        @submit.prevent="newAssessmentGroup"
        class="border-t px-6 pt-6 pb-8"
      >
        <div class>
          <p class="text-gray-600 font-medium text-sm">Assessment Group Name</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="text"
            placeholder="Enter Assessment Group Name"
            v-model="group.name"
            required
          />
        </div>

        <div class="mt-6">
          <p class="text-gray-600 font-medium text-sm">
            Assessment Group Details
          </p>
          <textarea
            rows="5"
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="text"
            placeholder="Assessment Group Details"
            v-model="group.description"
          ></textarea>
        </div>
        <div class="mt-8">
          <easiButton class="inline-block">
            <div class="px-6">Create Assessment Group</div>
          </easiButton>
        </div>
      </form>
    </easiModal>
    <easiModal v-if="editModal" @close="closeEditModal">
      <template v-slot:header>Edit Assessment</template>
      <form @submit.prevent="editAssessments" class="border-t px-6 pt-6 pb-8">
        <div class>
          <p class="text-gray-600 font-medium text-sm">Title</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="text"
            required
            placeholder="Enter Title"
            v-model="title"
          />
        </div>
        <div class="mt-6">
          <p class="text-gray-600 font-medium text-sm">Level</p>
          <div class="relative">
            <select
              class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
              id="grid-state"
              v-model="level"
              required
            >
              <option value disabled>Level</option>
              <option value="Junior">Junior</option>
              <option value="Intermediate">Intermediate</option>
              <option value="Senior">Senior</option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
            >
              <svg
                class="fill-current h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
        </div>

        <div class="mt-6">
          <p class="text-gray-600 font-medium text-sm">Duration (mins)</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="number"
            placeholder="Enter Duration in minutes"
            v-model="duration"
            required
          />
        </div>
        <div class="mt-8">
          <easiButton class="inline-block">
            <div class="px-6">Edit Assessment</div>
          </easiButton>
        </div>
      </form>
    </easiModal>
    <easiModal v-if="editCategoryModal" @close="closeCategoryEditModal">
      <template v-slot:header>Edit Assessment Group</template>
      <form
        @submit.prevent="editAssessmentGroup"
        class="border-t px-6 pt-6 pb-8"
      >
        <div class>
          <p class="text-gray-600 font-medium text-sm">Assessment Group Name</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="text"
            placeholder="Enter Assessment Group Name"
            v-model="name"
            required
          />
        </div>

        <div class="mt-6">
          <p class="text-gray-600 font-medium text-sm">
            Assessment Group Details
          </p>
          <textarea
            rows="5"
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="text"
            placeholder="Assessment Group Details"
            v-model="description"
          ></textarea>
        </div>
        <div class="mt-8">
          <easiButton class="inline-block">
            <div class="px-6">Edit Assessment Group</div>
          </easiButton>
        </div>
      </form>
    </easiModal>
    <easiModal
      v-if="assessmentToCategoryModal"
      @close="closeAssessmentCategoryModal"
    >
      <template v-slot:header>Add to Category</template>
      <div class="py-2 px-6 border-t">
        <h1 class="text-sm text-gray-600 mt-6 font-light">Category List</h1>
        <div class="relative">
          <select
            class="block appearance-none text-gray-600 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
            id="grid-state"
            v-model="listId"
            required
          >
            <option value disabled>Select category</option>
            <option
              v-for="list in listAssessmentCategories.data"
              :key="list._id"
              :value="list._id"
            >
              {{ list.name }}
            </option>
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
          >
            <svg
              class="fill-current text-gray-500 h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </div>
        </div>
        <div class="text-right my-8">
          <easiButton
            @click.native="closeAssessmentCategoryModal"
            variant="outline"
            class="inline-block mr-5"
          >
            <div class="leading-4 px-4">Back</div>
          </easiButton>
          <easiButton @click.native="add" class="inline-block">
            <div class="px-4">Add</div>
          </easiButton>
        </div>
      </div>
    </easiModal>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      info: {
        title: "",
        level: "",
        duration: "",
      },
      group: {
        name: "",
        description: "",
      },
      links: [
        {
          routeName: "Assessments",
          routeLinks: "RecruitmentAssessmentsMain",
        },
        {
          routeName: "Category",
          routeLinks: "RecruitmentCategories",
        },
      ],
      showAssessment: false,
      showAssessmentGroup: false,
    };
  },
  computed: {
    ...mapGetters([
      "editAssessmentModal",
      "editAssessmentCategoryModal",
      "editAssesmentPayload",
      "editAssesmentData",
      "assessmentToCategory",
      "listAllAssessmentCategories",
      "getAssessmentCategoryPayload",
    ]),

    getAssessmentPayload() {
      return this.getAssessmentCategoryPayload;
    },
    listAssessmentCategories() {
      return this.listAllAssessmentCategories;
    },
    editModal() {
      return this.editAssessmentModal;
    },
    editCategoryModal() {
      return this.editAssessmentCategoryModal;
    },
    editCategoryPayload() {
      return this.editAssesmentPayload;
    },
    editAssessmentPayload() {
      return this.editAssesmentData;
    },
    assessmentToCategoryModal() {
      return this.assessmentToCategory;
    },
    listId: {
      get() {
        return this.getAssessmentPayload.assessmentCategoryId;
      },
      set(value) {
        this.$store.commit("set", {
          type: "assessmentToCategoryPayload",
          data: { ...this.getAssessmentPayload, assessmentCategoryId: value },
        });
      },
    },
    name: {
      get() {
        return this.editCategoryPayload.name;
      },
      set(value) {
        this.$store.commit("change", {
          type: "editAssesmentPayload",
          data: { ...this.editCategoryPayload, name: value },
        });
      },
    },
    description: {
      get() {
        return this.editCategoryPayload.description;
      },
      set(value) {
        this.$store.commit("change", {
          type: "editAssesmentPayload",
          data: { ...this.editCategoryPayload, description: value },
        });
      },
    },
    title: {
      get() {
        return this.editAssesmentData.title;
      },
      set(value) {
        this.$store.commit("change", {
          type: "editAssessmentData",
          data: { ...this.editAssessmentPayload, title: value },
        });
      },
    },
    duration: {
      get() {
        return this.editAssesmentData.duration;
      },
      set(value) {
        this.$store.commit("change", {
          type: "editAssessmentData",
          data: { ...this.editAssessmentPayload, duration: value },
        });
      },
    },
    level: {
      get() {
        return this.editAssesmentData.level;
      },
      set(value) {
        this.$store.commit("change", {
          type: "editAssessmentData",
          data: { ...this.editAssessmentPayload, level: value },
        });
      },
    },
  },
  methods: {
    closeEditModal() {
      this.$store.commit("change", {
        type: "editAssessmentModal",
        data: false,
      });
    },

    closeCategoryEditModal() {
      this.$store.commit("change", {
        type: "editAssessmentCategoryModal",
        data: false,
      });
    },

    closeAssessmentCategoryModal() {
      this.$store.commit("change", {
        type: "addAssessmentToCategoryModal",
        data: false,
      });
    },

    async newAssessment() {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "CreateAssessment",
        data: this.info,
      });
      if (res.success) {
        this.$toast.success("Assessment Created Successfully");
        this.$refs.route.allAssessments();
        this.info.title = "";
        this.info.level = "";
        this.info.duration = "";
        this.showAssessment = false;
      }
    },

    async newAssessmentGroup() {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "CreateAssessmentCategory",
        data: this.group,
      });
      if (res.success) {
        this.$toast.success("Assessment Group Created Successfully");
        this.$refs.route.allCategories();
        this.group.name = "";
        this.group.description = "";
        this.showAssessmentGroup = false;
      }
    },

    async editAssessmentGroup() {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "UpdateAssessmentCategory",
        data: this.editCategoryPayload,
      });
      if (res.success) {
        this.$toast.success("Updated Successfully");
        this.$store.commit("clearEditAssessmentPayload");
        this.$store.commit("change", {
          type: "editAssessmentCategoryModal",
          data: false,
        });
        this.$refs.route.allCategories();
      }
    },

    async add() {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "AddAssessmentToCategory",
        data: this.getAssessmentPayload,
      });

      if (res.success) {
        this.$toast.success("Assessment Added Successfully");
        this.$router.push({ name: "RecruitmentCategories" });
        this.$store.commit("change", {
          type: "addAssessmentToCategoryModal",
          data: false,
        });
      }
    },

    async editAssessments() {
      console.log(this.editAssessmentPayload);
      let res = await this.$store.dispatch("mutate", {
        endpoint: "UpdateAssessment",
        data: this.editAssessmentPayload,
      });
      if (res.success) {
        this.$toast.success("Updated Successfully");
        this.$store.commit("clearEditAssessmentData");
        this.$store.commit("change", {
          type: "editAssessmentModal",
          data: false,
        });
        await this.$refs.route.allAssessments();
      }
    },
  },
};
</script>

<style>
</style>
