<template>
  <main>
    <div class="flex items-center">
      <easiBackButton
        @click.native="$router.push({ name: 'RecruitmentAssessmentsMain' })"
      />
      <h1 class="pl-64 text-gray-800 w-full text-xl logo">
        Create Assessment Questions
      </h1>
    </div>
    <div>
      <easiContainerColumn topTwo="6rem" widthOne="w-8/12" widthTwo="w-4/12">
        <template v-slot:first>
          <div>
            <p class="text-base text-gray-600 font-medium">
              Select Question Type
            </p>
            <div class="mt-4 grid grid-cols-3 col-gap-3">
              <router-link
                tag="button"
                :disabled="!questionState.multipleQuestion"
                :class="{
                  'cursor-not-allowed opacity-75': !questionState.multipleQuestion,
                }"
                class="border font-light py-10 focus:outline-none"
                exact-active-class=" border-easiorange text-easiorange"
                :to="{ name: 'MultipleChoice' }"
                >Multiple Choice</router-link
              >
              <router-link
                :disabled="!questionState.trueorfalseQuestion"
                :class="{
                  'cursor-not-allowed opacity-75': !questionState.trueorfalseQuestion,
                }"
                tag="button"
                class="border font-light py-10 focus:outline-none"
                exact-active-class=" border-easiorange text-easiorange"
                :to="{ name: 'TrueOrFalse' }"
                >True / False</router-link
              >
              <router-link
                :disabled="!questionState.writingQuestion"
                :class="{
                  'cursor-not-allowed opacity-75': !questionState.writingQuestion,
                }"
                tag="button"
                class="border font-light py-10 focus:outline-none"
                exact-active-class=" border-easiorange text-easiorange"
                :to="{ name: 'Essay' }"
                >Writing</router-link
              >
            </div>
          </div>
          <div class="mt-10">
            <router-view />
          </div>
        </template>
        <template v-slot:second>
          <div>Settings</div>
          <div class="mt-4">
            <easiButton
              @click.native="$router.push({ name: 'ViewQuestions' })"
              :class="{ ' opacity-75 pointer-events-none': !finishQuestion }"
            >
              <div class="tracking-4">Preview</div>
            </easiButton>
            <easiButton
              @click.native="save"
              :class="{ ' opacity-75 pointer-events-none': !finishQuestion }"
              class="mt-4"
            >
              <div class="tracking-4">Save</div>
            </easiButton>
          </div>
        </template>
      </easiContainerColumn>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters(["getQuestionState", "getFinishQuestion", "getQuestions"]),
    questionState() {
      return this.getQuestionState;
    },
    finishQuestion() {
      return this.getFinishQuestion;
    },
  },
  methods: {
    async save() {
      let k = { ...this.getQuestions };
      let u = {};
      u.assessmentId = k.assessmentId;
      u.ques = k.questions;

      let res = await this.$store.dispatch("mutate", {
        endpoint: "CreateQuestions",
        data: u,
      });
      if (res.success) {
        this.$toast.success("Questions created successfully");
        this.$store.commit("set", {
          type: "questions",
          data: { ...this.getQuestions, assessmentId: "", questions: "" },
        });
        this.$store.commit("change", {
          type: "finishQuestion",
          data: false,
        });
        this.$router.push({ name: "RecruitmentAssessmentsMain" });
        this.$store.commit("change", {
          type: "questionState",
          data: {
            ...this.questionState,
            writingQuestion: true,
            trueortrueQuestion: true,
            multipleQuestion: true,
          },
        });
      }
    },
  },
};
</script>

<style>
</style>