<template>
  <main>
    <div v-for="(quest,index) in questions" :key="index">
      <p class="text-sm text-gray-600 font-medium">Question {{index + 1}}</p>
      <easiEditor v-model="quest.question" class="w-full mt-2 py-2" />
      <div class="text-right my-8">
        <easiButton
          v-if="index === questions.length - 1"
          @click.native="increase(index)"
          class="inline-block mr-6"
        >
          <div class="leading-4 px-5">Add More Question</div>
        </easiButton>
        <easiButton
          v-if="index === questions.length - 1"
          @click.native="finish"
          class="inline-block"
        >
          <div class="leading-4 px-3">Finish</div>
        </easiButton>
      </div>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      questions: [
        {
          questionType: "WRITING",
          question: null,
          options: [],
        },
      ],
    };
  },
  computed: {
    ...mapGetters(["getQuestionState", "getQuestions"]),
    questionState() {
      return this.getQuestionState;
    },
    allQuestions() {
      return this.getQuestions;
    },
  },
  methods: {
    finish() {
      let k = this.questions[this.questions.length - 1];
      if (k.question === null || k.question === "") {
        this.$toast.error(`Fill in the last Question`);
      } else {
        this.$store.commit("change", {
          type: "finishQuestion",
          data: true,
        });
        this.$store.commit("set", {
          type: "questions",
          data: { ...this.allQuestions, questions: this.questions },
        });
        this.$toast.success(`Preview and Save access enabled`);
      }
    },
    increase(x) {
      if (
        this.questions[x].question === null ||
        this.questions[x].question === ""
      ) {
        this.$toast.error(`Fill in Question for Question ${x + 1}`);
      } else {
        let vm = this;
        let k = {
          question: null,
          questionType: "WRITING",
          options: [],
        };
        this.questions = [...this.questions, k];
      }
    },
  },
  watch: {
    questions: {
      deep: true,
      handler(x) {
        let u = x.some(
          (k) =>
            k.question !== "" &&
            k.question !== null &&
            !k.question.includes("<p></p>")
        );
        if (u) {
          this.$store.commit("change", {
            type: "questionState",
            data: {
              ...this.questionState,
              writingQuestion: false,
              trueorfalseQuestion: false,
              multipleQuestion: true,
            },
          });
        } else {
          this.$store.commit("change", {
            type: "questionState",
            data: {
              ...this.questionState,
              writingQuestion: true,
              trueorfalseQuestion: true,
              multipleQuestion: true,
            },
          });
        }
      },
    },
  },
  mounted() {
    console.log(this.allQuestions, "loppp");
    let storeQuestion;
    if (this.allQuestions.questions !== "") {
      this.questions = [];
      storeQuestion = [...this.allQuestions.questions];
      this.questions.push(...storeQuestion);
    }
  },
};
</script>

<style>
</style>