<template>
  <main>
    <div v-for="(quest, index) in questions" :key="index">
      <p class="text-sm text-gray-600 font-medium">
        Question {{ Number(index + 1) }}
      </p>
      <easiEditor v-model.lazy="quest.question" class="w-full mt-2 py-2" />
      <div class="mt-8">
        <p class="text-sm text-gray-600 font-medium">Answers</p>
        <div class="flex items-center py-2">
          (A)
          <input
            v-model="quest.options[0].isCorrectAnswer"
            type="checkbox"
            name
            class="mx-3"
            id
          />
          <p>This answer option is correct</p>
        </div>
        <easiEditor
          v-model.lazy="quest.options[0].option"
          class="w-full mt-2 py-2"
        />
      </div>
      <div class="mt-8">
        <div class="flex items-center py-2">
          (B)
          <input
            v-model="quest.options[1].isCorrectAnswer"
            type="checkbox"
            name
            class="mx-3"
            id
          />
          <p>This answer option is correct</p>
        </div>
        <easiEditor
          v-model.lazy="quest.options[1].option"
          class="w-full mt-2 py-2"
        />
      </div>
      <div class="mt-8">
        <div class="flex items-center py-2">
          (C)
          <input
            v-model="quest.options[2].isCorrectAnswer"
            type="checkbox"
            name
            class="mx-3"
            id
          />
          <p>This answer option is correct</p>
        </div>
        <easiEditor
          v-model="quest.options[2].option"
          class="w-full mt-2 py-2"
        />
      </div>
      <div class="mt-8">
        <div class="flex items-center py-2">
          (D)
          <input
            v-model="quest.options[3].isCorrectAnswer"
            type="checkbox"
            name
            class="mx-3"
            id
          />
          <p>This answer option is correct</p>
        </div>
        <easiEditor
          v-model.lazy="quest.options[3].option"
          class="w-full mt-2 py-2"
        />
      </div>

      <div class="text-right my-8">
        <easiButton
          v-if="index === questions.length - 1"
          @click.native="increase(index)"
          class="inline-block mr-6"
        >
          <div class="leading-4 px-5">Add More Question</div>
        </easiButton>
        <easiButton
          v-if="index === questions.length - 1"
          @click.native="finish"
          class="inline-block"
        >
          <div class="leading-4 px-3">Finish</div>
        </easiButton>
      </div>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      questions: [
        {
          questionType: "MULTI_CHOICE",
          question: null,
          options: [
            {
              option: null,
              isCorrectAnswer: false,
              position: 1,
            },
            {
              option: null,
              isCorrectAnswer: false,
              position: 1,
            },
            {
              option: null,
              isCorrectAnswer: false,
              position: 1,
            },
            {
              option: null,
              isCorrectAnswer: false,
              position: 1,
            },
          ],
        },
      ],
    };
  },
  watch: {
    questions: {
      deep: true,
      handler(x) {
        let u = x.some(
          (k) =>
            k.question !== "" &&
            k.question !== null &&
            !k.question.includes("<p></p>")
        );
        if (u) {
          this.$store.commit("change", {
            type: "questionState",
            data: {
              ...this.questionState,
              writingQuestion: false,
              trueorfalseQuestion: false,
            },
          });
        } else {
          this.$store.commit("change", {
            type: "questionState",
            data: {
              ...this.questionState,
              writingQuestion: true,
              trueorfalseQuestion: true,
            },
          });
        }
      },
    },
  },
  computed: {
    ...mapGetters(["getQuestionState", "getQuestions"]),
    questionState() {
      return this.getQuestionState;
    },
    allQuestions() {
      return this.getQuestions;
    },
  },
  methods: {
    increase(x) {
      let m = this.questions[x].options.some((x) => x.isCorrectAnswer === true);
      if (
        this.questions[x].question === null ||
        this.questions[x].question === ""
      ) {
        this.$toast.error(`Fill in Question for Question ${x + 1}`);
      } else if (
        this.questions[x].options[0].option === null ||
        this.questions[x].options[1].option === null ||
        this.questions[x].options[2].option === null ||
        this.questions[x].options[3].option === null
      ) {
        this.$toast.error(`Fill in Options for Question ${x + 1}`);
      } else if (!m) {
        this.$toast.error(`Select At least one Answer for Question ${x + 1}`);
      } else {
        let vm = this;
        let k = {
          questionType: "MULTI_CHOICE",
          question: null,
          options: [
            {
              option: null,
              isCorrectAnswer: false,
              get position() {
                let u = vm.questions.findIndex(
                  (i) => i.question === k.question
                );
                return u + 1;
              },
            },
            {
              option: null,
              isCorrectAnswer: false,
              get position() {
                let u = vm.questions.findIndex(
                  (i) => i.question === k.question
                );
                return u + 1;
              },
            },
            {
              option: null,
              isCorrectAnswer: false,
              get position() {
                let u = vm.questions.findIndex(
                  (i) => i.question === k.question
                );
                return u + 1;
              },
            },
            {
              option: null,
              isCorrectAnswer: false,
              get position() {
                let u = vm.questions.findIndex(
                  (i) => i.question === k.question
                );
                return u + 1;
              },
            },
          ],
        };
        this.questions = [...this.questions, k];
      }
    },
    finish() {
      let k = this.questions[this.questions.length - 1];
      let m = k.options.some((x) => x.isCorrectAnswer === true);

      if (k.question === null || k.question === "") {
        this.$toast.error(`Fill in the last Question`);
      } else if (
        k.options[0].option === null ||
        k.options[1].option === null ||
        k.options[2].option === null ||
        k.options[3].option === null
      ) {
        this.$toast.error(`Fill in the last options`);
      } else if (!m) {
        this.$toast.error(`Select At least one Answer for the last Question`);
      } else {
        this.$store.commit("change", {
          type: "finishQuestion",
          data: true,
        });
        this.$store.commit("set", {
          type: "questions",
          data: { ...this.allQuestions, questions: this.questions },
        });
        this.$toast.success(`Preview and Save access enabled`);

        // this.$store.commit("setQuestionData", {
        //   questions: this.questions,
        // });
        // this.$store.commit("setFinishQuestion", true);
      }
    },
  },
  mounted() {
    let storeQuestion;
    if (this.allQuestions.questions !== "") {
      this.questions = [];
      storeQuestion = [...this.allQuestions.questions];
      this.questions.push(...storeQuestion);
    }
  },
};
</script>

<style>
</style>