<template>
  <main>
    <div class="py-3 flex items-center border">
      <div class="text-sm text-gray-900 pl-4">Listings</div>

      <div class="ml-10">
        <input
          type="text"
          class="focus:outline-none text-xs w-64 text-gray-600 appearance-none border rounded-sm leading-7 pl-3"
          placeholder="Search"
        />
      </div>
    </div>
    <easiTable
      name="recruitmentAssessmentMain"
      :headers="headers"
      :assessments="allAssessmentsData.data"
      title="Assessments"
    />
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      headers: ["Title", "Level", "Duration", "Question", "Action"],
      assessmentsPayload: {
        limit: 10,
        skip: 0,
        search: null
      }
    };
  },

  computed: {
    ...mapGetters(["listAllAssessments"]),
    allAssessmentsData() {
      return this.listAllAssessments;
    }
  },

  methods: {
    async allAssessments() {
      await this.$store.dispatch("query", {
        endpoint: "ListAssessment",
        payload: this.assessmentsPayload,
        storeKey: "listAssessments"
      });
    }
  },

  async mounted() {
    this.assessmentsPayload.search = null;
    await this.allAssessments();
  }
};
</script>

<style>
</style>