<template>
  <main>
    <easiCategoryBlock :data="assessmentCategories.data" />
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      assessmentGroupPayload: {
        limit: 10,
        skip: 0,
        search: null,
      },
    };
  },

  computed: {
    ...mapGetters(["listAllAssessmentCategories"]),
    assessmentCategories() {
      return this.listAllAssessmentCategories;
    },
  },

  methods: {
    async allCategories() {
      await this.$store.dispatch("query", {
        endpoint: "ListAssessmentCategory",
        payload: this.assessmentGroupPayload,
        storeKey: "listAssessmentCategory",
      });
    },
  },

  async mounted() {
    this.assessmentGroupPayload.search = null;
    await this.allCategories();
  },
};
</script>

<style>
</style>