<template>
  <main>
    <div v-for="(quest,index) in questions" :key="index">
      <p class="text-sm text-gray-600 font-medium">Question {{index + 1}}</p>
      <easiEditor v-model="quest.question" class="w-full mt-2 py-2" />
      <div class="mt-8">
        <p class="text-sm text-gray-600 font-medium">Answers</p>
        <div class="flex items-center py-2">
          (A)
          <input
            type="radio"
            v-model="quest.options[0].isCorrectAnswer"
            :value="true"
            class="mx-3"
          />
          <p>This answer option is correct</p>
        </div>
        <div class="border rounded-sm py-2">
          <span class="pl-4">True</span>
        </div>
      </div>
      <div class="mt-8">
        <p class="text-sm text-gray-600 font-medium">Answers</p>
        <div class="flex items-center py-2">
          (B)
          <input
            type="radio"
            v-model="quest.options[0].isCorrectAnswer"
            :value="false"
            class="mx-3"
            id
          />
          <p>This answer option is correct</p>
        </div>
        <div class="border rounded-sm py-2">
          <span class="pl-4">False</span>
        </div>
      </div>
      <div class="text-right my-8">
        <easiButton
          v-if="index === questions.length - 1"
          @click.native="increase(index)"
          class="inline-block mr-6"
        >
          <div class="leading-4 px-5">Add More Question</div>
        </easiButton>
        <easiButton
          v-if="index === questions.length - 1"
          @click.native="finish"
          class="inline-block"
        >
          <div class="leading-4 px-3">Finish</div>
        </easiButton>
      </div>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      questions: [
        {
          questionType: "SINGLE_CHOICE",
          question: null,
          options: [
            {
              option: "true",
              isCorrectAnswer: Boolean(true),
              position: 1,
            },
            {
              option: "false",
              isCorrectAnswer: null,
              position: 1,
            },
          ],
        },
      ],
    };
  },
  computed: {
    ...mapGetters(["getQuestionState", "getQuestions"]),
    questionState() {
      return this.getQuestionState;
    },
    allQuestions() {
      return this.getQuestions;
    },
  },
  watch: {
    questions: {
      deep: true,
      handler(x) {
        if (x[0].options[0].isCorrectAnswer == true) {
          x[0].options[1].isCorrectAnswer = Boolean(false);
        } else {
          x[0].options[1].isCorrectAnswer = Boolean(true);
        }

        let u = x.some(
          (k) =>
            k.question !== "" &&
            k.question !== null &&
            !k.question.includes("<p></p>")
        );
        if (u) {
          this.$store.commit("change", {
            type: "questionState",
            data: {
              ...this.questionState,
              writingQuestion: false,
              multipleQuestion: false,
              trueorfalseQuestion: true,
            },
          });
        } else {
          this.$store.commit("change", {
            type: "questionState",
            data: {
              ...this.questionState,
              writingQuestion: true,
              multipleQuestion: true,
              trueorfalseQuestion: true,
            },
          });
        }
      },
    },
  },
  methods: {
    finish() {
      let k = this.questions[this.questions.length - 1];
      let m = k.options.some((x) => x.isCorrectAnswer === true);

      if (k.question === null || k.question === "") {
        this.$toast.error(`Fill in the last Question`);
      } else {
        this.$store.commit("change", {
          type: "finishQuestion",
          data: true,
        });
        this.$store.commit("set", {
          type: "questions",
          data: { ...this.allQuestions, questions: this.questions },
        });
        this.$toast.success(`Preview and Save access enabled`);
      }
    },
    increase(x) {
      if (
        this.questions[x].question === null ||
        this.questions[x].question === ""
      ) {
        this.$toast.error(`Fill in Question for Question ${x + 1}`);
      } else {
        let vm = this;
        let k = {
          questionType: "SINGLE_CHOICE",
          question: null,
          options: [
            {
              option: "true",
              isCorrectAnswer: Boolean(true),
              get position() {
                let u = vm.questions.findIndex(
                  (i) => i.question === k.question
                );
                return u + 1;
              },
            },
            {
              option: "false",
              get isCorrectAnswer() {
                if (k.options[0].isCorrectAnswer == true) {
                  return Boolean(false);
                } else {
                  return Boolean(true);
                }
              },
              get position() {
                let u = vm.questions.findIndex(
                  (i) => i.question === k.question
                );
                return u + 1;
              },
            },
          ],
        };
        this.questions = [...this.questions, k];
        // this.questions.push(k);
      }
    },
  },
  mounted() {
    let storeQuestion;
    if (this.allQuestions.questions !== "") {
      this.questions = [];
      storeQuestion = [...this.allQuestions.questions];
      this.questions.push(...storeQuestion);
    }
  },
};
</script>

<style>
</style>