<template>
  <main id="view-questions">
    <div class="flex items-center">
      <easiBackButton @click.native="$router.go(-1)" />
      <div class="ml-20">View Questions</div>
    </div>
    <div class="d-flex align-items-center">
      <div class="my-5">{{ getQuestions.questions.length }} Questions</div>
    </div>
    <div class="questions mt-4">
      <div class="questions-container">
        <div class="main-quest mb-3">Question {{ current + 1 }}</div>
        <div class="main-quest" v-html="currentQuestion.question"></div>
        <div v-for="(options, index) in currentQuestion.options" :key="index">
          <div v-if="options.option.length > 3" class="flex items-center mt-3">
            <input
              value="true"
              v-model="options.isCorrectAnswer"
              type="radio"
              name
              id
              disabled
            />
            <div
              class="options-one ml-3"
              v-html="options.option.replace(/&nbsp;/g, '')"
            ></div>
          </div>

          <!-- <div v-if="options.option.length  == 2" class="d-flex align-items-center mt-3">
            <input type="radio" name id disabled />
            <div class="options-one ml-3">True</div>
          </div>-->
        </div>
        <!-- <div v-if="currentQuestion.options">
          <input type="text" class="mt-3 w-50 py-5" disabled />
        </div> -->

        <easiButton
          class="inline-block mt-5"
          :class="{ 'pointer-events-none opacity-50': !current > 0 }"
          @click.native="current -= 1"
        >
          <div class="px-2 leading-3">Prev</div>
        </easiButton>

        <easiButton
          class="inline-block mt-5 ml-4"
          :class="{
            'pointer-events-none opacity-50':
              current === getQuestions.questions.length - 1,
          }"
          @click.native="current += 1"
        >
          <div class="px-2 leading-3">Next</div>
        </easiButton>
      </div>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      current: 0,
      named: null,
    };
  },

  computed: {
    ...mapGetters(["getQuestions"]),
    currentQuestion() {
      if (this.getQuestions.questions.length) {
        let b = this.getQuestions.questions.sort((a, b) => {
          let questOne = a.questionType.toLowerCase();
          let questTwo = b.questionType.toLowerCase();
          if (questOne < questTwo) {
            return -1;
          } else return 1;
        });
        return b[this.current];
      }
    },
  },
  methods: {
    go() {
      this.$router.push({ name: "recruitment-assessment" });
    },

    async next() {
      let res = await this.$store.dispatch("createAssessment", this.options);
      if (res.data.CreateAssessments.success) {
        this.$router.push({ name: "recruitment-assessment" });
      }
    },
  },

  beforeRouteEnter(to, from, next) {
    next(async (vm) => {
      if (from.name == "RecruitmentAssessmentsMain") {
        vm.named = "RecruitmentAssessmentsMain";
        let res = await vm.$store.dispatch("setQuery", {
          endpoint: "ViewAssessment",
          data: { id: vm.getQuestions.assessmentId },
        });
        vm.$store.commit("set", {
          type: "questions",
          data: { ...vm.getQuestions, questions: res.questions },
        });
      } else {
        // vm.$router.go(-1);
      }
    });
  },
  async mounted() {
    this.$store.commit("change", {
      type: "finishQuestion",
      data: false,
    });
  },
  destroyed() {
    if (this.named == "RecruitmentAssessmentsMain") {
      this.$store.commit("set", {
        type: "questions",
        data: { ...this.getQuestions, assessmentId: "", questions: "" },
      });
      this.named = null;
    }
  },
};
</script>

<style>
#view-questions {
  padding: 2rem 2.5rem;
  width: 100%;
}
#view-questions .go-back {
  border: 1px solid #e5e9f2;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.2rem;
  height: 2.5rem;
  background: #f9fafc;
}
#view-questions .back-button {
  color: #909090;
  font-size: 0.85rem;
  padding-left: 0.5rem;
  font-weight: 300;
  cursor: pointer;
}
#view-questions .assignment-container {
  background: #ffffff;
  border: 1px solid #e5e9f2;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 2rem;
}
#view-questions .assess-header {
  padding-left: 5rem;
}

#view-questions select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #ffffff;
  color: #909090;
  font-size: 0.8rem;
  background-image: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
}
#view-questions .dropdown-container select {
  display: none;
}
#view-questions select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #ffffff;
  color: #909090;
  font-size: 0.8rem;
  background-image: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
}

#view-questions .filter-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1rem;
  gap: 1rem;
}
#view-questions .modal-buttom-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#view-questions .questions-container {
  background: #ffffff;
  border: 1px solid #e5e9f2;
  box-sizing: border-box;
  padding: 1rem;
}
#view-questions .main-quest {
  font-size: 0.9rem !important;
}
#view-questions >>> p {
  margin: 0px;
  font-size: 0.9rem;
}
</style>