<template>
  <div class="pt-6 px-6 shadow-xs bg-white">
    <div class="flex items-center justify-between">
      <div class="flex items-center">
        <div
          class="rounded-full border bg-red-300 border-red-400 text-pink-600 flex items-center justify-center w-12 h-12"
        >P</div>
        <div class="ml-2">
          <h1 class="text-sm text-gray-800">Applicant 1</h1>
          <p class="text-xs text-gray-600 font-light tracking-wide">Applied on Apr 1, 2020</p>
        </div>
      </div>
      <div class="flex items-center">
        <div class="ml-2">
          <div class="ml-5">
            <h1 class="text-sm text-gray-800">Status</h1>
            <p class="text-xs text-gray-600 font-light tracking-wide">In Review</p>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-10">
      <div class="w-full bg-white flex items-center justify-between">
        <div class="flex items-center pl-2">
          <div v-for="(items, i) in links" :key="i">
            <router-link
              tag="button"
              :disabled="items.disabled"
              exact-active-class="  border-orange-600  box-border text-easiorange    border-b-2"
              :class="{'py-4  leading-3':optional, 'opacity-50 cursor-not-allowed': items.disabled}"
              class="focus:outline-none text-sm box-border lg:mr-10 mr-3 py-3 inline-flex items-center text-gray-600 tracking-wide"
              :to="{ name: items.routeLinks }"
            >
              <div
                class="h-6 tracking-wide w-6 info flex items-center justify-center text-gray-600 mr-2 bg-gray-300 bg-opacity-75 rounded text-xs absolute"
                v-if="items.info"
              >{{ items.info }}</div>
              <div :class="items.info ? 'pl-8' : ''">{{ items.routeName }}</div>
            </router-link>
          </div>
        </div>
        <div :class="{'py-1':optional}" class="pr-2">
          <slot />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["links", "optional"]
};
</script>

<style>
</style>