<template>
  <main>
    <button
      class="bg-white cursor-pointer rounded-sm shadow-sm focus:outline-none flex items-center leading-6 tracking-wide px-4 py-2"
    >
      <svg
        width="12"
        height="12"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0)">
          <path
            d="M11 8V4.5c0-.83-.67-1.5-1.5-1.5-.37 0-.73.14-1.01.4l-.65.6C5.72 5.96 2.17 9.25.34 11.08A1.3 1.3 0 000 12c0 .37.12.7.35.92 1.82 1.83 5.37 5.12 7.5 7.08l.64.6c.28.26.64.4 1.01.4.83 0 1.5-.67 1.5-1.5V16c7.2.1 12 2.38 12 4.5a.5.5 0 101 0C24 13.76 18.21 8.25 11 8zm-.5 7a.5.5 0 00-.5.5v4a.5.5 0 01-.5.5.48.48 0 01-.33-.13l-.65-.6c-2.11-1.96-5.66-5.24-7.47-7.05-.02-.03-.05-.1-.05-.22 0-.11.03-.19.05-.22 1.8-1.8 5.36-5.09 7.47-7.05l.65-.6A.48.48 0 019.5 4c.28 0 .5.22.5.5v4c0 .28.22.5.5.5 6.01 0 11.05 3.92 12.23 9.14C20.6 16.27 15.98 15 10.5 15z"
            fill="#909090"
          />
        </g>
        <defs>
          <clipPath id="clip0">
            <path fill="#fff" d="M0 0h24v24H0z" />
          </clipPath>
        </defs>
      </svg>
      <span class="text-xs font-light text-gray-600 ml-2">Back</span>
    </button>
  </main>
</template>

<script>
export default {};
</script>

<style>
</style>