<template>
  <main>
    <button :style="format" class="w-full" :class="typeClass" :variant="variant">
      <slot />
    </button>
  </main>
</template>

<script>
export default {
  name: "easiButton",
  props: {
    variant: {
      type: String,
      default: "primary"
    },
    format: String
  },

  computed: {
    typeClass() {
      if (this.variant == "primary") {
        return "bg-orange-500 hover:bg-orange-400 flex-1 leading-4 focus:outline-none text-white capitalize font-light py-3 px-4 rounded text-sm border border-orange-500";
      } else if (this.variant == "outline") {
        return "bg-white hover:bg-orange-500 focus:outline-none text-orange-600 text-sm capitalize font-light hover:text-white py-3 px-4 border border-orange-600 hover:border-transparent rounded";
      } else if (this.variant == "social") {
        return "bg-white focus:outline-none text-gray-600 text-sm  font-light  py-3 px-4 border border-gray-400  rounded";
      } else if (this.variant == "dashboard") {
        return "bg-orange-500 hover:bg-orange-600  py-2 px-6 capitalize leading-4 tracking-wide rounded  text-xs text-white ";
      } else if (this.variant == "dash-outline") {
        return "bg-white hover:bg-orange-500 focus:outline-none text-orange-600 text-xs leading-6 capitalize font-light hover:text-white py-1 px-6 border border-orange-600 hover:border-transparent rounded";
      } else if (this.variant == "secondary") {
        return "bg-gray-500 hover:bg-gray-400 flex-1 focus:outline-none text-white capitalize font-light py-3 px-4 rounded text-sm border border-gray-500 leading-4";
      } else if (this.variant == "disabled") {
        return "bg-gray-500 hover:bg-gray-400 flex-1 focus:outline-none text-white capitalize font-light py-3 px-4 rounded text-sm border border-gray-500 leading-4 opacity-50 cursor-not-allowed";
      }
    }
  }
};
</script>

