<template>
  <main>
    <div
      v-for="(info, index) in data"
      :key="index"
      class="bg-white shadow-xs p-6 rounded-sm mb-8"
    >
      <div class="flex justify-between items-center">
        <div>
          <p class="text-gray-600 font-medium text-sm">{{ info.name }}</p>
          <p class="text-gray-600 font-thin text-xs">{{ info.description }}</p>
          <div class="flex items-center">
            <p class="text-gray-600 font-light text-sm mt-1">
              {{
                info.assessments.length === 0
                  ? "No Assessment"
                  : info.assessments.length + " Assessment"
              }}
            </p>
            <svg
              v-show="info.assessments.length > 0"
              @click="toggleSubmenu(info._id)"
              :class="{ 'text-easiorange': info._id == submenushow }"
              class="w-3 h-3 ml-2 mt-1 fill-current hover:text-easiorange"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 368 368"
            >
              <path
                d="M184 0C82.54 0 0 82.54 0 184s82.54 184 184 184 184-82.54 184-184S285.46 0 184 0zm0 352c-92.64 0-168-75.36-168-168S91.36 16 184 16s168 75.36 168 168-75.36 168-168 168z"
              />
              <path
                d="M264 176h-40V80c0-8.82-7.18-16-16-16h-48a15.9 15.9 0 00-11.31 4.68A15.9 15.9 0 00144 80v96h-40a7.99 7.99 0 00-6.51 12.65l80 112a8 8 0 0013.02 0l80-112A8 8 0 00264 176zm-80 106.24L119.54 192H152a8 8 0 008-8V80h48v104a8 8 0 008 8h32.46L184 282.24z"
              />
            </svg>
          </div>
        </div>
        <div>
          <easiDropdown :info="info" dropdownName="CategoryMain">
            <button
              class="border flex items-center border-black text-sm appearance-none py-2 px-4 focus:outline-none rounded-sm"
            >
              Actions
              <svg
                class="w-3 h-3 ml-2 fill-current"
                viewBox="0 0 9 9"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M1.3184 4.14645C1.12313 4.34171 1.12314 4.65829 1.3184 4.85355L4.14682 7.68198C4.34209 7.87724 4.65867 7.87724 4.85393 7.68198L7.68236 4.85355C7.87762 4.65829 7.87762 4.34171 7.68236 4.14645C7.4871 3.95118 7.17051 3.95118 6.97525 4.14645L4.50038 6.62132L2.0255 4.14645C1.83024 3.95118 1.51366 3.95118 1.3184 4.14645Z"
                />
              </svg>
            </button>
          </easiDropdown>
        </div>
      </div>
      <div v-if="info._id == submenushow" class="mt-6 border-t">
        <div
          class="bg-easipurple px-6 mt-6 py-3 rounded-sm rounded-l-sm rounded-r-sm rounded-bl-none rounded-br-none"
        >
          <div class="grid grid-cols-3 text-sm">
            <h2 class="text-white uppercase font-light">Assessment</h2>
            <h2 class="text-white uppercase text-center font-light">
              Job Level
            </h2>
            <h2 class="text-white uppercase text-right font-light">Action</h2>
          </div>
        </div>
        <div
          v-for="(assessment, index) in info.assessments"
          :key="index"
          class="px-6 border border-t-0 py-4 bg-gray-100 grid grid-cols-3 items-center text-sm"
        >
          <h2 class="text-gray-800 font-light">{{ assessment.title }}</h2>
          <h2 class="text-gray-800 font-light text-center">
            {{ assessment.level }}
          </h2>
          <h2 class="text-gray-800 font-light text-right">
            <easiDropdown
              :jobObject="{
                assessmentId: assessment._id,
                assessmentCategoryId: info._id,
              }"
              dropdownName="remove-assessment"
            >
              <svg
                class="w-8 h-8 fill-current"
                viewBox="0 0 34 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M26.3184 8.14645C26.1231 8.34171 26.1231 8.65829 26.3184 8.85355L29.1468 11.682C29.3421 11.8772 29.6587 11.8772 29.8539 11.682L32.6824 8.85355C32.8776 8.65829 32.8776 8.34171 32.6824 8.14645C32.4871 7.95118 32.1705 7.95118 31.9753 8.14645L29.5004 10.6213L27.0255 8.14645C26.8302 7.95118 26.5137 7.95118 26.3184 8.14645Z"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M14.0493 6.12613L15.1716 6.31652C15.6493 6.39669 15.9967 6.80755 15.99 7.29189V8.69815C15.99 9.18249 15.6426 9.59335 15.1649 9.67352L14.0426 9.86057C13.929 10.2347 13.7754 10.5988 13.5916 10.9495L14.253 11.8781C14.5336 12.2723 14.4868 12.8101 14.1461 13.1508L13.1507 14.1462C12.9637 14.3332 12.7165 14.4368 12.4526 14.4368C12.2455 14.4368 12.0451 14.3733 11.8781 14.2531L10.9528 13.5917C10.6054 13.7754 10.2413 13.9257 9.86388 14.0426L9.67349 15.165C9.59332 15.6426 9.18246 15.99 8.69812 15.99H7.28852C6.80418 15.99 6.39332 15.6426 6.31315 15.165L6.1261 14.0426C5.762 13.929 5.40793 13.7854 5.07056 13.6084L4.13194 14.2764C3.96493 14.3967 3.76785 14.4602 3.56075 14.4602C3.29687 14.4602 3.04969 14.3566 2.86263 14.1695L1.86722 13.1741C1.52317 12.8334 1.47975 12.2956 1.76033 11.9015L2.41837 10.9863C2.23132 10.6389 2.07766 10.2748 1.96075 9.90066L0.825052 9.70692C0.34739 9.62675 0 9.2159 0 8.73155V7.32529C0 6.84095 0.34739 6.43009 0.825052 6.34993L1.93403 6.16287C2.0476 5.78542 2.19457 5.42133 2.37829 5.07059L1.71023 4.13197C1.42965 3.73782 1.47641 3.20003 1.81712 2.85932L2.81587 1.86391C2.99958 1.67686 3.2501 1.57331 3.51399 1.57331C3.72109 1.57331 3.9215 1.63677 4.08852 1.75702L5.0071 2.4184C5.35449 2.23135 5.71858 2.07769 6.09269 1.96078L6.28643 0.825083C6.3666 0.347421 6.77745 3.05176e-05 7.2618 3.05176e-05H8.66806C9.1524 3.05176e-05 9.56326 0.347421 9.64342 0.825083L9.83048 1.93406C10.2213 2.05097 10.5987 2.20796 10.9595 2.39836L11.8881 1.73698C12.0551 1.61673 12.2522 1.55327 12.4593 1.55327C12.7232 1.55327 12.9704 1.65682 13.1574 1.84387L14.1528 2.83928C14.4969 3.17999 14.5403 3.71778 14.2597 4.11193L13.5983 5.03719C13.782 5.38458 13.9324 5.74867 14.0493 6.12613ZM15.0213 8.785C15.0647 8.77832 15.0948 8.74158 15.0948 8.69815H15.0981V7.29189C15.0981 7.24847 15.0681 7.21172 15.0246 7.20504L13.6217 6.96788C13.448 6.94116 13.3044 6.81089 13.261 6.63719C13.134 6.14617 12.9403 5.67519 12.6797 5.23761C12.5896 5.08396 12.5962 4.89022 12.6998 4.74659L13.5248 3.5875C13.5482 3.55076 13.5449 3.504 13.5148 3.47393L12.5194 2.47853C12.496 2.45515 12.4693 2.45181 12.456 2.45181C12.4392 2.45181 12.4225 2.45849 12.4058 2.46851L11.2534 3.2969C11.1065 3.40045 10.9161 3.40713 10.7624 3.31694C10.3148 3.05306 9.83382 2.85598 9.32944 2.72905C9.15574 2.68563 9.02547 2.54199 8.99541 2.36496L8.76159 0.972056C8.75491 0.928632 8.71816 0.898569 8.67474 0.898569H7.26848C7.22505 0.898569 7.18831 0.928632 7.18163 0.972056L6.94113 2.385C6.91106 2.55869 6.78079 2.69899 6.61044 2.74575C6.11942 2.87268 5.64843 3.0731 5.2142 3.33364C5.06054 3.42383 4.86681 3.41715 4.71983 3.3136L3.56743 2.49189C3.55407 2.48187 3.53737 2.47519 3.51733 2.47519C3.50063 2.47519 3.47724 2.47853 3.45386 2.50191L2.45846 3.49732C2.42839 3.52738 2.42505 3.57748 2.44843 3.61089L3.28017 4.77999C3.38372 4.92362 3.39374 5.11402 3.30355 5.26767C3.04635 5.70525 2.85595 6.17957 2.73236 6.67059C2.68894 6.84429 2.5453 6.97456 2.36827 7.00462L0.975365 7.23844C0.931942 7.24512 0.901879 7.28187 0.901879 7.32529V8.73155C0.901879 8.77498 0.931942 8.81172 0.975365 8.8184L2.38831 9.0589C2.562 9.08897 2.7023 9.21924 2.74906 9.38959C2.87599 9.88062 3.07641 10.3516 3.33695 10.7858C3.42714 10.9395 3.42046 11.1332 3.31691 11.2802L2.4952 12.4326C2.47182 12.4693 2.47516 12.5161 2.50522 12.5462L3.50063 13.5416C3.52401 13.565 3.55073 13.5683 3.56409 13.5683C3.58079 13.5683 3.59749 13.5616 3.6142 13.5516L4.7833 12.7199C4.86013 12.6631 4.95365 12.6364 5.04384 12.6364C5.12067 12.6364 5.20084 12.6564 5.27098 12.6965C5.70188 12.9437 6.16284 13.1341 6.6405 13.2577C6.81086 13.3011 6.94113 13.4414 6.97119 13.6184L7.20501 15.0213C7.21169 15.0647 7.24843 15.0948 7.29186 15.0948H8.69812C8.74154 15.0948 8.77829 15.0647 8.78497 15.0213L9.02213 13.6184C9.04885 13.4447 9.17912 13.3011 9.35282 13.2577C9.84384 13.1307 10.3148 12.937 10.7524 12.6764C10.9061 12.5863 11.0998 12.5929 11.2434 12.6965L12.4025 13.5215C12.4159 13.5316 12.4326 13.5382 12.4526 13.5382C12.4693 13.5382 12.4927 13.5349 12.5161 13.5115L13.5115 12.5161C13.5415 12.486 13.5449 12.4359 13.5215 12.4025L12.6965 11.2401C12.5929 11.0931 12.5862 10.9027 12.6764 10.7491C12.937 10.3115 13.1307 9.84053 13.2576 9.34951C13.301 9.17915 13.4413 9.04888 13.6184 9.01882L15.0213 8.785Z"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M4.54688 7.99335C4.54688 6.08939 6.09343 4.54283 7.9974 4.54283C9.90136 4.54283 11.4479 6.08939 11.4479 7.99335C11.4479 9.89732 9.90136 11.4439 7.9974 11.4439C6.09343 11.4439 4.54688 9.89732 4.54688 7.99335ZM5.44875 7.99335C5.44875 9.39962 6.59113 10.542 7.9974 10.542C9.40366 10.542 10.546 9.39962 10.546 7.99335C10.546 6.58709 9.40366 5.44471 7.9974 5.44471C6.59113 5.44471 5.44875 6.58709 5.44875 7.99335Z"
                />
              </svg>
            </easiDropdown>
          </h2>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  props: ["data"],
  data() {
    return {
      submenushow: null,
    };
  },
  methods: {
    toggleSubmenu(x) {
      this.submenushow == null
        ? (this.submenushow = x)
        : (this.submenushow = null);
    },
  },
};
</script>

<style>
.low {
  z-index: -100 !important;
}
</style>