<template>
  <div class="flex lg:flex-no-wrap flex-wrap mt-10">
    <div
      :style="`top:${topOne}`"
      :class="`lg:${widthOne} ${cssOne} `"
      class="shadow-xs bg-white text-sm py-4 px-6 h-auto table tracking-wide leading-6 text-gray-600 font-light"
    >
      <slot name="first" />
    </div>
    <div
      :style="`top:${topTwo}`"
      :class="`lg:${widthTwo} ${cssTwo}`"
      style="top: 6rem;"
      class="lg:ml-10 lg:mt-0 mt-10 table sticky shadow-xs bg-white py-4 px-6 text-gray-600 font-light"
    >
      <slot name="second" />
    </div>
  </div>
</template>

<script>
export default {
  props: ["widthOne", "widthTwo", "topOne", "topTwo", "cssOne", "cssTwo"],
};
</script>

<style>
</style>