<template>
  <main class="ml-16">
    <div v-click-outside="emit"></div>
    <transition-group
      enter-active-class="transition ease-out duration-100"
      enter-class="transform opacity-0 scale-95"
      enter-to-class="transform opacity-100 scale-100"
      leave-active-class="transition ease-in duration-75"
      leave-class="transform opacity-100 scale-100"
      leave-to-class="transform opacity-0 scale-95"
    >
      <div
        class="border-b border-easidivider last:border-0"
        v-for="(link,index) in links"
        :key="`${index}abc`"
      >
        <router-link
          :active-class="link.active"
          :exact-active-class="link.exact"
          class="py-2 text-sm text-gray-400 hover:text-easiorange block font-light leading-6"
          :to="{path:link.routeLinkPath}"
        >{{link.routeName}}</router-link>
      </div>
    </transition-group>
  </main>
</template>

<script>
import ClickOutside from "vue-click-outside";
export default {
  directives: {
    ClickOutside
  },
  props: ["links"],
  methods: {
    emit(x) {
      this.$emit("clickOutside");
    }
  }
};
</script>

<style>
.all-orange {
  background: #e4572e !important;
  color: white !important;
}
</style>