<template>
  <main>
    <div class="inline-block relative text-left">
      <div
        v-click-outside="hide"
        @click="toggle = !toggle"
        class="cursor-pointer"
      >
        <slot></slot>
      </div>

      <transition
        enter-active-class="transition ease-out duration-100"
        enter-class="transform opacity-0 scale-95"
        enter-to-class="transform opacity-100 scale-100"
        leave-active-class="transition ease-in duration-75"
        leave-class="transform opacity-100 scale-100"
        leave-to-class="transform opacity-0 scale-95"
      >
        <div
          :aria-hidden="true"
          v-show="toggle"
          :class="css"
          class="pt-1 absolute mt-2 right-0 rounded-md z-10 shadow-lg"
        >
          <easiUserDropdown v-if="dropdownName == 'user-dropdown'" />
          <easiNotificationDropdown
            v-if="dropdownName == 'notification-dropdown'"
          />
          <easiRecruitmentAction v-if="dropdownName == 'recruitment-action'" />
          <easiCategoryMain
            :catObj="info"
            v-if="dropdownName == 'CategoryMain'"
          />
          <easiCategorySubBlock
            :assessmentObj="assessmentObj"
            v-if="dropdownName == 'category-sub-block'"
          />
          <easiRemoveAssessmentDropdown
            :obj="jobObject"
            v-if="dropdownName == 'remove-assessment'"
          />
          <easiActiveJobDropdown
            :obj="jobObject"
            v-if="dropdownName == 'activeJobDropdown'"
          />
          <easiDraftJobDropdown
            v-if="dropdownName == 'DraftJobDropdown'"
            :obj="jobObject"
          />
          <easiArchivedJobDropdown
            v-if="dropdownName == 'ArchivedJobDropdown'"
            :obj="jobObject"
          />
          <easiDepartmentDropdown
            v-if="dropdownName == 'department-dropdown'"
            :obj="jobObject"
          />
          <easiMemoTemplate
            :obj="genericObj"
            v-if="dropdownName == 'MemoTemplateDropdown'"
          />
          <easiMemo
            :obj="genericObj"
            v-if="dropdownName == 'MemoDropdown'"
          />

          <easiPerformanceGoalsDropdown :obj="performanceObj" v-if="dropdownName == 'PerformanceGoalsDropdown'" />
          <easiPerformanceObjectivesDropdown :obj="performanceObj" v-if="dropdownName == 'PerformanceObjectivesDropdown'" />
          <easiMyPerformanceDropdown :obj="performanceObj" v-if="dropdownName == 'MyPerformanceDropdown'" />
          <easiTaskDropdown :obj="taskObj" v-if="dropdownName == 'TaskDropdown'" />

          <easiFeedbackDropdown :obj="genericObj" v-if="dropdownName == 'FeedbackDropdown'" />
          <easiApplicationsDropdown :obj="genericObj" v-if="dropdownName == 'ApplicationsDropdown'" />

          <easiStatutoryBodyDropdown :obj="genericObj" v-if="dropdownName == 'StatutoryBodyDropdown'" />
          <easiPaymentsDropdown :obj="genericObj" v-if="dropdownName == 'PaymentsDropdown'" />
          <easiPayrollEmployeesDropdown :obj="genericObj" v-if="dropdownName == 'PayrollEmployeesDropdown'" />
        </div>
      </transition>
    </div>
  </main>
</template>

<script>
import ClickOutside from "vue-click-outside";
import DepartmentDropdownVue from "../dropdownLists/DepartmentDropdown.vue";
import MemoTemplate from "../dropdownLists/MemoTemplate.vue";
import Memo from "../dropdownLists/Memo.vue";

export default {
  props: {
    dropdownName: String,
    dropdownType: String,
    info: Object,
    css: String,
    jobObject: Object,
    assessmentObj: Object,
    taskObj: Object,
    performanceObj: Object,

    genericObj: Object,
  },
  components: {
    easiDepartmentDropdown: DepartmentDropdownVue,
    easiMemoTemplate: MemoTemplate,
    easiMemo: Memo,
  },
  data() {
    return {
      toggle: false,
    };
  },

  directives: {
    ClickOutside,
  },
  methods: {
    hide() {
      this.toggle = false;
    },
  },
};
</script>

<style>
.space-top {
  margin-top: 3.5rem;
}
.forced {
  margin-top: 1.2rem;
}
</style>