<template>
  <div class="editor-area h-full border border-gray-300 rounded">
    <div class="editor">
      <editor-menu-bar :editor="editor" v-slot="{ commands, isActive }">
        <div class="flex rounded-b-none tcx border-b px-3 pb-3 pt-1 rounded-sm">
          <div class="w-5 h-5 text-gray-500" :class="{ 'text-orange-600': isActive.bold() }">
            <button class @click="commands.bold">
              <svg
                class="w-4 h-4 fill-current stroke-current stroke-0"
                viewBox="0 0 24 24"
                id="icon--bold"
              >
                <path
                  d="M17.194 10.962A6.271 6.271 0 0012.844.248H4.3a1.25 1.25 0 000 2.5h1.013a.25.25 0 01.25.25V21a.25.25 0 01-.25.25H4.3a1.25 1.25 0 100 2.5h9.963a6.742 6.742 0 002.93-12.786zm-4.35-8.214a3.762 3.762 0 010 7.523H8.313a.25.25 0 01-.25-.25V3a.25.25 0 01.25-.25zm1.42 18.5H8.313a.25.25 0 01-.25-.25v-7.977a.25.25 0 01.25-.25h5.951a4.239 4.239 0 010 8.477z"
                />
              </svg>
            </button>
          </div>
          <div class="w-5 h-5 text-gray-500 ml-4" :class="{ 'text-orange-600': isActive.italic() }">
            <button @click="commands.italic">
              <svg
                class="w-4 h-4 fill-current stroke-current stroke-0"
                viewBox="0 0 24 24"
                id="icon--italic"
              >
                <path
                  d="M22.5.248h-7.637a1.25 1.25 0 000 2.5h1.086a.25.25 0 01.211.384L4.78 21.017a.5.5 0 01-.422.231H1.5a1.25 1.25 0 000 2.5h7.637a1.25 1.25 0 000-2.5H8.051a.25.25 0 01-.211-.384L19.22 2.98a.5.5 0 01.422-.232H22.5a1.25 1.25 0 000-2.5z"
                />
              </svg>
            </button>
          </div>
          <div
            class="w-5 h-5 text-gray-500 ml-4"
            :class="{ 'text-orange-600': isActive.underline() }"
          >
            <button @click="commands.underline">
              <svg
                class="w-4 h-4 fill-current stroke-current stroke-0"
                viewBox="0 0 24 24"
                id="icon--underline"
              >
                <path
                  d="M22.5 21.248h-21a1.25 1.25 0 000 2.5h21a1.25 1.25 0 000-2.5zM1.978 2.748h1.363a.25.25 0 01.25.25v8.523a8.409 8.409 0 0016.818 0V3a.25.25 0 01.25-.25h1.363a1.25 1.25 0 000-2.5H16.3a1.25 1.25 0 000 2.5h1.363a.25.25 0 01.25.25v8.523a5.909 5.909 0 01-11.818 0V3a.25.25 0 01.25-.25H7.7a1.25 1.25 0 100-2.5H1.978a1.25 1.25 0 000 2.5z"
                />
              </svg>
            </button>
          </div>
          <div
            class="w-5 h-5 text-gray-500 ml-4"
            :class="{ 'text-orange-600': isActive.paragraph() }"
          >
            <button @click="commands.paragraph">
              <svg
                class="w-4 h-4 fill-current stroke-current stroke-0"
                viewBox="0 0 24 24"
                id="icon--paragraph"
              >
                <path
                  d="M22.5.248H7.228a6.977 6.977 0 100 13.954h2.318a.25.25 0 01.25.25V22.5a1.25 1.25 0 002.5 0V3a.25.25 0 01.25-.25h3.682a.25.25 0 01.25.25v19.5a1.25 1.25 0 002.5 0V3a.249.249 0 01.25-.25H22.5a1.25 1.25 0 000-2.5zM9.8 11.452a.25.25 0 01-.25.25H7.228a4.477 4.477 0 110-8.954h2.318A.25.25 0 019.8 3z"
                />
              </svg>
            </button>
          </div>
          <div
            class="w-5 h-5 text-gray-500 ml-4"
            :class="{ 'text-orange-600': isActive.bullet_list() }"
          >
            <button class @click="commands.bullet_list">
              <svg class="w-4 h-4 fill-current stroke-current stroke-0" viewBox="0 0 24 24">
                <circle cx="2.5" cy="4" r="2.5" />
                <path d="M8.5 5H23a1 1 0 000-2H8.5a1 1 0 000 2z" />
                <circle cx="2.5" cy="12" r="2.5" />
                <path d="M23 11H8.5a1 1 0 000 2H23a1 1 0 000-2z" />
                <circle cx="2.5" cy="20" r="2.5" />
                <path d="M23 19H8.5a1 1 0 000 2H23a1 1 0 000-2z" />
              </svg>
            </button>
          </div>
          <div
            class="text-gray-500 ml-4 w-5 h-5"
            :class="{ 'text-orange-600': isActive.ordered_list() }"
          >
            <button @click="commands.ordered_list">
              <svg
                class="w-4 h-4 fill-current stroke-current stroke-0"
                viewBox="0 0 24 24"
                id="icon--ol"
              >
                <path
                  d="M7.75 4.5h15a1 1 0 000-2h-15a1 1 0 000 2zm15 6.5h-15a1 1 0 100 2h15a1 1 0 000-2zm0 8.5h-15a1 1 0 000 2h15a1 1 0 000-2zM2.212 17.248a2 2 0 00-1.933 1.484.75.75 0 101.45.386.5.5 0 11.483.63.75.75 0 100 1.5.5.5 0 11-.482.635.75.75 0 10-1.445.4 2 2 0 103.589-1.648.251.251 0 010-.278 2 2 0 00-1.662-3.111zm2.038-6.5a2 2 0 00-4 0 .75.75 0 001.5 0 .5.5 0 011 0 1.031 1.031 0 01-.227.645L.414 14.029A.75.75 0 001 15.248h2.5a.75.75 0 000-1.5h-.419a.249.249 0 01-.195-.406L3.7 12.33a2.544 2.544 0 00.55-1.582zM4 5.248h-.25A.25.25 0 013.5 5V1.623A1.377 1.377 0 002.125.248H1.5a.75.75 0 000 1.5h.25A.25.25 0 012 2v3a.25.25 0 01-.25.25H1.5a.75.75 0 000 1.5H4a.75.75 0 000-1.5z"
                />
              </svg>
            </button>
          </div>
        </div>
      </editor-menu-bar>

      <editor-content class="editor__content text-sm mt-4 mb-2 px-4" :editor="editor" />
    </div>
  </div>
</template>

<script>
import { Editor, EditorContent, EditorMenuBar } from "tiptap";
import {
  Blockquote,
  CodeBlock,
  HardBreak,
  Heading,
  HorizontalRule,
  OrderedList,
  BulletList,
  ListItem,
  TodoItem,
  TodoList,
  Bold,
  Code,
  Italic,
  Link,
  Strike,
  Underline,
  History,
} from "tiptap-extensions";

export default {
  props: ["value"],
  components: {
    EditorContent,
    EditorMenuBar,
  },

  data() {
    return {
      editor: null,
      editorChange: false,
    };
  },
  mounted() {
    this.editor = new Editor({
      onUpdate: ({ getHTML }) => {
        this.editorChange = true;
        this.$emit("input", getHTML());
      },
      content: this.value,
      extensions: [
        new Blockquote(),
        new BulletList(),
        new CodeBlock(),
        new HardBreak(),
        new Heading({ levels: [1, 2, 3] }),
        new HorizontalRule(),
        new ListItem(),
        new OrderedList(),
        new TodoItem(),
        new TodoList(),
        new Link(),
        new Bold(),
        new Code(),
        new Italic(),
        new Strike(),
        new Underline(),
        new History(),
      ],
    });
  },
  beforeUpdate() {
    this.editor = new Editor({
      onUpdate: ({ getHTML }) => {
        this.editorChange = true;
        this.$emit("input", getHTML());
      },
      content: this.value,
      extensions: [
        new Blockquote(),
        new BulletList(),
        new CodeBlock(),
        new HardBreak(),
        new Heading({ levels: [1, 2, 3] }),
        new HorizontalRule(),
        new ListItem(),
        new OrderedList(),
        new TodoItem(),
        new TodoList(),
        new Link(),
        new Bold(),
        new Code(),
        new Italic(),
        new Strike(),
        new Underline(),
        new History(),
      ],
    });
  },

  beforeDestroy() {
    this.editor.destroy();
  },
};
</script>

<style>
.new-blue {
  stroke: white !important;
  stroke-width: 0.3px;
  color: white !important;
  fill: white !important;
  background: black !important;
  padding: 0.2rem;
  border-radius: 3px;
}

.editor__content .ProseMirror {
  height: 8rem;
  z-index: 1;
  overflow-y: auto;
  outline: none;
}
.editor__content .ProseMirror ul {
  list-style: initial;
  margin-left: 1rem;
}
.editor__content .ProseMirror ol {
  list-style: decimal;
  margin-left: 1rem;
}
</style>
