<template>
  <main>
    <div class="p-6 shadow-xs bg-white">
      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <div
            class="rounded-full border bg-red-300 border-red-400 text-pink-600 flex items-center justify-center w-12 h-12"
          >P</div>
          <div class="ml-2">
            <h1 class="text-sm text-gray-800">Product Designer</h1>
            <p class="text-xs text-gray-600 font-light tracking-wide">
              Lagos, Nigeria
              <span class="text-red-600 font-normal pl-2">Deadline: May 1,2020</span>
            </p>
          </div>
        </div>
        <div class="flex items-center">
          <div class="flex items-center mr-5">
            <div
              class="rounded-full border bg-gray-300 border-gray-400 text-pink-600 flex items-center justify-center w-12 h-12"
            ></div>
            <div class="ml-2">
              <h1 class="text-sm text-gray-800">Hiring Lead</h1>
              <p class="text-xs text-gray-600 font-light tracking-wide">Dylan Mike</p>
            </div>
          </div>
          <div class="border-l ml-2">
            <div class="ml-5">
              <h1 class="text-sm text-gray-800">Status</h1>
              <p class="text-xs text-green-600 font-light tracking-wide">Active</p>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-10 text-right">
        <easiButton class="inline-block" variant="outline">
          <div class="leading-3 px-3">Pay for Job Post</div>
        </easiButton>
      </div>
    </div>
  </main>
</template>

<script>
export default {};
</script>

<style>
</style>