<template>
  <main>
    <div
      style="z-index: 300;"
      class="fixed inset-0 w-full bg-black bg-opacity-75 overflow-y-auto pt-24"
    >
      <div class="w-full mx-auto max-w-lg bg-white rounded shadow-xs">
        <div class="w-full flex justify-between items-center px-6 py-4">
          <slot name="header" />
          <div>
            <svg
              v-if="cancel"
              @click="close"
              class="w-3 h-3 cursor-pointer"
              viewBox="0 0 14 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M8.09 7.02l5.73-5.85a.68.68 0 00-.96-.95L7.13 6.06 1.17.2a.68.68 0 10-.95.97l5.95 5.84-5.95 5.84a.68.68 0 00.95.96l5.96-5.85 5.73 5.84a.68.68 0 00.96-.95L8.1 7.02z"
                fill="#505050"
              />
            </svg>
          </div>
        </div>
        <main>
          <slot />
        </main>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  props: {
    cancel: {
      default: true,
    },
  },
  methods: {
    close() {
      this.$emit("close");
    },
  },
  mounted() {
    document.body.style.setProperty("overflow", "hidden");
  },
  destroyed() {
    document.body.style.removeProperty("overflow");
  },
};
</script>

<style>
</style>