<template>
  <main id="steps">
    <div class="steps-container">
      <step-progress
        :steps="mySteps"
        :current-step="stuff"
        :active-color="active"
        :passive-color="passive"
        :active-thickness="2"
        :passive-thickness="2"
        :line-thickness="1.1"
      ></step-progress>
    </div>
  </main>
</template>

<script>
import StepProgress from "vue-step-progress";
export default {
  props: {
    stuff: Number,
    disable: Boolean,
  },
  components: {
    StepProgress,
  },
  data() {
    return {
      active: `#E4572E`,
      passive: `#E0E6ED`,
      mySteps: ["Applied", "Reviewed", "Test", "Interview", "Offer", "Hired"],
      currentStep: 2,
    };
  },
  watch: {
    disable: {
      immediate: true,
      handler(x) {
        if (!!x) {
          this.active = `#909090`;
        }
      },
    },
  },
};
</script>

<style scoped>
#steps {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -60%;
  top: 160px;
}
#steps .steps-container {
  transform: rotate(90deg);
  width: 280px;
}
</style>
<style>
#steps .step-progress__step:after {
  height: 14px;
  width: 14px;
}
#steps .step-progress__step span {
  display: none;
}
#steps .step-progress__step-icon {
  display: none;
}
#steps .step-progress__step-label {
  font-size: 0.8rem;
  font-weight: 300;
  color: #0c192f;
  writing-mode: tb;
  transform: rotate(180deg);
  height: 100px;
  top: -130px;
  left: -10px;
  cursor: pointer;
}
#steps .step-progress__wrapper {
  width: 100%;
}
</style>
