<template>
  <main>
    <template>
      <main style="top:3.5rem; z-index:45 " class="w-full fixed right-0 lg:pl-56" id="sub-header">
        <div class="w-full bg-white border-b flex items-center justify-between">
          <div class="flex items-center lg:pl-8 pl-2">
            <div v-for="(items, i) in routeLinks" :key="i">
              <router-link
                :class="{'py-4 leading-3':optional}"
                class="text-sm lg:mr-10 mr-3 py-3 inline-flex items-center text-gray-600 tracking-wide"
                :to="{ name: items.routeLinks }"
              >
                <div
                  class="h-6 tracking-wide w-6 info flex items-center justify-center text-gray-600 mr-2 bg-gray-300 bg-opacity-75 rounded text-xs absolute"
                  v-if="items.info"
                >{{ items.info }}</div>
                <div :class="items.info ? 'pl-8' : ''">{{ items.routeName }}</div>
              </router-link>
            </div>
          </div>
          <div :class="{'py-1':optional}" class="lg:pr-10 pr-2">
            <slot />
          </div>
        </div>
      </main>
    </template>
  </main>
</template>

<script>
export default {
  props: ["routeLinks", "optional"]
};
</script>

<style lang="scss">
#sub-header {
  a {
    // font-family: "GraphikLight" !important;

    &.router-link-exact-active {
      color: #dd6b20 !important;
      font-weight: 400;
      position: relative;

      &.router-link-exact-active .info {
        background: #dd6b20;
        color: white;
      }

      &.router-link-exact-active::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -2px;
        background: #dd6b20;
      }
    }
  }
}
</style>


