<template>
  <main class="shadow relative">
    <table
      v-if="name == 'JobArchived' || name == 'JobDraft' || name == 'JobActive'"
      class="table-auto w-full overflow-y-auto"
    >
      <thead>
        <tr class="bg-easipurple text-white">
          <th
            v-for="(title, index) in headers"
            :key="index"
            class="px-4 py-3 text-left font-light uppercase text-sm"
          >
            <div>{{ title }}</div>
          </th>
        </tr>
      </thead>
      <div class="py-2" v-if="loading">
        <div class="loader">
          <svg viewBox="0 0 80 80">
            <rect x="8" y="8" width="64" height="64" />
          </svg>
        </div>
      </div>

      <tbody v-else-if="jobs.length">
        <tr
          v-for="job in jobs"
          :key="job._id"
          class="bg-white even:bg-gray-100 text-gray-600 cursor-pointer hover:bg-gray-600 hover:text-white"
          @click="allApplicantRoute(job)"
        >
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ job.title | truncate(30, "...") }}
          </td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ job.state }}, {{ job.country }}
          </td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ job.salaryCurrency }} {{ job.minSalary }} - {{ job.maxSalary }}
          </td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ job.timeCreated | sortDate }}
          </td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ job.level }}
          </td>

          <td
            @mouseover="hover = true"
            @mouseleave="hover = false"
            class="px-4 py-4 text-sm font-thin tracking-wide"
          >
            <easiDropdown
              :jobObject="job"
              css="mt-5"
              dropdownName="activeJobDropdown"
              v-if="name == 'JobActive'"
            >
              <svg
                class="w-6 h-6"
                viewBox="0 0 36 36"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  x="0.5"
                  y="0.5"
                  width="35"
                  height="35"
                  rx="2.5"
                  stroke="#E1E6ED"
                />
                <path
                  d="M27.2678 16.2322C28.2441 17.2085 28.2441 18.7914 27.2678 19.7677C26.2915 20.7441 24.7085 20.7441 23.7322 19.7677C22.7559 18.7914 22.7559 17.2085 23.7322 16.2322C24.7085 15.2559 26.2915 15.2559 27.2678 16.2322Z"
                  fill="#D3DCE6"
                />
                <path
                  d="M19.7677 16.2322C20.7441 17.2085 20.7441 18.7914 19.7677 19.7677C18.7914 20.7441 17.2085 20.7441 16.2322 19.7677C15.2559 18.7914 15.2559 17.2085 16.2322 16.2322C17.2085 15.2559 18.7914 15.2559 19.7677 16.2322Z"
                  fill="#D3DCE6"
                />
                <path
                  d="M12.2678 16.2322C13.2441 17.2085 13.2441 18.7914 12.2678 19.7677C11.2915 20.7441 9.70854 20.7441 8.73223 19.7677C7.75592 18.7914 7.75592 17.2085 8.73223 16.2322C9.70854 15.2559 11.2915 15.2559 12.2678 16.2322Z"
                  fill="#D3DCE6"
                />
              </svg>
            </easiDropdown>

            <easiDropdown
              :jobObject="job"
              css="mt-5"
              dropdownName="DraftJobDropdown"
              v-if="name == 'JobDraft'"
            >
              <svg
                class="w-6 h-6"
                viewBox="0 0 36 36"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  x="0.5"
                  y="0.5"
                  width="35"
                  height="35"
                  rx="2.5"
                  stroke="#E1E6ED"
                />
                <path
                  d="M27.2678 16.2322C28.2441 17.2085 28.2441 18.7914 27.2678 19.7677C26.2915 20.7441 24.7085 20.7441 23.7322 19.7677C22.7559 18.7914 22.7559 17.2085 23.7322 16.2322C24.7085 15.2559 26.2915 15.2559 27.2678 16.2322Z"
                  fill="#D3DCE6"
                />
                <path
                  d="M19.7677 16.2322C20.7441 17.2085 20.7441 18.7914 19.7677 19.7677C18.7914 20.7441 17.2085 20.7441 16.2322 19.7677C15.2559 18.7914 15.2559 17.2085 16.2322 16.2322C17.2085 15.2559 18.7914 15.2559 19.7677 16.2322Z"
                  fill="#D3DCE6"
                />
                <path
                  d="M12.2678 16.2322C13.2441 17.2085 13.2441 18.7914 12.2678 19.7677C11.2915 20.7441 9.70854 20.7441 8.73223 19.7677C7.75592 18.7914 7.75592 17.2085 8.73223 16.2322C9.70854 15.2559 11.2915 15.2559 12.2678 16.2322Z"
                  fill="#D3DCE6"
                />
              </svg>
            </easiDropdown>

            <easiDropdown
              :jobObject="job"
              css="mt-5"
              dropdownName="ArchivedJobDropdown"
              v-if="name == 'JobArchived'"
            >
              <svg
                class="w-6 h-6"
                viewBox="0 0 36 36"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  x="0.5"
                  y="0.5"
                  width="35"
                  height="35"
                  rx="2.5"
                  stroke="#E1E6ED"
                />
                <path
                  d="M27.2678 16.2322C28.2441 17.2085 28.2441 18.7914 27.2678 19.7677C26.2915 20.7441 24.7085 20.7441 23.7322 19.7677C22.7559 18.7914 22.7559 17.2085 23.7322 16.2322C24.7085 15.2559 26.2915 15.2559 27.2678 16.2322Z"
                  fill="#D3DCE6"
                />
                <path
                  d="M19.7677 16.2322C20.7441 17.2085 20.7441 18.7914 19.7677 19.7677C18.7914 20.7441 17.2085 20.7441 16.2322 19.7677C15.2559 18.7914 15.2559 17.2085 16.2322 16.2322C17.2085 15.2559 18.7914 15.2559 19.7677 16.2322Z"
                  fill="#D3DCE6"
                />
                <path
                  d="M12.2678 16.2322C13.2441 17.2085 13.2441 18.7914 12.2678 19.7677C11.2915 20.7441 9.70854 20.7441 8.73223 19.7677C7.75592 18.7914 7.75592 17.2085 8.73223 16.2322C9.70854 15.2559 11.2915 15.2559 12.2678 16.2322Z"
                  fill="#D3DCE6"
                />
              </svg>
            </easiDropdown>
          </td>
        </tr>
      </tbody>

      <div v-else>
        <div
          class="py-4 flex justify-center items-center text-gray-600 font-light"
        >
          You have no {{ title }} Jobs
        </div>
      </div>
    </table>

    <table
      v-if="name == 'allApplicant'"
      class="table-auto w-full overflow-y-auto"
    >
      <thead>
        <tr class="bg-easipurple text-white">
          <div class="px-4 py-3 mt-2 text-left font-light uppercase text-sm">
            <input type="checkbox" name id />
          </div>
          <th
            v-for="(title, index) in headers"
            :key="index"
            class="px-4 py-3 text-left font-light uppercase text-sm"
          >
            <div>{{ title }}</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="i in 4"
          :key="i"
          class="bg-white even:bg-gray-100 text-gray-600 cursor-pointer hover:bg-gray-600 hover:text-white"
          @click="$router.push({ name: 'RecruitmentViewApplicantOverview' })"
        >
          <td class="px-4 py-4 leading-6 text-xs font-light tracking-wide">
            <input type="checkbox" />
          </td>
          <td class="px-4 py-4 leading-6 text-xs font-light tracking-wide">
            Intro to CSS
          </td>
          <td class="px-4 py-4 leading-6 text-xs font-light tracking-wide">
            Adam
          </td>
          <td class="px-4 py-4 leading-6 text-xs font-light tracking-wide">
            858
          </td>
          <td class="px-4 py-4 leading-6 text-xs font-light tracking-wide">
            <slot />
          </td>
        </tr>
      </tbody>
    </table>

    <table
      v-if="
        name == 'CandidatesToReview' ||
        name == 'CandidatesInprocess' ||
        name == 'CandidatesHired' ||
        name == 'CandidatesRejected'
      "
      class="table-auto w-full overflow-y-auto"
    >
      <thead>
        <tr class="bg-easipurple text-white">
          <th
            v-for="(title, index) in headers"
            :key="index"
            class="px-4 py-3 text-left font-light uppercase text-sm"
          >
            <div>{{ title }}</div>
          </th>
        </tr>
      </thead>

      <div class="py-2" v-if="loading">
        <div class="loader">
          <svg viewBox="0 0 80 80">
            <rect x="8" y="8" width="64" height="64" />
          </svg>
        </div>
      </div>
      <tbody v-else-if="candidates.length">
        <tr
          v-for="candidate in candidates"
          :key="candidate._id"
          class="bg-white even:bg-gray-100 text-gray-600 cursor-pointer hover:bg-gray-600 hover:text-white"
          @click="$router.push({ name: 'CandidateOverview', params: {id: candidate._id} })"
        >
          <td class="px-4 py-4 leading-6 text-xs font-light tracking-wide">
            {{candidate.applicant.firstName}} {{candidate.applicant.lastName}}
          </td>
          <td class="px-4 py-4 leading-6 text-xs font-light tracking-wide">
            {{candidate.job.title}}
          </td>
          <td class="px-4 py-4 leading-6 text-xs font-light tracking-wide">
            {{candidate.applicant.state}}, {{candidate.applicant.country}}
          </td>
          <td class="px-4 py-4 leading-6 text-xs font-light tracking-wide">
            <span v-if="candidate.match <= 50" style="color:#CC2E2E">{{candidate.match}}% Match</span>
            <span v-if="candidate.match > 50" style="color:#00D67D">{{candidate.match}}% Match</span>
          </td>
          <td class="px-4 py-4 leading-6 text-xs font-light tracking-wide">
            <slot />
            <svg width="23" height="17" viewBox="0 0 23 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M22.4331 7.43364C22.2477 7.1297 17.7968 0 11.3316 0C4.86648 0 0.415569 7.1297 0.230115 7.43364C-0.0767049 7.93104 -0.0767049 8.55896 0.230115 9.05636C0.415569 9.3603 4.86648 16.4642 11.3265 16.4848H11.3574C17.8019 16.4848 22.2528 9.35515 22.4383 9.05121C22.7414 8.5541 22.7394 7.92881 22.4331 7.43364ZM11.3574 14.9394C5.69072 14.9394 1.56951 8.24242 1.56951 8.24242C1.56951 8.24242 5.69072 1.54545 11.3574 1.54545C17.0241 1.54545 21.1453 8.24242 21.1453 8.24242C21.1453 8.24242 17.0086 14.9394 11.3574 14.9394Z" fill="#4A90E2"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3321 4.12122C9.05607 4.12122 7.21094 5.96635 7.21094 8.24243C7.21094 10.5185 9.05607 12.3636 11.3321 12.3636C13.6082 12.3636 15.4534 10.5185 15.4534 8.24243C15.4534 5.96635 13.6082 4.12122 11.3321 4.12122ZM11.3321 10.8182C9.9096 10.8182 8.75639 9.66498 8.75639 8.24243C8.75639 6.81988 9.9096 5.66667 11.3321 5.66667C12.7547 5.66667 13.9079 6.81988 13.9079 8.24243C13.9079 9.66498 12.7547 10.8182 11.3321 10.8182Z" fill="#4A90E2"/>
            </svg>
          </td>
        </tr>
      </tbody>
      <div class="py-2" v-else>
        <div class="pl-20">
          Data not avalaible
        </div>
      </div>
    </table>

    <table
      v-if="name == 'recruitmentAssessmentMain'"
      class="table-auto w-full overflow-y-auto"
    >
      <thead>
        <tr class="bg-easipurple text-white">
          <th
            v-for="(title, index) in headers"
            :key="index"
            class="px-4 py-3 text-left font-light uppercase text-sm last:text-center"
          >
            <div>{{ title }}</div>
          </th>
        </tr>
      </thead>
      <div class="py-2" v-if="loading">
        <div class="loader">
          <svg viewBox="0 0 80 80">
            <rect x="8" y="8" width="64" height="64" />
          </svg>
        </div>
      </div>
      <tbody v-else-if="assessments !== null">
        <tr
          class="bg-white even:bg-gray-100 text-gray-600 cursor-pointer hover:bg-gray-600 hover:text-white"
          v-for="(assessment, index) in assessments"
          :key="index"
        >
          <td
            class="px-4 py-4 leading-6 text-sm font-light tracking-wide capitalize"
          >
            {{ assessment.title }}
          </td>
          <td class="px-4 py-4 leading-6 text-sm font-light tracking-wide">
            {{ assessment.level }}
          </td>
          <td class="px-4 py-4 leading-6 text-sm font-light tracking-wide pl-6">
            {{ assessment.duration }} mins
          </td>
          <td
            class="px-4 py-4 leading-6 text-sm font-light tracking-wide pl-10"
          >
            {{ assessment.questionsCount }}
          </td>
          <td
            class="px-4 py-4 leading-6 text-xs font-light tracking-wide text-center"
          >
            <easiDropdown
              :assessmentObj="assessment"
              css="forced"
              dropdownName="category-sub-block"
            >
              <svg
                class="w-4 h-4 mt-2 fill-current"
                viewBox="0 0 20 6"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M2.68173 0C1.22723 0 0 1.22723 0 2.68173C0 4.18168 1.22723 5.36345 2.68173 5.36345C4.18168 5.36345 5.36345 4.13622 5.36345 2.68173C5.36345 1.22723 4.18168 0 2.68173 0Z"
                />
                <path
                  d="M17.3184 0C15.8185 0 14.6367 1.22723 14.6367 2.68173C14.6367 4.18168 15.8639 5.36345 17.3184 5.36345C18.7729 5.36345 20.0002 4.18168 20.0002 2.68173C20.0002 1.22723 18.7729 0 17.3184 0Z"
                />
                <path
                  d="M10.1368 0C8.63686 0 7.45508 1.22723 7.45508 2.68173C7.45508 4.18168 8.68231 5.36345 10.1368 5.36345C11.6368 5.36345 12.8185 4.13622 12.8185 2.68173C12.8185 1.22723 11.6368 0 10.1368 0Z"
                />
              </svg>
            </easiDropdown>
          </td>
        </tr>
      </tbody>
      <div v-else>
        <div
          class="py-4 flex justify-center items-center text-gray-600 font-light"
        >
          There are currently no {{ title }}
        </div>
      </div>
    </table>

    <div class="fixed flex items-center bottom-0 mb-5 right-0 mr-10">
      <div class="w-6 h-6 border flex items-center justify-center bg-white">
        <svg
          class="w-2 h-2"
          viewBox="0 0 6 10"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M6 0L0 5.0005L6 10V0Z"
            fill="#B9BBC0"
          />
        </svg>
      </div>
      <div
        class="w-6 bg-white flex items-center justify-center text-xs text-gray-600 h-6 border-r border-t border-b"
        v-for="i in 4"
        :class="{ 'text-red-500': i == 1 }"
        :key="i"
      >
        {{ i }}
      </div>
      <div
        class="w-6 h-6 border border-l-0 flex items-center justify-center bg-white"
      >
        <svg
          class="w-2 h-2"
          viewBox="0 0 6 10"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M0 10L6 4.9995L0 0L0 10Z"
            fill="#B9BBC0"
          />
        </svg>
      </div>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
import { debounce } from "debounce";
export default {
  props: ["headers", "name", "jobs", "count", "title", "assessments", "candidates"],
  data() {
    return {
      search: null,
      hover: false,
      args: {
        companyId: null,
        jobId: null,
        limit: 10,
        skip: 0,
      },
    };
  },
  computed: {
    ...mapGetters(["checkLoading", "applicant"]),
    loading() {
      return this.checkLoading;
    },
  },
  methods: {
    async allApplicantRoute(x) {
      if (this.name == "JobActive" && !this.hover) {
        this.$router.push({
          name: "RecruitmentAllApplicants",
          params: {
            id: x._id,
          },
        });
      }
    },
    check(x) {
      if (this.name == "JobActive") {
        return !this.allApplicantRoute();
      }
    },
    sendValue(x) {
      setTimeout(() => {
        this.$emit("input", x.target.value);
      }, 1200);
    },
  },
};
</script>

<style>
.loader {
  --path: #e4572e;
  --dot: #183059;
  --duration: 3s;
  width: 44px;
  height: 44px;
  position: relative;
}
.loader:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  display: block;
  background: var(--dot);
  top: 37px;
  left: 19px;
  -webkit-transform: translate(-18px, -18px);
  transform: translate(-18px, -18px);
  -webkit-animation: dotRect var(--duration)
    cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}
.loader svg {
  display: block;
  width: 100%;
  height: 100%;
}
.loader svg rect,
.loader svg polygon,
.loader svg circle {
  fill: none;
  stroke: var(--path);
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.loader svg polygon {
  stroke-dasharray: 145 76 145 76;
  stroke-dashoffset: 0;
  -webkit-animation: pathTriangle var(--duration)
    cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}
.loader svg rect {
  stroke-dasharray: 192 64 192 64;
  stroke-dashoffset: 0;
  -webkit-animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}
.loader svg circle {
  stroke-dasharray: 150 50 150 50;
  stroke-dashoffset: 75;
  -webkit-animation: pathCircle var(--duration)
    cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}
.loader.triangle {
  width: 48px;
}
.loader.triangle:before {
  left: 21px;
  -webkit-transform: translate(-10px, -18px);
  transform: translate(-10px, -18px);
  -webkit-animation: dotTriangle var(--duration)
    cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}

@-webkit-keyframes pathTriangle {
  33% {
    stroke-dashoffset: 74;
  }
  66% {
    stroke-dashoffset: 147;
  }
  100% {
    stroke-dashoffset: 221;
  }
}

@keyframes pathTriangle {
  33% {
    stroke-dashoffset: 74;
  }
  66% {
    stroke-dashoffset: 147;
  }
  100% {
    stroke-dashoffset: 221;
  }
}
@-webkit-keyframes dotTriangle {
  33% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  66% {
    -webkit-transform: translate(10px, -18px);
    transform: translate(10px, -18px);
  }
  100% {
    -webkit-transform: translate(-10px, -18px);
    transform: translate(-10px, -18px);
  }
}
@keyframes dotTriangle {
  33% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  66% {
    -webkit-transform: translate(10px, -18px);
    transform: translate(10px, -18px);
  }
  100% {
    -webkit-transform: translate(-10px, -18px);
    transform: translate(-10px, -18px);
  }
}
@-webkit-keyframes pathRect {
  25% {
    stroke-dashoffset: 64;
  }
  50% {
    stroke-dashoffset: 128;
  }
  75% {
    stroke-dashoffset: 192;
  }
  100% {
    stroke-dashoffset: 256;
  }
}
@keyframes pathRect {
  25% {
    stroke-dashoffset: 64;
  }
  50% {
    stroke-dashoffset: 128;
  }
  75% {
    stroke-dashoffset: 192;
  }
  100% {
    stroke-dashoffset: 256;
  }
}
@-webkit-keyframes dotRect {
  25% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(18px, -18px);
    transform: translate(18px, -18px);
  }
  75% {
    -webkit-transform: translate(0, -36px);
    transform: translate(0, -36px);
  }
  100% {
    -webkit-transform: translate(-18px, -18px);
    transform: translate(-18px, -18px);
  }
}
@keyframes dotRect {
  25% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(18px, -18px);
    transform: translate(18px, -18px);
  }
  75% {
    -webkit-transform: translate(0, -36px);
    transform: translate(0, -36px);
  }
  100% {
    -webkit-transform: translate(-18px, -18px);
    transform: translate(-18px, -18px);
  }
}
@-webkit-keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }
  50% {
    stroke-dashoffset: 175;
  }
  75% {
    stroke-dashoffset: 225;
  }
  100% {
    stroke-dashoffset: 275;
  }
}
@keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }
  50% {
    stroke-dashoffset: 175;
  }
  75% {
    stroke-dashoffset: 225;
  }
  100% {
    stroke-dashoffset: 275;
  }
}
.loader {
  display: inline-block;
  margin: 0 16px;
}
.list-enter-active,
.list-leave-active {
  transition: all 1s;
}
.list-enter,
.list-leave-to {
  opacity: 0.4;
  float: right;
  transform: translateX(100%);
}
</style>