<template>
  <main>
    <div class="flex pt-8 pl-8">
      <easiBackButton @click.native="$router.push({name:'PerformanceList'})" />
      <div>
        <h1 class="text-gray-800 w-full text-2xl logo font-bold ml-8">Pay Slip</h1>
      </div>
    </div>
    <div class="p-8 ml-8 mt-8 mr-100 bg-white">
        <div class="text-xl font-bold text-gray-700">Tuniyi Enterprise: </div>
        <div class="mt-4">lorem ipsum</div>

        <hr class="mt-6">
        
        <div class="text-lg text-gray-700 mt-4">Pay Slip for the month Nov 2020</div>
        
        <div class="text-lg font-bold mt-4">Employee Pay Summary</div>
        <div class="flex space-x-20 text-gray-600">
            <div>
                <div>Employee Name:</div>
                <div>Job Title</div>
                <div>Hire Date:</div>
                <div>Pay Period:</div>
                <div>Pay Date:</div>
            </div>

            <div>
                <div>lorem ipsum</div>
                <div>lorem ipsum</div>
                <div>lorem ipsum</div>
                <div>lorem ipsum</div>
                <div>lorem ipsum</div>
            </div>

            <div class="text-center pt-6">
                <div>Employee Net Pay</div>
                <div class="font-bold text-3xl">N300,000</div>
            </div>
        </div>

        <hr class="mt-6">

        <div class="flex mt-4 space-x-40">
            <div class="w-1/3">
                <div>Allowances:</div>
                <div>Housing</div>
                <div>Transport:</div>
                <div class="font-bold">Gross Pay</div>
            </div>

            <div class="w-1/3">
                <div>N10,000</div>
                <div>N36,000</div>
                <div>N36,000</div>
                <div class="font-bold">N360,000</div>
            </div>
        </div>

        <hr class="mt-6">

        <div class="flex mt-4 space-x-40">
            <div class="w-1/3">
                <div>Benefits:</div>
                <div>Housing</div>
                <div>Transport:</div>
                <div class="font-bold">Total Benefits</div>
            </div>

            <div class="w-1/3">
                <div>N10,000</div>
                <div>N36,000</div>
                <div>N36,000</div>
                <div class="font-bold">N360,000</div>
            </div>
        </div>

        <hr class="mt-6">

        <div class="flex mt-4 space-x-40">
            <div class="w-1/3">
                <div>Other Payments:</div>
                <div>Housing</div>
                <div>Transport:</div>
                <div class="font-bold">Total Other Payments</div>
            </div>

            <div class="w-1/3">
                <div>N10,000</div>
                <div>N36,000</div>
                <div>N36,000</div>
                <div class="font-bold">N360,000</div>
            </div>
        </div>

        <div class="mt-6 bg-gray-300 p-2">
            <span>Net Pay (( Gross Pay - Other Payments) + Benefits )</span>
            <span class="float-right mr-10">N200,000</span>
        </div>

        <div class="mt-6 text-gray-600 text-center">
            Total Net Payable N200,000
        </div>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {      
      payload: {
        paging: {
          limit: 10,
          skip: 0,
          search: null
        }
      },

      relevantEmployeeGoal: {},
    };
  },

  computed: {
    ...mapGetters(["applicant", "checkLoading", "allPerformanceGoals", "allPerformanceObjectives", "allPerformanceCategories", "employeeGoalList"]),

  },

  methods: {
    async listEmployeeGoal() {
      await this.$store.dispatch("query", {
        endpoint: "ListEmployeeGoals",
        payload: this.payload,
        storeKey: "employeeGoal",
      });
    },

    getGoal() {
      var result = null;
      var argId = this.$route.params.id;
      this.allPerformanceGoals.data.forEach(
        function(goal, index) {
          if (goal._id == argId){
            result = goal;
          }
        }
      )

      return result;
    },

    async allObjectives() {
      await this.$store.dispatch("query", {
        endpoint: "ListPerformanceObjective",
        payload: this.payload,
        storeKey: "listObjectives",
        service: "PERFORM",
      });
    },

    async allGoals() {
      await this.$store.dispatch("query", {
        endpoint: "ListPerformanceGoals",
        payload: this.payload,
        storeKey: "listGoals",
        service: "PERFORM",
      });
    },

    async allCategories() {
      await this.$store.dispatch("query", {
        endpoint: "ListPerformanceCategory",
        payload: this.payload,
        storeKey: "listCategories",
        service: "PERFORM",
      });
    },

    getObjectiveById(id) {
      var objectives = this.allPerformanceObjectives.data;
      var objectiveName = null;
      objectives.forEach(
        function(objective, index) {
          if (objective._id == id){
            objectiveName = objective.title
          }
        }
      )

      return objectiveName
    },

    getCategoryById(id) {
      var objectives = this.allPerformanceObjectives.data;
      var categories = this.allPerformanceCategories.data;
      var categoryName = null;
      objectives.forEach(
        function(objective, index) {
          if (objective._id == id){
            categories.forEach(
              function(category, index) {
                if (category._id == objective.categoryId){
                  categoryName = category.title
                }
              }
            )
          }
        }
      )

      return categoryName
    },
  },

  async created() {
    
  },
};
</script>

<style>
</style>