<template>
  <main class>
    <div class="py-3 flex items-center border">
      <div class="text-sm text-black font-bold pl-4">Categories</div>

      <div class="ml-10">
        <input
          type="text"
          class="focus:outline-none text-xs w-64 text-gray-600 appearance-none border rounded-sm leading-7 pl-3"
          placeholder="Search"
        />
      </div>
    </div>
    <table class="table-auto w-full overflow-y-auto shadow-sm bg-white">
      <thead>
        <tr class="bg-easipurple text-white">
          <th
            v-for="(title,index) in headers"
            :key="index"
            class="px-4 py-3 text-left font-light uppercase text-sm"
          >
            <div>{{title}}</div>
          </th>
        </tr>
      </thead>
      <div class="py-2" v-if="loading">
        <div class="loader">
          <svg viewBox="0 0 80 80">
            <rect x="8" y="8" width="64" height="64" />
          </svg>
        </div>
      </div>
      <tbody v-else-if="allPerformanceCategories.data.length">
        <tr
          v-for="category in allPerformanceCategories.data"
          :key="category._id"
          class="bg-white even:bg-gray-100 text-gray-600 cursor-pointer hover:bg-gray-600 hover:text-white"
        >

          <td class="px-4 py-4 text-sm font-thin tracking-wider">{{category.timeCreated}}</td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">{{category.creatorId}}</td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">{{category.title}}</td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">{{category.title}}</td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">{{category.title}}</td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">{{category.title}}</td>
          <td
            @mouseover="hover = true"
            @mouseleave="hover = false"
            class="px-4 py-4 text-sm font-thin tracking-wide"
          >
            <!-- <easiDropdown
              class="mt-5"
              :performanceObj="{id: category._id}"
              dropdownName=""
            >
              <svg width="20" height="25" viewBox="0 0 20 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.68173 0C1.22723 0 0 1.22723 0 2.68173C0 4.18168 1.22723 5.36345 2.68173 5.36345C4.18168 5.36345 5.36345 4.13622 5.36345 2.68173C5.36345 1.22723 4.18168 0 2.68173 0Z" fill="#888888" fill-opacity="0.5"/>
                <path d="M17.3184 0C15.8185 0 14.6367 1.22723 14.6367 2.68173C14.6367 4.18168 15.8639 5.36345 17.3184 5.36345C18.7729 5.36345 20.0002 4.18168 20.0002 2.68173C20.0002 1.22723 18.7729 0 17.3184 0Z" fill="#888888" fill-opacity="0.5"/>
                <path d="M10.1358 0C8.63588 0 7.4541 1.22723 7.4541 2.68173C7.4541 4.18168 8.68133 5.36345 10.1358 5.36345C11.6358 5.36345 12.8176 4.13622 12.8176 2.68173C12.8176 1.22723 11.6358 0 10.1358 0Z" fill="#888888" fill-opacity="0.5"/>
              </svg>
            </easiDropdown> -->
            <easiButton @click.native="deleteCategory(category._id)">Delete</easiButton>
          </td>
        </tr>
      </tbody>

      <div v-else>
        <div
          class="py-4 flex justify-center bg-white items-center text-gray-600 font-light"
        >No Performance Categories Created.</div>
      </div>
    </table>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      headers: [
        "DATE",
        "MAX GROSS",
        "MAX NET",
        "ALLOWANCES",
        "BENEFITS",
        "OTHER PAYMENTS",
        "ACTION"
      ],
      loading: false,
      
      payload: {
        limit: 10,
        skip: 0,
        search: null,
      },
    };
  },

  computed: {
    ...mapGetters(["applicant", "checkLoading", "allPerformanceCategories"]),
  },

  methods: {
    async allCategories() {
      await this.$store.dispatch("query", {
        endpoint: "ListPerformanceCategory",
        payload: this.payload,
        storeKey: "listCategories",
        service: "PERFORM",
      });
    },

    async deleteCategory(argId) {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "DeletePerformanceCategory",
        data: { id: argId },
        service: "PERFORM",
      });
      if (res.success) {
        this.updateAfterSuccess(argId);
        this.$toast.success("Performance Category Deleted Successfully ", {
          position: "bottom",
          duration: 5000
        });
      }
    },

    updateAfterSuccess(id) {
      let update = {
        count: this.allPerformanceCategories.count - 1,
        data: this.allPerformanceCategories.data.filter(y => y._id !== id)
      };
      this.$store.commit("set", {
        type: "listCategories",
        data: update
      });
    }
  },

  async created() {
    await this.allCategories();
  },
};
</script>

<style>
</style>
