<template>
  <main>
    <div class="flex w-full max-w-2xl items-center justify-between">
      <easiBackButton @click.native="$router.push({ name: 'EmployeeApplicationsAll' })" />
      <h1 class="text-lg text-gray-700">Reply</h1>
      <div></div>
    </div>
    <div class="w-full max-w-2xl bg-white py-3 px-5 mt-6 shadow-xs pb-8">
      <div class="mt-6">
        <p class="text-gray-600 font-medium text-sm">
          Message
          <span class="text-orange-500">*</span>
        </p>
        <easiEditor v-model="args.message" required class="w-full mt-2" />
      </div>
      <div class="flex justify-end mt-8 text-right">
        <easiButton
          @click.native="$router.push({ name: 'EmployeeApplicationsAll' })"
          variant="outline"
          class="inline-block mr-3"
        >
          <div class="px-8 leading-4">Cancel</div>
        </easiButton>
        <easiButton @click.native="createInternalAppReply()" class="inline-block">
          <div class="px-8">Send</div>
        </easiButton>
      </div>
    </div>

    
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      args: {
        receiverId: "",
        message: "",
        internalAppId: "",
      },

      employeeArgs: {
        companyId: "",
        limit: 10,
        search: null,
        skip: 0,
      },
    };
  },

  methods: {
    async createInternalAppReply() {
      console.log("Payload:", this.args)
      let res = await this.$store.dispatch("mutate", {
        endpoint: "CreateInternalAppReply",
        data: { request: this.args },
      });
      if (res.success) {
        this.$toast.success("Reply Sent Successfully");
        this.$router.push({ name: "FeedbacksAll" });
      }
    },

    queryEmployees() {
      this.$store.dispatch("query", {
        endpoint: "ListEmployees",
        payload: this.employeeArgs,
        storeKey: "listEmployees",
        service: "EMP",
      });
    },
  },

  computed: {
    ...mapGetters(["getAllEmployees", "applicant",]),
  },

  async created() {
    this.employeeArgs.companyId = this.applicant.companyId;
    await this.queryEmployees();

    console.log("Route>>>", this.$route.params);

    // Note: Route params id as Internal Application and receiver Id.
    this.args.internalAppId = this.$route.params.id;
    this.args.receiverId = this.$route.params.receiverId;
  },
};
</script>

<style>
</style>
