<template>
  <form @submit.prevent="create">
    <div class="flex w-full max-w-2xl items-center">
      <easiBackButton @click.native="$router.go(-1)" />
      <h1 class="text-lg ml-20 text-gray-700">Create Staff Level</h1>
    </div>
    <div class="w-full max-w-2xl bg-white py-3 px-5 mt-6 shadow-xs pb-8">
      <p class="text-gray-600 font-medium text-sm mt-6">Title</p>
      <div class="mt-2">
        <multiselect
          class="font-thin text-xs leading-5"
          v-model="value"
          :options="formatIds"
          :multiple="true"
          :close-on-select="false"
          :clear-on-select="false"
          :preserve-search="true"
          placeholder="Search Employees"
          :disabled="args.allStaff"
          label="Name"
          track-by="Name"
        >
          <template slot="selection" slot-scope="{ values, search, isOpen }"
            ><span
              class="multiselect__single"
              v-if="value.length &amp;&amp; !isOpen"
              >{{ value.length }} Employees selected
            </span>
          </template>
        </multiselect>
      </div>

      <div class="mt-6">
        <p class="text-gray-600 font-medium text-sm">
          Department
        </p>
        <div class="mt-3 flex w-full">
          <div class="relative w-full">
            <select
              class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
              id="grid-state"
              v-model="departmentId"
            >
              <option value disabled>Select Departments</option>
              <option
                v-for="department in getAllDepartments.data"
                :key="department._id"
                :value="department._id"
                >{{ department.name }}</option
              >
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
            >
              <svg
                class="fill-current h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>

          <!-- <multiselect
            class="font-thin text-xs leading-5"
            v-model="value"
            :options="formatIds"
            :close-on-select="false"
            :clear-on-select="false"
            :preserve-search="true"
            placeholder="Search Employees"
            :disabled="args.allStaff"
            label="Name"
            track-by="Name"
          >
            <template slot="selection" slot-scope="{ values, search, isOpen }"
              ><span
                class="multiselect__single"
                v-if="value.length &amp;&amp; !isOpen"
                >{{ value.length }} Employees selected</span
              ></template
            >
          </multiselect> -->
        </div>
      </div>
      <div class="flex justify-end mt-8 text-right">
        <easiButton
          @click.native="$router.go(-1)"
          variant="outline"
          class="inline-block mr-3"
        >
          <div class="px-8 leading-4">Cancel</div>
        </easiButton>
        <easiButton class="inline-block">
          <div class="px-8">Save</div>
        </easiButton>
      </div>
    </div>
  </form>
</template>

<script>
import { mapGetters } from "vuex";
import Multiselect from "vue-multiselect";
export default {
  data() {
    return {
      args: {
        allStaff: false,
        inputIDs: [],
        subject: null,
        approvedBy: null,
        isTemplate: false,
        templateTitle: "",
        message: "",
      },
      value: [],
      id: [],
      departmentId: "",
    };
  },
  components: {
    Multiselect,
  },
  watch: {
    value: {
      immediate: true,
      handler(x) {
        if (x) {
          x.map((u) => {
            this.id.push(u.ID);
          });
        }
      },
    },
  },
  methods: {
    // async create() {
    //   let res = await this.$store.dispatch("mutate", {
    //     endpoint: "CreatePaymentSchedule",
    //     data: { paymentScheduleInput: this.args },
    //   });
    //   if (res.success) {
    //     this.$toast.success("Schedule created");
    //     this.$router.go(-1);
    //   }
    // },
    add() {
      this.args.benefitAmounts.push({
        benefitId: this.benefits._id,
        amount: "",
      });
      this.benefits = "";
    },
    block(x) {
      let k = this.args.benefitAmounts.find((y) => {
        return y.benefitId == x;
      });
      return k ? true : false;
    },
    async create() {
      let { title, benefitAmounts } = this.getStaffLevelData;
      let k = {
        title,
        benefitAmounts,
        departmentStaffs: [
           {
             departmentId: this.departmentId,
             allDeptStaff: true,
             //staffIds: this.id,
           },
        ],
        // grossAmount: 10000
      };

      // "k: New:
      let  q = {
        title,
        benefitAmounts: [{
          benefitId: "5f751f8c5e5f5c7bb782b856",
          percentage: 100
        }],
        grossAmount: 100000,
        departmentStaffs: [{
          departmentId: this.departmentId,
          allDeptStaff: true,
        }]

      };
      
      console.log('>>>', q)
      let res = await this.$store.dispatch("mutate", {
        endpoint: "CreateStaffLevel",
        data: { request: q },
        service: "PAY",
      });
      if (res.success) {
        this.$toast.success("New Staff Level Created");
        this.$router.push({ name: "PayrollStaffLevel" });
        this.$store.commit("resetDefault", {
          value: "createStaffLevel",
          type: "",
        });
      }
    },
  },

  computed: {
    ...mapGetters([
      "applicant",
      "allIds",
      "getBenefits",
      "getStaffLevelData",
      "getAllDepartments",
    ]),
    formatIds() {
      if (this.allIds && this.allIds.data) {
        let ids = this.allIds.data;
        let adminId = this.applicant._id;
        let getAdminIdFromIds = ids.find((x) => {
          return x.ID == adminId;
        });
        let filteredId = ids.filter((x) => x.ID != getAdminIdFromIds.ID);

        let k = {};
        k.Name = `${getAdminIdFromIds.Name} (Admin)`;
        k.ID = getAdminIdFromIds.ID;
        k.type = "Admin";
        filteredId.push(k);
        return filteredId;
      }
    },
  },
  async created() {
    let res = await this.$store.dispatch("query", {
      endpoint: "ListEmployeeNameAndIds",
      storeKey: "listIds",
    });
    if (!!this.getStaffLevelData) {
      this.args.title = this.getStaffLevelData.title;
      this.args.benefitAmounts = this.getStaffLevelData.benefitAmounts;
    }
    console.log(this.getBenefits);
  },
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
