<template>
  <main class>
    <div class="py-3 flex items-center border">
      <div class="text-sm text-gray-900 pl-4">
        Benefits
      </div>

      <div class="ml-10">
        <input
          type="text"
          class="focus:outline-none text-xs w-64 text-gray-600 appearance-none border rounded-sm leading-7 pl-3"
          placeholder="Search"
        />
      </div>
    </div>
    <table class="table-auto w-full overflow-y-auto shadow-sm bg-white">
      <thead>
        <tr class="bg-easipurple text-white">
          <th
            v-for="(title, index) in headers"
            :key="index"
            class="px-4 py-3 text-left font-light uppercase text-sm"
          >
            <div>{{ title }}</div>
          </th>
        </tr>
      </thead>
      <div class="py-2" v-if="checkLoading">
        <div class="loader">
          <svg viewBox="0 0 80 80">
            <rect x="8" y="8" width="64" height="64" />
          </svg>
        </div>
      </div>
      <tbody v-else-if="getBenefits.data !== null">
        <tr
          v-for="benefit in getBenefits.data"
          :key="benefit._id"
          class="bg-white even:bg-gray-100 text-gray-600 cursor-pointer hover:bg-gray-600 hover:text-white"
        >
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ benefit.name }}
          </td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ moment(benefit.timeUpdated).format("DD-MM-YYYY") }}
          </td>

          <td
            class="px-4 py-4 text-sm font-thin flex items-center tracking-wide"
          >
            <svg
              @click="
                $router.push({
                  name: 'PayrollEditBenefit',
                  params: {
                    name: benefit.name,
                    id: benefit._id,
                  },
                })
              "
              class="w-5 h-5 fill-current"
              viewBox="0 0 23 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M22.4331 7.43364C22.2477 7.1297 17.7968 0 11.3316 0C4.86648 0 0.415569 7.1297 0.230115 7.43364C-0.0767049 7.93104 -0.0767049 8.55896 0.230115 9.05636C0.415569 9.3603 4.86648 16.4642 11.3265 16.4848H11.3574C17.8019 16.4848 22.2528 9.35515 22.4383 9.05121C22.7414 8.5541 22.7394 7.92881 22.4331 7.43364ZM11.3574 14.9394C5.69072 14.9394 1.56951 8.24242 1.56951 8.24242C1.56951 8.24242 5.69072 1.54545 11.3574 1.54545C17.0241 1.54545 21.1453 8.24242 21.1453 8.24242C21.1453 8.24242 17.0086 14.9394 11.3574 14.9394Z"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M11.3312 4.12109C9.05509 4.12109 7.20996 5.96622 7.20996 8.24231C7.20996 10.5184 9.05509 12.3635 11.3312 12.3635C13.6073 12.3635 15.4524 10.5184 15.4524 8.24231C15.4524 5.96622 13.6073 4.12109 11.3312 4.12109ZM11.3312 10.8181C9.90862 10.8181 8.75542 9.66486 8.75542 8.24231C8.75542 6.81975 9.90862 5.66655 11.3312 5.66655C12.7537 5.66655 13.9069 6.81975 13.9069 8.24231C13.9069 9.66486 12.7537 10.8181 11.3312 10.8181Z"
              />
            </svg>
            <svg
              @click="remove(benefit._id)"
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 ml-3 fill-current w-5"
              viewBox="-40 0 427 427.00131"
            >
              <path
                d="m232.398438 154.703125c-5.523438 0-10 4.476563-10 10v189c0 5.519531 4.476562 10 10 10 5.523437 0 10-4.480469 10-10v-189c0-5.523437-4.476563-10-10-10zm0 0"
              />
              <path
                d="m114.398438 154.703125c-5.523438 0-10 4.476563-10 10v189c0 5.519531 4.476562 10 10 10 5.523437 0 10-4.480469 10-10v-189c0-5.523437-4.476563-10-10-10zm0 0"
              />
              <path
                d="m28.398438 127.121094v246.378906c0 14.5625 5.339843 28.238281 14.667968 38.050781 9.285156 9.839844 22.207032 15.425781 35.730469 15.449219h189.203125c13.527344-.023438 26.449219-5.609375 35.730469-15.449219 9.328125-9.8125 14.667969-23.488281 14.667969-38.050781v-246.378906c18.542968-4.921875 30.558593-22.835938 28.078124-41.863282-2.484374-19.023437-18.691406-33.253906-37.878906-33.257812h-51.199218v-12.5c.058593-10.511719-4.097657-20.605469-11.539063-28.03125-7.441406-7.421875-17.550781-11.5546875-28.0625-11.46875h-88.796875c-10.511719-.0859375-20.621094 4.046875-28.0625 11.46875-7.441406 7.425781-11.597656 17.519531-11.539062 28.03125v12.5h-51.199219c-19.1875.003906-35.394531 14.234375-37.878907 33.257812-2.480468 19.027344 9.535157 36.941407 28.078126 41.863282zm239.601562 279.878906h-189.203125c-17.097656 0-30.398437-14.6875-30.398437-33.5v-245.5h250v245.5c0 18.8125-13.300782 33.5-30.398438 33.5zm-158.601562-367.5c-.066407-5.207031 1.980468-10.21875 5.675781-13.894531 3.691406-3.675781 8.714843-5.695313 13.925781-5.605469h88.796875c5.210937-.089844 10.234375 1.929688 13.925781 5.605469 3.695313 3.671875 5.742188 8.6875 5.675782 13.894531v12.5h-128zm-71.199219 32.5h270.398437c9.941406 0 18 8.058594 18 18s-8.058594 18-18 18h-270.398437c-9.941407 0-18-8.058594-18-18s8.058593-18 18-18zm0 0"
              />
              <path
                d="m173.398438 154.703125c-5.523438 0-10 4.476563-10 10v189c0 5.519531 4.476562 10 10 10 5.523437 0 10-4.480469 10-10v-189c0-5.523437-4.476563-10-10-10zm0 0"
              />
            </svg>
          </td>
        </tr>
      </tbody>

      <div v-else>
        <div
          class="py-4 flex justify-center bg-white items-center text-gray-600 font-light"
        >
          You have no Benefits
        </div>
      </div>
    </table>
  </main>
</template>

<script>
import moment from "moment";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      headers: ["Title", "Updated", "Action"],
      loading: false,
      jobs: [],
      moment,
    };
  },
  computed: {
    ...mapGetters(["applicant", "checkLoading", "getBenefits"]),
  },
  methods: {
    async makeRequest() {
      let companyId = this.applicant.companyId;
      await this.$store.dispatch("query", {
        endpoint: "ListPayrollBenefit",
        payload: { companyId },
        storeKey: "benefits",
      });
    },
    async remove(x) {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "DeletePayrollBenefit",
        data: { id: x },
      });
      if (res.success) {
        this.makeRequest();
        this.$toast.success("Benefit Deleted");
      }
    },
  },
  async created() {
    await this.makeRequest();
  },
};
</script>

<style>
</style>