<template>
  <form @submit.prevent="create">
    <div class="flex w-full max-w-2xl items-center">
      <easiBackButton @click.native="$router.go(-1)" />
      <h1 class="text-lg ml-20 text-gray-700">Create Benefit</h1>
    </div>
    <div class="w-full max-w-2xl bg-white py-3 px-5 mt-6 shadow-xs pb-8">
      <p class="text-gray-600 font-medium text-sm mt-6">Benefit</p>
      <div class="mt-2">
        <input
          class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
          type="text"
          v-model="name"
          placeholder
          required
        />
      </div>

      <div class="flex justify-end mt-8 text-right">
        <easiButton
          @click.native="$router.go(-1)"
          variant="outline"
          class="inline-block mr-3"
        >
          <div class="px-8 leading-4">Cancel</div>
        </easiButton>
        <easiButton class="inline-block">
          <div class="px-8">Create</div>
        </easiButton>
      </div>
    </div>

    <!-- <div class="mt-6">
      <p class="text-gray-600 font-medium text-sm">Monthly Salary</p>
      <input
        class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
        type="number"
        placeholder="Monthly Salary"
        required
      />
    </div> -->
  </form>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      name: "",
    };
  },

  methods: {
    async create() {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "CreatePayrollBenefit",
        data: { name: this.name },
      });
      if (res.success) {
        this.$toast.success("Benefit created");
        this.$router.go(-1);
      }
    },
  },

  computed: {
    ...mapGetters(["applicant", "allIds"]),
    formatIds() {
      if (this.allIds && this.allIds.data) {
        let ids = this.allIds.data;
        let adminId = this.applicant._id;
        let getAdminIdFromIds = ids.find((x) => {
          return x.ID == adminId;
        });
        let filteredId = ids.filter((x) => x.ID != getAdminIdFromIds.ID);

        let k = {};
        k.Name = `${getAdminIdFromIds.Name} (Admin)`;
        k.ID = getAdminIdFromIds.ID;
        k.type = "Admin";
        filteredId.push(k);
        return filteredId;
      }
    },
  },
  async created() {
    let res = await this.$store.dispatch("query", {
      endpoint: "ListEmployeeNameAndIds",
      storeKey: "listIds",
    });
  },
};
</script>

<style>
</style>