<template>
  <form @submit.prevent="create">
    <div class="flex w-full max-w-2xl items-center">
      <easiBackButton @click.native="$router.go(-1)" />
      <h1 class="text-lg ml-20 text-gray-700">Create Schedule</h1>
    </div>
    <div class="w-full max-w-2xl bg-white py-3 px-5 mt-6 shadow-xs pb-8">
      <p class="text-gray-600 font-medium text-sm mt-6">Type</p>
      <div class="relative">
        <select
          class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
          id="grid-state"
          v-model="args.paymentType"
          required
        >
          <option value disabled>Select Type</option>
          <option value="SALARYPAYMENT">Salary Payment</option>
        </select>
        <div
          class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
        >
          <svg
            class="fill-current h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path
              d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
            />
          </svg>
        </div>
      </div>
      <p class="text-gray-600 font-medium text-sm mt-6">Select Date</p>
      <div class="mt-2">
        <input
          class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
          type="date"
          v-model="args.paymentDate"
          placeholder
          required
        />
      </div>
      <div class="mt-6">
        <p class="text-gray-600 font-medium text-sm">
          Select Staff Level
          <span class="text-orange-500">*</span>
        </p>
        <div class="mt-3">
          <div class="relative">
            <select
              class="block appearance-none capitalize text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
              id="grid-state"
              v-model="args.staffLevelId"
              required
            >
              <option value disabled>Select Type</option>
              <option
                v-for="staffLevel in listAllStaffLevels.data"
                :key="staffLevel._id"
                :value="staffLevel._id"
              >
                {{ staffLevel.title }}
              </option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
            >
              <svg
                class="fill-current h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
          <!-- <multiselect
            class="font-thin text-xs leading-5"
            v-model="value"
            :options="formatIds"
            :close-on-select="false"
            :clear-on-select="false"
            :preserve-search="true"
            placeholder="Search Employees"
            :disabled="args.allStaff"
            label="Name"
            track-by="Name"
          >
            <template slot="selection" slot-scope="{ values, search, isOpen }"
              ><span
                class="multiselect__single"
                v-if="value.length &amp;&amp; !isOpen"
                >{{ value.length }} Employees selected</span
              ></template
            >
          </multiselect> -->
        </div>
      </div>
      <div class="flex justify-end mt-8 text-right">
        <easiButton
          @click.native="$router.go(-1)"
          variant="outline"
          class="inline-block mr-3"
        >
          <div class="px-8 leading-4">Cancel</div>
        </easiButton>
        <easiButton class="inline-block">
          <div class="px-8">Create</div>
        </easiButton>
      </div>
    </div>
    <easiModal :cancel="false" @close="alert = false" v-if="alert">
      <div
        class="flex justify-center flex-col items-center py-10 text-sm px-20 text-center"
      >
        <div>
          <svg
            class="w-10 h-10 mb-5"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1"
            id="Capa_1"
            x="0px"
            y="0px"
            viewBox="0 0 511.999 511.999"
            style="enable-background: new 0 0 511.999 511.999"
            xml:space="preserve"
          >
            <path
              style="fill: #e50027"
              d="M501.449,368.914L320.566,66.207C306.751,43.384,282.728,29.569,256,29.569  s-50.752,13.815-64.567,36.638L10.55,368.914c-13.812,23.725-14.113,51.954-0.599,75.678c13.513,23.723,37.836,37.838,65.165,37.838  h361.766c27.329,0,51.653-14.115,65.165-37.838C515.563,420.868,515.262,392.639,501.449,368.914z"
            />
            <path
              style="fill: #c1001f"
              d="M502.049,444.592c-13.513,23.723-37.836,37.838-65.165,37.838H256V29.57  c26.727,0,50.752,13.815,64.567,36.638L501.45,368.915C515.262,392.639,515.563,420.868,502.049,444.592z"
            />
            <path
              style="fill: #fd003a"
              d="M75.109,452.4c-16.628,0-30.851-8.27-39.063-22.669c-8.211-14.414-8.065-31.087,0.469-45.72  L217.23,81.549c8.27-13.666,22.816-21.951,38.769-21.951s30.5,8.284,38.887,22.157l180.745,302.49  c8.388,14.4,8.534,31.072,0.322,45.485c-8.211,14.4-22.435,22.669-39.063,22.669H75.109V452.4z"
            />
            <path
              style="fill: #e50027"
              d="M436.891,452.4c16.628,0,30.851-8.27,39.063-22.669c8.211-14.414,8.065-31.087-0.322-45.485  L294.886,81.754c-8.388-13.871-22.933-22.157-38.887-22.157V452.4H436.891z"
            />
            <path
              style="fill: #e1e4fb"
              d="M286.03,152.095v120.122c0,16.517-13.514,30.03-30.03,30.03s-30.031-13.514-30.031-30.03V152.095  c0-16.517,13.514-30.031,30.031-30.031S286.03,135.578,286.03,152.095z"
            />
            <path
              style="fill: #c5c9f7"
              d="M286.03,152.095v120.122c0,16.517-13.514,30.03-30.03,30.03V122.064  C272.516,122.064,286.03,135.578,286.03,152.095z"
            />
            <path
              style="fill: #e1e4fb"
              d="M256,332.278c-24.926,0-45.046,20.119-45.046,45.046c0,24.924,20.119,45.046,45.046,45.046  s45.046-20.121,45.046-45.046C301.046,352.398,280.925,332.278,256,332.278z"
            />
            <path
              style="fill: #c5c9f7"
              d="M301.046,377.323c0,24.924-20.119,45.046-45.046,45.046v-90.091  C280.925,332.278,301.046,352.398,301.046,377.323z"
            />
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
          </svg>
        </div>
        <span> Create at least one staff level to continue </span>
        <easiButton
          @click.native="$router.push({ name: 'PayrollStaffLevel' })"
          class="mt-4"
          variant="outline"
        >
          <div class="leading-4">Create Staff Level</div>
        </easiButton>
      </div>
    </easiModal>
    <!-- <div class="mt-6">
      <p class="text-gray-600 font-medium text-sm">Monthly Salary</p>
      <input
        class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
        type="number"
        placeholder="Monthly Salary"
        required
      />
    </div> -->
  </form>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      alert: false,
      args: {
        staffLevelId: "",
        paymentType: "",
        paymentDate: "",
      },
    };
  },

  watch: {
    $route: {
      immediate: true,
      handler(x) {
        if (
          x.name == "PayrollCreateSchedule" &&
          this.listAllStaffLevels.data.length == 0
        ) {
          this.alert = true;
        } else {
          this.alert = false;
        }
      },
    },
  },

  methods: {
    async create() {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "CreatePaymentSchedule",
        data: { paymentScheduleInput: this.args },
      });
      if (res.success) {
        this.$toast.success("Schedule created");
        this.$router.go(-1);
      }
    },
  },

  computed: {
    ...mapGetters(["applicant", "allIds", "listAllStaffLevels"]),
    formatIds() {
      if (this.allIds && this.allIds.data) {
        let ids = this.allIds.data;
        let adminId = this.applicant._id;
        let getAdminIdFromIds = ids.find((x) => {
          return x.ID == adminId;
        });
        let filteredId = ids.filter((x) => x.ID != getAdminIdFromIds.ID);

        let k = {};
        k.Name = `${getAdminIdFromIds.Name} (Admin)`;
        k.ID = getAdminIdFromIds.ID;
        k.type = "Admin";
        filteredId.push(k);
        return filteredId;
      }
    },
  },
  async created() {
    let res = await this.$store.dispatch("query", {
      endpoint: "ListEmployeeNameAndIds",
      storeKey: "listIds",
    });
  },
};
</script>

<style>
</style>>