<template>
  <form @submit.prevent="next">
    <div class="flex w-full max-w-2xl items-center">
      <easiBackButton @click.native="$router.go(-1)" />
      <h1 class="text-lg ml-20 text-gray-700">Create Staff Level</h1>
    </div>
    <div class="w-full max-w-2xl bg-white py-3 px-5 mt-6 shadow-xs pb-8">
      <p class="text-gray-600 font-medium text-sm mt-6">Title</p>
      <div class="mt-2">
        <input
          class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
          type="text"
          v-model="args.title"
          placeholder
          required
        />
      </div>

      <div class="mt-6">
        <p class="text-gray-600 font-medium text-sm">
          Assign Benefits
          <span class="text-orange-500">*</span>
        </p>
        <div class="mt-3 flex w-full">
          <div class="relative w-full">
            <select
              class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
              id="grid-state"
              v-model="benefits"
              :required="args.benefitAmounts == 0"
            >
              <option value disabled>Select Benefits</option>
              <option
                v-for="benefits in getBenefits.data"
                :disabled="block(benefits._id)"
                :key="benefits._id"
                :value="benefits"
                >{{ benefits.name }}</option
              >
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
            >
              <svg
                class="fill-current h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
          <easiButton
            @click.native.prevent="add"
            class="ml-4 mt-2"
            variant="outline"
          >
            <div class="leading-4">
              Add
            </div>
          </easiButton>
          <!-- <multiselect
            class="font-thin text-xs leading-5"
            v-model="value"
            :options="formatIds"
            :close-on-select="false"
            :clear-on-select="false"
            :preserve-search="true"
            placeholder="Search Employees"
            :disabled="args.allStaff"
            label="Name"
            track-by="Name"
          >
            <template slot="selection" slot-scope="{ values, search, isOpen }"
              ><span
                class="multiselect__single"
                v-if="value.length &amp;&amp; !isOpen"
                >{{ value.length }} Employees selected</span
              ></template
            >
          </multiselect> -->
        </div>
        <div
          class="flex justify-between mt-5"
          v-for="(benefit, index) in args.benefitAmounts"
          :key="index"
        >
          <div>
            <select
              class="block appearance-none w-32 text-gray-900 font-light text-sm bg-white py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
              id="grid-state"
              v-model="args.benefitAmounts[index].benefitId"
              disabled
            >
              <option value disabled>Select Benefits</option>
              <option
                v-for="benefits in getBenefits.data"
                :key="benefits._id"
                :value="benefits._id"
                >{{ benefits.name }}</option
              >
            </select>
          </div>
          <div class="">
            <input
              class="p-16 bg-white w-64 text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
              type="text"
              v-model="args.benefitAmounts[index].amount"
              placeholder
              required
            />
          </div>
        </div>
      </div>
      <div class="flex justify-end mt-8 text-right">
        <easiButton
          @click.native="$router.go(-1)"
          variant="outline"
          class="inline-block mr-3"
        >
          <div class="px-8 leading-4">Cancel</div>
        </easiButton>
        <easiButton class="inline-block">
          <div class="px-8">Next</div>
        </easiButton>
      </div>{{getBenefits}}
    </div>
  </form>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      benefits: "",
      args: {
        title: "",
        benefitAmounts: [],
      },
    };
  },

  methods: {
    async queryBenefits() {
      let companyId = this.applicant.companyId;
      await this.$store.dispatch("query", {
        endpoint: "ListPayrollBenefit",
        payload: { companyId },
        storeKey: "benefits",
      });
    },
    // async create() {
    //   let res = await this.$store.dispatch("mutate", {
    //     endpoint: "CreatePaymentSchedule",
    //     data: { paymentScheduleInput: this.args },
    //   });
    //   if (res.success) {
    //     this.$toast.success("Schedule created");
    //     this.$router.go(-1);
    //   }
    // },
    add() {
      this.args.benefitAmounts.push({
        benefitId: this.benefits._id,
        amount: "",
      });
      this.benefits = "";
    },
    block(x) {
      if (this.args.benefitAmounts.length) {
        let k = this.args.benefitAmounts.find((y) => {
          return y.benefitId == x;
        });
        return k ? true : false;
      }
    },
    async next() { //*K: Made async
      this.$store.commit("set", {
        type: "createStaffLevel",
        data: {
          ...this.getStaffLevelData,
          title: this.args.title,
          benefitAmounts: this.args.benefitAmounts,
        },
      });
      
      // *K: Addition:
      console.log(this.args);
      console.log("benefit:",this.benefits);


      // let res = await this.$store.dispatch("mutate", {
      //   endpoint: "CreateStaffLevel",
      //   data: { request: this.args },
      // });
      // if (res.success) {
      //   this.$toast.success("New Staff Level Created");
      //   this.$router.push({ name: "PayrollStaffLevel" });
      //   this.$store.commit("resetDefault", {
      //     value: "createStaffLevel",
      //     type: "",
      //   });
      // }

      this.$router.push({ name: "PayrollAssignToStaff" });
    },
  }, 

  computed: {
    ...mapGetters(["applicant", "allIds", "getBenefits", "getStaffLevelData"]),
    formatIds() {
      if (this.allIds && this.allIds.data) {
        let ids = this.allIds.data;
        let adminId = this.applicant._id;
        let getAdminIdFromIds = ids.find((x) => {
          return x.ID == adminId;
        });
        let filteredId = ids.filter((x) => x.ID != getAdminIdFromIds.ID);

        let k = {};
        k.Name = `${getAdminIdFromIds.Name} (Admin)`;
        k.ID = getAdminIdFromIds.ID;
        k.type = "Admin";
        filteredId.push(k);
        return filteredId;
      }
    },
  },
  async created() {
    let res = await this.$store.dispatch("query", {
      endpoint: "ListEmployeeNameAndIds",
      storeKey: "listIds",
    });
    if (!!this.getStaffLevelData) {
      this.args.title = this.getStaffLevelData.title;
      if (this.getStaffLevelData.benefitAmounts == "") {
        this.args.benefitAmounts = [];
      } else this.args.benefitAmounts = this.getStaffLevelData.benefitAmounts;
    }
    //console.log(this.getBenefits);
  },
};
</script>

<style>
</style>>