<template>
  <main>
    <div v-if="$route.meta.requiresHeader">
      <easiSubHeader :routeLinks="links" :optional="true">
        <div class="flex items-center">
          <easiButton
            class="mr-5"
            @click.native="$router.push({ name: 'PayrollCreateSchedule' })"
            v-if="$route.name == 'PayrollPayments'"
          >
            <div class="leading-3 flex items-center">
              <svg
                class="w-3 h-3 lg:block hidden"
                viewBox="0 0 12 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11.5312 5.53125H6.46875V0.46875C6.46875 0.209859 6.25889 0 6 0C5.74111 0 5.53125 0.209859 5.53125 0.46875V5.53125H0.46875C0.209859 5.53125 0 5.74111 0 6C0 6.25889 0.209859 6.46875 0.46875 6.46875H5.53125V11.5312C5.53125 11.7901 5.74111 12 6 12C6.25889 12 6.46875 11.7901 6.46875 11.5312V6.46875H11.5312C11.7901 6.46875 12 6.25889 12 6C12 5.74111 11.7901 5.53125 11.5312 5.53125Z"
                  fill="white"
                />
              </svg>
              <span class="ml-2">New Schedule</span>
            </div>
          </easiButton>
          <easiButton
            class="mr-5"
            @click.native="$router.push({ name: 'PayrollCreateBenefit' })"
            v-if="$route.name == 'PayrollBenefits'"
          >
            <div class="leading-3 flex items-center">
              <svg
                class="w-3 h-3 lg:block hidden"
                viewBox="0 0 12 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11.5312 5.53125H6.46875V0.46875C6.46875 0.209859 6.25889 0 6 0C5.74111 0 5.53125 0.209859 5.53125 0.46875V5.53125H0.46875C0.209859 5.53125 0 5.74111 0 6C0 6.25889 0.209859 6.46875 0.46875 6.46875H5.53125V11.5312C5.53125 11.7901 5.74111 12 6 12C6.25889 12 6.46875 11.7901 6.46875 11.5312V6.46875H11.5312C11.7901 6.46875 12 6.25889 12 6C12 5.74111 11.7901 5.53125 11.5312 5.53125Z"
                  fill="white"
                />
              </svg>
              <span class="ml-2">New Benefits</span>
            </div>
          </easiButton>
          <easiButton
            class="mr-5"
            @click.native="$router.push({ name: 'PayrollCreateStaffLevel' })"
            v-if="$route.name == 'PayrollStaffLevel'"
          >
            <div class="leading-3 flex items-center">
              <svg
                class="w-3 h-3 lg:block hidden"
                viewBox="0 0 12 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11.5312 5.53125H6.46875V0.46875C6.46875 0.209859 6.25889 0 6 0C5.74111 0 5.53125 0.209859 5.53125 0.46875V5.53125H0.46875C0.209859 5.53125 0 5.74111 0 6C0 6.25889 0.209859 6.46875 0.46875 6.46875H5.53125V11.5312C5.53125 11.7901 5.74111 12 6 12C6.25889 12 6.46875 11.7901 6.46875 11.5312V6.46875H11.5312C11.7901 6.46875 12 6.25889 12 6C12 5.74111 11.7901 5.53125 11.5312 5.53125Z"
                  fill="white"
                />
              </svg>
              <span class="ml-2">New Level</span>
            </div>
          </easiButton>
          <easiButton
            class="mr-5"
            @click.native="$router.push({ name: 'PayrollCreateDeduction' })"
            v-if="$route.name == 'PayrollDeductions'"
          >
            <div class="leading-3 flex items-center">
              <svg
                class="w-3 h-3 lg:block hidden"
                viewBox="0 0 12 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11.5312 5.53125H6.46875V0.46875C6.46875 0.209859 6.25889 0 6 0C5.74111 0 5.53125 0.209859 5.53125 0.46875V5.53125H0.46875C0.209859 5.53125 0 5.74111 0 6C0 6.25889 0.209859 6.46875 0.46875 6.46875H5.53125V11.5312C5.53125 11.7901 5.74111 12 6 12C6.25889 12 6.46875 11.7901 6.46875 11.5312V6.46875H11.5312C11.7901 6.46875 12 6.25889 12 6C12 5.74111 11.7901 5.53125 11.5312 5.53125Z"
                  fill="white"
                />
              </svg>
              <span class="ml-2">New Deductions</span>
            </div>
          </easiButton>
        </div>
      </easiSubHeader>
    </div>
    <router-view
      class="pt-5 py-5 lg:pl-8 lg:pr-10 px-2"
      :class="{ ' pt-20': $route.meta.requiresHeader === 'Jobs' }"
      ref="manageEmployee"
    />
    <easiModal :cancel="false" v-if="alert">
      <div
        class="flex justify-center flex-col items-center py-10 text-sm px-20 text-center"
      >
        <div>
          <svg
            class="w-10 h-10 mb-5"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1"
            id="Capa_1"
            x="0px"
            y="0px"
            viewBox="0 0 511.999 511.999"
            style="enable-background: new 0 0 511.999 511.999;"
            xml:space="preserve"
          >
            <path
              style="fill: #e50027;"
              d="M501.449,368.914L320.566,66.207C306.751,43.384,282.728,29.569,256,29.569  s-50.752,13.815-64.567,36.638L10.55,368.914c-13.812,23.725-14.113,51.954-0.599,75.678c13.513,23.723,37.836,37.838,65.165,37.838  h361.766c27.329,0,51.653-14.115,65.165-37.838C515.563,420.868,515.262,392.639,501.449,368.914z"
            />
            <path
              style="fill: #c1001f;"
              d="M502.049,444.592c-13.513,23.723-37.836,37.838-65.165,37.838H256V29.57  c26.727,0,50.752,13.815,64.567,36.638L501.45,368.915C515.262,392.639,515.563,420.868,502.049,444.592z"
            />
            <path
              style="fill: #fd003a;"
              d="M75.109,452.4c-16.628,0-30.851-8.27-39.063-22.669c-8.211-14.414-8.065-31.087,0.469-45.72  L217.23,81.549c8.27-13.666,22.816-21.951,38.769-21.951s30.5,8.284,38.887,22.157l180.745,302.49  c8.388,14.4,8.534,31.072,0.322,45.485c-8.211,14.4-22.435,22.669-39.063,22.669H75.109V452.4z"
            />
            <path
              style="fill: #e50027;"
              d="M436.891,452.4c16.628,0,30.851-8.27,39.063-22.669c8.211-14.414,8.065-31.087-0.322-45.485  L294.886,81.754c-8.388-13.871-22.933-22.157-38.887-22.157V452.4H436.891z"
            />
            <path
              style="fill: #e1e4fb;"
              d="M286.03,152.095v120.122c0,16.517-13.514,30.03-30.03,30.03s-30.031-13.514-30.031-30.03V152.095  c0-16.517,13.514-30.031,30.031-30.031S286.03,135.578,286.03,152.095z"
            />
            <path
              style="fill: #c5c9f7;"
              d="M286.03,152.095v120.122c0,16.517-13.514,30.03-30.03,30.03V122.064  C272.516,122.064,286.03,135.578,286.03,152.095z"
            />
            <path
              style="fill: #e1e4fb;"
              d="M256,332.278c-24.926,0-45.046,20.119-45.046,45.046c0,24.924,20.119,45.046,45.046,45.046  s45.046-20.121,45.046-45.046C301.046,352.398,280.925,332.278,256,332.278z"
            />
            <path
              style="fill: #c5c9f7;"
              d="M301.046,377.323c0,24.924-20.119,45.046-45.046,45.046v-90.091  C280.925,332.278,301.046,352.398,301.046,377.323z"
            />
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
          </svg>
        </div>
        <span>
          Create a department and at least one employee in order to create
          payroll
        </span>
        <easiButton
          @click.native="
            $router.push('/dashboard/employee/manage-employee/departments')
          "
          class="mt-4"
          variant="outline"
        >
          <div class="leading-4">
            Create Department
          </div>
        </easiButton>
      </div>
    </easiModal>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  watch: {
    $route: {
      immediate: true,
      handler(x) {
        if (
          x.name == "PayrollPayments" &&
          this.getAllDepartments.data.length == 0
        ) {
          this.alert = true;
        }
      },
    },
  },
  data() {
    return {
      alert: false,
      links: [
        {
          routeName: "Payroll",
          routeLinks: "PayrollPayments",
        },
        {
          routeName: "Benefits",
          routeLinks: "PayrollBenefits",
        },
        {
          routeName: "Staff-Level",
          routeLinks: "PayrollStaffLevel",
        },
        {
          routeName: "Deductions",
          routeLinks: "PayrollDeductions",
        },
      ],
    };
  },
  computed: {
    ...mapGetters(["getAllDepartments"]),
  },
};
</script>

<style>
</style>