
<template>
  <main>
    <router-view />
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters(["applicant"]),
  },

  async created() {
    // if (this.applicant.profile.isAdmin == false && this.$route.name != 'MyPerformance'){ //Note: Always redirect to List route if not Admin.
    //   this.$router.push({name: 'MyPerformance'});
    // }
  }
};
</script>

<style>
</style>