<template>
  <main>
    <div class="flex w-full max-w-2xl">
      <easiBackButton @click.native="$router.push({ name: 'PayrollSettingsListStatutoryBodies', params:{provisionId: $route.params.provisionId} })" />
      <h1 class="text-2xl text-gray-700 ml-8" v-if="$route.name == 'PayrollSettingsEditStatutoryBody'">Edit</h1>
      <h1 class="text-2xl text-gray-700 ml-8" v-if="$route.name == 'PayrollSettingsAddStatutoryBody'">Add</h1>
    </div>
    <div class="w-full max-w-2xl bg-white py-3 px-5 mt-6 shadow-xs pb-8">
      <p class="text-gray-600 text-sm mt-6 font-bold">Name of Statutory Body</p>
      <div class="mt-2">
        <input
          class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
          type="text"
          placeholder
          required
          v-model="args.title"
        />
      </div>

      <p class="text-gray-600 text-sm mt-6 font-bold">Company ID</p>
      <div class="mt-2">
        <input
          class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
          type="text"
          placeholder
          required
          v-model="args.statutoryCompanyId"
        />
      </div>

      <p class="text-gray-600 text-sm mt-6 font-bold">Assign Employee</p>
      <div class="grid grid-cols-2 col-gap-5 mt-5">
        <div class="mt-2">
            <input
            class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="text"
            placeholder="All Staff"
            required
            disabled
            />
        </div>
        <div class="relative">
          <select
            class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
            id="grid-state"
            required
            disabled
          >
            <option value="All" disabled selected>All</option>
            <option value="NGN">NGN</option>
            <option value="GBP">GBP</option>
            <option value="EUR">EUR</option>
            <option value="USD">USD</option>
            <option value="CAD">CAD</option>
            <option value="AED">AED</option>
            <option value="JPY">JPY</option>
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
          >
            <svg
              class="fill-current text-gray-500 h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </div>
        </div>
      </div>

      <div class="flex justify-end mt-8 text-right">
        <easiButton variant="outline" @click.native="$router.push({ name: 'PayrollSettings' })" class="mr-8 inline-block">
          <div class="px-8">Cancel</div>
        </easiButton>
        <easiButton @click.native="create" class="inline-block" v-if="$route.name == 'PayrollSettingsAddStatutoryBody'">
          <div class="px-8">Create</div>
        </easiButton>
        <easiButton @click.native="update" class="inline-block" v-if="$route.name == 'PayrollSettingsEditStatutoryBody'">
          <div class="px-8">Update</div>
        </easiButton>
      </div>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
import Multiselect from "vue-multiselect";

export default {
  data() {
    return {
      args: {
        title: "",
        statutoryCompanyId: "",
        allStaff: true,
        departmentStaffs: []
      },

      statutoryPayload: {
        provisionId:  this.$route.params.provisionId,
        paging: {
          limit: 10,
          search: null,
          skip: 0
        }
      },

    };
  },

  computed: {
    ...mapGetters(["applicant", "listStatutoryBodyByProvision"]),
  },

  methods: {
    async create() {
      this.args.provisionId = this.$route.params.provisionId;
      let res = await this.$store.dispatch("mutate", {
        endpoint: "CreateStatutoryBodyForProvision",
        data: { request: this.args },
        service: "PAY",
      });
      if (res.success) {
        this.$toast.success("Statutory Body Created Successfully !!!");
        this.$router.push({ name: 'PayrollSettingsListStatutoryBodies', params:{provisionId: this.$route.params.provisionId} });
      }
    },

    async update() {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "UpdateStatutoryBodyForProvision",
        data: { id: this.$route.params.statutorybodyId, request: this.args },
        service: "PAY",
      });
      if (res.success) {
        this.$toast.success("Statutory Body Created Successfuly");
        this.$router.push({ name: 'PayrollSettingsListStatutoryBodies', params:{provisionId: this.$route.params.provisionId} });
      }
    },

    async queryStatutoryBodyByProvision() {
      this.$store.dispatch("query", {
        endpoint: "ListStatutoryBodyByProvision",
        payload: this.statutoryPayload,
        storeKey: "statutoryBodyByProvision",
        service: "PAY",
      });
    },

    getStatutoryBodyById(id) {
      var statutorybodies = this.listStatutoryBodyByProvision.data;
      var data = null;
      statutorybodies.forEach(
        function(statutorybody, index) {
          if (statutorybody._id == id){
            data = statutorybody
          }
        }
      )

      return data
    },
    
  },

  async created() {
    await this.queryStatutoryBodyByProvision();

    // Prefill information if editing.
    if (this.$route.name == 'PayrollSettingsEditStatutoryBody') {
      var statutoryBody = this.getStatutoryBodyById(this.$route.params.statutorybodyId);

      this.args.title = statutoryBody.title;
      this.args.statutoryCompanyId = statutoryBody.statutoryCompanyId;
    }
  },
};
</script>


<style>
</style>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>