<template>
  <main class>
    <div class="py-3 border">
      <div class="text-sm text-gray-900 pl-4 inline-block">
        <easiBackButton @click.native="$router.push({ name: 'PayrollSettings' })" />
      </div>

      <div class="ml-10 inline-block">
        <input
          type="text"
          class="focus:outline-none text-xs w-64 text-gray-600 appearance-none border rounded-sm leading-7 pl-3"
          placeholder="Search"
        />
      </div>

      <easiButton
        class="mr-5 float-right inline-block"
        @click.native="$router.push({ name: 'PayrollSettingsAddStatutoryBody', params:{provisionId: $route.params.provisionId} })"
        >
        <div class="leading-3 flex items-center">
            <svg
            class="w-3 h-3 lg:block hidden"
            viewBox="0 0 12 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            >
            <path
                d="M11.5312 5.53125H6.46875V0.46875C6.46875 0.209859 6.25889 0 6 0C5.74111 0 5.53125 0.209859 5.53125 0.46875V5.53125H0.46875C0.209859 5.53125 0 5.74111 0 6C0 6.25889 0.209859 6.46875 0.46875 6.46875H5.53125V11.5312C5.53125 11.7901 5.74111 12 6 12C6.25889 12 6.46875 11.7901 6.46875 11.5312V6.46875H11.5312C11.7901 6.46875 12 6.25889 12 6C12 5.74111 11.7901 5.53125 11.5312 5.53125Z"
                fill="white"
            />
            </svg>
            <span class="ml-2">Add</span>
        </div>
       </easiButton>
    </div>
    <table class="table-auto w-full overflow-y-auto shadow-sm bg-white">
      <thead>
        <tr class="bg-easipurple text-white">
          <th
            v-for="(title, index) in headers"
            :key="index"
            class="px-4 py-3 text-left font-light uppercase text-sm"
          >
            <div>{{ title }}</div>
          </th>
        </tr>
      </thead>
      <div class="py-2" v-if="checkLoading">
        <div class="loader">
          <svg viewBox="0 0 80 80">
            <rect x="8" y="8" width="64" height="64" />
          </svg>
        </div>
      </div>
      <tbody v-else-if="listStatutoryBodyByProvision.data.length">
        <tr
          v-for="statutorybody in listStatutoryBodyByProvision.data"
          :key="statutorybody._id"
          class="bg-white even:bg-gray-100 text-gray-600 cursor-pointer group hover:text-black"
        >
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ statutorybody.title }}
          </td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ statutorybody.statutoryCompanyId }}
          </td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ statutorybody.employeeCount }}
          </td>
          <td class="px-4 py-4 text-sm font-thin tracking-wide flex">
            <easiDropdown css="mt-5" dropdownName="StatutoryBodyDropdown" :genericObj="{statutorybodyId:statutorybody._id, provisionId:$route.params.provisionId}">
              <svg
                class="w-6 h-6"
                viewBox="0 0 36 36"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  x="0.5"
                  y="0.5"
                  width="35"
                  height="35"
                  rx="2.5"
                  stroke="#E1E6ED"
                />
                <path
                  d="M27.2678 16.2322C28.2441 17.2085 28.2441 18.7914 27.2678 19.7677C26.2915 20.7441 24.7085 20.7441 23.7322 19.7677C22.7559 18.7914 22.7559 17.2085 23.7322 16.2322C24.7085 15.2559 26.2915 15.2559 27.2678 16.2322Z"
                  fill="#D3DCE6"
                />
                <path
                  d="M19.7677 16.2322C20.7441 17.2085 20.7441 18.7914 19.7677 19.7677C18.7914 20.7441 17.2085 20.7441 16.2322 19.7677C15.2559 18.7914 15.2559 17.2085 16.2322 16.2322C17.2085 15.2559 18.7914 15.2559 19.7677 16.2322Z"
                  fill="#D3DCE6"
                />
                <path
                  d="M12.2678 16.2322C13.2441 17.2085 13.2441 18.7914 12.2678 19.7677C11.2915 20.7441 9.70854 20.7441 8.73223 19.7677C7.75592 18.7914 7.75592 17.2085 8.73223 16.2322C9.70854 15.2559 11.2915 15.2559 12.2678 16.2322Z"
                  fill="#D3DCE6"
                />
              </svg>
            </easiDropdown>
          </td>
        </tr>
      </tbody>

      <div v-else>
        <div
          class="py-4 flex justify-center bg-white items-center text-gray-600 font-light"
        >
          Statutory Bodies not Created
        </div>
      </div>
    </table>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      headers: ["NAME OF STATUTORY BODY", "COMPANY ID", "EMPLOYEE COUNT", "ACTION"],
      loading: false,
      statutoryPayload: {
        provisionId:  this.$route.params.provisionId,
        paging: {
          limit: 10,
          search: null,
          skip: 0
        }
      },
    };
  },
  computed: {
    ...mapGetters(["getAllEmployees", "applicant", "checkLoading", "listStatutoryBodyByProvision"]),
  },
  methods: {
    queryStatutoryBodyByProvision() {
      this.$store.dispatch("query", {
        endpoint: "ListStatutoryBodyByProvision",
        payload: this.statutoryPayload,
        storeKey: "statutoryBodyByProvision",
        service: "PAY",
      });
    },
  },
  async created() {
    await this.queryStatutoryBodyByProvision();
  },
};
</script>

<style>
</style>