<template>
  <main>
    <div class="flex pt-8 pl-8">
      <easiBackButton @click.native="$router.push({name:'PerformanceList'})" />
      <div>
        <h1 class="text-gray-800 w-full text-2xl logo font-bold ml-8">View</h1>
      </div>
    </div>
    <div class="p-8 ml-8 mt-8 mr-100 bg-white">
        <div class="text-xl font-bold text-gray-700">Name of Statutory Body:</div>
        <div>{{ 'lorem ipsum' }}</div>

        <div class="text-lg text-gray-700 font-bold mt-4">Company ID:</div>
        <div class="text-base text-gray-700">{{ 'lorem ipsum' }}</div>

        <div class="text-lg text-gray-700 font-bold mt-4">Employees:</div>
        <div class="text-base text-gray-700">{{ 'lorem ipsum' }}</div>
    </div>    
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {      
      payload: {
        limit: 10,
        skip: 0,
        search: null,
      },

      relevantEmployeeGoal: {},
    };
  },

  computed: {
    ...mapGetters(["applicant", "checkLoading", "allPerformanceGoals", "allPerformanceObjectives", "allPerformanceCategories", "employeeGoalList"]),

  },

  methods: {
  },

  async created() {
    if (this.applicant.profile.isAdmin == true){ // Only for admins

    else{
  },
};
</script>

<style>
</style>