<template>
  <main>
    <div class="flex w-full max-w-2xl">
      <easiBackButton @click.native="goBack()" />
      <h1 class="text-2xl text-gray-700 ml-8">Create Level</h1>
    </div>
    <form @submit.prevent="create">
      <div class="w-full max-w-2xl bg-white py-3 px-5 mt-6 shadow-xs pb-8">
        <div>
          <div class="">Title</div>
          <p class="text-base text-gray-400" v-if="inputsView==true">{{args.title || 'N/A'}}</p>
          <div>
              <input
                class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                type="text"
                required
                v-model="args.title"
                v-if="inputsView==false"
              />
          </div>
        </div>

        <div class="mt-6">
          <div class="">Max Gross Amount</div>
          <p class="text-base text-gray-400" v-if="inputsView==true">{{args.grossAmount || 'N/A'}}</p>
          <input
            class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="number"
            required
            v-model="args.grossAmount"
            @change="updateNetPay()"
            v-if="inputsView==false"
          />
        </div>

        <div class="mt-6">
          <div class="">Allowances</div>
          <div v-if="inputsView==true">
            <p
              class="text-base text-gray-400"
              v-for="allowanceArg in Object.keys(allowances).splice(1,)"
              :key="allowanceArg"
            ><span class="text-gray-800">{{getAllownaceById(allowanceArg).name}}:</span> {{allowances[allowanceArg]}}%</p>
          </div>

          <div v-if="Object.keys(allowances).length > 0 && inputsView==false">
            <div class="flex" v-for="(allowanceArg, index) in Object.keys(allowances).splice(1,)" :key="`${componentKey}-${index}`">
              <div class="mt-4  mr-2">{{ getAllownaceById(allowanceArg).name }}</div>
              <div>
                  <input
                    class="bg-white w-3/4 border text-gray-500 font-light text-sm focus:outline-none mt-2 rounded-sm py-2 px-4 appearance-none"
                    type="number"
                    placeholder="0%"
                    @change="addValue($event.target.value, allowanceArg,allowances);"
                    v-model="allowances[allowanceArg]"
                    min="1"
                    max="100"
                  />
                  <span class="font-bold text-lg">%</span>
              </div>

              <div class="mt-4 mr-4 ml-4">or</div>

              <div>
                  <!-- <input
                    class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                    type="number"
                    
                    disabled
                  /> -->
                  <p class="border w-32 h-10 pl-2 pt-2 mt-2">{{ 'N' + (allowances[allowanceArg] * args.grossAmount)/100 }}</p>
              </div>

              <div
                class="text-red-600 underline mt-4 ml-4 cursor-pointer"
                @click.prevent="removeFunc(allowanceArg, allowances)"
                v-if="getAllownaceById(allowanceArg).name != 'basic'"
              >Remove</div>
            </div>
          </div>
        </div>

        <div class="mt-6" v-if="inputsView==false">
          <div class="">Add More Allowances</div>
          <div class="flex">
            <div class="relative w-4/5">
              <select
                class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
                v-model="selectedAllowance"
              >
                <!-- <option value disabled>Select</option> -->
                <option v-for="allowance in listAllowance.data" :key="allowance._id" :value="allowance._id">{{allowance.name}}</option>
              </select>
              <div
                class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
              >
                <svg
                  class="fill-current text-gray-500 h-4 w-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                  />
                </svg>
              </div>
            </div>
            
            <div class="w-1/5">
              <easiButton
                v-if="Object.keys(allowances).length -1 >= listAllowance.count"
                class="ml-4"
                variant="disabled"
              >Add</easiButton>
              <easiButton
                v-if="Object.keys(allowances).length -1 < listAllowance.count"
                class="ml-4"
                variant="outline"
                @click.native.prevent="addFunc(selectedAllowance, allowances)"
              >Add</easiButton>

            </div>
          </div>
        </div>

        <div class="mt-6">
          <div class="">Benefits</div>
          <div v-if="inputsView==true">
            <p
              class="text-base text-gray-400"
              v-for="benefitArg in Object.keys(benefits).splice(1,)"
              :key="benefitArg"
            >{{ getBenefitById(benefitArg).provision.title }}</p>
          </div>

          <div v-if="Object.keys(benefits).length > 0 && inputsView==false">
            <div class="flex" v-for="benefitArg in Object.keys(benefits).splice(1,)" :key="benefitArg">
              <div class="mt-4  mr-2 w-1/2">{{ getBenefitById(benefitArg).provision.title.replaceAll("_", " ") }}</div>

              <div
                class="text-red-600 underline mt-4 ml-4 cursor-pointer w-1/2 text-right"
                @click.prevent="removeFunc(benefitArg, benefits)"
              >Remove</div>
            </div>
          </div>
        </div>

        <!-- *Note: Benefits commented for now. -->
        <div class="mt-6" v-if="inputsView==false">
          <div class="">Add Benefits</div>
          <div class="flex">
            <div class="w-4/5">
              <select
                class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
                v-model="selectedBenefit"
              >
                <option value disabled selected>Select</option>
                <option v-for="benefit in listBenefit.data" :key="benefit._id" :value="benefit._id">{{benefit.provision.title.replaceAll("_", " ")}}</option>
              </select>
              <div
                class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
              >
                <svg
                  class="fill-current text-gray-500 h-4 w-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                  />
                </svg>
              </div>
            </div>
            
            <div class="w-1/5">
              <easiButton
                v-if="Object.keys(benefits).length -1 >= listBenefit.count"
                class="ml-4"
                variant="disabled"
              >Add</easiButton>
              <easiButton
                v-if="Object.keys(benefits).length -1 < listBenefit.count"
                class="ml-4"
                variant="outline"
                @click.native.prevent="addFunc(selectedBenefit, benefits); args.benefits.push(selectedBenefit)"
              >Add</easiButton>
              <!-- @click.native="addFunc(selectedBenefit, benefits)" args.benefits.push(selectedBenefit)-->
            </div>
          </div>
        </div>

        <!-- *Note: To be removed from stafflevel. -->
        <!-- <div class="mt-12">
          <div class="">Other Payments</div>
          <div v-if="inputsView==true">
            <p
              class="text-base text-gray-400"
              v-for="otherpaymentArg in Object.keys(otherPayments).splice(1,)"
              :key="otherpaymentArg"
            ><span class="text-gray-800">{{getOtherPaymentById(otherpaymentArg).name}}:</span> {{otherPayments[otherpaymentArg]}}%</p>
          </div>

          <div v-if="Object.keys(otherPayments).length > 0 && inputsView==false">
            <div class="flex" v-for="otherpaymentArg in Object.keys(otherPayments).splice(1,)" :key="otherpaymentArg">
              <div class="mt-4  mr-2">{{ getOtherPaymentById(otherpaymentArg).name }}</div>
              <div>
                  <input
                    class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                    type="number"
                    placeholder="0%"
                    @change="addValue($event.target.value, otherpaymentArg,otherPayments)"
                    min="1"
                    max="100"
                  />
              </div>

              <div class="mt-4 mr-4 ml-4">or</div>

              <div>
                  <input
                      class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                      type="number"
                      placeholder="N0.00"
                      disabled
                  />
              </div>

              <div
                class="text-red-600 underline mt-4 ml-4 cursor-pointer"
                @click.prevent="removeFunc(otherpaymentArg, otherPayments)"
              >Remove</div>
            </div>
          </div>
        </div>

        <div class="mt-6" v-if="inputsView==false">
          <div class="">Add Other Payments</div>
          <div class="flex">
            <div class="w-4/5">
              <select
                class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
                v-model="selectedOtherPayment"
              >
                <option v-for="otherpayment in listOtherPayment.data" :key="otherpayment._id" :value="otherpayment._id">{{otherpayment.name}}</option>
              </select>
              <div
                class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
              >
                <svg
                  class="fill-current text-gray-500 h-4 w-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                  />
                </svg>
              </div>
            </div>
            
            <div class="w-1/5">
              <easiButton
                v-if="Object.keys(otherPayments).length -1 >= listOtherPayment.count"
                class="ml-4"
                variant="disabled"
              >Add</easiButton>
              <easiButton
                v-if="Object.keys(otherPayments).length -1 < listOtherPayment.count"
                class="ml-4"
                variant="outline"
                @click.native.prevent="addFunc(selectedOtherPayment, otherPayments)"
              >Add</easiButton>
            </div>
          </div>
        </div> -->

        <div class="mt-6 flex">
          <div class="">Net Pay:</div>
          <!-- <div class="ml-8">{{netPay}}</div> -->
          <div class="ml-8 text-red-600">TBD</div>
        </div>

        <!-- *Note: Should not be included again -->
        <!-- <div class="mt-6">
          <div class="">Assign to</div>
          <div class="">
              <div class="inline-block w-2/5">
                  <select
                    class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
                    v-model="selectedDepartments"
                    required
                  >
                    <option v-for="department in getAllDepartments.data" :key="department._id" :value="department.name">{{department.name}}</option>
                  </select>
                  <div
                    class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
                  >
                    <svg
                      class="fill-current text-gray-500 h-4 w-4"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                    >
                      <path
                        d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                      />
                    </svg>
                  </div>
              </div>

              <div class="float-right w-2/5">
                  <input
                      class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                      type="text"
                      placeholder="All"
                      required
                  />
              </div>
          </div>
        </div> -->

        <!-- <div class="mt-6">
          <div class="">Assigned Staff</div>
          <div>John Doe</div>
          <div>John Doe</div>
          <div>John Doe</div>
        </div> -->

        
        <div class="flex justify-end mt-8 text-right">
          <easiButton variant="outline"
            @click.native.prevent="$router.push({ name: 'PayrollStaffLevel' })"
            class="mr-8 inline-block"
            v-if="inputsView==false"
          >
            <div class="px-8">Cancel</div>
          </easiButton>
          <easiButton class="inline-block" @click.native.prevent="inputsView=true" v-if="inputsView==false">
            <div class="px-8">Next</div>
          </easiButton>


          <easiButton variant="outline"
            @click.native.prevent="inputsView=false"
            class="mr-8 inline-block"
            v-if="inputsView==true && $route.name != 'PayrollViewStaffLevel'"
          >
            <div class="px-8">Edit</div>
          </easiButton>

           <!-- *Todo: Refactor later; create View component seperately. -->
          <easiButton variant="outline"
            @click.native.prevent="$router.push({name:'PayrollUpdateStaffLevel', id:routeId})"
            class="mr-8 inline-block"
            v-if="inputsView==true && $route.name == 'PayrollViewStaffLevel'"
          >
            <div class="px-8">Edit</div>
          </easiButton>

          

          <easiButton class="inline-block" v-if="inputsView==true">
            <div class="px-8">Submit</div>
          </easiButton>
        </div>
        <span class="text-white">{{componentKey}}</span> <!-- *Important: Don't remove for forced rendering. A quick fix for now. -->
      </div>
    </form>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
import Multiselect from "vue-multiselect";

export default {
  data() {
    return {
      inputsView: false,
      update: false,
      routeId: "",
      args: {
        title: "",
        grossAmount: 0,
        allowanceDetails: [],
        // otherPaymentDetails: [], *Note: To be removed from stafflevel.
        // benefits: []
        // departmentStaffs: []
      },
      payload: {
        paging: {
          limit: 10,
          skip: 0,
          search: null
        }
      },

      trackAllowances: [],
      selectedAllowance: "",
      selectedBenefit: "",
      selectedOtherPayment: "",
      selectedDepartments: "",

      allowances: {skip:0},
      benefits: {skip:0},
      otherPayments:  {skip:0},

      componentKey: 0,

      netPay: 0,
      
    };
  },

  computed: {
    ...mapGetters(["getAllEmployees", "applicant", "listAllowance", "listOtherPayment", "listBenefit", "getAllDepartments", "listAllStaffLevels"]),
  },

  methods: {
    goBack() {
      if (this.inputsView == true){
        this.inputsView = false;
      } else if (this.inputsView == false){
        this.$router.push({ name: 'PayrollStaffLevel' })
      }
    },

    updateNetPay() {
      var gross = parseInt(this.args.grossAmount);

      // Check allowances and otherPayments percentage.
      var allowancePercentage = 0;
      for (var item in this.allowances) {
        if (item != "skip"){
          var percentage  = parseInt(this.allowances[item]);
          allowancePercentage += percentage;
        }
      }

      // Get deduction & bonus percentages.
      var deductionPercentage = 0;
      var bonusPercentage = 0;
      for (var item in this.otherPayments) {
        if (item != "skip"){
          if ( this.getOtherPaymentById(item).otherType == "Deduction"){
            var percentage = parseInt(this.otherPayments[item]);
            deductionPercentage +=  percentage;
          } else if ( this.getOtherPaymentById(item).otherType == "Bonus"){
            var percentage = parseInt(this.otherPayments[item]);
            bonusPercentage += percentage;
          }
        }
      }

      var totalPercentage = allowancePercentage + bonusPercentage + deductionPercentage;
      console.log("totalPercentage:", totalPercentage)
      if (totalPercentage > 100){
        this.$toast.error("Ensure that the percentage input for Allowance(with Benefit and OtherPayments) is exactly 100%");
      }


      var additions = gross * ((allowancePercentage + bonusPercentage)/100)
      var subtractions = gross * (deductionPercentage/100)
      var netPay = additions - subtractions;



      // Todo: I think only otherPayments(Deductions & Bonus) should be used to determine netPay
      this.netPay = netPay;

    },

    // getValues(){
    //   Array.from(new Set(this.trackAllowances)).forEach({
    //     function(item, index){
    //       this.args.allowanceDetails.push(this.listAllowance.data[item]._id,  )
          

    //     }
    //   })
    // },

    forceRerender() {
      this.componentKey += 1;
    },

    addFunc(itemArg, jsonArg) {
      // Check if item already exists in jsonArg:
      var itemExists = false;

      for (var item in jsonArg) {
        if(item == itemArg){ itemExists=true; }
      }


      if (!itemExists){
        jsonArg[itemArg] = 0
      }

      // this.args.allowanceDetails.push(jsonArg);
      // jsonArg = {};

      //this.temp.push(3);
      this.forceRerender();
    },

    removeFunc(itemArg, jsonArg) {
      console.log("Before:", jsonArg);
      delete jsonArg[itemArg];
      this.forceRerender();
      console.log("After:", jsonArg);
    },

    addValue(x, itemArg, jsonArg) {
      // jsonArg[itemArg][index] = x;
      jsonArg[itemArg] = parseInt(x);

      this.updateNetPay()
      //addValue($event.target.value, allowanceArg,allowances)
    },

    async create() {
      // Clear any previous inputs before adding more on create.
      this.args.allowanceDetails = [];
      // this.args.otherPaymentDetails = []; *Note: To be removed from stafflevel.

      //Sort allowanceDetails: allowance currently in format { id: percentage, id: percentage }.
      if (Object.keys(this.allowances).length > 1) {
        for (var item in this.allowances) {
          if (item != "skip"){
            this.args.allowanceDetails.push({ allowanceId: item, percentage: this.allowances[item] });
          }
        }
      }

      // *Note: To be removed from stafflevel.
      //Sort otherPaymentDetails: otherPayments currently in format { id: percentage, id: percentage }.
      // if (Object.keys(this.otherPayments).length > 1) {
      //   for (var item in this.otherPayments) {
      //     if (item != "skip" && this.otherPayments[item] > 0){
      //       this.args.otherPaymentDetails.push({ otherPaymentId: item, percentage: this.otherPayments[item] });
      //     }
      //   }
      // }
      
      // CreateStafflevel
      if (this.update == false){
        console.log(this.args, "stafflevel args.")
        let res = await this.$store.dispatch("mutate", {
          endpoint: "CreateStaffLevel",
          data: { request: this.args },
          service: "PAY",
        });
        if (res.success) {
          this.$toast.success("Staff Level Created Successfully");
          this.$router.push({ name: "PayrollStaffLevel" });
        }
      } 
      
      // UpdateStafflevel
      else if (this.update == true){
        console.log("routeId:", this.routeId);
        let res = await this.$store.dispatch("mutate", {
          endpoint: "UpdateStaffLevel",
          data: { id: this.routeId, request: this.args },
          service: "PAY",
        });
        if (res.success) {
          this.$toast.success("Staff Level Updated Successfully");
          this.$router.push({ name: "PayrollStaffLevel" });
        }
      }
    },

    getAllownaceById(id) {
      var allowances = this.listAllowance.data;
      var data = null;
      allowances.forEach(
        function(allowance, index) {
          if (allowance._id == id){
            data = allowance
          }
        }
      )

      return data
    },

    getOtherPaymentById(id) {
      var otherPayments = this.listOtherPayment.data;
      var data = null;
      otherPayments.forEach(
        function(otherPayment, index) {
          if (otherPayment._id == id){
            data = otherPayment
          }
        }
      )

      return data
    },

    getBenefitById(id) {
      var benefits = this.listBenefit.data;
      var data = null;
      benefits.forEach(
        function(benefit, index) {
          if (benefit._id == id){
            data = benefit
          }
        }
      )

      return data
    },

    getStaffLevelById(id) {
      var stafflevels = this.listAllStaffLevels.data;
      var data = null;
      stafflevels.forEach(
        function(stafflevel, index) {
          if (stafflevel._id == id){
            data = stafflevel
          }
        }
      )

      return data
    },

    // getEmployeesByDepartmentId(id) {
    //   var employees = this.getAllEmployees.data;
    //   var data = [];
    //   employees.forEach(
    //     function(employee, index) {
    //       if (employee.empJob.departmentId == id){
    //         data.push(employee);
    //       }
    //     }
    //   )

    //   return data
    // },

    // async queryEmployees() {
    //   this.$store.dispatch("query", {
    //     endpoint: "ListEmployees",
    //     payload: this.payload,
    //     storeKey: "listEmployees",
    //   });
    // },

    // async queryDepartments() {
    //   await this.$store.dispatch("query", {
    //     endpoint: "ListDepartments",
    //     payload: this.payload,
    //     storeKey: "listDepartments",
    //   });
    // },

    async queryAllowances() {
      await this.$store.dispatch("query", {
        endpoint: "ListAllowance",
        payload: this.payload,
        storeKey: "allowance",
        service: "PAY",
      });
    },

    async queryOtherPayments() {
      await this.$store.dispatch("query", {
        endpoint: "ListOtherPayment",
        payload: this.payload,
        storeKey: "otherPayment",
      });
    },

    async queryBenefits() {
      await this.$store.dispatch("query", {
        endpoint: "ListBenefit",
        payload: this.payload,
        storeKey: "benefit",
        service: "PAY",
      });
    },

    async queryStafflevels() {
      this.$store.dispatch("query", {
        endpoint: "ListStaffLevel",
        payload: this.payload,
        storeKey: "listStaffLevel",
        service: "PAY",
      });
    },
  },

  async created() {
    let res = await this.$store.dispatch("query", {
      endpoint: "ListEmployeeNameAndIds",
      storeKey: "listIds",
    });

    // await this.queryEmployees();
    // await this.queryDepartments();
    await this.queryAllowances();
    await this.queryOtherPayments();
    await this.queryBenefits();
    await this.queryStafflevels();



    // Add Basic, Housing and Transport allowances on Load:
    // get basic allowance id
    var basicId = "", transportId = "", housingId = "";
    this.listAllowance.data.forEach(
      function(allowance, index){
        if (allowance.name == "basic"){
          basicId = allowance._id;
        } else if (allowance.name == "transport"){
          transportId = allowance._id;
        } else if (allowance.name == "housing"){
          housingId = allowance._id;
        }
      }
    )
    this.addFunc(basicId, this.allowances);
    this.addFunc(transportId, this.allowances);
    this.addFunc(housingId, this.allowances);


    // *Note: If View Route; Use update endpoint instead of Create. And prefill this.args values.
    if (this.$route.name == "PayrollViewStaffLevel"){
      this.routeId = this.$route.params.id;
      this.update = true;

      // Query stafflevel inputs:
      var stafflevel = this.getStaffLevelById(this.$route.params.id);
      this.args.title = stafflevel.title;
      this.args.grossAmount = stafflevel.grossAmount;
      this.args.allowanceDetails = stafflevel.allowanceDetails;
      this.args.otherPaymentDetails = stafflevel.otherPaymentDetails;
      this.args.benefits = stafflevel.benefits;

      this.inputsView = true;
    }

  },
};
</script>


<style>
</style>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>