<template>
  <main>
    <div class="flex w-full max-w-2xl">
      <easiBackButton @click.native="$router.push({name: 'PayrollStaffLevel'})" />
      <h1 class="text-2xl text-gray-700 ml-8">Update Level</h1>
    </div>
    <form @submit.prevent="update">
      <div class="w-full max-w-2xl bg-white py-3 px-5 mt-6 shadow-xs pb-8">
        <div>
          <div class="">Title</div>
          <p class="text-base text-gray-400" v-if="inputsView==true">{{args.title || 'N/A'}}</p>
          <div>
              <input
                class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                type="text"
                required
                v-model="args.title"
                v-if="inputsView==false"
              />
          </div>
        </div>

        <div class="mt-6">
          <div class="">Max Gross Amount</div>
          <p class="text-base text-gray-400" v-if="inputsView==true">{{args.grossAmount || 'N/A'}}</p>
          <input
            class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="number"
            required
            v-model="args.grossAmount"
            @change="updateNetPay()"
            v-if="inputsView==false"
          />
        </div>

        <div class="mt-6">
          <div class="">Allowances</div>
          <div v-if="inputsView==true">
            <p
              class="text-base text-gray-400"
              v-for="allowanceArg in Object.keys(allowances).splice(1,)"
              :key="allowanceArg"
            ><span class="text-gray-800">{{getAllownaceById(allowanceArg).name}}:</span> {{allowances[allowanceArg]}}</p>
          </div>

          <div v-if="Object.keys(allowances).length > 0 && inputsView==false">
            <div class="flex" v-for="(allowanceArg, index) in Object.keys(allowances).splice(1,)" :key="index">
              <div class="mt-4  mr-2">{{ getAllownaceById(allowanceArg).name }}</div>
              <div>
                  <input
                    class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                    type="number"
                    placeholder="0%"
                    @change="addValue($event.target.value, allowanceArg,allowances)"
                    v-model="allowances[allowanceArg]"
                  />
              </div>

              <div class="mt-4 mr-4 ml-4">or</div>

              <div>
                  <input
                    class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                    type="number"
                    placeholder="N0.00"
                    disabled
                  />
              </div>

              <div
                class="text-red-600 underline mt-4 ml-4 cursor-pointer"
                @click.prevent="removeFunc(allowanceArg, allowances)"
                v-if="getAllownaceById(allowanceArg).name != 'basic'"
              >Remove</div>
            </div>
          </div>
        </div>

        <div class="mt-6" v-if="inputsView==false">
          <div class="">Add More Allowances</div>
          <div class="flex">
            <div class="relative w-4/5">
              <select
                class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
                v-model="selectedAllowance"
              >
                <!-- <option value disabled>Select</option> -->
                <option v-for="allowance in listAllowance.data" :key="allowance._id" :value="allowance._id">{{allowance.name}}</option>
              </select>
              <div
                class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
              >
                <svg
                  class="fill-current text-gray-500 h-4 w-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                  />
                </svg>
              </div>
            </div>
            
            <div class="w-1/5">
              <easiButton
                v-if="Object.keys(allowances).length -1 >= listAllowance.count"
                class="ml-4"
                variant="disabled"
              >Add</easiButton>
              <easiButton
                v-if="Object.keys(allowances).length -1 < listAllowance.count"
                class="ml-4"
                variant="outline"
                @click.native.prevent="addFunc(selectedAllowance, allowances)"
              >Add</easiButton>

            </div>
          </div>
        </div>

        <div class="mt-6">
          <div class="">Benefits</div>
          <div v-if="inputsView==true">
            <p
              class="text-base text-gray-400"
              v-for="benefitArg in Object.keys(benefits).splice(1,)"
              :key="benefitArg"
            >{{ getBenefitById(benefitArg).provision.title.replaceAll("_", " ") }}</p>
          </div>

          <div v-if="Object.keys(benefits).length > 0 && inputsView==false">
            <div class="flex" v-for="benefitArg in Object.keys(benefits).splice(1,)" :key="benefitArg">
              <div class="mt-4  mr-2 w-1/2">{{ getBenefitById(benefitArg).provision.title }}</div>

              <div
                class="text-red-600 underline mt-4 ml-4 cursor-pointer w-1/2 text-right"
                @click.prevent="removeFunc(benefitArg, benefits)"
              >Remove</div>
            </div>
          </div>
        </div>

        <!-- *Note: Benefits commented for now. -->
        <div class="mt-6" v-if="inputsView==false">
          <div class="">Add Benefits</div>
          <div class="flex">
            <div class="w-4/5">
              <select
                class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
                v-model="selectedBenefit"
              >
                <option value disabled selected>Select</option>
                <option v-for="benefit in listBenefit.data" :key="benefit._id" :value="benefit._id">{{benefit.provision.title.replaceAll("_", " ")}}</option>
              </select>
              <div
                class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
              >
                <svg
                  class="fill-current text-gray-500 h-4 w-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                  />
                </svg>
              </div>
            </div>
            
            <div class="w-1/5">
              <easiButton
                v-if="Object.keys(benefits).length -1 >= listBenefit.count"
                class="ml-4"
                variant="disabled"
              >Add</easiButton>
              <easiButton
                v-if="Object.keys(benefits).length -1 < listBenefit.count"
                class="ml-4"
                variant="outline"
                @click.native.prevent="addFunc(selectedBenefit, benefits); args.benefits.push(selectedBenefit)"
              >Add</easiButton>
              <!-- @click.native="addFunc(selectedBenefit, benefits)" args.benefits.push(selectedBenefit)-->
            </div>
          </div>
        </div>
        
        <div class="mt-6 flex">
          <div class="">Net Pay:</div>
          <!-- <div class="ml-8">{{netPay}}</div> -->
          <div class="ml-8 text-red-600">TBD</div>
        </div>
        
        <div class="flex justify-end mt-8 text-right">
          <easiButton variant="outline"
            @click.native.prevent="$router.push({ name: 'PayrollStaffLevel' })"
            class="mr-8 inline-block"
            v-if="inputsView==false"
          >
            <div class="px-8">Cancel</div>
          </easiButton>
          <easiButton class="inline-block" @click.native.prevent="inputsView=true" v-if="inputsView==false">
            <div class="px-8">Next</div>
          </easiButton>


          <easiButton variant="outline"
            @click.native.prevent="inputsView=false"
            class="mr-8 inline-block"
            v-if="inputsView==true"
          >
            <div class="px-8">Edit</div>
          </easiButton>
          <easiButton class="inline-block" v-if="inputsView==true">
            <div class="px-8">Submit</div>
          </easiButton>
        </div>
      </div>
    </form>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
import Multiselect from "vue-multiselect";

export default {
  data() {
    return {
        selectedStafflevel: [], //Gotten from route id.
        inputsView: false,
        args: {
            title: "",
            grossAmount: 0,
            allowanceDetails: [],
        },

        payload: {
            paging: {
            limit: 10,
            skip: 0,
            search: null
            }
        },

        selectedAllowance: "",
        selectedBenefit: "",

        allowances: {skip:0},
        benefits: {skip:0},

        netPay: 0
    }
  },

  computed: {
    ...mapGetters(["getAllEmployees", "applicant", "listAllowance", "listOtherPayment", "listBenefit", "getAllDepartments", "listAllStaffLevels"]),
  },

  methods: {
    async update(){
        this.args.allowanceDetails = []; // Clear any previous inputs before adding more on create.

        if (Object.keys(this.allowances).length > 1) {
            for (var item in this.allowances) {
            if (item != "skip"){
                this.args.allowanceDetails.push({ allowanceId: item, percentage: this.allowances[item] });
            }
            }
        }

        var routeId = this.$route.params.id;

        let res = await this.$store.dispatch("mutate", {
          endpoint: "UpdateStaffLevel",
          data: { id: routeId, request: this.args },
        });
        if (res.success) {
          this.$toast.success("Staff Level Updated Successfully");
          this.$router.push({ name: "PayrollStaffLevel" });
        }

    },
    addFunc(itemArg, jsonArg) {
      var itemExists = false; // Check if item already exists in jsonArg:

      for (var item in jsonArg) {
        if(item == itemArg){ itemExists=true; }
      }


      if (!itemExists){
        jsonArg[itemArg] = 0
      }
    },

    removeFunc(itemArg, jsonArg) {
      delete jsonArg[itemArg];
      this.forceRerender();
    },

    addValue(x, itemArg, jsonArg) {
      jsonArg[itemArg] = parseInt(x);

      this.updateNetPay()
    },

    getStaffLevelById(id) {
      var stafflevels = this.listAllStaffLevels.data;
      var data = null;
      stafflevels.forEach(
        function(stafflevel, index) {
          if (stafflevel._id == id){
            data = stafflevel
          }
        }
      )

      return data
    },

    getAllownaceById(id) {
      var allowances = this.listAllowance.data;
      var data = null;
      allowances.forEach(
        function(allowance, index) {
          if (allowance._id == id){
            data = allowance
          }
        }
      )

      return data
    },

    getBenefitById(id) {
      var benefits = this.listBenefit.data;
      var data = null;
      benefits.forEach(
        function(benefit, index) {
          if (benefit._id == id){
            data = benefit
          }
        }
      )

      return data
    },

    async queryAllowances() {
      await this.$store.dispatch("query", {
        endpoint: "ListAllowance",
        payload: this.payload,
        storeKey: "allowance",
        service: "PAY",
      });
    },

    async queryBenefits() {
      await this.$store.dispatch("query", {
        endpoint: "ListBenefit",
        payload: this.payload,
        storeKey: "benefit",
        service: "PAY",
      });
    },
  },

  async created() {
    await this.queryAllowances();
    await this.queryBenefits();

    this.selectedStafflevel = this.getStaffLevelById(this.$route.params.id);

    // Set args values based on selectedStafflevel:
    this.args.title = this.selectedStafflevel.title;
    this.args.grossAmount = this.selectedStafflevel.grossAmount;
    this.args.allowanceDetails = this.selectedStafflevel.allowanceDetails;

    var allowances = this.allowances;//Due to js scope issue.
    this.selectedStafflevel.allowanceDetails.forEach(
        function(detail, index){
            // this.addFunc(detail.allowanceId, this.allowances);
            allowances[detail.allowanceId] = detail.percentage;
        }
    )


  }
}
</script>