<template>
  <main>
    <div class="flex w-full max-w-2xl">
      <easiBackButton @click.native="$router.push({name: 'PayrollStaffLevel'})" />
      <h1 class="text-2xl text-gray-700 ml-8">View Level</h1>
    </div>
    <form @submit.prevent="update">
      <div class="w-full max-w-2xl bg-white py-3 px-5 mt-6 shadow-xs pb-8">
        <div>
          <div class="">Title</div>
          <p class="text-base text-gray-400">{{args.title || 'N/A'}}</p>
        </div>

        <div class="mt-6">
          <div class="">Max Gross Amount</div>
          <p class="text-base text-gray-400">{{args.grossAmount || 'N/A'}}</p>
        </div>

        <div class="mt-6">
            <div class="">Allowances</div>
            <p
                class="text-base text-gray-400"
                v-for="allowanceArg in Object.keys(allowances).splice(1,)"
                :key="allowanceArg"
            >
                <span class="text-gray-800">{{getAllownaceById(allowanceArg).name}}:</span> {{allowances[allowanceArg]}}
            </p>
        </div>

        <div class="mt-6">
            <div class="">Benefits</div>
            <p
              class="text-base text-gray-400"
              v-for="benefitArg in Object.keys(benefits).splice(1,)"
              :key="benefitArg"
            >{{ getBenefitById(benefitArg).provision.title.replaceAll("_", " ") }}</p> 

            <p v-if="Object.keys(benefits).splice(1,).length == 0" class="text-gray-600">N/A</p>
        </div>

        
        <div class="mt-6 flex">
          <div class="">Net Pay:</div>
          <!-- <div class="ml-8">{{netPay}}</div> -->
          <div class="ml-8 text-red-600">TBD</div>
        </div>
        
        <div class="flex justify-end mt-8 text-right">
          <easiButton variant="outline"
            @click.native.prevent="$router.push({name:'PayrollUpdateStaffLevel', id:$route.params.id})"
            class="mr-8 inline-block"
          >
            <div class="px-8">Edit</div>
          </easiButton>
        </div>
      </div>
    </form>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
import Multiselect from "vue-multiselect";

export default {
  data() {
    return {
        selectedStafflevel: [], //Gotten from route id.
        inputsView: false,
        args: {
            title: "",
            grossAmount: 0,
            allowanceDetails: [],
        },

        payload: {
            paging: {
            limit: 10,
            skip: 0,
            search: null
            }
        },

        selectedAllowance: "",
        selectedBenefit: "",

        allowances: {skip:0},
        benefits: {skip:0},

        netPay: 0
    }
  },

  computed: {
    ...mapGetters(["getAllEmployees", "applicant", "listAllowance", "listOtherPayment", "listBenefit", "getAllDepartments", "listAllStaffLevels"]),
  },

  methods: {
    async update(){
        this.args.allowanceDetails = []; // Clear any previous inputs before adding more on create.

        if (Object.keys(this.allowances).length > 1) {
            for (var item in this.allowances) {
            if (item != "skip"){
                this.args.allowanceDetails.push({ allowanceId: item, percentage: this.allowances[item] });
            }
            }
        }

        var routeId = this.$route.params.id;

        let res = await this.$store.dispatch("mutate", {
          endpoint: "UpdateStaffLevel",
          data: { id: routeId, request: this.args },
          service: "PAY",
        });
        if (res.success) {
          this.$toast.success("Staff Level Updated Successfully");
          this.$router.push({ name: "PayrollStaffLevel" });
        }

    },
    addFunc(itemArg, jsonArg) {
      var itemExists = false; // Check if item already exists in jsonArg:

      for (var item in jsonArg) {
        if(item == itemArg){ itemExists=true; }
      }


      if (!itemExists){
        jsonArg[itemArg] = 0
      }
    },

    removeFunc(itemArg, jsonArg) {
      delete jsonArg[itemArg];
      this.forceRerender();
    },

    addValue(x, itemArg, jsonArg) {
      jsonArg[itemArg] = parseInt(x);

      this.updateNetPay()
    },

    getStaffLevelById(id) {
      var stafflevels = this.listAllStaffLevels.data;
      var data = null;
      stafflevels.forEach(
        function(stafflevel, index) {
          if (stafflevel._id == id){
            data = stafflevel
          }
        }
      )

      return data
    },

    getAllownaceById(id) {
      var allowances = this.listAllowance.data;
      var data = null;
      allowances.forEach(
        function(allowance, index) {
          if (allowance._id == id){
            data = allowance
          }
        }
      )

      return data
    },

    getBenefitById(id) {
      var benefits = this.listBenefit.data;
      var data = null;
      benefits.forEach(
        function(benefit, index) {
          if (benefit._id == id){
            data = benefit
          }
        }
      )

      return data
    },

    async queryAllowances() {
      await this.$store.dispatch("query", {
        endpoint: "ListAllowance",
        payload: this.payload,
        storeKey: "allowance",
        service: "PAY",
      });
    },

    async queryBenefits() {
      await this.$store.dispatch("query", {
        endpoint: "ListBenefit",
        payload: this.payload,
        storeKey: "benefit",
        service: "PAY",
      });
    },
  },

  async created() {
    await this.queryAllowances();
    await this.queryBenefits();

    this.selectedStafflevel = this.getStaffLevelById(this.$route.params.id);

    // Set args values based on selectedStafflevel:
    this.args.title = this.selectedStafflevel.title;
    this.args.grossAmount = this.selectedStafflevel.grossAmount;
    this.args.allowanceDetails = this.selectedStafflevel.allowanceDetails;

    var allowances = this.allowances;//Due to js scope issue.
    this.selectedStafflevel.allowanceDetails.forEach(
        function(detail, index){
            // this.addFunc(detail.allowanceId, this.allowances);
            allowances[detail.allowanceId] = detail.percentage;
        }
    )


  }
}
</script>