<template>
  <main>
    <div class="flex w-full max-w-2xl">
      <easiBackButton @click.native="$router.push({ name: 'PayrollSettings' })" />
      <h1 class="text-2xl text-gray-700 ml-8">Create New</h1>
    </div>
    <div class="w-full max-w-2xl bg-white py-3 px-5 mt-6 shadow-xs pb-8">
      <p class="text-gray-600 font-medium text-sm mt-6 font-bold">Name</p>
      <div class="mt-2">
        <input
          class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
          type="text"
          placeholder
          required
          v-model="args.name"
        />
      </div>

      <div class="flex justify-end mt-8 text-right">
        <easiButton variant="outline" @click.native="$router.push({ name: 'PayrollSettings' })" class="mr-8 inline-block">
          <div class="px-8">Cancel</div>
        </easiButton>
        <easiButton @click.native="create" class="inline-block">
          <div class="px-8">Create</div>
        </easiButton>
      </div>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      args: {
        name: "",
      },
    };
  },

  methods: {
    async create() {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "CreateAllowance",
        data: { request: this.args },
        service: "PAY",
      });
      if (res.success) {
        this.$toast.success("Allowance Created Successfuly");
        this.$router.push({ name: "PayrollAllowances" });
      }
    },
  },
};
</script>


<style>
</style>