<template>
  <form @submit.prevent="update" class="mt-5 p-6 pl-10 pr-10 bg-white">
    <div class="grid grid-cols-2 col-gap-5 mt-5">
      <div>
        <p class="font-bold text-gray-700 text-base">Compensation Type</p>
        <p class="text-sm text-gray-400">{{selectedEmployee.compensation || 'N/A'}}</p>
      </div>
      <div>
        <p class="font-bold text-gray-700 text-base">Annual Gross Pay</p>
        <p class="text-sm text-gray-400">{{selectedEmployee.compensation || 'N/A'}}</p>
      </div>
      <div class="mt-5">
        <p class="font-bold text-gray-700 text-base">Payment Frequency</p>
        <p class="text-sm text-gray-400">{{selectedEmployee.compensation || 'N/A'}}</p>
      </div>
      <div class="mt-5">
        <p class="font-bold text-gray-700 text-base">Payment Method</p>
        <p class="text-sm text-gray-400">{{selectedEmployee.compensation || 'N/A'}}</p>
      </div>
      <div class="mt-5">
        <p class="font-bold text-gray-700 text-base">Bank Name</p>
        <p class="text-sm text-gray-400" v-if="editView==false">{{selectedEmployee.payment.bankName || 'N/A'}}</p>
        <div class="relative" v-if="editView==true">
          <select
            class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
            id="grid-state"
            v-model="bankDetailsSelected"
            required
          >
            <option value disabled selected>Select</option>
            <option v-for="bank in banks" :key="bank.name" :value="bank">{{bank.name}}</option>
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
          >
            <svg
              class="fill-current text-gray-500 h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="mt-5">
        <p class="font-bold text-gray-700 text-base">Account Number</p>
        <p class="text-sm text-gray-400" v-if="editView==false">{{selectedEmployee.payment.accountNumber || 'N/A'}}</p>
        <input
          class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
          type="number"
          placeholder
          required
          v-model="payment.accountNumber"
          v-if="editView==true"
        />
      </div>
      <div class="mt-5">
        <p class="font-bold text-gray-700 text-base">Account Type</p>
        <p class="text-sm text-gray-400" v-if="editView==false">--</p>
        <div class="relative" v-if="editView==true">
          <select
            class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
            id="grid-state"
            v-model="payment.bankAccountType"
            required
          >
            <option value disabled selected>Select</option>
            <option value="Savings">Savings</option>
            <option value="Current">Current</option>
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
          >
            <svg
              class="fill-current text-gray-500 h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="mt-5">
        <p class="font-bold text-gray-700 text-base">Account Name</p>
        <p class="text-sm text-gray-400" v-if="editView==false">{{selectedEmployee.payment.accountName || 'N/A'}}</p>
        <input
          class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
          type="text"
          placeholder
          required
          v-model="payment.accountName"
          v-if="editView==true"
        />
      </div>
    </div>
    
    <div class="flex justify-end mt-8 text-right" v-if="editView == true">
      <easiButton @click.native.prevent="editView = false" variant="outline" class="inline-block mr-8 w-32">Cancel</easiButton>
      <easiButton class="inline-block">Save Changes</easiButton>
    </div>
    <div class="flex justify-end mt-8 text-right" v-if="editView == false">
      <easiButton class="inline-block" variant="outline" @click.native.prevent="editView = true">
        <div class="px-8">Edit</div>
      </easiButton>
    </div>
  </form>
</template>

<script>
import { mapGetters } from "vuex";
import banks from "../../../../utils/banks"

export default {
  data() {
    return {
      editView: false,
      banks: banks,
      payment: {
        bankName: '',
        accountName: '',
        accountNumber: '',
        bankAccountType: '',
        bankCode: '',
      },
      bankDetailsSelected: {},
      payload: {
        paging: {
          limit: 10,
          skip: 0,
          search: null
        }
      },
      selectedEmployee: {},
    };
  },

  computed: {
      ...mapGetters(["createNewEmployee", "getAllEmployees"]),
  },
  methods: {
    async update() {
      // Get bank info:
      this.payment.bankName = this.bankDetailsSelected.name
      this.payment.bankCode = this.bankDetailsSelected.code

      let res = await this.$store.dispatch("mutate", {
        endpoint: "UpdateEmployeePayment",
        data: { id: this.selectedEmployee._id, payment: this.payment },
      });
      if (res.success) {
        this.$toast.success("Record Updated Successfully");
        this.editView = false;
      }
    },

    async queryEmployees() {
      this.$store.dispatch("query", {
        endpoint: "ListEmployees",
        payload: this.payload,
        storeKey: "listEmployees",
        service: "EMP",
      });
    },

    getEmployeeById(id) {
      var employees = this.getAllEmployees.data;
      var data = null;
      employees.forEach(
        function(employee, index) {
          if (employee._id == id){
            data = employee
          }
        }
      )

      return data
    },
  },

  async created() {
    await this.queryEmployees();
    this.selectedEmployee = this.getEmployeeById(this.$route.params.id);
  }
};
</script>

<style>
</style>