<template>
  <main>
    <form @submit.prevent="update" class="mt-5 p-6 pl-10 pr-10 bg-white">
        <div class="grid-cols-2 grid col-gap-10 row-gap-5 mt-5">
            <div>
                <p class="text-gray-600 font-medium text-sm">Full Name</p>
                <p class="text-sm text-gray-400" v-if="editView==false">{{selectedEmployee.emergency.fullName}}</p>
                <input
                  class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                  type="text"
                  required
                  v-model="emergency.fullName"
                  v-if="editView==true"
                />
            </div>
            <div>
                <p class="text-gray-600 font-medium text-sm">Relationship</p>
                <p class="text-sm text-gray-400" v-if="editView==false">{{selectedEmployee.emergency.relationship}}</p>
                <input
                  class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                  type="text"
                  required
                  v-model="emergency.relationship"
                  v-if="editView==true"
                />
            </div>
            <div>
                <p class="text-gray-600 font-medium text-sm">Address</p>
                <p class="text-sm text-gray-400" v-if="editView==false">{{selectedEmployee.emergency.address}}</p>
                <input
                  class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                  type="text"
                  required
                  v-model="emergency.address"
                  v-if="editView==true"
                />
            </div>
            <div>
                <p class="text-gray-600 font-medium text-sm">Country</p>
                <p class="text-sm text-gray-400" v-if="editView==false">{{selectedEmployee.emergency.country}}</p>
                <div class="relative" v-if="editView==true">
                    <select
                        class="block appearance-none text-gray-700 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
                        id="grid-state"
                        v-model="country"
                        required
                    >
                        <option value disabled>Countries</option>
                        <option v-for="(k, i) in countries" :key="i" :value="k">
                        {{ k }}
                        </option>
                    </select>
                    <div
                        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
                    >
                        <svg
                        class="fill-current h-4 w-4"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        >
                        <path
                            d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                        />
                        </svg>
                    </div>
                </div>
            </div>

            <div>
                <p class="text-gray-600 font-medium text-sm">Phone</p>
                <p class="text-sm text-gray-400" v-if="editView==false">{{selectedEmployee.emergency.phone}}</p>
                <input
                  class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                  type="number"
                  placeholder=""
                  required
                  v-model="emergency.phone"
                  v-if="editView==true"
                />
            </div>
            <div>
                <p class="text-gray-600 font-medium text-sm">Email Address</p>
                <p class="text-sm text-gray-400" v-if="editView==false">{{selectedEmployee.emergency.email}}</p>
                <input
                  class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                  type="email"
                  required
                  v-model="emergency.email"
                  v-if="editView==true"
                />
            </div>
        </div>

        <div class="flex justify-end mt-8 text-right" v-if="editView == true">
          <easiButton @click.native.prevent="editView = false" variant="outline" class="inline-block mr-8 w-32">Cancel</easiButton>
          <easiButton class="inline-block">Save Changes</easiButton>
        </div>
        <div class="flex justify-end mt-8 text-right" v-if="editView == false">
          <easiButton class="inline-block" variant="outline" @click.native.prevent="editView = true">
            <div class="px-8">Edit</div>
          </easiButton>
        </div>
    </form>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
import banks from "../../../../utils/banks"

export default {
  data() {
    return {
      editView: false,
      emergency: {
        fullName: '',
        relationship: '',
        address: '',
        country: '',
        phone: '',
        email: '',
      },
      payload: {
        paging: {
          limit: 10,
          skip: 0,
          search: null
        }
      },
      selectedEmployee: {},
    };
  },

  watch: {
    country: {
      immediate: true,
      handler(x) {
        if (x) {
          let allCountry = this.getCountries.find((state) => {
            return state.name == x;
          });
          let states = [];
          allCountry.states.map((x) => {
            states.push(x.name);
          });
          this.allState = states;

          //Also set country in emergency arg:
          this.emergency.country = x;
        }
      },
    },
  },

  computed: {
    ...mapGetters(["createNewEmployee", "getCountries", "getAllEmployees"]),
    
    countries() {
        let allCountries = this.getCountries;
        let k = [];
        allCountries.map((x) => {
            k.push(x.name);
        });
        return k;
    },

    country: {
        // *Note: Does nothing.
        get() {
            return this.createNewEmployee.profile.country;
        },
        set(value) {
            this.$store.commit("set", {
            type: "CreateEmployee",
            data: {
                ...this.createNewEmployee,
                profile: {
                ...this.createNewEmployee.profile,
                country: value,
                },
            },
            });
        },
    },
  },

  methods: {
    async update() {

      console.log({ id: this.selectedEmployee._id, emergency: this.emergency }, "emergency args")

      let res = await this.$store.dispatch("mutate", {
        endpoint: "UpdateEmployeeEmergency",
        data: { id: this.selectedEmployee._id, emergency: this.emergency },
      });
      if (res.success) {
        this.$toast.success("Record Updated Successfully");
        this.editView = false;
      }
    },

    async queryEmployees() {
      this.$store.dispatch("query", {
        endpoint: "ListEmployees",
        payload: this.payload,
        storeKey: "listEmployees",
        service: "EMP",
      });
    },

    getEmployeeById(id) {
      var employees = this.getAllEmployees.data;
      var data = null;
      employees.forEach(
        function(employee, index) {
          if (employee._id == id){
            data = employee
          }
        }
      )

      return data
    },
  },

  async created() {
    await this.queryEmployees();
    this.selectedEmployee = this.getEmployeeById(this.$route.params.id);
  }
};
</script>

<style>
</style>