<template>
  <form @submit.prevent="update" class="mt-5 p-6 pl-10 pr-10 bg-white">
    <div class="grid grid-cols-2 col-gap-5 mt-5">
      <div>
        <p class="font-bold text-gray-700 text-base">Hire Date</p>
        <p class="text-sm text-gray-400" v-if="editView==false">{{selectedEmployee.empJob.hireDate}}</p>
        <input
          class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
          type="date"
          placeholder
          required
          v-model="job.hireDateString"
          v-if="editView==true"
        />
      </div>
      <div>
        <p class="font-bold text-gray-700 text-base">Job Title</p>
        <p class="text-sm text-gray-400" v-if="editView==false">{{selectedEmployee.empJob.jobTitle}}</p>
        <input
          class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
          type="text"
          placeholder
          required
          v-model="job.jobTitle"
          v-if="editView==true"
        />
      </div>
      <div class="mt-5">
        <p class="font-bold text-gray-700 text-base">Employment Type</p>
        <p class="text-sm text-gray-400" v-if="editView==false">{{selectedEmployee.empJob.employmentType}}</p>
        <select
          class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
          id="grid-state"
          v-model="job.employmentType"
          v-if="editView==true"
        >
          <option value disabled selected>Select</option>
          <option value="FULLTIME_ONSITE">Full Time On Site</option>
          <option value="CONTRACT_ONSITE">Contract On Site</option>
          <option value="FULLTIME_REMOTE">Full Time Remote</option>
          <option value="CONTRACT_REMOTE">Contract Remote</option>
        </select>
      </div>
      <div class="mt-5">
        <p class="font-bold text-gray-700 text-base">Branch</p>
        <p class="text-sm text-gray-400" v-if="editView==false">{{getBranchById(selectedEmployee.empJob.branchId).name}}</p>
        <div class="relative" v-if="editView==true">
          <select
            class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
            id="grid-state"
            v-model="job.branchId"
            required
          >
            <option value disabled selected>Select</option>
            <option
              v-for="branch in listBranch.data"
              :key="branch._id"
              :value="branch._id"
              >{{ branch.name }}</option
            >
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
    
    <div class="grid grid-cols-2 col-gap-5 mt-5">
      <div>
        <p class="font-bold text-gray-700 text-base">Department</p>
        <p class="text-sm text-gray-400" v-if="editView==false">{{getDepartmentById(selectedEmployee.empJob.departmentId).name}}</p>
        <div class="relative" v-if="editView==true">
          <select
            class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
            id="grid-state"
            v-model="job.departmentId"
          >
            <option value disabled>Department</option>
            <option
              v-for="department in getAllDepartments.data"
              :key="department._id"
              :value="department._id"
              >{{ department.name }}</option
            >
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </div>
        </div>
      </div>
      <!-- *Note: Teams removed. -->
      <!-- <div class="mt-5">
        <p class="font-bold text-gray-700 text-base">Team</p>
        <p class="text-sm text-gray-400" v-if="editView==false">{{selectedEmployee.empJob.teamId}}</p>
        <input
          class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
          type="text"
          placeholder
          required
          v-model="job.teamId"
          v-if="editView==true"
        />
      </div> -->
      <div class="">
        <p class="font-bold text-gray-700 text-base">Manager</p>
        <p class="text-sm text-gray-400" v-if="editView==false">{{getEmployeeById(selectedEmployee.empJob.reportTo) || 'N/A'}}</p>
        <div class="relative" v-if="editView==true">
          <select
            class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
            id="grid-state"
            v-model="job.reportTo"
          >
            <option value="" disabled selected>Select</option>
            <option
              v-for="employee in getAllEmployees.data"
              :key="employee._id"
              :value="employee._id"
              >{{ employee.profile.firstName }} {{ employee.profile.lastName }}</option
            >
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </div>
        </div>
      </div>
      <!-- *Note: Role removed. -->
      <!-- <div class="mt-5">
        <p class="font-bold text-gray-700 text-base">Role</p>
        <p class="text-sm text-gray-400" v-if="editView==false">{{selectedEmployee.empJob}}</p>
        <input
          class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
          type="text"
          placeholder
          required
          v-model="team"
          v-if="editView==true"
        />
      </div> -->
    </div>

    <div class="mt-5">
      <p class="font-bold text-gray-700 text-base">Staff Level</p>
      <p class="text-sm text-gray-400" v-if="editView==false">{{getStaffLevelById(selectedEmployee.empJob.staffLevelId).title}}</p>
      <div class="relative" v-if="editView==true">
        <select
            class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
            id="grid-state"
            v-model="job.staffLevelId"
        >
            <option value disabled selected>Select</option>
            <option
            v-for="stafflevel in listAllStaffLevels.data"
            :key="stafflevel._id"
            :value="stafflevel._id"
            >{{ stafflevel.title }}</option
            >
        </select>
        <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
        >
            <svg
            class="fill-current h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            >
            <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
            />
            </svg>
        </div>
      </div>
    </div>

    
    <div class="flex justify-end mt-8 text-right" v-if="editView == true">
      <easiButton @click.native.prevent="editView = false" variant="outline" class="inline-block mr-8 w-32">Cancel</easiButton>
      <easiButton class="inline-block">Save Changes</easiButton>
    </div>
    <div class="flex justify-end mt-8 text-right" v-if="editView == false">
      <easiButton class="inline-block" variant="outline" @click.native.prevent="editView = true">
        <div class="px-8">Edit</div>
      </easiButton>
    </div>
  </form>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      editView: false,
      job: {
        jobTitle: '',
        branchId: '',
        departmentId: '',
        // teamId: '', //Not compulsory
        employmentType: '',
        // reportTo: '', // Should not be compulsory.
        hireDateString: '',
        staffLevelId: '',
      },
      payload: {
        paging: {
          limit: 10,
          skip: 0,
          search: null
        }
      },
      selectedEmployee: {},
    };
  },

  computed: {
    ...mapGetters(["getAllEmployees", "createNewEmployee", "getAllDepartments", "applicant", "listBranch", "listTeam", "listAllStaffLevels"]),
    reporting() {
      let k = [];
      let currentUser = {};
      currentUser.firstName = this.applicant.firstName;
      currentUser.lastName = this.applicant.lastName;
      currentUser._id = this.applicant._id;
      k.push(currentUser);
      return k;
    },
  },

  methods: {
    async update() {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "UpdateEmployeeJob",
        data: { id: this.selectedEmployee._id, job: this.job },
      });
      if (res.success) {
        this.$toast.success("Record Updated Successfully");
        this.editView = false;
      }
    },

    async queryEmployees() {
      this.$store.dispatch("query", {
        endpoint: "ListEmployees",
        payload: this.payload,
        storeKey: "listEmployees",
        service: "EMP",
      });
    },

    getEmployeeById(id) {
      var employees = this.getAllEmployees.data;
      var data = null;
      employees.forEach(
        function(employee, index) {
          if (employee._id == id){
            data = employee
          }
        }
      )

      return data
    },

    getDepartmentById(id) {
      var departments = this.getAllDepartments.data;
      var data = null;
      departments.forEach(
        function(department, index) {
          if (department._id == id){
            data = department
          }
        }
      )

      return data
    },

    getBranchById(id) {
      var branches = this.listBranch.data;
      var data = null;
      branches.forEach(
        function(branch, index) {
          if (branch._id == id){
            data = branch
          }
        }
      )

      return data
    },

    getTeamById(id) {
      var teams = this.listTeam.data;
      var data = null;
      team.forEach(
        function(team, index) {
          if (team._id == id){
            data = team
          }
        }
      )

      return data
    },

    getStaffLevelById(id) {
      var stafflevels = this.listAllStaffLevels.data;
      var data = null;
      stafflevels.forEach(
        function(stafflevel, index) {
          if (stafflevel._id == id){
            data = stafflevel
          }
        }
      )

      return data
    },

    async queryBranches() {
      await this.$store.dispatch("query", {
        endpoint: "ListBranch",
        payload: this.payload,
        storeKey: "branch",
      });
    },

    async queryTeams() {
      await this.$store.dispatch("query", {
        endpoint: "ListTeam",
        payload: this.payload,
        storeKey: "team",
      });
    },

    queryStafflevels() {
      this.$store.dispatch("query", {
        endpoint: "ListStaffLevel",
        payload: this.payload,
        storeKey: "listStaffLevel",
      });
    },
  },

  async created() {
    await this.queryEmployees();
    this.selectedEmployee = this.getEmployeeById(this.$route.params.id);

    await this.queryBranches();
    await this.queryTeams();
    await this.queryStafflevels();
  },
};
</script>

<style>
</style>