<template>
  <main>
    <form @submit.prevent="update">
      <div class="px-6 pt-10 pb-10 pl-8 bg-white mt-6 shadow">
        <div class="pr-90">
          <div>
            <p class="font-bold text-gray-700 text-base">Employee ID</p>
            <p class="text-base text-gray-400">{{selectedEmployee._id}}</p>
          </div>
          <div class="grid-cols-2 grid col-gap-5 row-gap-5 mt-5">
            <div>
              <p class="font-bold text-gray-700 text-base">First Name</p>
              <p class="text-base text-gray-400" v-if="editView==false">{{selectedEmployee.profile.firstName}}</p>
              <input
                class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                type="text"
                placeholder="First Name"
                required
                v-model="profile.firstName"
                v-if="editView==true"
              />
            </div>

            <div v-if="editView==true">
              <p class="font-bold text-gray-700 text-base">Middle Name</p>
              <p class="text-base text-gray-400" v-if="editView==false">{{selectedEmployee.profile.middleName}}</p>
              <input
                class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                type="text"
                placeholder="First Name"
                required
                v-model="profile.middleName"
                v-if="editView==true"
              />
            </div>

            <div>
              <p class="font-bold text-gray-700 text-base">Last Name</p>
              <p class="text-base text-gray-400" v-if="editView==false">{{selectedEmployee.profile.lastName}}</p>
              <input
                class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                type="text"
                placeholder="First Name"
                required
                v-model="profile.lastName"
                v-if="editView==true"
              />
            </div>

            <div>
              <p class="font-bold text-gray-700 text-base">Date of Birth</p>
              <p class="text-base text-gray-400" v-if="editView==false">{{selectedEmployee.profile.dob}}</p>
              <input
                class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                type="date"
                placeholder="Select"
                required
                v-model="profile.dob"
                v-if="editView==true"
              />
            </div>

            <div>
              <p class="font-bold text-gray-700 text-base">Gender</p>
              <p class="text-base text-gray-400" v-if="editView==false">{{selectedEmployee.profile.gender}}</p>
              <div class="relative" v-if="editView==true">
                <select
                  class="block appearance-none text-gray-700 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
                  id="grid-state"
                  v-model="profile.gender"
                >
                  <option value="">Gender</option>
                  <option value="MALE">Male</option>
                  <option value="FEMALE">Female</option>
                </select>
                <div
                  class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
                >
                  <svg
                    class="fill-current h-4 w-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                    />
                  </svg>
                </div>
              </div>
            </div>

            <div>
              <p class="font-bold text-gray-700 text-base">Address</p>
              <p class="text-base text-gray-400" v-if="editView==false">{{selectedEmployee.profile.address}}</p>
              <input
                class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                type="text"
                required
                v-model="profile.address"
                v-if="editView==true"
              />
            </div>
            
            <div>
              <p class="font-bold text-gray-700 text-base">Country</p>
              <p class="text-base text-gray-400" v-if="editView==false">{{selectedEmployee.profile.country}}</p>
              <div class="relative" v-if="editView==true">
                <select
                  class="block appearance-none text-gray-700 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
                  id="grid-state"
                  v-model="country"
                  disabled
                >
                  <option value disabled>Countries</option>
                  <option v-for="(k, i) in countries" :key="i" :value="k">
                    {{ k }}
                  </option>
                </select>
                <div
                  class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
                >
                  <svg
                    class="fill-current h-4 w-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                    />
                  </svg>
                </div>
              </div>
            </div>

            <div v-if="editView==true">
              <p class="font-bold text-gray-700 text-base">State</p>
              <p class="text-base text-gray-400" v-if="editView==false">{{selectedEmployee.profile.state}}</p>
              <div class="relative" v-if="editView==true">
                <select
                  class="block appearance-none text-gray-700 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
                  id="grid-state"
                  v-model="profile.state"
                >
                  <option value selected>Select State</option>
                  <option v-for="(k, i) in allState" :key="i" :value="k">
                    {{ k }}
                  </option>
                </select>

                <div
                  class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
                >
                  <svg
                    class="fill-current h-4 w-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                    />
                  </svg>
                </div>
              </div>
            </div>

            <div>
              <p class="font-bold text-gray-700 text-base">Marital Status</p>
              <p class="text-base text-gray-400" v-if="editView==false">{{selectedEmployee.profile.relationshipStatus}}</p>
              <div class="relative" v-if="editView==true">
                <select
                  class="block appearance-none text-gray-700 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
                  id="grid-state"
                  v-model="profile.relationshipStatus"
                >
                  <option value="" disabled selected>Select</option>
                  <option value="SINGLE">SINGLE</option>
                  <option value="MARRIED">MARRIED</option>
                  <option value="DIVORCED">DIVORCED</option>
                </select>
                <div
                  class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
                >
                  <svg
                    class="fill-current h-4 w-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                    />
                  </svg>
                </div>
              </div>
            </div>
            <div>
              <p class="font-bold text-gray-700 text-base">NIN</p>
              <p class="text-base text-gray-400" v-if="editView==false">{{selectedEmployee.profile.nin}}</p>
              <input
                class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                type="text"
                placeholder="Select"
                required
                v-model="profile.nin"
                v-if="editView==true"
              />
            </div>

            <div>
                <p class="font-bold text-gray-700 text-base">Email Address</p>
                <p class="text-base text-gray-400" v-if="editView==false">{{selectedEmployee.profile.email}}</p>
                <input
                class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                type="email"
                placeholder
                required
                v-model="profile.email"
                v-if="editView==true"
                />
            </div>

            <div>
                <p class="font-bold text-gray-700 text-base">Phone</p>
                <p class="text-base text-gray-400" v-if="editView==false">{{selectedEmployee.profile.phone}}</p>
                <input
                class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                type="number"
                placeholder
                required
                v-model="profile.phone"
                v-if="editView==true"
                />
            </div>
          </div>
        </div>

        <div class="flex justify-end mt-8 text-right" v-if="editView == true">
          <easiButton @click.native.prevent="editView = false" variant="outline" class="inline-block mr-8 w-32">Cancel</easiButton>
          <easiButton class="inline-block">Save Changes</easiButton>
        </div>
        <div class="flex justify-end mt-8 text-right" v-if="editView == false">
          <easiButton class="inline-block" variant="outline" @click.native.prevent="editView = true">
            <div class="px-8">Edit</div>
          </easiButton>
        </div>
      </div>
    </form>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      editView: false,
      allState: [],
      profile: {
        firstName: null,
        // middleName: '', //Not compulsory
        lastName: null,
        phone: null,
        email: null,
        // dob: null, // Not compulsory
        address: '',
        country: '',
        state: '',
        gender: '',
        relationshipStatus: '',
        // nin: '', // Not compulsory
      },
      payload: {
        paging: {
          limit: 10,
          search: null,
          skip: 0,
        }
      },
      selectedEmployee: {},

    };
  },

  watch: {
    country: {
      immediate: true,
      handler(x) {
        if (x) {
          let allCountry = this.getCountries.find((state) => {
            return state.name == x;
          });
          let states = [];
          allCountry.states.map((x) => {
            states.push(x.name);
          });
          this.allState = states;

          //Also set country in profile arg:
          this.profile.country = x;
        }
      },
    },
  },
  
  methods: {
    async update() {
      console.log(this.profile, "Updater here!!!!");
      let res = await this.$store.dispatch("mutate", {
        endpoint: "UpdateEmployeeProfile",
        data: { id: this.selectedEmployee._id, profile: this.profile },
      });
      if (res.success) {
        this.$toast.success("Record Updated Successfully");
        this.editView = false;
      }
    },

    async queryEmployees() {
      this.$store.dispatch("query", {
        endpoint: "ListEmployees",
        payload: this.payload,
        storeKey: "listEmployees",
        service: "EMP",
      });
    },

    getEmployeeById(id) {
      var employees = this.getAllEmployees.data;
      var data = null;
      employees.forEach(
        function(employee, index) {
          if (employee._id == id){
            data = employee
          }
        }
      )

      return data
    }
  },
  computed: {
    ...mapGetters(["getAllEmployees", "createNewEmployee", "getCountries"]),
    countries() {
        let allCountries = this.getCountries;
        let k = [];
        allCountries.map((x) => {
            k.push(x.name);
        });
        return k;
    },

    country: {
        // *Note: Does nothing.
        get() {
            return this.createNewEmployee.profile.country;
        },
        set(value) {
            this.$store.commit("set", {
            type: "CreateEmployee",
            data: {
                ...this.createNewEmployee,
                profile: {
                ...this.createNewEmployee.profile,
                country: value,
                },
            },
            });
        },
    },
  },
  async created() {
    await this.queryEmployees();
    this.selectedEmployee = this.getEmployeeById(this.$route.params.id);
  },
};
</script>

<style>
</style>