<template>
  <main>
    <div
      class="px-6 pt-6 pb-10 bg-white mt-6 shadow"
      v-for="(referee, index) in computedFields"
      :key="index"
    >
      <div class="grid-cols-2 grid col-gap-10 row-gap-5">
        <div>
          <p class="text-gray-600 font-medium text-sm">Full Name</p>
          <p class="text-base text-gray-400" v-if="!editView || itemToEdit!=index">{{ referee.fullName }}</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="text"
            placeholder=""
            required
            v-model="args.fullName"
            v-if="editView && itemToEdit==index"
          />
        </div>
        <div>
          <p class="text-gray-600 font-medium text-sm">Relationship</p>
          <p class="text-base text-gray-400" v-if="!editView || itemToEdit!=index">{{ referee.relationship }}</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="text"
            placeholder=""
            required
            v-model="args.relationship"
            v-if="editView && itemToEdit==index"
          />
        </div>
        <div>
          <p class="text-gray-600 font-medium text-sm">Address</p>
          <p class="text-base text-gray-400" v-if="!editView || itemToEdit!=index">{{ referee.address }}</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="text"
            placeholder=""
            required
            v-model="args.address"
            v-if="editView && itemToEdit==index"
          />
        </div>
        <div>
          <p class="text-gray-600 font-medium text-sm">Country</p>
          <p class="text-base text-gray-400" v-if="!editView || itemToEdit!=index">{{ referee.country }}</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="text"
            required
            v-model="args.country"
            v-if="editView && itemToEdit==index"
          />
        </div>

        <div>
          <p class="text-gray-600 font-medium text-sm">Phone</p>
          <p class="text-base text-gray-400" v-if="!editView || itemToEdit!=index">{{ referee.phone }}</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="number"
            placeholder=""
            required
            v-model="args.phone"
            v-if="editView && itemToEdit==index"
          />
        </div>
        <div>
          <p class="text-gray-600 font-medium text-sm">Email Address</p>
          <p class="text-base text-gray-400" v-if="!editView || itemToEdit!=index">{{ referee.email }}</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="email"
            required
            v-model="args.email"
            v-if="editView && itemToEdit==index"
          />
        </div>
      </div>
      <div class="flex justify-end mt-8 text-right" v-if="!editView || itemToEdit!=index">
        <easiButton variant="outline" @click.native="editView = true" class="inline-block">
          <div class="px-8">Edit</div>
        </easiButton>
        <easiButton @click.native="remove(referee._id)" class="ml-4" v-if="listEmployeeReferee.count > 0">
          <div class="px-8">Delete</div>
        </easiButton>
      </div>

      <div class="flex justify-end mt-8 text-right" v-if="editView && itemToEdit==index">
        <easiButton variant="outline" @click.native="itemToEdit = index; editView = false" class="inline-block">
          <div class="px-8">Cancel</div>
        </easiButton>
        <easiButton @click.native="mutate(referee._id, 'create')" class="ml-4">
          <div class="px-8">Save Changes</div>
        </easiButton>
      </div>
    </div>
    
    
    <div class="flex justify-center mt-8 text-center">
      <easiButton variant="outline" @click.native="computedFields.push(defaultFields[0])" class="inline-block">
        <div class="px-8">Add More</div>
      </easiButton>
    </div>
    
    {{itemToEdit}}ITE<br><br>
    {{listEmployeeReferee}}LER
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      employeeId: "",
      editView: false,
      itemToEdit: 0,
      args: {
        employeeId: "",
        fullName: null,
        relationship: null,
        address: null,
        country: null,
        phone: null,
        email: null,
      },
      payload: {
        paging: {
          limit: 10,
          search: null,
          skip: 0,
        }
      },

      refereePayload: {
        employeeId: "",
        paging: {
          limit: 10,
          search: null,
          skip: 0,
        }
      },
      selectedEmployee: {},

      // For when referee is empty.
      defaultFields: [
        {
          _id: "000",
          fullName: "N/A",
          relationship: "N/A",
          address: "N/A",
          country: "N/A",
          phone: "N/A",
          email: "N/A"
        },
      ],
      computedFields: [],

    };
  },

  computed: {
    ...mapGetters(["applicant", "getAllEmployees", "listEmployeeReferee"]),
  },

  methods: {
    mutate (idArg, method) {
      if (method == "update"){
        this.update(idArg);
      }
      else if (method == "create"){
        this.create()
      }
    },

    async update(idArg) {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "UpdateEmployeeReferee",
        data: { id: idArg, request: this.args },
      });
      if (res.success) {
        this.$toast.success("Record Updated Successfully");

        this.updateComputedFields();
        this.editView = false;
      }
    },

    async create() {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "CreateEmployeeReferee",
        data: { request: this.args },
      });
      if (res.success) {
        this.$toast.success("Referee Added Successfully");

        this.updateComputedFields();

        this.editView = false;

        this.$router.push({name: "ViewEmployeeProfile", params: {id: this.$route.params.id}});
        // this.$router.push({name: "ViewEmployeeReferees", params: {id: this.$route.params.id}});
      }
    },

    async remove(x) {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "DeleteEmployeeReferee",
        data: { employeeId: this.employeeId, id: x },
      });

      if (res.success) {
        let update = {
          count: this.listEmployeeReferee.count - 1,
          data: this.listEmployeeReferee.data.filter((y) => y._id !== x),
        };
        this.$store.commit("set", {
          type: "employeeReferee",
          data: update,
        });
        this.$toast.success("Referee Record Deleted Succesfully!");

        this.updateComputedFields();
      }
    },

    async updateComputedFields(){
      console.log("this.listEmployeeReferee.count>>>", this.listEmployeeReferee.count);
      // Query ListEmployeeReferee endpoint again:
      await this.queryReferees();

      console.log("this.listEmployeeReferee.count>>>", this.listEmployeeReferee.count);

      // Then
      if (this.listEmployeeReferee.count  <= 0){
        this.computedFields = this.defaultFields;
      }
      else if (this.listEmployeeReferee.count  > 0) {
        this.computedFields = this.listEmployeeReferee.data;
      }

    },

    async queryReferees() {
      this.$store.dispatch("query", {
        endpoint: "ListEmployeeReferee",
        payload: this.refereePayload,
        storeKey: "employeeReferee",
        service: "EMP",
      });
    },

    async queryEmployees() {
      this.$store.dispatch("query", {
        endpoint: "ListEmployees",
        payload: this.payload,
        storeKey: "listEmployees",
        service: "EMP"
      });
    },

    getEmployeeById(id) {
      var employees = this.getAllEmployees.data;
      var data = null;
      employees.forEach(
        function(employee, index) {
          if (employee._id == id){
            data = employee
          }
        }
      )

      return data
    }
  },

  async created() {
    this.employeeId = this.$route.params.id;
    await this.queryEmployees();
    this.selectedEmployee = this.getEmployeeById(this.$route.params.id);

    this.args.employeeId = this.employeeId;

    this.refereePayload.employeeId = this.employeeId;
    await this.queryReferees();

    // Use endpoint data for computedFields if listEmployeeReferee is not empty
    if (this.listEmployeeReferee.count > 0){
      this.computedFields = this.listEmployeeReferee.data;
    } else {
      this.computedFields = this.defaultFields;
    }
  },
};
</script>

<style>
</style>