<template>
  <main class="mt-5 p-6 pl-10 pr-10 bg-white">
    <div class="py-3 border">
      <div class="text-sm text-gray-900 pl-4 inline-block">
        Statutory Bodies
      </div>

      <div class="ml-10 inline-block">
        <input
          type="text"
          class="focus:outline-none text-xs w-64 text-gray-600 appearance-none border rounded-sm leading-7 pl-3"
          placeholder="Search"
        />
      </div>

      <easiButton
        class="mr-5 float-right inline-block"
        @click.native="showModal = true"
        >
        <div class="leading-3 flex items-center">
            <svg
            class="w-3 h-3 lg:block hidden"
            viewBox="0 0 12 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            >
            <path
                d="M11.5312 5.53125H6.46875V0.46875C6.46875 0.209859 6.25889 0 6 0C5.74111 0 5.53125 0.209859 5.53125 0.46875V5.53125H0.46875C0.209859 5.53125 0 5.74111 0 6C0 6.25889 0.209859 6.46875 0.46875 6.46875H5.53125V11.5312C5.53125 11.7901 5.74111 12 6 12C6.25889 12 6.46875 11.7901 6.46875 11.5312V6.46875H11.5312C11.7901 6.46875 12 6.25889 12 6C12 5.74111 11.7901 5.53125 11.5312 5.53125Z"
                fill="white"
            />
            </svg>
            <span class="ml-2">Add to Stautory Body</span>
        </div>
       </easiButton>
    </div>
    <table class="table-auto w-full overflow-y-auto shadow-sm bg-white">
      <thead>
        <tr class="bg-easipurple text-white">
          <th
            v-for="(title, index) in headers"
            :key="index"
            class="px-4 py-3 text-left font-light uppercase text-sm"
          >
            <div>{{ title }}</div>
          </th>
        </tr>
      </thead>
      <div class="py-2" v-if="checkLoading">
        <div class="loader">
          <svg viewBox="0 0 80 80">
            <rect x="8" y="8" width="64" height="64" />
          </svg>
        </div>
      </div>
      <tbody v-else-if="listProvision.data.length">
        <tr
          v-for="statutorybody in listEmployeeStatutoryBody.data"
          :key="statutorybody._id"
          class="bg-white even:bg-gray-100 text-gray-600 cursor-pointer hover:bg-gray-600 group hover:text-white"
        >
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ getStatutoryBodyById(statutorybody.statutoryBodyId).title }}
          </td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ getProvisionById( getStatutoryBodyById(statutorybody.statutoryBodyId).provisionId ).title }}
          </td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ statutorybody.employeeStatutoryBodyId }}
          </td>
          <td class="px-4 py-4 text-sm font-thin tracking-wide flex">
            <svg
              @click="$router.push({name: 'PayrollSettingsListStatutoryBodies', params: {id: provision._id}})"
              class="w-5 h-5 fill-current text-blue-500 group-hover:text-white mt-2"
              viewBox="0 0 23 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                clip-rule="evenodd"
                d="M22.4331 7.43364C22.2477 7.1297 17.7968 0 11.3316 0C4.86648 0 0.415569 7.1297 0.230115 7.43364C-0.0767049 7.93104 -0.0767049 8.55896 0.230115 9.05636C0.415569 9.3603 4.86648 16.4642 11.3265 16.4848H11.3574C17.8019 16.4848 22.2528 9.35515 22.4383 9.05121C22.7414 8.5541 22.7394 7.92881 22.4331 7.43364ZM11.3574 14.9394C5.69072 14.9394 1.56951 8.24242 1.56951 8.24242C1.56951 8.24242 5.69072 1.54545 11.3574 1.54545C17.0241 1.54545 21.1453 8.24242 21.1453 8.24242C21.1453 8.24242 17.0086 14.9394 11.3574 14.9394Z"
              />
              <path
                clip-rule="evenodd"
                d="M11.3317 4.12122C9.05558 4.12122 7.21045 5.96635 7.21045 8.24243C7.21045 10.5185 9.05558 12.3636 11.3317 12.3636C13.6077 12.3636 15.4529 10.5185 15.4529 8.24243C15.4529 5.96635 13.6077 4.12122 11.3317 4.12122ZM11.3317 10.8182C9.90911 10.8182 8.7559 9.66498 8.7559 8.24243C8.7559 6.81988 9.90911 5.66667 11.3317 5.66667C12.7542 5.66667 13.9074 6.81988 13.9074 8.24243C13.9074 9.66498 12.7542 10.8182 11.3317 10.8182Z"
              />
            </svg>
            <svg @click="remove(statutorybody)" class="ml-6" width="32" height="36" viewBox="0 0 32 36" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.5" y="0.5" width="30.7647" height="35" rx="2.5" stroke="#CC2E2E"/>
              <g clip-path="url(#clip0)">
              <path d="M18.3156 15.2457C18.0874 15.2457 17.9023 15.4554 17.9023 15.7141V24.5666C17.9023 24.8251 18.0874 25.0349 18.3156 25.0349C18.5439 25.0349 18.7289 24.8251 18.7289 24.5666V15.7141C18.7289 15.4554 18.5439 15.2457 18.3156 15.2457Z" fill="#CC2E2E"/>
              <path d="M13.4406 15.2457C13.2124 15.2457 13.0273 15.4554 13.0273 15.7141V24.5666C13.0273 24.8251 13.2124 25.0349 13.4406 25.0349C13.6689 25.0349 13.8539 24.8251 13.8539 24.5666V15.7141C13.8539 15.4554 13.6689 15.2457 13.4406 15.2457Z" fill="#CC2E2E"/>
              <path d="M9.88472 13.9539V25.4939C9.88472 26.176 10.1054 26.8165 10.4909 27.2761C10.8746 27.737 11.4087 27.9986 11.9676 27.9997H19.7869C20.346 27.9986 20.88 27.737 21.2636 27.2761C21.6491 26.8165 21.8698 26.176 21.8698 25.4939V13.9539C22.6361 13.7234 23.1327 12.8843 23.0302 11.9931C22.9275 11.1021 22.2577 10.4356 21.4648 10.4354H19.3488V9.84993C19.3512 9.35758 19.1795 8.8848 18.8719 8.53699C18.5644 8.18937 18.1466 7.99579 17.7122 7.99982H14.0424C13.6079 7.99579 13.1901 8.18937 12.8826 8.53699C12.5751 8.8848 12.4033 9.35758 12.4057 9.84993V10.4354H10.2898C9.49678 10.4356 8.82698 11.1021 8.72431 11.9931C8.62179 12.8843 9.11838 13.7234 9.88472 13.9539ZM19.7869 27.063H11.9676C11.261 27.063 10.7113 26.375 10.7113 25.4939V13.9951H21.0432V25.4939C21.0432 26.375 20.4936 27.063 19.7869 27.063ZM13.2323 9.84993C13.2295 9.60604 13.3141 9.3713 13.4668 9.19913C13.6194 9.02697 13.827 8.93237 14.0424 8.93658H17.7122C17.9275 8.93237 18.1351 9.02697 18.2877 9.19913C18.4404 9.37112 18.525 9.60604 18.5222 9.84993V10.4354H13.2323V9.84993ZM10.2898 11.3722H21.4648C21.8756 11.3722 22.2087 11.7496 22.2087 12.2153C22.2087 12.6809 21.8756 13.0583 21.4648 13.0583H10.2898C9.8789 13.0583 9.54586 12.6809 9.54586 12.2153C9.54586 11.7496 9.8789 11.3722 10.2898 11.3722Z" fill="#CC2E2E"/>
              <path d="M15.8781 15.2457C15.6498 15.2457 15.4648 15.4554 15.4648 15.7141V24.5666C15.4648 24.8251 15.6498 25.0349 15.8781 25.0349C16.1064 25.0349 16.2914 24.8251 16.2914 24.5666V15.7141C16.2914 15.4554 16.1064 15.2457 15.8781 15.2457Z" fill="#CC2E2E"/>
              </g>
              <defs>
              <clipPath id="clip0">
              <rect width="17.6471" height="20" fill="white" transform="translate(7.05859 7.99976)"/>
              </clipPath>
              </defs>
            </svg>
          </td>
        </tr>
      </tbody>

      <div v-else>
        <div
          class="py-4 flex justify-center bg-white items-center text-gray-600 font-light"
        >
          Statutory Bodies not Created
        </div>
      </div>
    </table>

    <easiModal v-if="showModal==true" @close="showModal=false">
      <template v-slot:header>
        Add to Stautory Body
      </template>
      <div class="flex flex-col pb-12 pl-6 pr-6">
        <div class="mt-5">
          <p class="font-bold text-gray-700 text-base">Statutory Body</p>
          <div class="relative">
            <select
              class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
              id="grid-state"
              v-model="args.statutoryBodyId"
              required
            >
              <option value disabled selected>Select</option>
              <option v-for="statutorybody in getAllCompanyStatutoryBodies" :key="statutorybody._id" :value="statutorybody._id">{{ statutorybody.title }}</option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
            >
              <svg
                class="fill-current text-gray-500 h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
        </div>

        <div class="mt-5">
          <p class="font-bold text-gray-700 text-base">Employee Statutory Id</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="text"
            placeholder
            required
            v-model="args.employeeStatutoryBodyId"
          />
        </div>

        <div class="mt-8 items-end">
          <easiButton variant="outline" @click.native="showModal = false" class="inline-block">
            <div class="px-8">Cancel</div>
          </easiButton>
          <easiButton @click.native="addEmployeeToStatutoryBody()" class="float-right ml-4">
            <div class="px-8">Add Employee</div>
          </easiButton>
        </div>
      </div>
    </easiModal>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      showModal: false,
      modalView: "create",
      headers: ["STATUTORY BODIES", "PROVISION", "EMPLOYEE STATUTORY ID", "ACTION"],
      loading: false,
      jobs: [],
      args: {
        statutoryBodyId: "",
        employeeStatutoryBodyId: "",
        employeeId: "",
      },
      payload: {
        paging: {
          limit: 10,
          search: null,
          skip: 0
        }
      },
    };
  },
  computed: {
    ...mapGetters(["getAllEmployees", "applicant", "checkLoading", "listProvision", "listEmployeeStatutoryBody", "getAllCompanyStatutoryBodies"]),
  },
  methods: {
    async remove(x) {
      var employeeId = this.$route.params.id;
      var statutoryBodyId = x.statutoryBodyId;
      let res = await this.$store.dispatch("mutate", {
        endpoint: "RemoveEmployeeToStatutoryBody",
        data: { request: {statutoryBodyId:statutoryBodyId, employeeId:employeeId} },
      });
      if (res.success) {
        this.updateAfterSuccess(x._id);
        this.$toast.success("Employee Removed From Statutory Body!");
      }
    },

    updateAfterSuccess(id) {
      let update = {
        count: this.listEmployeeStatutoryBody.count - 1,
        data: this.listEmployeeStatutoryBody.data.filter((y) => y._id !== id),
      };
      this.$store.commit("set", {
        type: "employeeStatutoryBody",
        data: update,
      });
    },

    async addEmployeeToStatutoryBody() {
      this.args.employeeId = this.$route.params.id;
      let res = await this.$store.dispatch("mutate", {
        endpoint: "AddEmployeeToStatutoryBody",
        data: { request: this.args },
      });
      if (res.success) {
        this.$toast.success("Employee Successfully Added To Statutory Body!");
        this.showModal = false;
      }
    },

    async queryAllCompanyStatutoryBodies() {
      this.$store.dispatch("query", {
        endpoint: "GetAllCompanyStatutoryBodies",
        payload: this.payload,
        storeKey: "allCompanyStatutoryBodies",
      });
    },

    async queryProvisions() {
      this.$store.dispatch("query", {
        endpoint: "ListProvision",
        payload: this.payload,
        storeKey: "provision",
        service: "PAY",
      });
    },

    async queryEmployeeStatutoryBody() {
      this.$store.dispatch("query", {
        endpoint: "ListEmployeeStatutoryBody",
        payload: this.payload,
        storeKey: "employeeStatutoryBody",
        service: "PAY",
      });
    },

    async queryEmployees() {
      this.$store.dispatch("query", {
        endpoint: "ListEmployees",
        payload: this.payload,
        storeKey: "listEmployees",
        service: "EMP",
      });
    },

    getProvisionById(id) {
      var provisions = this.listProvision.data;
      var data = null;
      provisions.forEach(
        function(provision, index) {
          if (provision._id == id){
            data = provision
          }
        }
      )

      return data
    },

    getStatutoryBodyById(id) {
      var statutorybodies = this.getAllCompanyStatutoryBodies;
      var data = null;
      statutorybodies.forEach(
        function(statutorybody, index) {
          if (statutorybody._id == id){
            data = statutorybody
          }
        }
      )

      return data
    },
  },
  async created() {
    await this.queryEmployees();
    await this.queryProvisions();
    await this.queryEmployeeStatutoryBody();
    await this.queryAllCompanyStatutoryBodies();
  },
};
</script>

<style>
</style>