<template>
  <main class>
    <div class="m-10">
      <div class="mt-5 text-3xl text-blue-900 float-left">Performance Overview</div>
      
      <div class="mt-5 mb-5 dropdown inline-block relative float-right">
        <button class="bg-white border-2 border-gray-200 text-black py-2 px-4 rounded inline-flex items-center">
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.90315 0C5.12909 0 5.31224 0.18315 5.31224 0.409091V2.92116C6.01439 3.10504 6.53952 3.74289 6.53952 4.5C6.53952 5.39887 5.80205 6.13637 4.90315 6.13637C4.00426 6.13637 3.26679 5.39887 3.26679 4.5C3.26679 3.74289 3.7919 3.10504 4.49406 2.92116V0.409091C4.49406 0.18315 4.67719 0 4.90315 0ZM12.6746 0C12.9006 0 13.0837 0.18315 13.0837 0.409091V2.92116C13.7859 3.10504 14.311 3.74289 14.311 4.5C14.311 5.39887 13.5735 6.13637 12.6746 6.13637C11.7757 6.13637 11.0383 5.39887 11.0383 4.5C11.0383 3.74289 11.5634 3.10504 12.2655 2.92116V0.409091C12.2655 0.18315 12.4487 0 12.6746 0ZM17.5909 3.27917C17.5909 2.14986 16.6684 1.22733 15.5391 1.22733H14.3182C14.1021 1.22428 13.9027 1.42028 13.9027 1.63642C13.9027 1.85256 14.1021 2.04858 14.3182 2.04551H15.5391C16.2285 2.04551 16.7727 2.58975 16.7727 3.27917V6.95461H0.818181V3.27917C0.818181 2.58975 1.36246 2.04551 2.05186 2.04551H3.27273C3.48885 2.04856 3.68822 1.85256 3.68822 1.63642C3.68822 1.42028 3.48885 1.22426 3.27273 1.22733H2.05186C0.92254 1.22733 0 2.14986 0 3.27917V15.9482C0 17.0775 0.92254 18.0001 2.05186 18.0001H15.5391C16.6684 18.0001 17.5909 17.0775 17.5909 15.9482V3.27917ZM11.0472 1.22729C11.2731 1.22729 11.4563 1.41044 11.4563 1.63638C11.4563 1.86233 11.2731 2.04548 11.0472 2.04548H6.54716C6.32122 2.04548 6.13807 1.86233 6.13807 1.63638C6.13807 1.41044 6.32122 1.22729 6.54716 1.22729H11.0472ZM11.855 4.50006C11.855 4.04333 12.2164 3.68188 12.6731 3.68188C13.1298 3.68188 13.4913 4.04333 13.4913 4.50006C13.4913 4.95677 13.1298 5.31824 12.6731 5.31824C12.2164 5.31824 11.855 4.95677 11.855 4.50006ZM4.90167 3.68188C4.44496 3.68188 4.08349 4.04333 4.08349 4.50006C4.08349 4.95677 4.44496 5.31824 4.90167 5.31824C5.35838 5.31824 5.71985 4.95677 5.71985 4.50006C5.71985 4.04333 5.35838 3.68188 4.90167 3.68188ZM0.816698 7.77275H16.7712V15.9482C16.7712 16.6376 16.227 17.1818 15.5376 17.1818H2.05037C1.36097 17.1818 0.816698 16.6376 0.816698 15.9482V7.77275Z" fill="#555555"/>
          </svg>

          <span class="mr-1 ml-2">Duration</span>
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
        </button>
        <ul class="dropdown-menu absolute hidden text-gray-700 pt-1 mr-20">
          <li class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">One</a></li>
          <li class=""><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Two</a></li>
          <li class=""><a class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Three</a></li>
        </ul>
      </div> 
      
    </div>
    
    <!-- space-x-5 -->
    <div class=" flex mb-4 w-full" style="height:448px">
      <div class="w-full ml-10 mr-8 bg-white border-E5E9F2 border-2">
        
        <div class="pb-12 mt-4 pr-10">
          <div class="float-right">
          <div class="dropdown inline-block relative mr-8">
            <button class="bg-white border-2 border-gray-300 text-black py-2 px-4 rounded inline-flex items-center">
              <span class="mr-1">Rating vs No of Staff</span>
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
            </button>
            <ul class="dropdown-menu absolute hidden text-gray-700 pt-1">
              <!-- <li class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">One</a></li>
              <li class=""><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Two</a></li>
              <li class=""><a class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Three is the magic number</a></li> -->
            </ul>
          </div>

          <div class="inline-block bg-gray-100 p-2 h-12 w-96 pl-8 pr-8 text-gray-600">
            <span @click="chartType='pie'" class="cursor-pointer inline-block  w-1/3 h-full text-center" :class="(chartType=='pie')?'bg-white rounded-md text-red-700 shadow-md':''">Pie Chart</span>
            <span @click="chartType='bar'" class="cursor-pointer inline-block  w-1/3 h-full text-center" :class="(chartType=='bar')?'bg-white rounded-md text-red-700 shadow-md':''">Bar Chart</span>
            <span @click="chartType='line'" class="cursor-pointer inline-block w-1/3 h-full text-center" :class="(chartType=='line')?'bg-white rounded-md text-red-700 shadow-md':''">Line Chart</span>
          </div>
          </div>
        </div>

        <!-- <div class="absolute ml-10 mb-10 mt-2 overflow-x-auto overflow-y-hidden scrolling-touch w-1/2 ">
          <span v-for="category in allPerformanceCategories.data" :key="category._id" @click="chartData = category" class="mr-6 cursor-pointer text-gray-700 pl-4 pr-4" :class="(chartData == category)?'mr-6 cursor-pointer text-red-600 border-b-2 border-red-300 pb-3':''">{{category.title}}</span>
        </div> -->

        <!-- <hr> -->
      

        <!-- <div> class="w-full h-1/2" -->
        <img v-if="chartType == 'line'" class="mt-10 ml-10" style="width:90%; height:70%;"
          src="https://quickchart.io/chart?c={type:'line',
          data:{
            labels:['1','2','3','4', '5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24'],
            datasets:[{label:'Average Ratings vs No of Staff', data:[1, 0.5, 0.6, 1.2, 0.9, 0.7, 3.5, 1.5, 2.5, 3, 2, 1.4, 1, 1.2, 1.1, 0.8, 1, 0.7, 1, 1.3, 2, 4.1, 1.8, 2.1 ],
              fill:false, borderColor:'orange'}]
          },
            options: {
              legend: {
                  display: false
              },
              scales: {
                yAxes: [{
                  scaleLabel: {
                    display: true,
                    labelString: 'Average Ratings'
                  }
                }],
                xAxes: [{
                  scaleLabel: {
                    display: true,
                    labelString: 'No of Staff'
                  }
                }],
              },
            },
            }" />
        <img v-if="chartType == 'bar'" class="mt-10 ml-10" style="width:90%; height:70%;" 
          src="https://quickchart.io/chart?c={type:'bar',
            data:{
              labels:['Q1','Q2','Q3','Q4'],datasets:[{label:'Users',data:[50,60,70,180]}]
            },
              options: {
                legend: {
                    display: false
                },
                scales: {
                yAxes: [{
                  scaleLabel: {
                    display: true,
                    labelString: 'Average Ratings'
                  }
                }],
                xAxes: [{
                  scaleLabel: {
                    display: true,
                    labelString: 'No of Staff'
                  }
                }]
              }
              }
            }" />
        <img v-if="chartType == 'pie'" class="mt-10 ml-10" style="width:90%; height:70%;" src="https://quickchart.io/chart?c={type:'pie',data:{labels:['Q1','Q2','Q3','Q4'], datasets:[{label:'Users',data:[50,60,70,180]}]}}" />
        
        <!-- </div> -->
      </div>
      <!-- <div class="w-1/4 ml-4 mr-8 bg-white border-E5E9F2 border-2 p-2 ">
        <div class="font-bold text-lg pl-4">Employee Review</div>
        
        <div class="m-4" style="background:#59C96E; height:164px; border-radius:20px;">
          <div class="pt-16 text-center" style="float:left; background:#23A63C; height:100%; width:33%; border-radius:20px;">
              <svg class="inline" width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.9998 35.4731C27.65 35.4731 35.4731 27.65 35.4731 17.9998C35.4731 8.34958 27.65 0.52652 17.9998 0.52652C8.34958 0.52652 0.52652 8.34958 0.52652 17.9998C0.52652 27.65 8.34958 35.4731 17.9998 35.4731Z" fill="#FEF48B"/>
                <path d="M35.4735 18.0001C35.4735 27.6504 27.6502 35.4737 17.9999 35.4737C15.1623 35.4737 12.4823 34.7973 10.1129 33.5962C12.1355 34.4155 14.3465 34.866 16.6635 34.866C26.3138 34.866 34.137 27.0428 34.137 17.3925C34.137 10.5798 30.2384 4.67814 24.5505 1.79639C30.9553 4.38811 35.4735 10.6667 35.4735 18.0001Z" fill="#FEE903"/>
                <path d="M7.50114 20.9666C7.35242 20.1847 7.95191 19.46 8.74785 19.46H18.0001H27.2523C28.0483 19.46 28.6478 20.1847 28.4991 20.9666C28.008 23.549 26.6603 25.3926 25.0876 26.7023C20.9968 30.1087 15.0033 30.1087 10.9126 26.7023C9.33988 25.3926 7.9922 23.5491 7.50114 20.9666Z" fill="#FFFBE5"/>
                <path d="M28.4993 20.9668C28.0081 23.5493 26.6604 25.3925 25.0878 26.7024C22.2011 29.1062 18.3662 29.814 14.9223 28.8245C18.0389 29.2611 21.3026 28.418 23.8515 26.2952C25.4774 24.9419 26.8706 23.0363 27.378 20.3669C27.4403 20.0396 27.3752 19.7221 27.221 19.46H27.2525C28.0487 19.4601 28.6479 20.1847 28.4993 20.9668Z" fill="#FFF8BF"/>
                <path d="M25.3475 26.4793C25.2613 26.5558 25.1751 26.63 25.0875 26.7029C20.9968 30.1096 15.0034 30.1096 10.9127 26.7029C10.8251 26.63 10.7389 26.5557 10.6527 26.4793C11.0171 24.5851 12.6837 23.154 14.6852 23.154C15.8282 23.154 16.8617 23.6211 17.6059 24.3747C17.823 24.5945 18.1771 24.5945 18.3942 24.3747C19.1384 23.6211 20.1719 23.154 21.3149 23.154C23.3165 23.154 24.9831 24.5851 25.3475 26.4793Z" fill="#F47C7C"/>
                <path d="M25.3478 26.4795C25.3043 26.5181 25.2616 26.5553 25.2181 26.5924C24.667 27.0633 24.0719 27.4837 23.4389 27.8396C22.8211 28.1869 22.1697 28.4741 21.4968 28.6963C21.0346 28.8489 20.5549 28.9854 20.0748 29.0635C19.924 29.0922 19.7667 29.1223 19.6172 29.1399C19.0129 29.2111 18.4058 29.2806 17.7957 29.2562C17.0875 29.2279 16.3625 29.1613 15.6814 29.0144C15.4742 28.9698 15.2619 28.9256 15.0597 28.8638C15.0142 28.8512 14.9679 28.8385 14.9223 28.8252C18.0389 29.2619 21.3026 28.4188 23.8515 26.2959C24.2208 25.9883 24.5789 25.6519 24.916 25.2846C25.1186 25.6519 25.2657 26.0541 25.3478 26.4795Z" fill="#EE6161"/>
                <path d="M30.728 5.2721C27.3282 1.87235 22.808 0 18 0C15.9986 0 14.0325 0.32632 12.1566 0.969891C11.8815 1.06425 11.7349 1.36385 11.8293 1.63898C11.9237 1.91419 12.2233 2.06086 12.4984 1.96622C14.2641 1.36048 16.1151 1.05342 18 1.05342C22.5266 1.05342 26.7823 2.81616 29.9831 6.01692C33.1839 9.21776 34.9466 13.4734 34.9466 18C34.9466 22.5266 33.1839 26.7823 29.9831 29.9831C26.7823 33.1839 22.5266 34.9466 18 34.9466C13.4734 34.9466 9.21769 33.1839 6.01692 29.9831C2.81616 26.7823 1.05342 22.5266 1.05342 18C1.05342 14.8172 1.94055 11.7156 3.61898 9.03045C5.25213 6.41763 7.56359 4.29701 10.3033 2.89786C10.5623 2.76553 10.6651 2.44828 10.5328 2.18925C10.4006 1.93015 10.0833 1.82756 9.8242 1.95968C6.9146 3.44559 4.45992 5.69756 2.72573 8.47202C0.942539 11.3249 0 14.6196 0 18C0 22.808 1.87235 27.3282 5.2721 30.728C8.67185 34.1277 13.192 36 18 36C22.808 36 27.3282 34.1277 30.728 30.7279C34.1277 27.3281 36 22.808 36 18C36 13.192 34.1277 8.67185 30.728 5.2721Z" fill="black"/>
                <path d="M7.36427 19.5843C7.02185 19.998 6.88299 20.5378 6.98325 21.0653C7.44063 23.4706 8.6491 25.5034 10.5752 27.1073C12.6481 28.8334 15.2848 29.7841 17.9997 29.7841C20.7145 29.7841 23.3513 28.8334 25.4242 27.1073C27.3502 25.5035 28.5587 23.4706 29.0161 21.0653C29.1164 20.5377 28.9775 19.998 28.6351 19.5843C28.2927 19.1707 27.7886 18.9336 27.2519 18.9336H8.74746C8.2107 18.9335 7.70656 19.1707 7.36427 19.5843ZM27.8237 20.256C27.9653 20.4271 28.0227 20.6503 27.9812 20.8684C27.6428 22.6483 26.8434 24.2015 25.6025 25.5011C25.3501 24.8836 24.966 24.3272 24.4656 23.8629C24.2524 23.6651 23.9191 23.6776 23.7213 23.8908C23.5234 24.104 23.5359 24.4373 23.7491 24.6352C24.2382 25.089 24.5845 25.6558 24.7614 26.288C24.7575 26.2912 24.754 26.2946 24.7501 26.2978C22.8661 27.8667 20.4687 28.7307 17.9997 28.7307C16.0364 28.7307 14.1188 28.1838 12.4683 27.1713C12.1401 26.97 11.8224 26.7498 11.5193 26.5143C11.4282 26.4435 11.3379 26.3715 11.249 26.2975C11.2484 26.2969 11.2478 26.2964 11.2471 26.2959C11.244 26.2933 11.2411 26.2906 11.2381 26.2881C11.6668 24.7605 13.0715 23.6803 14.6849 23.6803C15.6489 23.6803 16.5531 24.0582 17.2309 24.7445C17.4356 24.9518 17.7087 25.066 17.9997 25.066C18.2908 25.066 18.5639 24.9518 18.7686 24.7445C19.4464 24.0582 20.3506 23.6803 21.3146 23.6803C21.4942 23.6803 21.6744 23.6937 21.8502 23.72C22.1383 23.7634 22.406 23.5649 22.4491 23.2771C22.4922 22.9894 22.2939 22.7213 22.0062 22.6782C21.779 22.6442 21.5463 22.6269 21.3146 22.6269C20.0668 22.6269 18.8964 23.116 18.0192 24.0042C18.0167 24.0066 18.011 24.0125 17.9997 24.0125C17.9884 24.0125 17.9827 24.0066 17.9803 24.0042C17.103 23.116 15.9326 22.6269 14.6848 22.6269C12.7783 22.6269 11.0979 23.7934 10.3975 25.5018C9.15619 24.202 8.3566 22.6486 8.01811 20.8684C7.97663 20.6503 8.03407 20.4271 8.17568 20.256C8.31722 20.085 8.52556 19.9869 8.74739 19.9869H27.2519C27.4737 19.9869 27.6821 20.085 27.8237 20.256Z" fill="black"/>
                <path d="M12.1245 11.0246C11.0227 11.0246 10.1262 11.9211 10.1262 13.023V14.9605C10.1262 15.2515 10.362 15.4872 10.6529 15.4872C10.9438 15.4872 11.1796 15.2515 11.1796 14.9605V13.023C11.1796 12.5019 11.6035 12.078 12.1245 12.078C12.6456 12.078 13.0695 12.5019 13.0695 13.023V14.9605C13.0695 15.2515 13.3054 15.4872 13.5963 15.4872C13.8871 15.4872 14.123 15.2515 14.123 14.9605V13.023C14.1229 11.9211 13.2264 11.0246 12.1245 11.0246Z" fill="black"/>
                <path d="M24.7836 15.4872C25.0744 15.4872 25.3103 15.2515 25.3103 14.9605V13.023C25.3103 11.9211 24.4138 11.0246 23.3119 11.0246C22.21 11.0246 21.3136 11.9211 21.3136 13.023V14.9605C21.3136 15.2515 21.5494 15.4872 21.8403 15.4872C22.1312 15.4872 22.367 15.2515 22.367 14.9605V13.023C22.367 12.5019 22.7909 12.078 23.312 12.078C23.833 12.078 24.2569 12.5019 24.2569 13.023V14.9605C24.2568 15.2515 24.4927 15.4872 24.7836 15.4872Z" fill="black"/>
              </svg>
          </div>
          <div class="pt-10 pl-4 text-white text-2xl" style="float:left;">
            <div>Best:</div>
            <div class="mt-4">John</div>
          </div>
        </div>

        <div class="m-4" style="background:#F64F59; height:164px; border-radius:20px;">
          <div class="pt-16 text-center" style="float:left; background:#CC1621; height:100%; width:33%; border-radius:20px;">
            <svg class="inline" width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M18.0059 35.4688C27.6539 35.4688 35.4751 27.6475 35.4751 17.9995C35.4751 8.35152 27.6539 0.530273 18.0059 0.530273C8.35787 0.530273 0.536621 8.35152 0.536621 17.9995C0.536621 27.6475 8.35787 35.4688 18.0059 35.4688Z" fill="#F4D44E"/>
              <path d="M12.2998 31.375C1.3009 25.0247 0.633074 9.47453 10.8057 2.13525C7.58521 3.58418 4.77307 6.021 2.87252 9.31288C-1.94268 17.6531 0.914887 28.3177 9.25506 33.133C15.3927 36.6765 22.789 36.0644 28.1867 32.1701C23.2478 34.3922 17.3482 34.2897 12.2998 31.375Z" fill="#E8C842"/>
              <path d="M22.8751 24.4629C19.824 23.7358 16.1824 23.7369 13.1356 24.4629C12.4908 25.2393 11.9971 26.1702 11.7065 27.1997C11.6282 27.4773 11.8626 27.7486 12.1244 27.6682C15.6761 26.5766 20.3279 26.5746 23.8863 27.6682C24.1092 27.7366 24.3173 27.5488 24.3192 27.3132C24.3195 27.28 23.8672 25.6572 22.8751 24.4629Z" fill="#ED694A"/>
              <path d="M22.8751 24.4629C19.824 23.7358 16.1824 23.7369 13.1356 24.4629C12.4908 25.2393 11.9971 26.1702 11.7065 27.1997C11.6282 27.4773 11.8626 27.7486 12.1244 27.6682C15.6761 26.5766 20.3279 26.5746 23.8863 27.6682C24.1092 27.7366 24.3173 27.5488 24.3192 27.3132C24.3195 27.28 23.8672 25.6572 22.8751 24.4629Z" fill="#ED694A"/>
              <path d="M13.4644 27.1992C13.755 26.1697 14.2486 25.2388 14.8935 24.4624C14.8944 24.4622 14.8953 24.462 14.8961 24.4618C15.0035 24.3325 15.1155 24.2079 15.231 24.0874C14.512 24.177 13.8092 24.3019 13.1356 24.4624C12.4908 25.2388 11.9971 26.1698 11.7065 27.1992C11.6282 27.4768 11.8626 27.7481 12.1244 27.6677C12.5514 27.5364 12.9949 27.4213 13.45 27.3216C13.4487 27.2816 13.4527 27.2405 13.4644 27.1992Z" fill="#D8553A"/>
              <path d="M23.0129 24.6356C22.5945 24.0989 22.107 23.6292 21.5641 23.2455L21.5649 23.2455C21.5577 23.2404 21.5149 23.2106 21.5077 23.2057C21.5073 23.2058 21.5068 23.2057 21.5064 23.2058C19.3695 21.7298 16.6414 21.7293 14.5038 23.2058C14.5038 23.2058 14.5029 23.2058 14.5025 23.2057C14.4952 23.2107 14.4525 23.2405 14.4453 23.2455L14.4461 23.2456C13.9033 23.6292 13.4157 24.0989 12.9973 24.6357C16.1174 23.8651 19.8884 23.8639 23.0129 24.6356Z" fill="#656566"/>
              <path d="M16.2042 23.2456L16.2034 23.2455C16.2105 23.2405 16.2532 23.2108 16.2606 23.2057C16.261 23.2057 16.2619 23.2058 16.2619 23.2058C17.0726 22.6459 17.9681 22.2989 18.8842 22.1637C17.385 21.9425 15.8308 22.2894 14.5041 23.2058C14.5041 23.2058 14.5032 23.2057 14.5027 23.2057C14.4954 23.2107 14.4527 23.2405 14.4456 23.2455L14.4463 23.2456C13.9035 23.6292 13.4159 24.0989 12.9976 24.6357C13.6665 24.4705 14.3656 24.3409 15.0815 24.2465C15.4207 23.8698 15.7968 23.5335 16.2042 23.2456Z" fill="#4F4F51"/>
              <path d="M26.2541 14.7468C26.2893 14.4578 26.0835 14.1948 25.7944 14.1596C24.5564 14.0088 23.4784 13.422 22.7594 12.5071C22.5794 12.2781 22.2479 12.2385 22.0189 12.4184C21.7899 12.5984 21.7502 12.9299 21.9301 13.1589C22.8229 14.2947 24.15 15.0219 25.667 15.2066C25.9586 15.2419 26.2191 15.0338 26.2541 14.7468Z" fill="black"/>
              <path d="M14.0822 13.1585C14.2622 12.9295 14.2224 12.5979 13.9934 12.4179C13.7644 12.238 13.4329 12.2776 13.2529 12.5067C12.5338 13.4216 11.456 14.0083 10.2178 14.1591C9.92872 14.1943 9.72285 14.4572 9.75807 14.7463C9.79309 15.034 10.0543 15.2412 10.3453 15.2061C11.8625 15.0214 13.1895 14.2943 14.0822 13.1585Z" fill="black"/>
              <path d="M24.7996 19.9613C22.9386 18.7046 22.6058 18.5874 22.6058 18.4263C22.6058 18.2737 22.9359 18.1422 23.8556 17.5001C24.0975 17.338 24.1621 17.0104 24 16.7685C23.8379 16.5264 23.5101 16.4619 23.2683 16.624L22.1719 17.3589C21.3443 17.9138 21.3426 18.9375 22.1756 19.496C24.2671 20.8378 24.2292 20.9291 24.5091 20.9291C25.0311 20.9292 25.2356 20.2484 24.7996 19.9613Z" fill="black"/>
              <path d="M11.8023 20.8342L13.7477 19.4801C14.571 18.9248 14.5707 17.9026 13.7436 17.3482L12.6473 16.6133C12.4054 16.4511 12.0778 16.5158 11.9155 16.7577C11.7534 16.9996 11.818 17.3272 12.06 17.4894L13.1563 18.2243C13.3571 18.3591 13.358 18.4715 13.1563 18.6068C12.9685 18.7319 13.8403 18.1306 11.1998 19.9686C10.9607 20.1349 10.9018 20.4636 11.0682 20.7027C11.2355 20.943 11.5644 20.9999 11.8023 20.8342Z" fill="black"/>
              <path d="M21.5606 27.1233C21.5059 27.4093 21.6934 27.6856 21.9794 27.7404C23.4436 28.0208 23.6757 28.2089 23.9793 28.2089C24.1474 28.2089 24.313 28.1582 24.4561 28.06C24.7336 27.8695 24.8794 27.5319 24.8401 27.2028C24.8349 27.1539 24.8247 27.1023 24.8116 27.0555C24.5268 26.0467 24.0513 25.1094 23.4288 24.3113C23.2306 24.0568 23.0141 23.812 22.7692 23.5709C22.6276 23.4313 22.4829 23.3002 22.3522 23.1899C22.1907 23.0536 22.0284 22.9285 21.8707 22.8156C21.8306 22.7874 21.8009 22.7665 21.7813 22.7547C19.0914 20.9138 15.6434 21.2829 13.3309 23.4832C12.0434 24.7099 11.1915 26.6335 11.1648 27.2682C11.1369 27.877 11.7005 28.3491 12.2791 28.1715C14.422 27.5131 17.0152 27.2501 19.5802 27.4312C19.8696 27.4512 20.1229 27.2328 20.1434 26.9423C20.164 26.6517 19.9451 26.3996 19.6545 26.3791C17.0917 26.1984 14.4947 26.4421 12.2978 27.0662C12.5308 26.3519 12.8724 25.6895 13.3028 25.105C16.2627 24.4076 19.7481 24.4077 22.7076 25.105C23.138 25.6896 23.4797 26.352 23.7128 27.0663C23.2244 26.9277 22.7095 26.8064 22.1778 26.7045C21.8911 26.6501 21.6154 26.8372 21.5606 27.1233ZM14.611 23.7796C16.6481 22.2509 19.3584 22.2479 21.3996 23.7795C19.1937 23.4443 16.8168 23.4444 14.611 23.7796Z" fill="black"/>
              <path d="M29.357 4.03067C29.1309 3.84694 28.7988 3.88147 28.6151 4.10752C28.4315 4.33357 28.4659 4.66566 28.692 4.84939C37.8389 12.2796 36.8161 26.7026 26.4761 32.6723C20.608 36.0604 13.3047 35.6321 7.87024 31.581C7.6368 31.4068 7.30633 31.455 7.13217 31.6885C6.95808 31.922 7.00631 32.2524 7.23982 32.4265C13.0178 36.7339 20.7757 37.1813 27.0034 33.5858C38.0075 27.2324 39.0588 11.9111 29.357 4.03067Z" fill="black"/>
              <path d="M27.4575 3.29555C27.6074 3.04573 27.5263 2.72187 27.2766 2.57204C17.0604 -3.55456 3.7286 1.74917 0.622336 13.3418C-1.11698 19.8331 0.915679 26.3885 5.31955 30.7688C5.42242 30.8712 5.55693 30.9223 5.69144 30.9223C6.15669 30.9223 6.39899 30.3548 6.06332 30.021C1.92171 25.9014 0.00147742 19.734 1.64109 13.6148C4.56714 2.69459 17.1209 -2.28844 26.734 3.47654C26.9838 3.62637 27.3078 3.54551 27.4575 3.29555Z" fill="black"/>
            </svg>
          </div>
          <div class="pt-8 pl-4 text-white text-2xl" style="float:left;">
            <div>Worst:</div>
            <div class="mt-4">Doe</div>
          </div>
        </div>

      </div>-->
</div>

<div class="flex mb-4 ml-10 mr-8 space-x-5" style="height:350px">
  <div class="bg-white border-E5E9F2 border-2 w-1/2">
    <div class="p-4 pl-6 text-2xl">Top Performer</div>

    <div>
      <div>
        <div class="h-12 pr-6 pl-6 pt-3 bg-easipurple text-white"><span>Name</span> <span class="float-right">Rating</span></div>
        
        <div v-if="getRatingBasedOnEmployee.length > 2">
          <div v-for="employee in topPerformers" :key="employee.employeeID" class="h-12 pr-6 pl-6 pt-4" :class="{ 'bg-gray-100' : i%2 == 0}">
            <span>{{ getEmployeeById(employee.employeeID) }}</span>
            <span class="float-right">{{ (employee.averageRating).toFixed(2) }}</span>
          </div>
        </div>

        <div v-else class="italic text-center mt-10">
          Employee Performance Data not Available
        </div>

      </div>
    </div>
  </div>

  <div class="bg-white border-E5E9F2 border-2 w-1/2" >
    <div class="p-4 pl-6 text-2xl">Worst Performer</div>
    
    <div >
      <div>
        <div class="h-12 pr-6 pl-6 pt-3 bg-easipurple text-white"><span>Name</span> <span class="float-right">Rating</span></div>
        
        <div v-if="getRatingBasedOnEmployee.length">
        <div v-for="employee in worstPerformers" :key="employee.employeeID" class="h-12 pr-6 pl-6 pt-4" :class="{ 'bg-gray-100' : i%2 == 0}">
          <span>{{ getEmployeeById(employee.employeeID) }}</span>
          <span class="float-right">{{ (employee.averageRating).toFixed(2) }}</span>
        </div>
        </div>

        <div v-else class="italic text-center mt-10">
          Employee Performance Data not Available
        </div>

      </div>
    </div>
  </div>
  <!-- <div class="bg-white border-E5E9F2 border-2" style="width:41%;">
    <div class="p-4 pl-6 text-2xl ">Settings</div>

    <div>
      <div class="h-12 pr-6 pl-6 pt-3 bg-easipurple text-white"><span>Ratings</span> <span class="float-right">Performance</span></div>
      
      <div v-for="i in 4" :key="i" class="h-12 pr-6 pl-6 pt-4" :class="{ 'bg-gray-100' : i%2 == 0}">
        <span>{{ i }}</span>
        <span class="float-right">{{ performanceRatings[i-1] }}</span>
      </div>

    </div>
  </div> -->
</div>
  </main>
</template>

<style>
.dropdown:hover .dropdown-menu {
  display: block;
}

/* ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
} */

</style>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      // topPerformers: [
      //   ["James Peterson", 3.98],
      //   ["Damilola Animashaun", 3.89],
      //   ["James Patterson", 3.80]
      // ],
      // worstPerformers: [
      //   ["James Peterson", 1.98],
      //   ["Damilola Animashaun", 1.89],
      //   ["James Patterson", 1.80]
      // ],
      performanceRatings: ['Unsatisfactory', 'Satisfactory', 'Excellent', 'Outstanding'],
      loading: false,
      jobs: [],

      chartType: "line",
      chartData1: false, chartData2: false, chartData3: false, chartData4: false,
      //chartData: ["Financial", "Customer", "IBP", "L&G"],
      chartData: 'Financial',

      payload: {
        paging: {
          limit: 10,
          skip: 0,
          search: null,
        }
      },
      employeePayload: {
        paging: {
          limit: 10,
          search: null,
          skip: 0,
        }
      },

      topPerformers: [],
      worstPerformers: [],
    };
  },

  computed: {
    ...mapGetters(["applicant", "checkLoading", "allIds", "getAllEmployees", "allPerformanceGoals", "allPerformanceObjectives", "allPerformanceCategories", "allPerformanceRatings", "getRatingBasedOnEmployee"]),
  },

  methods: {
    async allAverageRatings() {
      await this.$store.dispatch("query", {
        //endpoint: "GetRatingBasedOnEmployee",
        endpoint: "GetRatingGroupByEmployee",
        storeKey: "averageRatings",
        service: "PERFORM",
      });
    },

    async allRatings() {
      await this.$store.dispatch("query", {
        endpoint: "ListPerformanceRatings",
        payload: this.payload,
        storeKey: "listRatings",
        service: "PERFORM",
      });
    },

    async allGoals() {
      await this.$store.dispatch("query", {
        endpoint: "ListPerformanceGoals",
        payload: this.payload,
        storeKey: "listGoals",
        service: "PERFORM",
      });
    },

    async allObjectives() {
      await this.$store.dispatch("query", {
        endpoint: "ListPerformanceObjective",
        payload: this.payload,
        storeKey: "listObjectives",
        service: "PERFORM",
      });
    },

    allEmployees() {
      this.$store.dispatch("query", {
        endpoint: "ListEmployees",
        payload: this.employeePayload,
        storeKey: "listEmployees",
        service: "EMP",
      });
    },

    async allCategories() {
      await this.$store.dispatch("query", {
        endpoint: "ListPerformanceCategory",
        payload: this.payload,
        storeKey: "listCategories",
        service: "PERFORM",
      });
    },


    getEmployeeById(id) {
      var employees = this.getAllEmployees.data;
      var employeeName = null;
      employees.forEach(
        function(employee, index) {
          if (employee._id == id){
            employeeName = employee.profile.firstName + " " + employee.profile.lastName;
          }
        }
      )

      return employeeName
    }
  },

  async created() {
    // this.employeePayload.companyId = this.applicant.companyId;

    let res = await this.$store.dispatch("query", {
      endpoint: "ListEmployeeNameAndIds",
      storeKey: "listIds",
    });
    await this.allCategories();
    await this.allEmployees();
    await this.allRatings();
    await this.allGoals();
    await this.allObjectives();
    console.log("All above worked fine.")
    await this.allAverageRatings();
    console.log("Will you show here.")

    this.chartData = this.allPerformanceCategories.data[0];
    if (!this.chartData) {
      this.chartData = ["Financial", "Customer", "IBP", "L&G"]
    }

    console.log("Boss charts")
    console.log(this.chartData, "charts")

    // var result = []
    // const employeeFunc = this.getEmployeeById
    // this.allPerformanceRatings.data.forEach(
    //   function(employee, index) {
    //     var employeeName = employeeFunc(employee.employeeId)
    //     result.push([employeeName, employee.rating])
    //   }
    // )
    // this.sortedEmployeeRatings = result;

    var sortedRatingData = {}; //Using new variable becuase Explicit is better than Implicit. :P
    sortedRatingData = this.getRatingBasedOnEmployee.sort(function(a, b){
      return a.averageRating - b.averageRating;
    });

    function reverseArray(arr) {
      var newArray = [];
      for (var i = arr.length - 1; i >= 0; i--) {
        newArray.push(arr[i]);
      }
      return newArray;
    }

    // Get top and worst performers:
    this.topPerformers = sortedRatingData;
    this.worstPerformers = reverseArray(sortedRatingData); //sortedRatingData.reverse();



    


    
  },
};
</script>

<style>
</style>