<template>
  <main>
    <div style="z-index: 90;" class="fixed top-0 right-0">
      <div
        class="fixed right-0 dashboard-height bg-white box-border border-b w-full lg:pl-56"
      >
        <div class="flex justify-between pl-8 pr-10 items-center h-full">
          <div></div>
          <div class="flex items-center">
            <easiDropdown
              dropdownName="notification-dropdown"
              class="mr-12 inline-block"
            >
              <div class="mt-2">
                <svg
                  class="w-6 h-6"
                  viewBox="0 0 32 32"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M14.6455 32C11.8896 32 9.64551 29.7573 9.64551 27C9.64551 26.448 10.0935 26 10.6455 26C11.1975 26 11.6455 26.448 11.6455 27C11.6455 28.6548 12.9922 30 14.6455 30C16.2988 30 17.6455 28.6548 17.6455 27C17.6455 26.448 18.0935 26 18.6455 26C19.1975 26 19.6455 26.448 19.6455 27C19.6455 29.7573 17.4016 32 14.6455 32Z"
                    fill="#C0CCDA"
                  />
                  <path
                    d="M25.6458 28H3.64575C2.35913 28 1.3125 26.9534 1.3125 25.6667C1.3125 24.9839 1.60986 24.3374 2.12842 23.8933C2.16187 23.864 2.19775 23.8374 2.23511 23.8132C4.19238 22.1052 5.3125 19.6479 5.3125 17.0532V13.3333C5.3125 8.18677 9.50049 4 14.6458 4C14.8591 4 15.0898 4.00391 15.3032 4.04004C15.8484 4.13062 16.2166 4.64673 16.1257 5.19067C16.0352 5.73462 15.5098 6.10278 14.9751 6.01196C14.8684 5.99463 14.7512 6 14.6458 6C10.6033 6 7.3125 9.28931 7.3125 13.3333V17.0532C7.3125 20.2747 5.90039 23.3228 3.44189 25.4146C3.42188 25.4307 3.40454 25.4453 3.38306 25.46C3.34717 25.5054 3.3125 25.5747 3.3125 25.6667C3.3125 25.8479 3.4646 26 3.64575 26H25.6458C25.8271 26 25.9792 25.8479 25.9792 25.6667C25.9792 25.5732 25.9446 25.5054 25.9072 25.46C25.8872 25.4453 25.8699 25.4307 25.8499 25.4146C23.3899 23.3213 21.9792 20.2747 21.9792 17.0532V15.6001C21.9792 15.0481 22.4272 14.6001 22.9792 14.6001C23.5312 14.6001 23.9792 15.0481 23.9792 15.6001V17.0532C23.9792 19.6494 25.1006 22.1079 27.0605 23.8174C27.0964 23.8413 27.1311 23.8667 27.1631 23.8948C27.6819 24.3374 27.9792 24.9839 27.9792 25.6667C27.9792 26.9534 26.9326 28 25.6458 28Z"
                    fill="#C0CCDA"
                  />
                  <path
                    d="M23.9792 13.3333C20.3032 13.3333 17.3125 10.3428 17.3125 6.66675C17.3125 2.99072 20.3032 0 23.9792 0C27.6553 0 30.6458 2.99072 30.6458 6.66675C30.6458 10.3428 27.6553 13.3333 23.9792 13.3333ZM23.9792 2C21.4058 2 19.3125 4.09326 19.3125 6.66675C19.3125 9.23999 21.4058 11.3333 23.9792 11.3333C26.5525 11.3333 28.6458 9.23999 28.6458 6.66675C28.6458 4.09326 26.5525 2 23.9792 2Z"
                    fill="#E4572E"
                  />
                  <circle cx="23.9746" cy="6.665" r="6.665" fill="#E4572E" />
                </svg>
              </div>
            </easiDropdown>
            <easiDropdown dropdownName="user-dropdown">
              <div class="flex items-center">
                <div
                  class="w-8 h-8 flex items-center justify-center object-cover rounded-lg bg-gray-300"
                >
                  <!-- <div v-if="getCurrentUser.picture !== null">
                    <img class :src="getCurrentUser.picture" alt />
                  </div>-->
                  <svg
                    class="w-5 h-5"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <linearGradient
                      id="a"
                      gradientUnits="userSpaceOnUse"
                      x1="256"
                      y1="514"
                      x2="256"
                      y2="2"
                      gradientTransform="matrix(1 0 0 -1 0 514)"
                    >
                      <stop offset="0" stop-color="#2af598" />
                      <stop offset="1" stop-color="#009efd" />
                    </linearGradient>
                    <path
                      d="M437.02 330.98a255.02 255.02 0 00-97.28-61.02C378.52 243.26 404 198.55 404 148 404 66.4 337.6 0 256 0S108 66.4 108 148c0 50.55 25.48 95.25 64.26 121.96a255.02 255.02 0 00-97.28 61.02C26.63 379.33 0 443.62 0 512h40c0-119.1 96.9-216 216-216s216 96.9 216 216h40c0-68.38-26.63-132.67-74.98-181.02zM148 148c0-59.55 48.45-108 108-108s108 48.45 108 108-48.45 108-108 108-108-48.45-108-108z"
                      fill="url(#a)"
                    />
                  </svg>
                </div>
                <div class="flex items-center">
                  <div class="text-xs text-gray-600 capitalize px-2">
                    Flight
                  </div>
                  <svg
                    width="11"
                    height="7"
                    viewBox="0 0 11 7"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M10.8745 0.84419C10.7068 0.676204 10.4348 0.675946 10.2668 0.843567L5.80383 5.29726C5.63628 5.46479 5.3637 5.46477 5.19585 5.29693L0.733219 0.843567C0.565233 0.675924 0.293197 0.676204 0.125533 0.84419C-0.0420877 1.01218 -0.0418084 1.28423 0.126156 1.45185L4.58848 5.90492C4.83987 6.15627 5.16998 6.28191 5.50013 6.28191C5.83009 6.28191 6.16011 6.15631 6.41117 5.90522L10.8738 1.45185C11.0418 1.28423 11.0421 1.01218 10.8745 0.84419Z"
                      fill="#E4572E"
                    />
                  </svg>
                </div>
              </div>
            </easiDropdown>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  watch: {
    $route(x, y) {
      if (y.name) {
        this.$store.commit("set", {
          type: "currentRoute",
          data: y.name,
        });
      }
    },
  },
  computed: {
    ...mapGetters(["getCurrentRoute"]),
    pastRoute() {
      return this.getCurrentRoute;
    },
  },
};
</script>

<style>
</style>