<template>
  <main id="dashie">
    <div class="border-b border-gray-400 dashboard-height flex items-center">
      <div
        class="text-lg uppercase tracking-wider logo text-gray-300 font-thin ml-8"
      >
        Easihire
      </div>
    </div>
    <div class="mt-8">
      <router-link
        exact-active-class=" bg-easiorange all-white"
        class="text-gray-400 leading-6 pl-8 mt-4 mb-2 flex items-center font-thin hover:bg-easiorange hover:text-white py-2"
        :to="{ name: 'DashboardHome' }"
      >
        <div>
          <svg
            class="w-4 h-4 fill-current"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M23.5969 10.729L21.5694 8.88162V2.75586C21.5694 2.36609 21.2534 2.05006 20.8636 2.05006H15.9832C15.5935 2.05006 15.2774 2.36604 15.2774 2.75586V3.14839L12.8289 0.917277C12.3562 0.486543 11.6435 0.48659 11.1711 0.91723L0.403024 10.7291C0.0244616 11.0741 -0.100648 11.6056 0.084321 12.0832C0.269337 12.5608 0.719805 12.8694 1.23201 12.8694H2.95181V22.7001C2.95181 23.0899 3.26779 23.4059 3.6576 23.4059H9.55977C9.94954 23.4059 10.2656 23.0899 10.2656 22.7001V16.7312H13.7344V22.7001C13.7344 23.0899 14.0504 23.4059 14.4402 23.4059H20.3421C20.7319 23.4059 21.0479 23.0899 21.0479 22.7001V12.8695H22.768C23.2802 12.8695 23.7307 12.5608 23.9157 12.0833C24.1006 11.6056 23.9756 11.0741 23.5969 10.729ZM20.3421 11.4579C19.9523 11.4579 19.6363 11.7739 19.6363 12.1637V21.9943H15.146V16.0254C15.146 15.6357 14.83 15.3196 14.4402 15.3196H9.55977C9.17001 15.3196 8.85398 15.6356 8.85398 16.0254V21.9943H4.36335V12.1637C4.36335 11.7739 4.04737 11.4579 3.65756 11.4579H1.69898L12 2.07162L15.508 5.26807C15.7146 5.45632 16.0129 5.50484 16.2685 5.39201C16.5241 5.27904 16.6891 5.02582 16.6891 4.74636V3.46165H20.1579V9.19334C20.1579 9.39195 20.2416 9.58128 20.3884 9.71506L22.301 11.4579H20.3421Z"
            />
          </svg>
        </div>
        <span class="ml-4 text-sm font-medium">Home</span>
      </router-link>
      <!-- *Note: Recruitment out for the moment.
      <div class="my-4">
        <div class="grid grid-cols-2 justify-between hover:bg-easiorange">
          <router-link
            active-class="bg-easiorange  all-white"
            class="text-gray-400 relative leading-6 pl-8 flex items-center font-thin hover:bg-easiorange hover:text-white py-2"
            :to="{ path: '/dashboard/recruitment' }"
          >
            <div>
              <svg
                class="w-4 h-4 fill-current"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0)" fill="#fff">
                  <path
                    d="M7.6 12.4c0 .22.18.4.4.4h3.2a.4.4 0 00.4-.4V9.2a2 2 0 00-1.48-1.92 2.4 2.4 0 10-3.43 0A2 2 0 005.2 9.2v1.38a.4.4 0 10.8 0V9.2C6 8.54 6.54 8 7.2 8h2.4c.67 0 1.2.54 1.2 1.2V12H8a.4.4 0 00-.4.4zM8.4 4a1.6 1.6 0 110 3.2 1.6 1.6 0 010-3.2z"
                  />
                  <path d="M9.6 10a.4.4 0 000-.8h-.8a.4.4 0 000 .8h.8z" />
                  <path
                    d="M23.65 20.25l-4.8-4.8c-.37-.35-.91-.44-1.37-.23l-2.12-2.12a8.4 8.4 0 10-12.3 1.78.4.4 0 10.51-.61 7.6 7.6 0 1110.6-.92c-.02 0-.03.02-.04.03a7.6 7.6 0 01-.75.75l-.03.03-.37.3a7.55 7.55 0 01-4.95 1.53.4.4 0 10-.05.8l.42.01c1.68 0 3.31-.5 4.7-1.44l2.35 2.35c.15.16.4.16.56 0l1.7-1.7c.16-.15.4-.15.57 0l4.8 4.81a.4.4 0 010 .57l-1.7 1.7a.4.4 0 01-.56 0l-3.15-3.16a.4.4 0 00-.56.57l3.15 3.15a1.2 1.2 0 001.7 0l1.69-1.7a1.2 1.2 0 000-1.7zm-8.77-6.5l1.98 1.98-1.13 1.13-1.98-1.98c.4-.34.79-.72 1.13-1.13z"
                  />
                  <path
                    d="M8.4 14.4a.4.4 0 000 .8 6.78 6.78 0 006.58-8.5.4.4 0 00-.77.2 5.98 5.98 0 01-5.8 7.5zM11.7 2.45a6.8 6.8 0 00-7.84 11 .4.4 0 10.54-.6 6 6 0 016.9-9.7.4.4 0 10.4-.7zM3.6 21.2a.4.4 0 000 .8H6a.4.4 0 000-.8H3.6z"
                  />
                  <path
                    d="M11.2 17.6H6.8v-5.2a.4.4 0 00-.74-.2l-3.09 5.4H2.4c-.66 0-1.2.54-1.2 1.2v4c0 .66.54 1.2 1.2 1.2h8.8c.67 0 1.2-.54 1.2-1.2V22a.4.4 0 00-.8 0v.8a.4.4 0 01-.4.4H2.4a.4.4 0 01-.4-.4v-4c0-.22.18-.4.4-.4h.8a.4.4 0 00.35-.2L6 13.9V18c0 .22.18.4.4.4h4.8c.22 0 .4.18.4.4v.8a.4.4 0 00.8 0v-.8c0-.66-.53-1.2-1.2-1.2z"
                  />
                  <path
                    d="M7.6 20a.4.4 0 00-.4-.4H4.4a.4.4 0 100 .8h2.8a.4.4 0 00.4-.4zM10.8 20a.4.4 0 00-.4-.4H8.8a.4.4 0 100 .8h1.6a.4.4 0 00.4-.4zM7.6 22h1.6a.4.4 0 000-.8H7.6a.4.4 0 000 .8zM17.6 3.2h3.6a.4.4 0 100-.8h-3.6a.4.4 0 100 .8zM17.6 5.2h3.6a.4.4 0 100-.8h-3.6a.4.4 0 100 .8zM21.2 6.4h-2a.4.4 0 100 .8h2a.4.4 0 100-.8zM21.2 8.4h-2a.4.4 0 100 .8h2a.4.4 0 100-.8zM18.4 11.6a.4.4 0 000 .8h2.4a.8.8 0 00.8-.8v-.8a.8.8 0 00-.8-.8h-2.4a.4.4 0 000 .8h2.4v.8h-2.4z"
                  />
                </g>
                <defs>
                  <clipPath id="clip0">
                    <path fill="#fff" d="M0 0h24v24H0z" />
                  </clipPath>
                </defs>
              </svg>
            </div>
            <div class="flex items-center justify-between w-full">
              <span class="ml-4 text-sm font-medium">Recruitment</span>
            </div>
          </router-link>
          <div
            :class="{
              '  bg-easiorange':
                $route.matched[1].path == '/dashboard/recruitment',
            }"
            class="text-white w-full items-center pl-10 flex justify-center cursor-pointer"
            @click.stop.prevent="change"
          >
            <svg
              class="w-2 h-2 fill-current"
              viewBox="0 0 10 10"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M4.64631 9.64631C4.84157 9.84157 5.15815 9.84157 5.35342 9.64631L9.34332 5.6564C9.34672 5.65318 9.35009 5.64991 9.35342 5.64658L9.64631 5.35369C9.74627 5.25373 9.79506 5.12199 9.79268 4.991C9.79048 4.86601 9.74169 4.74169 9.64631 4.64631L9.35342 4.35342C9.35014 4.35014 9.34683 4.34692 9.34348 4.34375L5.35342 0.353687C5.15816 0.158425 4.84158 0.158424 4.64631 0.353686L4.35342 0.64658C4.15816 0.841842 4.15816 1.15842 4.35342 1.35369L7.99973 5L4.35342 8.64631C4.15815 8.84157 4.15815 9.15815 4.35342 9.35342L4.64631 9.64631Z"
              />
            </svg>
          </div>
        </div>

        <easiSubLinks
          v-show="recruitmentLinksTab"
          :links="recruitmentLinks"
          @clickOutside="recruitmentLinksTab = false"
        />
      </div>
      -->
      <div class="my-4">
        <div class="grid grid-cols-2 justify-between hover:bg-easiorange">
          <router-link
            active-class="bg-easiorange  all-white"
            class="text-gray-400 relative leading-6 pl-8 flex items-center font-thin hover:bg-easiorange hover:text-white py-2"
            :to="{ path: '/dashboard/employee' }"
          >
            <div>
              <svg class="w-4 h-4" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                <path d="M23.6484 19.7765C23.4542 19.7765 23.2969 19.9339 23.2969 20.1281V22.4771C23.2969 22.5098 23.2703 22.5363 23.2377 22.5363H21.9018V17.3999C21.9018 17.2058 21.7445 17.0484 21.5503 17.0484C21.3561 17.0484 21.1987 17.2058 21.1987 17.3999V22.5364H18.6173L19.316 21.7678C19.4239 21.649 19.4747 21.4804 19.4521 21.3167C19.4516 21.3132 19.4511 21.3097 19.4505 21.3062L18.6651 16.6658L18.8096 16.4482L18.8472 16.4749C18.9761 16.5665 19.1404 16.5999 19.2994 16.5602C19.4556 16.5211 19.5864 16.4161 19.6583 16.2721V16.272L20.4575 14.6703L22.283 15.3773C22.3551 15.4086 23.2967 15.8403 23.2967 16.9637V18.4874C23.2967 18.6816 23.4541 18.839 23.6483 18.839C23.8425 18.839 23.9999 18.6816 23.9999 18.4874V16.9638C23.9999 15.3415 22.6084 14.7508 22.5492 14.7264C22.5469 14.7255 22.5447 14.7246 22.5425 14.7237L19.4339 13.5198V12.8795C19.9191 12.4891 20.2599 11.9265 20.3622 11.2851C20.6042 11.2547 20.8288 11.1578 21.0151 10.9976C21.2823 10.7678 21.4356 10.4334 21.4356 10.0803C21.4356 9.79845 21.3378 9.52873 21.1626 9.31451V8.36586C21.1626 6.50933 19.6522 4.99897 17.7958 4.99897C16.9623 4.99897 16.1992 5.30404 15.6106 5.80757C15.603 5.53818 15.5065 5.28149 15.3385 5.07599V4.12738C15.3385 2.27085 13.8281 0.760498 11.9717 0.760498C10.1151 0.760498 8.60478 2.2709 8.60478 4.12738V5.10074C8.4358 5.30268 8.34125 5.54615 8.33291 5.80457C7.95734 5.48361 7.50786 5.24197 7.00691 5.11007C6.81885 5.06057 6.6268 5.17274 6.57735 5.36052C6.52789 5.5483 6.64002 5.74063 6.8278 5.79008C7.99559 6.09758 8.81122 7.15681 8.81122 8.36581V8.89161C8.79603 8.88847 8.74728 8.88008 8.74541 8.8798C8.74062 8.78056 8.7155 8.71995 8.66141 8.64214C8.57141 8.51281 8.40978 8.3517 7.88994 7.79295C7.70469 7.59397 7.40506 7.55745 7.17763 7.70614C6.28724 8.28776 5.20551 8.5842 4.20163 8.52528C3.87463 8.50611 3.6704 8.64978 3.58335 8.88523C3.57557 8.8865 3.48862 8.90403 3.48379 8.9052V8.36581C3.48379 7.20008 4.26276 6.15135 5.37805 5.81539C5.56396 5.75943 5.66929 5.5633 5.61332 5.37735C5.5573 5.1914 5.3609 5.08607 5.17522 5.14213C4.49694 5.34641 3.88724 5.77175 3.45857 6.33969C3.01499 6.92722 2.78057 7.62786 2.78057 8.36586V9.33926C2.60348 9.55086 2.50771 9.80801 2.50771 10.0803C2.50771 10.6822 2.95115 11.2071 3.58293 11.2854C3.68643 11.9118 4.02627 12.5125 4.56262 12.9209V13.52L1.45748 14.7238C1.45528 14.7247 1.45308 14.7256 1.45087 14.7265C1.39153 14.7508 0 15.3414 0 16.9637V22.4771C0 22.8976 0.341999 23.2395 0.76242 23.2395H11.5892C11.7405 23.2395 11.8812 23.1946 12 23.1183C12.1187 23.1946 12.2595 23.2395 12.4109 23.2395H23.2377C23.6581 23.2395 24 22.8976 24 22.4771V20.1281C24 19.9339 23.8426 19.7765 23.6484 19.7765ZM3.54852 10.5589C3.34242 10.4841 3.21074 10.2935 3.21074 10.0802C3.21074 9.87336 3.36074 9.70339 3.54852 9.62272V10.5589ZM19.799 14.4152L19.1089 15.7983C19.1088 15.7982 18.3423 15.2538 18.3315 15.2461C18.6621 14.8379 18.5068 15.0297 19.1943 14.1811L19.799 14.4152ZM17.8232 14.7564L16.914 13.634V13.2968C17.2096 13.399 17.5279 13.4461 17.8276 13.4462C17.8277 13.4462 17.8277 13.4462 17.8278 13.4462H17.8278C18.1377 13.4462 18.4514 13.3873 18.7307 13.2822V13.6362L17.8232 14.7564ZM18.236 16.0409L18.1067 16.2355H17.5399L17.4106 16.0409L17.8233 15.7478L18.236 16.0409ZM11.9991 10.5178L11.0899 9.39551V9.05825C11.3842 9.16001 11.7023 9.20759 12.0034 9.20769C12.0035 9.20769 12.0036 9.20769 12.0036 9.20769H12.0037C12.313 9.20769 12.6266 9.14904 12.9066 9.04372V9.39767L11.9991 10.5178ZM12.4118 11.8024L12.2825 11.9971H11.7157L11.5864 11.8024L11.9991 11.5093L12.4118 11.8024ZM9.23051 7.01314C9.28798 7.0288 9.34704 7.03944 9.407 7.04684C9.5105 7.67323 9.85034 8.27394 10.3867 8.68236V9.28147L9.66945 9.55948C9.62787 9.47215 9.57589 9.38989 9.5142 9.31447V8.36586C9.5142 7.88877 9.4137 7.43014 9.23051 7.01314ZM13.8673 6.64086C13.8673 7.66991 13.0279 8.50442 12.0037 8.50442C10.8482 8.50442 10.0759 7.60888 10.0759 6.64086V4.99405C11.1861 5.03849 12.3394 4.70947 13.2822 4.1226C13.5993 4.46254 13.7879 4.66002 13.8673 4.75171C13.8673 5.627 13.8673 5.96497 13.8673 6.64086ZM14.5381 7.04661C14.5977 7.03911 14.6565 7.02842 14.7137 7.01281C14.531 7.42719 14.4288 7.88469 14.4288 8.36586V9.33922C14.3748 9.40376 14.3283 9.47253 14.2898 9.54467L13.6098 9.28133V8.64101C14.095 8.25059 14.4358 7.68795 14.5381 7.04661ZM10.6268 9.94311L11.4898 11.0084L10.9013 11.4264C10.9009 11.4267 10.9007 11.4269 10.9004 11.4271L10.7136 11.5598L10.0235 10.1768L10.6268 9.94311ZM12.8082 10.6361L13.3701 9.94254L13.9748 10.1767L13.2847 11.5598L13.0975 11.4269C13.0973 11.4267 13.0971 11.4266 13.0969 11.4264L12.5073 11.0076L12.8082 10.6361ZM12.9854 12.2097L13.0231 12.2365C13.1545 12.3298 13.3195 12.3607 13.4753 12.3217C13.6314 12.2826 13.7622 12.1776 13.8341 12.0336V12.0335L14.4275 10.8444C14.6313 11.0956 14.9262 11.2484 15.2298 11.2864C15.3371 11.9585 15.7004 12.5322 16.2109 12.9209V13.5199L13.222 14.6787L12.8409 12.4273L12.9854 12.2097ZM16.4509 14.1816L17.314 15.2469C16.9367 15.5149 16.5573 15.7844 16.5378 15.7983L15.8476 14.4153L16.4509 14.1816ZM19.6914 10.8794C19.6915 11.8833 18.8762 12.7429 17.8278 12.7429C16.6329 12.7429 15.9001 11.807 15.9001 10.8794V9.23258C17.0023 9.27659 18.1571 8.95194 19.1064 8.36112C19.4234 8.70106 19.612 8.89855 19.6914 8.99023C19.6914 9.86548 19.6914 10.2035 19.6914 10.8794ZM20.7325 10.0803C20.7325 10.2939 20.6004 10.4842 20.3947 10.5589V9.60256C20.6073 9.68 20.7325 9.87429 20.7325 10.0803ZM15.132 8.36581C15.132 6.89703 16.327 5.7021 17.7957 5.7021C19.2645 5.7021 20.4594 6.89708 20.4594 8.36581V8.89161C20.4434 8.88828 20.3994 8.88069 20.3936 8.8798C20.3888 8.78047 20.3635 8.71972 20.3096 8.64214C20.2172 8.50944 20.0574 8.35109 19.5381 7.79295C19.3568 7.59833 19.0578 7.5545 18.8258 7.70614C17.9596 8.27201 16.8651 8.59165 15.8237 8.52401C15.5312 8.50484 15.3192 8.64809 15.2315 8.88528C15.2237 8.88655 15.1369 8.90408 15.132 8.90525V8.36581H15.132ZM15.1969 9.62276V10.5585C14.9902 10.4839 14.8592 10.2928 14.8592 10.0802C14.8591 9.87336 15.009 9.70348 15.1969 9.62276ZM14.9082 5.84179C14.9082 5.98982 14.8442 6.12983 14.7325 6.22588C14.6845 6.26713 14.6298 6.29882 14.5705 6.32043V5.36404C14.7807 5.44035 14.9082 5.63361 14.9082 5.84179ZM11.9715 1.46362C13.4403 1.46362 14.6352 2.65856 14.6352 4.12734V4.65313C14.6193 4.64985 14.5753 4.64221 14.5694 4.64132C14.5642 4.53365 14.5332 4.46746 14.4699 4.38182C14.3757 4.25441 14.2022 4.07924 13.714 3.55443C13.5296 3.35648 13.2302 3.31827 13.0016 3.46762C12.0868 4.06527 10.9771 4.35613 9.97118 4.28409C9.72509 4.26548 9.49339 4.41416 9.40742 4.64671C9.39959 4.64797 9.31273 4.66551 9.30786 4.66668V4.12738H9.30781C9.30781 2.65856 10.5028 1.46362 11.9715 1.46362ZM9.37269 5.38424V6.32047C9.16658 6.24566 9.03491 6.05502 9.03491 5.84174C9.03491 5.63605 9.18373 5.46547 9.37269 5.38424ZM8.74625 9.60256C8.94294 9.67414 9.06926 9.84575 9.08178 10.0497C9.09753 10.2765 8.95817 10.4816 8.74625 10.5585V9.60256ZM8.71367 11.2863C9.04526 11.2448 9.34962 11.07 9.54922 10.8012L10.1641 12.0335C10.1641 12.0335 10.1641 12.0335 10.1642 12.0336C10.236 12.1776 10.3669 12.2826 10.523 12.3217C10.6774 12.3603 10.8425 12.3307 10.9752 12.2365L11.0128 12.2097L11.1574 12.4273L10.7764 14.6781L7.7856 13.5198V12.8797H7.78555C8.2835 12.4782 8.61373 11.911 8.71367 11.2863ZM6.17483 14.7564L5.2656 13.634V13.2968C5.55997 13.3985 5.87807 13.4461 6.17924 13.4462C6.17929 13.4462 6.17938 13.4462 6.17943 13.4462C6.49377 13.4462 6.80689 13.3858 7.08233 13.2822V13.6362L6.17483 14.7564ZM6.58761 16.0409L6.45828 16.2355H5.89152L5.76219 16.0409L6.17493 15.7478L6.58761 16.0409ZM7.54588 14.1811L8.15056 14.4153L7.46047 15.7983L7.27325 15.6654C7.27306 15.6652 7.27288 15.665 7.27269 15.6649L6.68305 15.2461L7.54588 14.1811ZM4.2517 10.8794V9.23258C5.36774 9.27715 6.52175 8.94378 7.45794 8.36112C7.77195 8.69787 7.96349 8.89845 8.04303 8.99023C8.04303 9.86553 8.04303 10.2035 8.04303 10.8794C8.04303 11.9019 7.20936 12.7429 6.17943 12.7429C5.03273 12.7429 4.2517 11.8576 4.2517 10.8794ZM4.80257 14.1816L5.66563 15.2469L5.07707 15.6649C5.07674 15.6651 5.07651 15.6654 5.07618 15.6656L4.88938 15.7983L4.19924 14.4153L4.80257 14.1816ZM2.80139 22.5364V17.3999C2.80139 17.2058 2.64403 17.0484 2.44982 17.0484C2.25562 17.0484 2.09826 17.2058 2.09826 17.3999V22.5364H0.76242C0.729702 22.5364 0.703171 22.5098 0.703171 22.4772V16.9637C0.703171 15.8346 1.65459 15.4042 1.71618 15.3775L3.5406 14.6703L4.33987 16.272C4.33987 16.272 4.33987 16.272 4.33991 16.2721C4.41177 16.4161 4.5426 16.5211 4.69879 16.5602C4.85315 16.5987 5.01829 16.5692 5.15099 16.4749L5.18863 16.4482L5.33315 16.6658L4.54776 21.3062C4.54715 21.3097 4.54663 21.3132 4.54612 21.3167C4.52352 21.4803 4.57438 21.6489 4.68234 21.7679L5.38091 22.5364H2.80139V22.5364ZM5.25341 21.3506L6.00008 16.9387H6.34972L7.09644 21.3506L6.17493 22.3644L5.25341 21.3506ZM11.6484 22.4771C11.6484 22.5098 11.6218 22.5364 11.5892 22.5364H10.2534V17.3999C10.2534 17.2058 10.0961 17.0484 9.90186 17.0484C9.70765 17.0484 9.55029 17.2058 9.55029 17.3999V22.5364H6.96889L7.66756 21.7678C7.77547 21.649 7.82633 21.4804 7.80369 21.3167C7.80317 21.3132 7.80266 21.3097 7.80205 21.3062L7.01666 16.6658L7.16117 16.4482L7.19881 16.4749C7.29289 16.5418 7.40427 16.5767 7.51728 16.5767C7.72349 16.5767 7.91553 16.4611 8.00994 16.2721V16.272L8.80911 14.6703L10.6347 15.3773C11.1668 15.6088 11.6483 16.2057 11.6483 16.9637V22.4771H11.6484ZM12 15.6862C11.8543 15.4516 11.6605 15.2344 11.4267 15.0491L11.8243 12.7003H12.1739L12.5717 15.0504C12.3317 15.2409 12.1404 15.46 12 15.6862ZM14.4498 22.5364V17.3999C14.4498 17.2058 14.2924 17.0484 14.0982 17.0484C13.904 17.0484 13.7466 17.2058 13.7466 17.3999V22.5364H12.4108C12.3782 22.5364 12.3516 22.5098 12.3516 22.4772V16.9637C12.3516 16.5458 12.4826 16.1609 12.7618 15.8375C12.948 15.624 13.1949 15.4511 13.3646 15.3775L15.1891 14.6702L15.9883 16.272C15.9883 16.272 15.9883 16.272 15.9884 16.2721C16.0602 16.4161 16.1911 16.5211 16.3472 16.5602C16.5016 16.5987 16.6667 16.5692 16.7994 16.4749L16.837 16.4482L16.9816 16.6658L16.1962 21.3062C16.1956 21.3097 16.195 21.3132 16.1945 21.3167C16.1719 21.4803 16.2228 21.6489 16.3308 21.7679L17.0293 22.5364H14.4498V22.5364ZM16.9018 21.3507L17.6485 16.9388H17.9981L18.7449 21.3507L17.8233 22.3644L16.9018 21.3507Z" fill="white"/>
                </g>
                <defs>
                <clipPath id="clip0">
                <rect width="24" height="24" fill="white"/>
                </clipPath>
                </defs>
              </svg>
            </div>
            <div class="flex items-center justify-between w-full">
              <span class="ml-4 text-sm font-medium">Employee</span>
            </div>
          </router-link>
          <div
            :class="{
              '  bg-easiorange':
                $route.matched[1].path == '/dashboard/employee',
            }"
            class="text-white w-full items-center pl-10 flex justify-center cursor-pointer"
            @click.stop.prevent="employeeLinksTab = !employeeLinksTab"
          >
            <svg
              class="w-2 h-2 fill-current"
              viewBox="0 0 10 10"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M4.64631 9.64631C4.84157 9.84157 5.15815 9.84157 5.35342 9.64631L9.34332 5.6564C9.34672 5.65318 9.35009 5.64991 9.35342 5.64658L9.64631 5.35369C9.74627 5.25373 9.79506 5.12199 9.79268 4.991C9.79048 4.86601 9.74169 4.74169 9.64631 4.64631L9.35342 4.35342C9.35014 4.35014 9.34683 4.34692 9.34348 4.34375L5.35342 0.353687C5.15816 0.158425 4.84158 0.158424 4.64631 0.353686L4.35342 0.64658C4.15816 0.841842 4.15816 1.15842 4.35342 1.35369L7.99973 5L4.35342 8.64631C4.15815 8.84157 4.15815 9.15815 4.35342 9.35342L4.64631 9.64631Z"
              />
            </svg>
          </div>
        </div>
        <easiSubLinks
          v-show="employeeLinksTab"
          :links="employeeLinks"
          @clickOutside="employeeLinksTab = false"
        />
      </div>
      <div class="my-2">
        <div class="grid grid-cols-2 justify-between hover:bg-easiorange">
          <router-link
            active-class="bg-easiorange  all-white"
            class="text-gray-400 relative leading-6 pl-8 flex items-center font-thin hover:bg-easiorange hover:text-white py-2"
            :to="{path:'/dashboard/performance'}"
          >
            <div>
              <svg class="w-4 h-4 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.375 7.125C9.375 5.88412 8.36588 4.875 7.125 4.875C5.88412 4.875 4.875 5.88412 4.875 7.125C4.875 8.36588 5.88412 9.375 7.125 9.375C8.36588 9.375 9.375 8.36588 9.375 7.125ZM5.625 7.125C5.625 6.29775 6.29775 5.625 7.125 5.625C7.95225 5.625 8.625 6.29775 8.625 7.125C8.625 7.95225 7.95225 8.625 7.125 8.625C6.29775 8.625 5.625 7.95225 5.625 7.125Z" fill="white"/>
                <path d="M18.375 13.5C18.375 12.8033 17.8954 12.2209 17.25 12.0532V9.75H16.5V12.0532C15.8546 12.2209 15.375 12.8033 15.375 13.5C15.375 14.3273 16.0477 15 16.875 15C17.1525 15 17.409 14.9194 17.6321 14.7874L18.4849 15.6401L19.0151 15.1099L18.1624 14.2571C18.2944 14.034 18.375 13.7775 18.375 13.5ZM16.875 14.25C16.4614 14.25 16.125 13.9136 16.125 13.5C16.125 13.0864 16.4614 12.75 16.875 12.75C17.2886 12.75 17.625 13.0864 17.625 13.5C17.625 13.9136 17.2886 14.25 16.875 14.25Z" fill="white"/>
                <path d="M16.875 6.75C15.7965 6.75 14.7802 7.01062 13.875 7.46212V5.703L12.8869 5.4705C12.7624 5.03588 12.5888 4.61737 12.369 4.221L12.9037 3.35775L10.8926 1.34663L10.029 1.881C9.633 1.66125 9.2145 1.48763 8.7795 1.36312L8.547 0.375H5.703L5.4705 1.36275C5.0355 1.48763 4.617 1.66087 4.221 1.88063L3.35738 1.34663L1.34625 3.35775L1.881 4.221C1.66125 4.61737 1.48763 5.03588 1.36312 5.4705L0.375 5.703V8.547L1.36312 8.7795C1.48763 9.21413 1.66125 9.63262 1.881 10.029L1.34625 10.8923L3.04988 12.5955C3.01875 12.7676 3 12.9443 3 13.125C3 14.1675 3.53513 15.0866 4.34438 15.6244C2.04825 16.3331 0.375 18.4744 0.375 21V22.125C0.375 22.9522 1.04775 23.625 1.875 23.625H5.0625C5.42963 23.625 5.7615 23.4739 6 23.2301C6.2385 23.4739 6.57037 23.625 6.9375 23.625H10.125C10.9523 23.625 11.625 22.9522 11.625 22.125V21C11.625 18.4744 9.95175 16.3331 7.65563 15.6244C8.46488 15.0866 9 14.1675 9 13.125C9 13.0185 8.994 12.9135 8.98312 12.81C9.3465 12.6919 9.69975 12.5513 10.029 12.369L10.2105 12.4811C10.1595 12.8145 10.125 13.1528 10.125 13.5C10.125 17.2219 13.1531 20.25 16.875 20.25C20.5969 20.25 23.625 17.2219 23.625 13.5C23.625 9.77812 20.5969 6.75 16.875 6.75ZM22.8559 13.875C22.7704 15.2467 22.2248 16.4929 21.3679 17.463L20.322 16.4171L19.7917 16.9474L20.8376 17.9932C19.8675 18.8497 18.6214 19.3958 17.25 19.4809V18H16.5V19.4809C15.1283 19.3954 13.8821 18.8497 12.9124 17.9932L13.9583 16.9474L13.428 16.4171L12.3821 17.463C11.5253 16.4929 10.9796 15.2467 10.8941 13.875H12.375V13.125H10.8941C10.9796 11.7533 11.5253 10.5071 12.3821 9.537L13.428 10.5829L13.9583 10.0526L12.9124 9.00675C13.8825 8.15025 15.1286 7.60425 16.5 7.51912V9H17.25V7.51912C18.6217 7.60463 19.8679 8.15025 20.8376 9.00675L19.7917 10.0526L20.322 10.5829L21.3679 9.537C22.2248 10.5071 22.7704 11.7533 22.8559 13.125H21.375V13.875H22.8559ZM7.3095 16.3088L6 17.8054L4.6905 16.3088C5.10788 16.1921 5.54588 16.125 6 16.125C6.45412 16.125 6.89213 16.1921 7.3095 16.3088ZM10.875 21V22.125C10.875 22.5386 10.5386 22.875 10.125 22.875H6.9375C6.62738 22.875 6.375 22.6226 6.375 22.3125C6.375 22.0024 6.62738 21.75 6.9375 21.75H9.75V21H9V19.5H8.25V21H6.9375C6.57037 21 6.2385 21.1511 6 21.3949C5.7615 21.1511 5.42963 21 5.0625 21H3.75V19.5H3V21H2.25V21.75H5.0625C5.37262 21.75 5.625 22.0024 5.625 22.3125C5.625 22.6226 5.37262 22.875 5.0625 22.875H1.875C1.46137 22.875 1.125 22.5386 1.125 22.125V21C1.125 19.0492 2.27925 17.3674 3.93825 16.5889L6 18.9446L8.06175 16.5889C9.72075 17.3674 10.875 19.0492 10.875 21ZM6 15.375C4.75912 15.375 3.75 14.3659 3.75 13.125C3.75 11.8841 4.75912 10.875 6 10.875C7.24088 10.875 8.25 11.8841 8.25 13.125C8.25 14.3659 7.24088 15.375 6 15.375ZM3.375 7.125C3.375 5.05725 5.05725 3.375 7.125 3.375C9.19275 3.375 10.875 5.05725 10.875 7.125C10.875 8.922 9.624 10.4351 7.87912 10.7899C7.36462 10.3751 6.71137 10.125 6 10.125C5.68463 10.125 5.38125 10.1745 5.0955 10.2649C4.03313 9.576 3.375 8.39175 3.375 7.125ZM10.0373 11.4923L9.84113 11.6115C9.51975 11.8065 9.17437 11.9663 8.81175 12.0885C8.72287 11.8481 8.60588 11.6216 8.4615 11.4146C10.3267 10.8412 11.625 9.1305 11.625 7.125C11.625 4.64362 9.60637 2.625 7.125 2.625C4.64362 2.625 2.625 4.64362 2.625 7.125C2.625 8.496 3.26437 9.79012 4.3245 10.6376C3.894 10.9286 3.54563 11.3299 3.3135 11.7983L2.29725 10.782L2.75813 10.0373L2.63888 9.84075C2.36288 9.38513 2.1585 8.89275 2.0325 8.37675L1.97775 8.15363L1.125 7.953V6.297L1.97737 6.09637L2.03212 5.87325C2.15813 5.35763 2.3625 4.86488 2.6385 4.40925L2.75775 4.21275L2.29688 3.468L3.468 2.29688L4.21275 2.75775L4.40887 2.6385C4.86412 2.36212 5.3565 2.15812 5.87288 2.03137L6.096 1.97662L6.297 1.125H7.953L8.15363 1.977L8.37675 2.03175C8.89312 2.15813 9.3855 2.3625 9.84075 2.63888L10.0369 2.75813L10.7816 2.29725L11.9528 3.46837L11.4919 4.21312L11.6111 4.40963C11.8871 4.86525 12.0915 5.35763 12.2175 5.87362L12.2723 6.09675L13.125 6.297V7.8915C11.8001 8.78025 10.8124 10.1269 10.3759 11.7015L10.0373 11.4923Z" fill="white"/>
                </svg>

            </div>
            <div class="flex items-center justify-between w-full">
              <span class="ml-4 text-sm font-medium">Performance</span>
            </div>
          </router-link>
          <div
            :class="{'  bg-easiorange':$route.matched[1].path == '/dashboard/performance'}"
            class="text-white w-full items-center pl-10 flex justify-center cursor-pointer"
            @click.stop.prevent="performanceLinksTab = !performanceLinksTab"
          >
            <svg
              class="w-2 h-2 fill-current"
              viewBox="0 0 10 10"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M4.64631 9.64631C4.84157 9.84157 5.15815 9.84157 5.35342 9.64631L9.34332 5.6564C9.34672 5.65318 9.35009 5.64991 9.35342 5.64658L9.64631 5.35369C9.74627 5.25373 9.79506 5.12199 9.79268 4.991C9.79048 4.86601 9.74169 4.74169 9.64631 4.64631L9.35342 4.35342C9.35014 4.35014 9.34683 4.34692 9.34348 4.34375L5.35342 0.353687C5.15816 0.158425 4.84158 0.158424 4.64631 0.353686L4.35342 0.64658C4.15816 0.841842 4.15816 1.15842 4.35342 1.35369L7.99973 5L4.35342 8.64631C4.15815 8.84157 4.15815 9.15815 4.35342 9.35342L4.64631 9.64631Z"
              />
            </svg>
          </div>
        </div>
        <easiSubLinks
          v-show="performanceLinksTab"
          :links="performanceLinks"
          @clickOutside="performanceLinksTab = false"
        />
        <!-- v-if="applicant.profile.isAdmin == true" -->
      </div>
      <div class="my-2">
        <div class="grid grid-cols-2 justify-between hover:bg-easiorange">
          <router-link
            active-class="bg-easiorange  all-white"
            class="text-gray-400 relative leading-6 pl-8 flex items-center font-thin hover:bg-easiorange hover:text-white py-2"
            :to="{path:'/dashboard/payroll'}"
          >
            <div>
              <svg
                class="w-4 h-4 fill-current"
                viewBox="0 0 19 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M13.9359 10.1043V9.29102H13.1617V10.0652H11.6133V12.0007C11.6133 13.0679 12.4815 13.9362 13.5488 13.9362C14.189 13.9362 14.7101 14.4572 14.7101 15.0975V16.2588H13.5488C12.9085 16.2588 12.3875 15.7377 12.3875 15.0975V13.9362H11.6133V15.0975C11.6133 16.0319 12.2795 16.8139 13.1617 16.9939V17.8071H13.9359V17.033H15.4842V15.0975C15.4842 14.0302 14.616 13.162 13.5488 13.162C12.9085 13.162 12.3875 12.641 12.3875 12.0007V10.8394H13.5488C14.189 10.8394 14.7101 11.3604 14.7101 12.0007V13.162H15.4842V12.0007C15.4842 11.0662 14.8181 10.2843 13.9359 10.1043Z"
                />
                <path
                  d="M10.8387 20.1289H7.74197C7.315 20.1289 6.96777 20.4761 6.96777 20.9031V21.6773C6.96777 22.1043 7.315 22.4515 7.74197 22.4515H10.8387C11.2657 22.4515 11.6129 22.1043 11.6129 21.6773V20.9031C11.6129 20.4761 11.2657 20.1289 10.8387 20.1289ZM7.74197 21.6773V20.9031H10.8387L10.8395 21.6773H7.74197Z"
                />
                <path
                  d="M15.871 0H2.70968C1.21587 0 0 1.21587 0 2.70968V21.2903C0 22.7841 1.21587 24 2.70968 24H15.871C17.3648 24 18.5806 22.7841 18.5806 21.2903V2.70968C18.5806 1.21587 17.3648 0 15.871 0ZM17.8065 21.2903C17.8065 22.3575 16.9382 23.2258 15.871 23.2258H2.70968C1.64245 23.2258 0.774194 22.3575 0.774194 21.2903V2.70968C0.774194 1.64245 1.64245 0.774194 2.70968 0.774194H15.871C16.9382 0.774194 17.8065 1.64245 17.8065 2.70968V21.2903Z"
                />
                <path
                  d="M15.8714 1.54883H2.71012C2.06986 1.54883 1.54883 2.06986 1.54883 2.71012V18.194C1.54883 18.8342 2.06986 19.3553 2.71012 19.3553H15.8714C16.5117 19.3553 17.0327 18.8342 17.0327 18.194V2.71012C17.0327 2.06986 16.5117 1.54883 15.8714 1.54883ZM16.2585 18.194C16.2585 18.4077 16.0851 18.5811 15.8714 18.5811H2.71012C2.49644 18.5811 2.32302 18.4077 2.32302 18.194V2.71012C2.32302 2.49644 2.49644 2.32302 2.71012 2.32302H15.8714C16.0851 2.32302 16.2585 2.49644 16.2585 2.71012V18.194Z"
                />
                <path
                  d="M7.88778 7.99946C8.13552 7.77108 8.31861 7.47959 8.42081 7.14979L8.42158 7.15017L9.06378 5.94243C9.21203 5.66372 9.29023 5.3494 9.29023 5.03391C9.29023 3.9663 8.42158 3.09766 7.35397 3.09766H5.80713C4.73952 3.09766 3.87087 3.9663 3.87087 5.03391C3.87087 5.3494 3.94907 5.66372 4.09732 5.9432L4.73913 7.15056L4.73991 7.15017C4.8421 7.47959 5.02558 7.77146 5.27294 7.99985C3.99862 8.51779 3.09668 9.76811 3.09668 11.2267V11.6138H10.0644V11.2267C10.0644 9.76811 9.16249 8.51779 7.88778 7.99946ZM8.51603 5.03391C8.51603 5.2232 8.4692 5.4125 8.38016 5.57933L8.33526 5.66372C8.22455 5.48914 8.06739 5.34398 7.87384 5.24721L6.96765 4.79391V3.87185H7.35397C7.99461 3.87185 8.51603 4.39327 8.51603 5.03391ZM5.80713 3.87185H6.19345V4.79391L5.28687 5.24721C5.09333 5.34398 4.93616 5.48914 4.82545 5.66372L4.78094 5.58011C4.69191 5.41211 4.64507 5.2232 4.64507 5.03391C4.64507 4.39327 5.16649 3.87185 5.80713 3.87185ZM5.41926 6.58153V6.28579C5.41926 6.13791 5.50132 6.00514 5.63332 5.93933L6.58055 5.46591L7.52778 5.93972C7.65978 6.00553 7.74184 6.13791 7.74184 6.28579V6.58153C7.74184 7.22179 7.22081 7.74282 6.58055 7.74282C5.94029 7.74282 5.41926 7.22179 5.41926 6.58153ZM7.34352 8.62733C7.28932 9.00166 6.96958 9.2912 6.58055 9.2912C6.19152 9.2912 5.87178 9.00166 5.81758 8.62733C6.05991 8.55611 6.31539 8.51701 6.58055 8.51701C6.84571 8.51701 7.1012 8.55611 7.34352 8.62733ZM3.89836 10.8396C4.01139 10.0526 4.46545 9.37559 5.10378 8.95869C5.29539 9.59624 5.88107 10.0654 6.58055 10.0654C7.28003 10.0654 7.86571 9.59624 8.05694 8.95869C8.69526 9.37598 9.14971 10.0526 9.26236 10.8396H3.89836Z"
                />
                <path
                  d="M10.0645 5.42024H15.4838V3.09766H10.0645V5.42024ZM12.387 4.64604V3.87185H13.1612V4.64604H12.387ZM14.7096 4.64604H13.9354V3.87185H14.7096V4.64604ZM10.8386 3.87185H11.6128V4.64604H10.8386V3.87185Z"
                />
                <path d="M10.0645 6.19336H12.387V6.96755H10.0645V6.19336Z" />
                <path d="M13.1611 6.19336H15.4837V6.96755H13.1611V6.19336Z" />
                <path d="M10.0645 7.74219H15.4838V8.51638H10.0645V7.74219Z" />
                <path d="M3.09668 17.0332H3.87087V17.8074H3.09668V17.0332Z" />
                <path d="M4.64551 17.0332H5.4197V17.8074H4.64551V17.0332Z" />
                <path d="M6.19336 17.0332H6.96755V17.8074H6.19336V17.0332Z" />
                <path d="M7.74219 17.0332H8.51638V17.8074H7.74219V17.0332Z" />
                <path d="M3.09668 14.709H10.0644V15.4832H3.09668V14.709Z" />
                <path d="M3.09668 13.1621H10.0644V13.9363H3.09668V13.1621Z" />
                <path d="M9.29004 17.0332H10.0642V17.8074H9.29004V17.0332Z" />
              </svg>

            </div>
            <div class="flex items-center justify-between w-full">
              <span class="ml-4 text-sm font-medium">Payroll</span>
            </div>
          </router-link>
          <div
            :class="{'  bg-easiorange':$route.matched[1].path == '/dashboard/payroll'}"
            class="text-white w-full items-center pl-10 flex justify-center cursor-pointer"
            @click.stop.prevent="payrollLinksTab = !payrollLinksTab"
          >
            <svg
              class="w-2 h-2 fill-current"
              viewBox="0 0 10 10"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M4.64631 9.64631C4.84157 9.84157 5.15815 9.84157 5.35342 9.64631L9.34332 5.6564C9.34672 5.65318 9.35009 5.64991 9.35342 5.64658L9.64631 5.35369C9.74627 5.25373 9.79506 5.12199 9.79268 4.991C9.79048 4.86601 9.74169 4.74169 9.64631 4.64631L9.35342 4.35342C9.35014 4.35014 9.34683 4.34692 9.34348 4.34375L5.35342 0.353687C5.15816 0.158425 4.84158 0.158424 4.64631 0.353686L4.35342 0.64658C4.15816 0.841842 4.15816 1.15842 4.35342 1.35369L7.99973 5L4.35342 8.64631C4.15815 8.84157 4.15815 9.15815 4.35342 9.35342L4.64631 9.64631Z"
              />
            </svg>
          </div>
        </div>
        <easiSubLinks
          v-show="payrollLinksTab"
          :links="payrollLinks"
          @clickOutside="payrollLinksTab = false"
        />
        <!-- v-if="applicant.profile.isAdmin == true" -->
      </div>
      <!-- <div class="my-4">
        <div class="hover:bg-easiorange">
          <router-link
            active-class="bg-easiorange  all-white"
            class="text-gray-400 relative leading-6 pl-8 flex items-center font-thin hover:bg-easiorange hover:text-white py-2"
            :to="{ path: '/dashboard/payroll' }"
          >
            <div>
              <svg
                class="w-4 h-4 fill-current"
                viewBox="0 0 19 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M13.9359 10.1043V9.29102H13.1617V10.0652H11.6133V12.0007C11.6133 13.0679 12.4815 13.9362 13.5488 13.9362C14.189 13.9362 14.7101 14.4572 14.7101 15.0975V16.2588H13.5488C12.9085 16.2588 12.3875 15.7377 12.3875 15.0975V13.9362H11.6133V15.0975C11.6133 16.0319 12.2795 16.8139 13.1617 16.9939V17.8071H13.9359V17.033H15.4842V15.0975C15.4842 14.0302 14.616 13.162 13.5488 13.162C12.9085 13.162 12.3875 12.641 12.3875 12.0007V10.8394H13.5488C14.189 10.8394 14.7101 11.3604 14.7101 12.0007V13.162H15.4842V12.0007C15.4842 11.0662 14.8181 10.2843 13.9359 10.1043Z"
                />
                <path
                  d="M10.8387 20.1289H7.74197C7.315 20.1289 6.96777 20.4761 6.96777 20.9031V21.6773C6.96777 22.1043 7.315 22.4515 7.74197 22.4515H10.8387C11.2657 22.4515 11.6129 22.1043 11.6129 21.6773V20.9031C11.6129 20.4761 11.2657 20.1289 10.8387 20.1289ZM7.74197 21.6773V20.9031H10.8387L10.8395 21.6773H7.74197Z"
                />
                <path
                  d="M15.871 0H2.70968C1.21587 0 0 1.21587 0 2.70968V21.2903C0 22.7841 1.21587 24 2.70968 24H15.871C17.3648 24 18.5806 22.7841 18.5806 21.2903V2.70968C18.5806 1.21587 17.3648 0 15.871 0ZM17.8065 21.2903C17.8065 22.3575 16.9382 23.2258 15.871 23.2258H2.70968C1.64245 23.2258 0.774194 22.3575 0.774194 21.2903V2.70968C0.774194 1.64245 1.64245 0.774194 2.70968 0.774194H15.871C16.9382 0.774194 17.8065 1.64245 17.8065 2.70968V21.2903Z"
                />
                <path
                  d="M15.8714 1.54883H2.71012C2.06986 1.54883 1.54883 2.06986 1.54883 2.71012V18.194C1.54883 18.8342 2.06986 19.3553 2.71012 19.3553H15.8714C16.5117 19.3553 17.0327 18.8342 17.0327 18.194V2.71012C17.0327 2.06986 16.5117 1.54883 15.8714 1.54883ZM16.2585 18.194C16.2585 18.4077 16.0851 18.5811 15.8714 18.5811H2.71012C2.49644 18.5811 2.32302 18.4077 2.32302 18.194V2.71012C2.32302 2.49644 2.49644 2.32302 2.71012 2.32302H15.8714C16.0851 2.32302 16.2585 2.49644 16.2585 2.71012V18.194Z"
                />
                <path
                  d="M7.88778 7.99946C8.13552 7.77108 8.31861 7.47959 8.42081 7.14979L8.42158 7.15017L9.06378 5.94243C9.21203 5.66372 9.29023 5.3494 9.29023 5.03391C9.29023 3.9663 8.42158 3.09766 7.35397 3.09766H5.80713C4.73952 3.09766 3.87087 3.9663 3.87087 5.03391C3.87087 5.3494 3.94907 5.66372 4.09732 5.9432L4.73913 7.15056L4.73991 7.15017C4.8421 7.47959 5.02558 7.77146 5.27294 7.99985C3.99862 8.51779 3.09668 9.76811 3.09668 11.2267V11.6138H10.0644V11.2267C10.0644 9.76811 9.16249 8.51779 7.88778 7.99946ZM8.51603 5.03391C8.51603 5.2232 8.4692 5.4125 8.38016 5.57933L8.33526 5.66372C8.22455 5.48914 8.06739 5.34398 7.87384 5.24721L6.96765 4.79391V3.87185H7.35397C7.99461 3.87185 8.51603 4.39327 8.51603 5.03391ZM5.80713 3.87185H6.19345V4.79391L5.28687 5.24721C5.09333 5.34398 4.93616 5.48914 4.82545 5.66372L4.78094 5.58011C4.69191 5.41211 4.64507 5.2232 4.64507 5.03391C4.64507 4.39327 5.16649 3.87185 5.80713 3.87185ZM5.41926 6.58153V6.28579C5.41926 6.13791 5.50132 6.00514 5.63332 5.93933L6.58055 5.46591L7.52778 5.93972C7.65978 6.00553 7.74184 6.13791 7.74184 6.28579V6.58153C7.74184 7.22179 7.22081 7.74282 6.58055 7.74282C5.94029 7.74282 5.41926 7.22179 5.41926 6.58153ZM7.34352 8.62733C7.28932 9.00166 6.96958 9.2912 6.58055 9.2912C6.19152 9.2912 5.87178 9.00166 5.81758 8.62733C6.05991 8.55611 6.31539 8.51701 6.58055 8.51701C6.84571 8.51701 7.1012 8.55611 7.34352 8.62733ZM3.89836 10.8396C4.01139 10.0526 4.46545 9.37559 5.10378 8.95869C5.29539 9.59624 5.88107 10.0654 6.58055 10.0654C7.28003 10.0654 7.86571 9.59624 8.05694 8.95869C8.69526 9.37598 9.14971 10.0526 9.26236 10.8396H3.89836Z"
                />
                <path
                  d="M10.0645 5.42024H15.4838V3.09766H10.0645V5.42024ZM12.387 4.64604V3.87185H13.1612V4.64604H12.387ZM14.7096 4.64604H13.9354V3.87185H14.7096V4.64604ZM10.8386 3.87185H11.6128V4.64604H10.8386V3.87185Z"
                />
                <path d="M10.0645 6.19336H12.387V6.96755H10.0645V6.19336Z" />
                <path d="M13.1611 6.19336H15.4837V6.96755H13.1611V6.19336Z" />
                <path d="M10.0645 7.74219H15.4838V8.51638H10.0645V7.74219Z" />
                <path d="M3.09668 17.0332H3.87087V17.8074H3.09668V17.0332Z" />
                <path d="M4.64551 17.0332H5.4197V17.8074H4.64551V17.0332Z" />
                <path d="M6.19336 17.0332H6.96755V17.8074H6.19336V17.0332Z" />
                <path d="M7.74219 17.0332H8.51638V17.8074H7.74219V17.0332Z" />
                <path d="M3.09668 14.709H10.0644V15.4832H3.09668V14.709Z" />
                <path d="M3.09668 13.1621H10.0644V13.9363H3.09668V13.1621Z" />
                <path d="M9.29004 17.0332H10.0642V17.8074H9.29004V17.0332Z" />
              </svg>
            </div>
            <div class="flex items-center justify-between w-full">
              <span class="ml-4 text-sm font-medium">Payroll</span>
            </div>
          </router-link>
        </div>
      </div> -->
      <div class="my-4">
        <div class="hover:bg-easiorange">
          <router-link
            active-class="bg-easiorange  all-white"
            class="text-gray-400 relative leading-6 pl-8 flex items-center font-thin hover:bg-easiorange hover:text-white py-2"
            :to="{ path: '/dashboard/settings' }"
          >
            <div>
              <svg
                class="w-4 h-4 fill-current"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12.318 14.8691C12.2284 14.6801 12.0023 14.5995 11.8133 14.6892C11.5057 14.8352 11.1832 14.9558 10.8547 15.0477C10.7174 15.0862 10.6133 15.1984 10.5853 15.3383L10.1844 17.3426C10.1449 17.5405 9.96966 17.6842 9.76781 17.6842H8.67426C8.47242 17.6842 8.29725 17.5406 8.25764 17.3426L7.85677 15.3383C7.82878 15.1984 7.72463 15.0862 7.58733 15.0477C7.12336 14.9179 6.67561 14.7323 6.2565 14.4963C6.13214 14.4262 5.979 14.432 5.86031 14.5111L4.15941 15.645C3.9915 15.757 3.76603 15.7346 3.62325 15.5919L2.85 14.8186C2.70727 14.6759 2.685 14.4504 2.79689 14.2825L3.9308 12.5816C4.00997 12.4628 4.01573 12.3097 3.94566 12.1854C3.70955 11.7662 3.52402 11.3184 3.39422 10.8546C3.35578 10.7172 3.24352 10.6131 3.10359 10.5851L1.09931 10.1842C0.901406 10.1447 0.757734 9.96947 0.757734 9.76763V8.67408C0.757734 8.47223 0.901359 8.29706 1.09931 8.25745L3.10359 7.85658C3.24352 7.82859 3.35578 7.72444 3.39422 7.58714C3.52406 7.12317 3.70959 6.67542 3.94566 6.25631C4.01569 6.132 4.00992 5.97886 3.9308 5.86013L2.79698 4.15941C2.68505 3.99145 2.70736 3.76603 2.85009 3.62325L3.62334 2.85C3.76608 2.70727 3.99159 2.685 4.1595 2.79689L5.86041 3.9308C5.97909 4.00997 6.13228 4.01569 6.25659 3.94566C6.6757 3.70959 7.12345 3.52406 7.58742 3.39422C7.72481 3.35578 7.82892 3.24352 7.85686 3.10359L8.25773 1.09931C8.2973 0.901406 8.47252 0.757734 8.67436 0.757734H9.76791C9.96975 0.757734 10.1449 0.901359 10.1845 1.09931L10.5854 3.10359C10.6134 3.24352 10.7175 3.35578 10.8548 3.39422C11.3188 3.52406 11.7666 3.70959 12.1857 3.94566C12.31 4.01569 12.4632 4.00992 12.5819 3.9308L14.2828 2.79689C14.4507 2.68495 14.6761 2.70731 14.8189 2.85L15.5922 3.62325C15.7349 3.76598 15.7572 3.99145 15.6453 4.15941L14.5114 5.86031C14.4322 5.97905 14.4264 6.13214 14.4965 6.2565C14.7326 6.67561 14.9181 7.12336 15.048 7.58733C15.0864 7.72472 15.1987 7.82883 15.3386 7.85677L17.3429 8.25764C17.5408 8.2972 17.6844 8.47242 17.6844 8.67426V9.76781C17.6844 9.96966 17.5408 10.1448 17.3429 10.1844L15.3386 10.5853C15.1987 10.6133 15.0864 10.7175 15.048 10.8548C14.9538 11.1914 14.8295 11.5215 14.6786 11.8361C14.588 12.0248 14.6676 12.2512 14.8563 12.3417C15.045 12.4323 15.2714 12.3526 15.3618 12.164C15.498 11.88 15.615 11.5849 15.7107 11.2838L17.4915 10.9276C18.0422 10.8174 18.4421 10.3296 18.4421 9.76777V8.67422C18.4421 8.11238 18.0422 7.62464 17.4913 7.51439L15.7105 7.15823C15.5937 6.79055 15.4456 6.43308 15.2683 6.09094L16.2757 4.57973C16.5873 4.11225 16.5252 3.48459 16.1279 3.08728L15.3547 2.31403C14.9573 1.91672 14.3296 1.85466 13.8622 2.16623L12.351 3.17367C12.0089 2.99634 11.6514 2.84827 11.2837 2.73145L10.9275 0.950672C10.8174 0.399844 10.3297 0 9.76781 0H8.67426C8.11242 0 7.62469 0.399844 7.51444 0.950813L7.15828 2.73159C6.79059 2.84841 6.43312 2.99644 6.09098 3.17381L4.57987 2.16637C4.11244 1.85475 3.48473 1.91681 3.08742 2.31417L2.31417 3.08742C1.91691 3.48473 1.85475 4.11234 2.16637 4.57987L3.17381 6.09108C2.99648 6.43322 2.84841 6.79064 2.73159 7.15838L0.950766 7.51453C0.399844 7.62469 0 8.11247 0 8.67431V9.76786C0 10.3297 0.399844 10.8174 0.950813 10.9277L2.73159 11.2838C2.84836 11.6515 2.99644 12.009 3.17381 12.3511L2.16637 13.8623C1.85475 14.3298 1.91686 14.9575 2.31417 15.3548L3.08742 16.128C3.48473 16.5254 4.11239 16.5874 4.57987 16.2758L6.09108 15.2684C6.43322 15.4457 6.79064 15.5938 7.15838 15.7106L7.51453 17.4915C7.62469 18.0423 8.11247 18.4422 8.67431 18.4422H9.76786C10.3297 18.4422 10.8174 18.0423 10.9277 17.4914L11.2838 15.7106C11.5758 15.6178 11.8624 15.505 12.1383 15.374C12.3273 15.2842 12.4079 15.0582 12.318 14.8691Z"
                />
                <path
                  d="M12.5029 11.3272C12.5582 11.3556 12.6173 11.369 12.6755 11.369C12.8131 11.369 12.9459 11.2938 13.013 11.1629C13.3186 10.5669 13.4802 9.8956 13.4802 9.22159C13.4802 6.87282 11.5693 4.96191 9.22052 4.96191C8.10311 4.96191 7.0472 5.39138 6.24724 6.17134C6.09738 6.3174 6.09433 6.55735 6.24039 6.70716C6.38645 6.85698 6.62636 6.86012 6.77622 6.71401C7.43383 6.07295 8.30186 5.71984 9.22042 5.71984C11.1513 5.71984 12.7222 7.29071 12.7222 9.22163C12.7222 9.78385 12.5931 10.3207 12.3385 10.8172C12.2431 11.0033 12.3167 11.2316 12.5029 11.3272Z"
                />
                <path
                  d="M5.67334 7.59983C5.47539 7.53172 5.25986 7.63696 5.19175 7.83486C5.03861 8.28008 4.96094 8.74658 4.96094 9.22128C4.96094 11.5701 6.87184 13.481 9.22061 13.481C10.1239 13.481 10.987 13.2018 11.7166 12.6734C11.8861 12.5507 11.924 12.3137 11.8013 12.1442C11.6785 11.9747 11.4415 11.9368 11.272 12.0595C10.6726 12.4935 9.96325 12.723 9.22056 12.723C7.28964 12.723 5.71877 11.1521 5.71877 9.22119C5.71877 8.83053 5.78252 8.44696 5.90833 8.08128C5.97639 7.88342 5.8712 7.66785 5.67334 7.59983Z"
                />
                <path
                  d="M23.2708 16.5617L22.175 16.3425C22.1083 16.1439 22.0279 15.95 21.9347 15.7626L22.5546 14.8326C22.7937 14.474 22.746 13.9926 22.4413 13.688L21.9332 13.1798C21.6284 12.8751 21.147 12.8275 20.7885 13.0665L19.8586 13.6865C19.6711 13.5933 19.4772 13.5129 19.2786 13.4462L19.0595 12.3504C18.9749 11.9278 18.6008 11.6211 18.1699 11.6211H17.4513C17.0204 11.6211 16.6462 11.9278 16.5617 12.3504L16.3426 13.4462C16.144 13.5129 15.95 13.5933 15.7626 13.6865L14.8327 13.0665C14.4741 12.8275 13.9927 12.8751 13.688 13.1798L13.1799 13.688C12.8751 13.9927 12.8275 14.4741 13.0665 14.8326L13.6865 15.7626C13.5583 16.0203 13.4545 16.2902 13.3769 16.5677C13.3205 16.7693 13.4382 16.9783 13.6397 17.0348C13.8413 17.0912 14.0503 16.9735 14.1068 16.772C14.1893 16.477 14.3072 16.1925 14.4572 15.9262C14.5273 15.8018 14.5215 15.6487 14.4424 15.53L13.6972 14.4123C13.6579 14.3533 13.6657 14.274 13.7158 14.2239L14.224 13.7158C14.2741 13.6656 14.3533 13.6579 14.4124 13.6971L15.5301 14.4423C15.6488 14.5214 15.8019 14.5272 15.9263 14.4571C16.1926 14.3071 16.4771 14.1892 16.772 14.1067C16.9094 14.0683 17.0135 13.956 17.0415 13.8161L17.3049 12.499C17.3188 12.4295 17.3803 12.379 17.4513 12.379H18.1699C18.2408 12.379 18.3024 12.4295 18.3163 12.499L18.5797 13.8162C18.6077 13.9561 18.7118 14.0683 18.8491 14.1068C19.1441 14.1893 19.4286 14.3072 19.6949 14.4572C19.8192 14.5273 19.9724 14.5215 20.0911 14.4424L21.2088 13.6972C21.2678 13.6579 21.347 13.6656 21.3972 13.7158L21.9053 14.224C21.9554 14.2741 21.9633 14.3533 21.924 14.4124L21.1788 15.5301C21.0996 15.6488 21.0939 15.8019 21.164 15.9263C21.314 16.1926 21.4319 16.4771 21.5144 16.7721C21.5528 16.9094 21.6651 17.0136 21.805 17.0415L23.1221 17.3049C23.1916 17.3188 23.2421 17.3804 23.2421 17.4513V18.1699C23.2421 18.2408 23.1916 18.3024 23.1221 18.3163L21.8049 18.5797C21.665 18.6077 21.5527 18.7118 21.5143 18.8491C21.4318 19.1441 21.3139 19.4286 21.1639 19.6949C21.0938 19.8193 21.0996 19.9724 21.1787 20.0911L21.9239 21.2088C21.9632 21.2678 21.9554 21.3471 21.9052 21.3972L21.3971 21.9053C21.347 21.9555 21.2678 21.9633 21.2087 21.924L20.091 21.1788C19.9723 21.0997 19.8191 21.0939 19.6948 21.164C19.4285 21.314 19.144 21.4319 18.849 21.5144C18.7116 21.5528 18.6075 21.6651 18.5796 21.805L18.3162 23.1221C18.3023 23.1916 18.2407 23.2421 18.1698 23.2421H17.4512C17.3803 23.2421 17.3187 23.1916 17.3048 23.1221L17.0414 21.8049C17.0134 21.665 16.9092 21.5527 16.772 21.5143C16.477 21.4318 16.1925 21.3139 15.9262 21.1639C15.8018 21.0938 15.6486 21.0996 15.53 21.1787L14.4123 21.9239C14.3533 21.9632 14.274 21.9555 14.2239 21.9052L13.7158 21.3971C13.6656 21.347 13.6578 21.2677 13.6971 21.2087L14.4423 20.091C14.5214 19.9723 14.5272 19.8192 14.4571 19.6948C14.3071 19.4285 14.1892 19.144 14.1067 18.849C14.0683 18.7116 13.956 18.6075 13.8161 18.5796L12.499 18.3162C12.4295 18.3023 12.379 18.2407 12.379 18.1698V17.4512C12.379 17.3803 12.4295 17.3187 12.499 17.3048L12.5796 17.2887C12.7849 17.2476 12.918 17.048 12.8769 16.8427C12.8358 16.6375 12.6364 16.5046 12.4309 16.5455L12.3503 16.5616C11.9278 16.6462 11.6211 17.0203 11.6211 17.4512V18.1699C11.6211 18.6007 11.9278 18.9749 12.3504 19.0594L13.4462 19.2786C13.5129 19.4772 13.5933 19.6711 13.6865 19.8585L13.0665 20.7884C12.8274 21.147 12.8751 21.6284 13.1798 21.9331L13.688 22.4413C13.9927 22.746 14.4741 22.7936 14.8326 22.5546L15.7625 21.9346C15.95 22.0278 16.1439 22.1082 16.3425 22.1749L16.5617 23.2707C16.6463 23.6933 17.0204 24 17.4513 24H18.17C18.6008 24 18.975 23.6933 19.0595 23.2707L19.2786 22.1749C19.4773 22.1082 19.6712 22.0278 19.8586 21.9346L20.7885 22.5546C21.1471 22.7936 21.6285 22.746 21.9332 22.4412L22.4413 21.9331C22.7461 21.6284 22.7937 21.1469 22.5547 20.7884L21.9347 19.8585C22.0279 19.671 22.1083 19.4771 22.175 19.2785L23.2708 19.0594C23.6933 18.9749 24 18.6007 24 18.1698V17.4512C24.0001 17.0203 23.6934 16.6462 23.2708 16.5617Z"
                />
                <path
                  d="M17.8116 16.4464C18.5639 16.4464 19.1758 17.0584 19.1758 17.8106C19.1758 18.0199 19.3455 18.1895 19.5548 18.1895C19.764 18.1895 19.9337 18.0199 19.9337 17.8106C19.9337 16.6405 18.9817 15.6885 17.8116 15.6885C16.6414 15.6885 15.6895 16.6405 15.6895 17.8106C15.6895 18.9807 16.6414 19.9327 17.8116 19.9327C18.2855 19.9327 18.7338 19.7799 19.1081 19.4907C19.2737 19.3628 19.3042 19.1248 19.1763 18.9591C19.0483 18.7935 18.8103 18.763 18.6447 18.8909C18.4043 19.0766 18.1162 19.1748 17.8116 19.1748C17.0593 19.1748 16.4474 18.5629 16.4474 17.8106C16.4474 17.0583 17.0594 16.4464 17.8116 16.4464Z"
                />
                <path
                  d="M11.5296 9.22084C11.5296 7.94781 10.4938 6.91211 9.22084 6.91211C7.94781 6.91211 6.91211 7.94786 6.91211 9.22084C6.91211 10.4939 7.94781 11.5296 9.22084 11.5296C10.4939 11.5296 11.5296 10.4938 11.5296 9.22084ZM7.66998 9.22084C7.66998 8.36575 8.36575 7.66998 9.22084 7.66998C10.0759 7.66998 10.7717 8.36575 10.7717 9.22084C10.7717 10.0759 10.076 10.7717 9.22084 10.7717C8.36566 10.7717 7.66998 10.0759 7.66998 9.22084Z"
                />
              </svg>
            </div>
            <div class="flex items-center justify-between w-full">
              <span class="ml-4 text-sm font-medium">Settings</span>
            </div>
          </router-link>
          <!-- <div
            :class="{
              '  bg-easiorange': $route.matched[1].path == '/dashboard/payroll',
            }"
            class="text-white w-full items-center pl-10 flex justify-center cursor-pointer"
            @click.stop.prevent="employeeLinksTab = !employeeLinksTab"
          >
            <svg
              class="w-2 h-2 fill-current"
              viewBox="0 0 10 10"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M4.64631 9.64631C4.84157 9.84157 5.15815 9.84157 5.35342 9.64631L9.34332 5.6564C9.34672 5.65318 9.35009 5.64991 9.35342 5.64658L9.64631 5.35369C9.74627 5.25373 9.79506 5.12199 9.79268 4.991C9.79048 4.86601 9.74169 4.74169 9.64631 4.64631L9.35342 4.35342C9.35014 4.35014 9.34683 4.34692 9.34348 4.34375L5.35342 0.353687C5.15816 0.158425 4.84158 0.158424 4.64631 0.353686L4.35342 0.64658C4.15816 0.841842 4.15816 1.15842 4.35342 1.35369L7.99973 5L4.35342 8.64631C4.15815 8.84157 4.15815 9.15815 4.35342 9.35342L4.64631 9.64631Z"
              />
            </svg>
          </div> -->
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      recruitmentLinksTab: false,
      employeeLinksTab: false,
      performanceLinksTab: false,
      payrollLinksTab: false,
      employeeLinks: [
        {
          routeName: "Overview",
          routeLinkPath: "/dashboard/employee/overview",
          active: "text-easiorange",
        },
        {
          routeName: "Onboard Employee",
          routeLinkPath: "/dashboard/employee/onboard",
          active: "text-easiorange",
        },
        // {
        //   routeName: "Manage Employee",
        //   routeLinkPath: "/dashboard/employee/manage-employee",
        //   active: "text-easiorange",
        // },
        // {
        //   routeName: "Memo",
        //   routeLinkPath: "/dashboard/employee/memo",
        //   active: "text-easiorange",
        // },
        // {
        //   routeName: "Tasks",
        //   routeLinkPath: "/dashboard/employee/tasks",
        //   active: "text-easiorange",
        // },
        // {
        //   routeName: "Feedbacks",
        //   routeLinkPath: "/dashboard/employee/feedbacks",
        //   active: "text-easiorange",
        // },
        // {
        //   routeName: "Applications",
        //   routeLinkPath: "/dashboard/employee/applications",
        //   active: "text-easiorange",
        // },
      ],
      recruitmentLinks: [
        {
          routeName: "Jobs",
          routeLinkPath: "/dashboard/recruitment/jobs",
          active: "text-easiorange",
        },
        {
          routeName: "Candidates",
          routeLinkPath: "/dashboard/recruitment/candidates",
          active: "text-easiorange",
        },
        {
          routeName: "Assessment",
          routeLinkPath: "/dashboard/recruitment/assessments",
          active: "text-easiorange",
        },
      ],
      performanceLinks: [
        {
          routeName: "Overview",
          routeLinkPath: "/dashboard/performance/Performance-Overview",
          active: "text-easiorange",
        },
        {
          routeName: "Performance",
          routeLinkPath: "/dashboard/performance/Performance-List",
          active: "text-easiorange",
        },
        {
          routeName: "Employees",
          routeLinkPath: "/dashboard/performance/Employees",
          active: "text-easiorange",
        },
      ],
      payrollLinks: [
        {
          routeName: "Overview",
          routeLinkPath: "/dashboard/payroll/",
          active: "text-easiorange",
        },
        {
          routeName: "Settings",
          routeLinkPath: "/dashboard/payroll/settings",
          active: "text-easiorange",
        },
        {
          routeName: "Allowances",
          routeLinkPath: "/dashboard/payroll/allowances",
          active: "text-easiorange",
        },
        {
          routeName: "Benefits",
          routeLinkPath: "/dashboard/payroll/benefits",
          active: "text-easiorange",
        },
        // {
        //   routeName: "Other Payments",
        //   routeLinkPath: "/dashboard/payroll/other-payments",
        //   active: "text-easiorange",
        // },
        {
          routeName: "Staff Level",
          routeLinkPath: "/dashboard/payroll/stafflevel",
          active: "text-easiorange",
        },
        {
          routeName: "Payments",
          routeLinkPath: "/dashboard/payroll/payments",
          active: "text-easiorange",
        },
        // {
        //   routeName: "Reports",
        //   routeLinkPath: "/dashboard/payroll/settings",
        //   active: "text-easiorange",
        // },
      ],
    };
  },
  methods: {
    toggle() {
      this.recruitmentLinksTab = false;
    },
    change() {
      this.recruitmentLinksTab = !this.recruitmentLinksTab;
    },
  },

  computed: {
    ...mapGetters(["applicant"]),
  },

  mounted() {}
};
</script>

<style>
.dashboard-height {
  height: 3.5rem;
}
.dashboard-padding-height {
  margin: 3.5rem 0 2.5rem;
}
.all-white {
  color: white !important;
  background: #e4572e !important  ;
}
</style>