<template>
  <main class>
    <div class="py-3 flex items-center border">
      <div class="text-sm text-gray-900 pl-4">
        Task List
      </div>

      <div class="ml-10">
        <input
          type="text"
          class="focus:outline-none text-xs w-64 text-gray-600 appearance-none border rounded-sm leading-7 pl-3"
          placeholder="Search"
        />
      </div>
    </div>
    <table class="table-auto w-full overflow-y-auto shadow-sm bg-white">
      <thead>
        <tr class="bg-easipurple text-white">
          <th
            v-for="(title, index) in headers"
            :key="index"
            class="px-4 py-3 text-left font-light uppercase text-sm"
          >
            <div>{{ title }}</div>
          </th>
        </tr>
      </thead>
      <div class="py-2" v-if="checkLoading">
        <div class="loader">
          <svg viewBox="0 0 80 80">
            <rect x="8" y="8" width="64" height="64" />
          </svg>
        </div>
      </div>
      <tbody v-else-if="getAllTasks.data.length">
        <!-- Todo: Need to filter for current Employee only. -->
        <tr
          v-for="task in receivedTasks()"
          :key="task._id"
          class="bg-white even:bg-gray-100 text-gray-600 cursor-pointer hover:bg-gray-600 hover:text-white"
        >
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ task.title }}
          </td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ getEmployeeById(task.creatorId) }}
          </td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ task.deadlineDate }} {{ task.deadlineTime }}
          </td>

          <td class="px-4 py-4 text-sm font-thin tracking-wide">
            <easiDropdown css="mt-5" :taskObj="{id: task._id}" dropdownName="TaskDropdown">
              <svg
                class="w-6 h-6"
                viewBox="0 0 36 36"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  x="0.5"
                  y="0.5"
                  width="35"
                  height="35"
                  rx="2.5"
                  stroke="#E1E6ED"
                />
                <path
                  d="M27.2678 16.2322C28.2441 17.2085 28.2441 18.7914 27.2678 19.7677C26.2915 20.7441 24.7085 20.7441 23.7322 19.7677C22.7559 18.7914 22.7559 17.2085 23.7322 16.2322C24.7085 15.2559 26.2915 15.2559 27.2678 16.2322Z"
                  fill="#D3DCE6"
                />
                <path
                  d="M19.7677 16.2322C20.7441 17.2085 20.7441 18.7914 19.7677 19.7677C18.7914 20.7441 17.2085 20.7441 16.2322 19.7677C15.2559 18.7914 15.2559 17.2085 16.2322 16.2322C17.2085 15.2559 18.7914 15.2559 19.7677 16.2322Z"
                  fill="#D3DCE6"
                />
                <path
                  d="M12.2678 16.2322C13.2441 17.2085 13.2441 18.7914 12.2678 19.7677C11.2915 20.7441 9.70854 20.7441 8.73223 19.7677C7.75592 18.7914 7.75592 17.2085 8.73223 16.2322C9.70854 15.2559 11.2915 15.2559 12.2678 16.2322Z"
                  fill="#D3DCE6"
                />
              </svg>
            </easiDropdown>
          </td>
        </tr>
      </tbody>

      <div v-else>
        <div
          class="py-4 flex justify-center bg-white items-center text-gray-600 font-light"
        >
          You have no Received Task
        </div>
      </div>
    </table>{{getAllTasks}}
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      headers: ["Task", "From", "Deadline", "Action"],
      loading: false,
      jobs: [],
      args: {
        companyId: "",
        limit: 10,
        search: null,
        skip: 0,
      },
      tasksPayload: {
        limit: 10,
        skip: 0,
        search: null,
        isCompleted: false,
      },
    };
  },
  computed: {
    ...mapGetters(["getAllEmployees", "applicant", "checkLoading", "getAllTasks"]),

    receivedTasks() {
      var result = [];
      this.getAllTasks.data.forEach(
        function(task, index) {
          if (task.assigneeId == applicant._id){
            result.push(task)
          }
        }
      )
      return result;
    }
  },
  methods: {
    async allTasks() {
      await this.$store.dispatch("query", {
        endpoint: "ListReceivedTasks",
        payload: this.tasksPayload,
        storeKey: "listTasks",
      });
    },

    getEmployeeById(id) {
      var employees = this.allIds.data;
      var employeeName = null;
      employees.forEach(
        function(employee, index) {
          if (employee.ID == id){
            employeeName = employee.Name
          }
        }
      )

      return employeeName
    }
  },
  async created() {
    this.args.companyId = this.applicant.companyId;
    await this.allTasks();
  },
};
</script>

<style>
</style>