<template>
  <main>
    <div class="flex w-full max-w-2xl items-center justify-between">
      <easiBackButton @click.native="$router.push({ name: 'TasksActive' })" />
      <h1 class="text-lg text-gray-700">View Task</h1>
      <div></div>
    </div>
    <div class="w-full max-w-2xl bg-white py-3 px-5 mt-6 shadow-xs pb-8">
      <p class="text-gray-600 font-medium text-base mt-1">
        Title: Company News
      </p>
      <p class="text-gray-600 font-thin text-sm mt-2">
        Sent From: Dylan Mike
      </p>
      <p class="text-gray-600 font-thin text-sm mt-2">
        Deadline: May 24, 2020, 12:45 AM
      </p>
      <p class="text-gray-600 font-normal text-sm mt-2">
        Note
      </p>
      <p class="text-gray-600 font-thin text-sm leading-6 tracking-wide mt-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti odio
        reprehenderit sapiente nostrum molestias vero nihil aut ad, voluptas
        asperiores culpa, aliquid quam ipsa ducimus cupiditate, blanditiis autem
        porro repellendus. Similique quas quidem excepturi natus modi autem ex,
        id et cupiditate qui eaque ipsam pariatur est porro ab ullam
        reprehenderit tenetur quam harum ratione quibusdam quasi incidunt
        eveniet iure? Sint iste amet exercitationem eum dolor eveniet? Atque
        voluptates, molestias eaque voluptas veniam similique harum voluptate
        consequatur! Optio reprehenderit iste dolor aspernatur sint! Unde aut
        dolores tempora necessitatibus nobis dicta quod ratione deserunt?
        Pariatur sint distinctio culpa ipsa? Ab magni iste dolorem iusto, animi
        blanditiis exercitationem amet dignissimos excepturi quidem at, id
        necessitatibus voluptate quas quaerat asperiores hic eius quisquam dicta
        nostrum eaque perferendis modi. Quam culpa architecto quod optio
        perspiciatis quas deserunt sit et, pariatur amet nostrum maiores quis
        cupiditate nam eius! Architecto dolores odit illo quibusdam totam
        nostrum sint deleniti doloremque voluptas sequi exercitationem et,
        delectus necessitatibus magni debitis a esse. Sapiente, saepe nisi.
        Error esse repudiandae fugiat et minus temporibus porro ea, amet quaerat
        nihil incidunt ipsum ullam. Iure omnis impedit exercitationem at iusto
        maxime aut eveniet deserunt obcaecati! Adipisci blanditiis sit ratione
        incidunt? Perspiciatis culpa natus esse?
      </p>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      taskToViewId: "",
      stuff: ""
    }
  },
  computed: {
    ...mapGetters(["applicant", "checkLoading", "getAllTasks", "allIds"]),
  },

  methods: {
    async allTasks() {
      await this.$store.dispatch("query", {
        endpoint: "ListTasksByCompany",
        payload: this.tasksPayload,
        storeKey: "listTasks",
      });
    },
    taskToView() {
      var result = null;
      this.getAllTasks.data.forEach(
        function(task, index) {
          if (task._id == this.taskToViewId) {
            result = task
          }
        }
      )
      return result;
    },
  },

  async created() {
    let res = await this.$store.dispatch("query", {
      endpoint: "ListEmployeeNameAndIds",
      storeKey: "listIds",
    });
    
    this.taskToViewId = this.$route.params.id;
    this.stuff = this.taskToView();
    await this.allTasks();

    this.getAllTasks.data.forEach(
      function(task, index) {
        if (task._id == this.taskToViewId) {
        }
      }
    )
  },
};
</script>

<style>
</style>