<template>
  <main>
    
    
  </main>
</template>

<script>
export default {
  data() {
    return {
      loginDetails: {
        loginCombo: "",
        combo: "",
        password: "",
        client: "",
        accountType: "EMPLOYEE"
      }
    };
  },
  
  methods: {
  },
};
</script>

<style></style>

