<template>
  <main>
    <form @submit.prevent="requestPassword" class="flex flex-col p-8">
      <h1 class="capitalize text-xl font-medium text-gray-700">Forgot Password</h1>
      <div class="text-sm text-gray-800 font-medium mt-6 mb-1">Email Address</div>
      <input
        class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
        type="email"
        placeholder="Enter Your Email Address"
        v-model="email"
        required
      />
      <div class="w-32">
        <easiButton class="mt-5 inline-block">Send Reset Link</easiButton>
      </div>
      <div class="pt-6 flex">
        <h1
          @click="$router.push('/login')"
          class="text-orange-600 text-sm text-center cursor-pointer"
        >Back to Login</h1>
      </div>
    </form>
  </main>
</template>

<script>
export default {
  data() {
    return {
      email: ""
    };
  },
  methods: {
    async requestPassword() {
      let res = await this.$store.dispatch("forgotPassword", {
        email: this.email
      });
      if (res.success) {
        this.$toast.success(res.message, {
          position: "bottom",
          duration: 5000
        });
        this.email = "";
      }
    }
  }
};
</script>

<style></style>
