<template>
  <main>
    <form @submit.prevent="">
      <h1 class="lg:text-2xl text-xl font-medium logo text-gray-800">Login</h1>
      <p class="text-gray-600 font-light text-sm pt-3">Enter your credentials to get started</p>
      <div class="mt-8">
        <p class="text-gray-600 font-medium text-sm">Email Address</p>
        <input
          class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
          type="email"
          placeholder="Enter Your Email Address"
          v-model="loginPayload.email"
          required
        />
      </div>
      <div class="mt-8">
        <p class="text-gray-600 font-medium text-sm">Password</p>
        <input
          class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
          type="password"
          placeholder="Enter Your Password"
          v-model="loginPayload.password"
          required
        />
      </div>
      <div class="flex justify-end">
        <router-link
          :to="{name:'Forgot'}"
          class="text-orange-600 font-medium pt-2 text-xs"
        >Forgot Password?</router-link>
      </div>
      <div class="inline-block mt-4">
        <easiButton v-if="!checked" @click.native="userLogin()">
          <div class="px-4 font-normal text-xs">login</div>
        </easiButton>
        <easiButton v-if="checked" @click.native="adminLogin()">
          <div class="px-4 font-normal text-xs">Admin login</div>
        </easiButton>
      </div>
      <p class="text-gray-600 font-light text-sm pt-3">
        Don't have an account?
        <span
          @click="$router.push({name: 'Register'})" 
          class="font-normal text-orange-600 cursor-pointer"
        >Sign Up</span>
      </p>


      <p class="mt-8 blackColor font-bold">
        Are you an admin ?
        <input type="checkbox" class="" v-model="checked">
      </p>
    </form>
    
  </main>
</template>

<script>
import { mapActions, mapMutations, mapGetters } from "vuex";
export default {
  data() {
    return {
      checked: false,
      loginPayload: {
        email: "",
        password: ""
      }
    };
  },
  computed: {
    ...mapGetters(["applicant", "listEmployeeRole"]),
  },

  methods: {
    ...mapActions(["loginUser", "query"]),
    ...mapMutations(["set"]),

    async userLogin() {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "EmployeeLogin",
        data: { input: this.loginPayload },
        service: "AUTH"
      });
      
      if (res.success) {
        this.$toast.success("Login Successful");
        localStorage.setItem("token", res.token);
        
        // Setting employee details data to.
        this.$store.state.data.applicant = res.data;
        this.$store.state.data.userPrivileges = res.privileges;

        console.log("User privileges: ", this.$store.state.data.userPrivileges);


        // Check & store Employee privileges:
        // await this.queryRoles();


        this.set({
          type: "isLoggedIn",
          data: true
        });
        this.$router.push("/dashboard");
      }

      // If failure from normal employee login; try admin endpoint.
      else {
        this.adminLogin();
      }

    },

    async adminLogin() {
      console.log("This func went through!");
      let res = await this.$store.dispatch("mutate", {
        endpoint: "CompanyAdminLogin",
        data: { input: this.loginPayload },
        service: "AUTH"
      })
      if (res.success) {
        this.$toast.success("Login Successful");
        localStorage.setItem("token", res.token);
        
        // *Note: Setting employee details data to.
        this.$store.state.data.applicant = res.data;
        this.$store.state.data.userPrivileges = "admin";

        console.log("UserA privileges: ", this.$store.state.data.userPrivileges)

        this.set({
          type: "isLoggedIn",
          data: true
        });
        this.$router.push("/dashboard");
      }
    },

    async queryRoles() {
      this.$store.dispatch("query", {
        endpoint: "ListEmployeeRole",
        payload: this.payload,
        storeKey: "employeerole",
      });
    },

    // async login() {
    //   try {
    //     console.log(this.loginPayload, "LLLLLLLLLlll")
    //     let res = await this.loginUser(this.loginPayload);
    //     console.log(res, 'hsdkjdjkdfkj')
    //     if (res.success) {
    //       localStorage.setItem("token", res.token);
    //       console.log( res.token, "Token received")
    //       await this.query({
    //         endpoint: "MyEmployeeProfile",
    //         storeKey: "applicant"
    //       });
    //       this.set({
    //         type: "isLoggedIn",
    //         data: true
    //       });
    //       this.$router.push("/dashboard");
    //     }
    //   } catch (error) {
    //     console.log(error, "paruh");
    //   }
    // }
  },
  mounted() {
    console.log("Mountsssssssssssssssssss");
    console.log(this.$route.path, "name")
    // let isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
    // isMobile
    //   ? (this.loginDetails.client = "MOBILE")
    //   : (this.loginDetails.client = "WEB");
  }
};
</script>

<style></style>

