<template>
  <main>
    <!--
    <form @submit.prevent="active = 2" v-if="active == 1">
      <h1 class="lg:text-2xl text-xl font-medium logo text-gray-800">Create Account</h1>
      <p class="text-gray-600 font-light text-sm pt-3">Fill up to Continue</p>
      <div class="mt-8">
        <p class="text-gray-600 font-medium text-sm">Email Address</p>
        <input
          class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
          type="email"
          placeholder="Enter Your Email Address"
          v-model="registerData.company.email"
          required
        />
      </div>
      <div class="inline-block mt-8">
        <easiButton>
          <div class="px-4 font-normal text-xs">Sign Up</div>
        </easiButton>
      </div>
      <p class="text-gray-600 font-light text-sm pt-3">
        Have an account already?
        <span
          @click="$router.push('/login')"
          class="font-normal text-orange-600 cursor-pointer"
        >Login</span>
      </p>
    </form>
    -->
    <form @submit.prevent="active = 3" v-if="active == 2">
      <h1 class="lg:text-2xl text-xl font-medium logo text-gray-800">Company Profile</h1>
      <p class="text-gray-600 font-light text-sm pt-3">Fill up to Continue</p>
      <div class="mt-8">
        <p class="text-gray-600 font-medium text-sm">Company Email</p>
        <input
          class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
          type="text"
          placeholder="Enter Your Company Mail"
          v-model="registerData.company.companyEmail"
          required
        />
      </div>
      <div class="grid grid-cols-1 lg:col-gap-5 lg:grid-cols-2">
        <div class="mt-8">
          <p class="text-gray-600 font-medium text-sm">Company Name</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="text"
            placeholder="Enter Your Company Name"
            v-model="registerData.company.companyName"
            required
          />
        </div>
        <div class="mt-4 lg:mt-8">
          <p class="text-gray-600 font-medium text-sm">Company Website</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="url"
            placeholder="Enter Your Company Website"
            v-model="registerData.company.website"
          />
        </div>
        <div class="mt-4 lg:mt-8">
          <p class="text-gray-600 font-medium text-sm">Industry</p>
          <div class="relative">
            <select
              class="block appearance-none text-gray-600 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
              id="grid-state"
              v-model="registerData.company.industry"
              required
            >
              <option value disabled>Industry</option>
              <option
                v-for="industry in getIndustry"
                :key="industry.id"
                :value="industry.name"
              >{{industry.name}}</option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
            >
              <svg
                class="fill-current h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="mt-4 lg:mt-8">
          <p class="text-gray-600 font-medium text-sm">Phone Number</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="number"
            placeholder="Enter Your Company Phone Number"
            v-model="registerData.company.phoneNumber"
            required
          />
        </div>
      </div>
      <div class="mt-4 lg:mt-8">
        <p class="text-gray-600 font-medium text-sm">Address</p>
        <input
          class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
          type="text"
          placeholder="Enter Your Company Website"
          v-model="registerData.company.address"
          required
        />
      </div>
      <div class="grid grid-cols-1 lg:col-gap-5 lg:grid-cols-2">
        <div class="mt-4 lg:mt-8">
          <p class="text-gray-600 font-medium text-sm">Select Country</p>
          <div class="relative">
            <select
              v-model="registerData.company.country"
              required
              class="block appearance-none text-gray-600 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
              id="grid-state"
            >
              <option value disabled>Countries</option>
              <option v-for="(k,i) in countries" :key="i" :value="k">{{k}}</option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
            >
              <svg
                class="fill-current h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="mt-4 lg:mt-8">
          <p class="text-gray-600 font-medium text-sm">Select State</p>
          <div class="relative">
            <select
              class="block appearance-none text-gray-600 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
              id="grid-state"
              :disabled="allState.length == 0"
              v-model="registerData.company.state"
              required
            >
              <option :value="''" selected>Select State</option>
              <option v-for="(k,i) in allState" :key="i" :value="k">{{k}}</option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
            >
              <svg
                class="fill-current h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-between mt-4 lg:mt-8 items-center">
        <svg
          @click="active = 1"
          class="h-6 w-6 text-orange-600 fill-current"
          enable-background="new 0 0 512 512"
          viewBox="0 0 512 512"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="m451.997 195.997h-246.972l81.965-82.556c17.43-17.537 22.358-42.613 12.861-65.442-9.496-22.829-30.755-37.011-55.482-37.011-16.079 0-31.188 6.268-42.551 17.66l-184.269 184.923c-23.395 23.395-23.395 61.462-.025 84.832l184.301 184.956c11.356 11.383 26.464 17.652 42.543 17.652 24.725 0 45.985-14.182 55.483-37.01 9.496-22.829 4.567-47.905-12.855-65.433l-81.972-82.565h146.967c11.047 0 20.001-8.954 20.001-20.001s-8.954-20.001-20.001-20.001h-195.01c-8.076 0-15.361 4.857-18.465 12.314-3.104 7.455-1.419 16.048 4.271 21.778l115.83 116.666c8.765 8.819 5.507 18.976 4.299 21.878s-6.113 12.374-18.549 12.374c-5.375 0-10.427-2.096-14.215-5.894l-184.317-184.975c-7.798-7.798-7.798-20.487.025-28.31l184.284-184.941c3.797-3.805 8.848-5.901 14.224-5.901 12.436 0 17.341 9.471 18.549 12.374s4.466 13.059-4.307 21.886l-115.821 116.657c-5.69 5.731-7.375 14.323-4.271 21.779s10.388 12.314 18.465 12.314h295.014c11.029 0 20.001 8.972 20.001 20.001s-8.972 20.001-20.001 20.001c-11.047 0-20.001 8.954-20.001 20.001s8.954 20.001 20.001 20.001c33.085-.001 60.003-26.918 60.003-60.004 0-33.085-26.918-60.003-60.003-60.003z"
          />
        </svg>
        <div class="inline-block">
          <easiButton>
            <div class="px-4 font-normal text-xs">Continue</div>
          </easiButton>
        </div>
      </div>
    </form>
    <form @submit.prevent="companyRegister" v-if="active == 3">
      <h1 class="lg:text-2xl text-xl font-medium logo text-gray-800">Personal Information</h1>
      <p class="text-gray-600 font-light text-sm pt-3">Fill up to Continue</p>
      <div class="grid grid-cols-1 lg:col-gap-5 lg:grid-cols-2">
        <div class="mt-8">
          <p class="text-gray-600 font-medium text-sm">First Name</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="text"
            placeholder="Enter Your First Name"
            v-model="registerData.companyAdmin.firstName"
            required
          />
        </div>
        <div class="mt-4 lg:mt-8">
          <p class="text-gray-600 font-medium text-sm">Last Name</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="text"
            placeholder="Enter Your Last Name"
            v-model="registerData.companyAdmin.lastName"
            required
          />
        </div>
        <div class="mt-4 lg:mt-8">
          <p class="text-gray-600 font-medium text-sm">Email Address</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="email"
            placeholder="Enter Your Company Email Address"
            v-model="registerData.companyAdmin.email"
            required
          />
        </div>
        <div class="mt-4 lg:mt-8">
          <p class="text-gray-600 font-medium text-sm">Phone Number</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="number"
            placeholder="Enter Your Company Phone Number"
            v-model="registerData.companyAdmin.phoneNumber"
            required
          />
        </div>
      </div>
      <!-- <div class="grid grid-cols-1 lg:col-gap-5 lg:grid-cols-2">
        <div class="mt-4 lg:mt-8">
          <p class="text-gray-600 font-medium text-sm">Country</p>
          <div class="relative">
            <select
              v-model="registerData.companyAdmin.country"
              required
              class="block appearance-none text-gray-600 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
              id="grid-state"
            >
              <option value disabled>Countries</option>
              <option v-for="(k,i) in countries" :key="i" :value="k">{{k}}</option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
            >
              <svg
                class="fill-current h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="mt-4 lg:mt-8">
          <p class="text-gray-600 font-medium text-sm">State</p>
          <div class="relative">
            <select
              class="block appearance-none text-gray-600 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
              id="grid-state"
              :disabled="allStateTwo.length == 0"
              v-model="registerData.companyAdmin.state"
              required
            >
              <option :value="''" selected>Select State</option>
              <option v-for="(k,i) in allStateTwo" :key="i" :value="k">{{k}}</option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
            >
              <svg
                class="fill-current h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4 lg:mt-8">
        <p class="text-gray-600 font-medium text-sm">Gender</p>
        <div class="relative">
          <select
            v-model="registerData.companyAdmin.gender"
            required
            class="block appearance-none text-gray-600 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
            id="grid-state"
          >
            <option value disabled>Gender</option>
            <option value="MALE">Male</option>
            <option value="FEMALE">Female</option>
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
            </svg>
          </div>
        </div>
      </div>
      <div class="mt-4 lg:mt-8">
        <p class="text-gray-600 font-medium text-sm">Address</p>
        <input
          class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
          type="text"
          placeholder="Enter Your Company Website"
          v-model="registerData.companyAdmin.address"
          required
        />
      </div> -->
      <div class="flex justify-between mt-4 lg:mt-8 items-center">
        <svg
          @click="active = 2"
          class="h-6 w-6 text-orange-600 fill-current"
          enable-background="new 0 0 512 512"
          viewBox="0 0 512 512"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="m451.997 195.997h-246.972l81.965-82.556c17.43-17.537 22.358-42.613 12.861-65.442-9.496-22.829-30.755-37.011-55.482-37.011-16.079 0-31.188 6.268-42.551 17.66l-184.269 184.923c-23.395 23.395-23.395 61.462-.025 84.832l184.301 184.956c11.356 11.383 26.464 17.652 42.543 17.652 24.725 0 45.985-14.182 55.483-37.01 9.496-22.829 4.567-47.905-12.855-65.433l-81.972-82.565h146.967c11.047 0 20.001-8.954 20.001-20.001s-8.954-20.001-20.001-20.001h-195.01c-8.076 0-15.361 4.857-18.465 12.314-3.104 7.455-1.419 16.048 4.271 21.778l115.83 116.666c8.765 8.819 5.507 18.976 4.299 21.878s-6.113 12.374-18.549 12.374c-5.375 0-10.427-2.096-14.215-5.894l-184.317-184.975c-7.798-7.798-7.798-20.487.025-28.31l184.284-184.941c3.797-3.805 8.848-5.901 14.224-5.901 12.436 0 17.341 9.471 18.549 12.374s4.466 13.059-4.307 21.886l-115.821 116.657c-5.69 5.731-7.375 14.323-4.271 21.779s10.388 12.314 18.465 12.314h295.014c11.029 0 20.001 8.972 20.001 20.001s-8.972 20.001-20.001 20.001c-11.047 0-20.001 8.954-20.001 20.001s8.954 20.001 20.001 20.001c33.085-.001 60.003-26.918 60.003-60.004 0-33.085-26.918-60.003-60.003-60.003z"
          />
        </svg>
        <div class="inline-block">
          <easiButton>
            <div class="px-4 font-normal text-xs">Submit</div>
          </easiButton>
        </div>
      </div>
    </form>
  </main>
</template>

<script>
import Industry from "../../helpers/Industry.js";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      active: 2,
      allState: [],
      allStateTwo: [],
      registerData: {
        company: {
          companyEmail: "",
          companyName: "",
          phoneNumber: "",
          address: "",
          country: "",
          state: "",
          industry: "",
          website: ""
        },
        companyAdmin: {
          firstName: "",
          lastName: "",
          email: "",
          phoneNumber: ""
        }
      }
    };
  },
  watch: {
    "registerData.company.country": function(x) {
      if (x) {
        let allCountry = this.getCountries.find(state => {
          return state.name == x;
        });
        let states = [];
        allCountry.states.map(x => {
          states.push(x.name);
        });
        this.allState = states;
      }
    },
    "registerData.companyAdmin.country": function(x) {
      if (x) {
        let allCountry = this.getCountries.find(state => {
          return state.name == x;
        });
        let states = [];
        allCountry.states.map(x => {
          states.push(x.name);
        });
        this.allStateTwo = states;
      }
    }
  },
  methods: {
    async companyRegister() {
      let res = await this.$store.dispatch(
        "registerCompany",
        this.registerData
      );

      if (res.success) {
        this.$router.push({
          name: "Success",
          params: {
            email: this.registerData.companyAdmin.email
          }
        });
      }
    }
  },
  computed: {
    ...mapGetters(["getCountries"]),
    countries() {
      let allCountries = this.getCountries;
      let k = [];
      allCountries.map(x => {
        k.push(x.name);
      });
      return k;
    },
    getIndustry() {
      return Industry;
    }
  }
};
</script>

<style></style>
