<template>
  <main>
    <form @submit.prevent="resetPassword" class="flex flex-col p-8">
      <h1 class="capitalize text-xl font-medium text-gray-700">Reset Password</h1>
      <div class="text-sm text-gray-800 font-medium mt-6 mb-1">Create New</div>

      <input
        class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
        type="password"
        placeholder="Enter Your Email Address"
        v-model="form.password"
        required
      />
      <div class="text-sm mt-5 text-gray-800 font-medium mb-1">Confirm Password</div>

      <input
        class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
        type="password"
        placeholder="Enter Your Email Address"
        v-model="form.confirmPassword"
        required
      />
      <div class="w-32 mt-8">
        <easiButton class="w-full mb-2">Reset</easiButton>
      </div>
    </form>
  </main>
</template>

<script>
export default {
  data() {
    return {
      form: {
        resetToken: "",
        password: "",
        confirmPassword: ""
      }
    };
  },
  methods: {
    async resetPassword() {
      if (this.form.password !== this.form.confirmPassword) {
        this.$toast.error(
          "Password and Confirm Password does not match, Try Again",
          {
            position: "bottom",
            duration: 3000
          }
        );
      } else {
        let res = await this.$store.dispatch("changePassword", this.form);
        if (res.success) {
          this.$toast.success(res.message, {
            position: "bottom",
            duration: 5000
          });
          this.form.resetToken = "";
          this.form.password = "";
          this.form.confirmPassword = "";
          this.$router.push("/login");
        }
        console.log(res);
      }
    }
  },
  mounted() {
    this.form.resetToken = this.$route.query.key;
  }
};
</script>

<style></style>
