<template>
  <main>
    <div class="flex justify-center flex-col items-center">
      <svg class="w-12 h-12" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M77.7249 50.1833L94.0212 41.8535C94.0212 39.479 92.845 37.4868 91.0454 36.1816L77.7249 26.2031L69.5444 38.1907L77.7249 50.1833Z"
          fill="#E4572E"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M16.9873 49.5227L28.6804 39.0872L16.9873 26.2031L6.23389 35.0054C5.65894 35.4785 5.06274 35.9458 4.49878 36.4233C2.95703 37.7336 1.97998 39.6833 1.97998 41.8535L16.9873 49.5227Z"
          fill="#E4572E"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M65.4517 1.41727H20.2261C18.4426 1.41727 16.9873 2.87259 16.9873 4.65018V58.1858L36.1357 67.971L38.9819 69.4263C47.6567 73.6963 48.001 74.0398 57.0244 69.4263L59.6135 68.0999L77.7249 58.8406V16.0789C77.7249 15.3164 77.7249 14.677 77.6926 14.1241L65.4517 1.41727Z"
          fill="#ECEFF1"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M3.5752 91.9409L28.583 80.592L36.135 59.3137L16.9873 49.5227L1.97998 41.8535V87.4563C1.97998 89.1533 2.57617 90.7163 3.5752 91.9409Z"
          fill="#FFA48A"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M59.6128 59.4426L65.5967 80.592L92.2488 92.1504C93.3496 90.8936 94.0212 89.25 94.0212 87.4563V41.8535L77.7249 50.1833L59.6128 59.4426Z"
          fill="#FFA48A"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M36.1357 59.3138L20.8545 74.6258L3.5752 91.9409C4.8855 93.5515 6.88355 94.5828 9.10718 94.5828H86.8933C89.0203 94.5828 90.9385 93.638 92.2488 92.1504L59.6128 59.4427L57.0244 60.7691C48.0002 65.3826 47.6567 65.0332 38.9819 60.7691L36.1357 59.3138Z"
          fill="#FF997B"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M16.9873 49.5228L36.1357 59.3138L38.9819 60.7691C47.6567 65.0333 48.001 65.3826 57.0244 60.7691L59.6135 59.4427L77.7249 50.1834V42.5193L59.6135 51.7838L57.0244 53.105C48.001 57.7186 47.6567 57.3743 38.9819 53.105L36.1357 51.6548L16.9873 41.8638V49.5228Z"
          fill="#C4CCCF"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M86.7644 45.5647V80.179C86.7644 81.9727 86.0935 83.6162 84.9868 84.873L92.2488 92.1504C93.3496 90.8936 94.0212 89.25 94.0212 87.4563V41.8535L86.7644 45.5647Z"
          fill="#FF997B"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M92.2488 92.1504L84.9868 84.8723C83.9343 86.0757 82.4841 86.9246 80.8457 87.2036C80.4539 87.2732 80.0452 87.3106 79.6372 87.3106H8.19971L3.5752 91.9409C4.8855 93.5515 6.88355 94.5828 9.10718 94.5828H86.8933C89.0203 94.5828 90.9385 93.638 92.2488 92.1504Z"
          fill="#E4572E"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M1.97998 87.4563C1.97998 89.1533 2.57617 90.7163 3.5752 91.9409L8.19971 87.3113H1.97998V87.4563Z"
          fill="#FF997B"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M65.4409 10.8802C65.4409 12.6629 66.897 14.1241 68.6797 14.1241H77.6929C77.5852 12.0454 77.1238 11.1109 75.1521 8.97366L70.9465 4.40262C68.8086 2.07718 68.6152 1.41727 65.4519 1.41727L65.4409 10.8802Z"
          fill="#183059"
        />
        <path
          d="M91.8853 35.0405L79.1418 25.4941V16.0789C79.1418 12.2183 79.0247 11.0815 76.1946 8.01416L71.989 3.44385C71.7539 3.1875 71.5422 2.95166 71.3481 2.7356C69.6013 0.790283 68.7605 0.000732422 65.4536 0H65.4529C65.4521 0 65.4521 0 65.4514 0H20.2258C17.6587 0 15.5698 2.08594 15.5698 4.65015V25.5315L5.3335 33.9111C5.11743 34.0891 4.89771 34.2656 4.67871 34.4429C4.31763 34.7344 3.94409 35.0361 3.58081 35.3438C1.6626 36.9741 0.5625 39.3472 0.5625 41.8535V87.4563C0.5625 92.1672 4.39526 96 9.10693 96H86.8931C91.6047 96 95.4382 92.1672 95.4382 87.4563V41.8535C95.4382 39.1648 94.1433 36.6819 91.8853 35.0405ZM90.1956 37.3162C90.2014 37.3198 90.2073 37.3242 90.2131 37.3286C91.5125 38.2705 92.3167 39.5603 92.5393 41.0193L79.1418 47.8689V29.0347L90.1956 37.3162ZM69.2388 4.62817C69.4402 4.85303 69.6592 5.09692 69.9031 5.36279L74.1101 9.93457C75.2344 11.1526 75.783 11.8601 76.051 12.7075H68.6792C67.675 12.7075 66.8577 11.8879 66.8577 10.8816L66.8665 2.896C67.8018 3.02783 68.165 3.43213 69.2388 4.62817ZM20.2258 2.83374H64.0327L64.0239 10.8801C64.0239 13.4502 66.1128 15.5413 68.6792 15.5413H76.3074C76.3081 15.7119 76.3081 15.8906 76.3081 16.0789V49.3184L59.0193 58.1572C58.9841 58.1733 58.9497 58.1909 58.916 58.21L56.3789 59.5071C48.1641 63.7075 48.1641 63.7075 40.1052 59.7422L39.6167 59.502L36.7983 58.0613C36.7939 58.0591 36.7888 58.0562 36.7837 58.054L18.4036 48.6577V26.2083C18.4036 26.2075 18.4036 26.2075 18.4036 26.2075V4.65015C18.4036 3.64893 19.2209 2.83374 20.2258 2.83374ZM5.41479 37.5044C5.75024 37.2202 6.1106 36.9294 6.4585 36.6482C6.68481 36.4658 6.91113 36.2834 7.13086 36.1025L15.5698 29.1943V47.2097L3.45996 41.0193C3.66138 39.6606 4.34839 38.4111 5.41479 37.5044ZM9.10693 93.1663C7.77539 93.1663 6.55005 92.707 5.57739 91.9402L20.874 76.6143C21.427 76.0605 21.4263 75.1633 20.8718 74.6111C20.3181 74.0574 19.4209 74.0588 18.8679 74.6125L3.84229 89.6667C3.55518 88.9863 3.39624 88.2393 3.39624 87.4563V44.1687L33.7581 59.6902L23.2405 70.2305C22.6875 70.7842 22.6882 71.6814 23.2427 72.2344C23.5188 72.5105 23.8806 72.6482 24.2432 72.6482C24.6064 72.6482 24.9697 72.509 25.2458 72.2322L36.4087 61.0452L38.3372 62.0303C38.343 62.0339 38.3503 62.0369 38.3569 62.0405L38.8542 62.2852C43.0884 64.3682 45.4204 65.5159 48.0059 65.5166H48.0073C50.5708 65.5166 53.0347 64.3997 57.6687 62.0303L59.3401 61.1755L70.1953 72.0593C70.4722 72.3369 70.8347 72.4761 71.1987 72.4761C71.5605 72.4761 71.9224 72.3384 72.1992 72.0623C72.7529 71.5093 72.7544 70.6121 72.2021 70.0583L61.9915 59.8198L92.6038 44.1687V87.4556C92.6038 88.3425 92.4009 89.1833 92.0376 89.9326L76.5469 74.4082C75.9939 73.8545 75.0967 73.853 74.543 74.406C73.9893 74.959 73.9878 75.8562 74.5408 76.4099L90.2021 92.105C89.2676 92.7715 88.1257 93.1655 86.8931 93.1655H9.10693V93.1663Z"
          fill="#555555"
        />
        <path
          d="M43.2253 28.1785H64.092C64.875 28.1785 65.5093 27.5442 65.5093 26.7612C65.5093 25.979 64.875 25.3447 64.092 25.3447H43.2253C42.4424 25.3447 41.8081 25.979 41.8081 26.7612C41.8081 27.5442 42.4424 28.1785 43.2253 28.1785Z"
          fill="#555555"
        />
        <path
          d="M43.2253 22.3616H70.054C70.8369 22.3616 71.4712 21.7273 71.4712 20.9451C71.4712 20.1621 70.8369 19.5279 70.054 19.5279H43.2253C42.4424 19.5279 41.8081 20.1621 41.8081 20.9451C41.8081 21.7273 42.4424 22.3616 43.2253 22.3616Z"
          fill="#555555"
        />
        <path
          d="M25.2059 25.6104L27.8858 28.0326C28.1473 28.2684 28.4856 28.3988 28.8357 28.3988C28.8606 28.3988 28.8848 28.398 28.9097 28.3966C29.2854 28.3768 29.6385 28.2083 29.8897 27.9285L36.3892 20.6944C36.9122 20.1122 36.8645 19.2164 36.2823 18.6935C35.7 18.1705 34.8042 18.2181 34.2813 18.8004L28.7317 24.9776L27.1058 23.5084C26.5249 22.9832 25.6292 23.0287 25.1048 23.6095C24.5796 24.1895 24.625 25.086 25.2059 25.6104Z"
          fill="#555555"
        />
        <path
          d="M43.2253 41.439H64.092C64.875 41.439 65.5093 40.804 65.5093 40.0217C65.5093 39.2388 64.875 38.6045 64.092 38.6045H43.2253C42.4424 38.6045 41.8081 39.2388 41.8081 40.0217C41.8081 40.804 42.4424 41.439 43.2253 41.439Z"
          fill="#555555"
        />
        <path
          d="M43.2253 35.6221H70.054C70.8369 35.6221 71.4712 34.9878 71.4712 34.2056C71.4712 33.4226 70.8369 32.7884 70.054 32.7884H43.2253C42.4424 32.7884 41.8081 33.4226 41.8081 34.2056C41.8081 34.9878 42.4424 35.6221 43.2253 35.6221Z"
          fill="#555555"
        />
        <path
          d="M25.2065 38.8775L27.8871 41.2945C28.1479 41.5296 28.4863 41.6585 28.8356 41.6585C28.8605 41.6585 28.8854 41.6585 28.9103 41.657C29.2861 41.6373 29.6384 41.4688 29.8896 41.189L36.3891 33.9549C36.912 33.3726 36.8644 32.4769 36.2821 31.9539C35.6999 31.431 34.8041 31.4786 34.2812 32.0609L28.7302 38.2388L27.1042 36.7725C26.5234 36.2488 25.6269 36.295 25.1032 36.8758C24.5795 37.4573 24.6257 38.3531 25.2065 38.8775Z"
          fill="#555555"
        />
      </svg>
      <p class="text-gray-600 font-medium text-sm pt-5">Check your email</p>
      <p class="text-gray-600 font-light text-sm text-center leading-6 tracking-wide pt-3">
        A link has been sent to
        <span class="text-orange-600 font-medium">{{$route.params.email}}</span>,
        <br />Click on this link to verify your mail.
      </p>
      <div class="inline-block mt-10">
        <easiButton @click.native="$router.push('/login')">
          <div class="px-4 font-normal text-xs">Login</div>
        </easiButton>
      </div>
    </div>
  </main>
</template>

<script>
export default {};
</script>

<style></style>
