<template>
  <main>
    <div class="flex w-full max-w-2xl">
      <easiBackButton @click.native="$router.push({ name: 'PayrollSettings' })" />
      <h1 class="text-2xl text-gray-700 ml-8">Create New</h1>
    </div>
    <div class="w-full max-w-2xl bg-white py-3 px-5 mt-6 shadow-xs pb-8">
      <p class="text-gray-600 font-medium text-sm mt-6 font-bold">Select Type</p>
      <div class="mt-2">
        <select
          class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
          id="grid-state"
          v-model="args.otherType"
        >
          <option value disabled>Select</option>
          <option v-for="type in otherTypes" :key="type" :value="type">
            {{type}}
          </option>
        </select>
        <div
          class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
        >
          <svg
            class="fill-current h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path
              d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
            />
          </svg>
        </div>
      </div>

      <p class="text-gray-600 font-medium text-sm mt-6 font-bold">Name</p>
      <div class="mt-2">
        <input
          class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
          type="text"
          placeholder
          required
          v-model="args.name"
        />
      </div>
      <div class="flex justify-end mt-8 text-right">
        <easiButton variant="outline" @click.native="$router.push({ name: 'PayrollSettings' })" class="mr-8 inline-block">
          <div class="px-8">Cancel</div>
        </easiButton>
        <easiButton @click.native="create" class="inline-block">
          <div class="px-8">Create</div>
        </easiButton>
      </div>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      args: {
        name: "",
        otherType: ""
      },

      otherTypes: ["Bonus", "Deduction"] // *Todo: Might need to make this more dynamic
    };
  },
  
  methods: {
    async create() {
      console.log(this.args);
      let res = await this.$store.dispatch("mutate", {
        endpoint: "CreateOtherPayment",
        data: { request: this.args },
      });
      if (res.success) {
        this.$toast.success("Other Payment Created Successfuly");
        this.$router.push({ name: "PayrollOtherPayments" });
      }
    },
  },
};
</script>


<style>
</style>