<template>
  <main class>
    <div class="py-3 border">
      <div class="text-sm text-gray-900 pl-4 inline-block">
        Other Payments
      </div>

      <div class="ml-10 inline-block">
        <input
          type="text"
          class="focus:outline-none text-xs w-64 text-gray-600 appearance-none border rounded-sm leading-7 pl-3"
          placeholder="Search"
        />
      </div>

      <easiButton
        class="mr-5 float-right inline-block"
        @click.native="$router.push({ name: 'PayrollCreateOtherPayments' })"
        >
        <div class="leading-3 flex items-center">
            <svg
            class="w-3 h-3 lg:block hidden"
            viewBox="0 0 12 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            >
            <path
                d="M11.5312 5.53125H6.46875V0.46875C6.46875 0.209859 6.25889 0 6 0C5.74111 0 5.53125 0.209859 5.53125 0.46875V5.53125H0.46875C0.209859 5.53125 0 5.74111 0 6C0 6.25889 0.209859 6.46875 0.46875 6.46875H5.53125V11.5312C5.53125 11.7901 5.74111 12 6 12C6.25889 12 6.46875 11.7901 6.46875 11.5312V6.46875H11.5312C11.7901 6.46875 12 6.25889 12 6C12 5.74111 11.7901 5.53125 11.5312 5.53125Z"
                fill="white"
            />
            </svg>
            <span class="ml-2">Create New</span>
        </div>
       </easiButton>
    </div>
    <table class="table-auto w-full overflow-y-auto shadow-sm bg-white">
      <thead>
        <tr class="bg-easipurple text-white">
          <th
            v-for="(title, index) in headers"
            :key="index"
            class="px-4 py-3 text-left font-light uppercase text-sm"
          >
            <div>{{ title }}</div>
          </th>
        </tr>
      </thead>
      <div class="py-2" v-if="checkLoading">
        <div class="loader">
          <svg viewBox="0 0 80 80">
            <rect x="8" y="8" width="64" height="64" />
          </svg>
        </div>
      </div>
      <tbody v-else-if="listOtherPayment.data.length">
        <tr
          v-for="otherpayment in listOtherPayment.data"
          :key="otherpayment._id"
          class="bg-white even:bg-gray-100 text-gray-600 cursor-pointer hover:bg-gray-600 group hover:text-white"
        >
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ otherpayment.otherType }}
          </td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ otherpayment.name }}
          </td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ otherpayment.timeUpdated }}
          </td>
          <td class="px-4 py-4 text-sm font-thin tracking-wide">
            <svg @click="remove(otherpayment._id)" class="" width="32" height="36" viewBox="0 0 32 36" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.5" y="0.5" width="30.7647" height="35" rx="2.5" stroke="#CC2E2E"/>
              <g clip-path="url(#clip0)">
              <path d="M18.3156 15.2457C18.0874 15.2457 17.9023 15.4554 17.9023 15.7141V24.5666C17.9023 24.8251 18.0874 25.0349 18.3156 25.0349C18.5439 25.0349 18.7289 24.8251 18.7289 24.5666V15.7141C18.7289 15.4554 18.5439 15.2457 18.3156 15.2457Z" fill="#CC2E2E"/>
              <path d="M13.4406 15.2457C13.2124 15.2457 13.0273 15.4554 13.0273 15.7141V24.5666C13.0273 24.8251 13.2124 25.0349 13.4406 25.0349C13.6689 25.0349 13.8539 24.8251 13.8539 24.5666V15.7141C13.8539 15.4554 13.6689 15.2457 13.4406 15.2457Z" fill="#CC2E2E"/>
              <path d="M9.88472 13.9539V25.4939C9.88472 26.176 10.1054 26.8165 10.4909 27.2761C10.8746 27.737 11.4087 27.9986 11.9676 27.9997H19.7869C20.346 27.9986 20.88 27.737 21.2636 27.2761C21.6491 26.8165 21.8698 26.176 21.8698 25.4939V13.9539C22.6361 13.7234 23.1327 12.8843 23.0302 11.9931C22.9275 11.1021 22.2577 10.4356 21.4648 10.4354H19.3488V9.84993C19.3512 9.35758 19.1795 8.8848 18.8719 8.53699C18.5644 8.18937 18.1466 7.99579 17.7122 7.99982H14.0424C13.6079 7.99579 13.1901 8.18937 12.8826 8.53699C12.5751 8.8848 12.4033 9.35758 12.4057 9.84993V10.4354H10.2898C9.49678 10.4356 8.82698 11.1021 8.72431 11.9931C8.62179 12.8843 9.11838 13.7234 9.88472 13.9539ZM19.7869 27.063H11.9676C11.261 27.063 10.7113 26.375 10.7113 25.4939V13.9951H21.0432V25.4939C21.0432 26.375 20.4936 27.063 19.7869 27.063ZM13.2323 9.84993C13.2295 9.60604 13.3141 9.3713 13.4668 9.19913C13.6194 9.02697 13.827 8.93237 14.0424 8.93658H17.7122C17.9275 8.93237 18.1351 9.02697 18.2877 9.19913C18.4404 9.37112 18.525 9.60604 18.5222 9.84993V10.4354H13.2323V9.84993ZM10.2898 11.3722H21.4648C21.8756 11.3722 22.2087 11.7496 22.2087 12.2153C22.2087 12.6809 21.8756 13.0583 21.4648 13.0583H10.2898C9.8789 13.0583 9.54586 12.6809 9.54586 12.2153C9.54586 11.7496 9.8789 11.3722 10.2898 11.3722Z" fill="#CC2E2E"/>
              <path d="M15.8781 15.2457C15.6498 15.2457 15.4648 15.4554 15.4648 15.7141V24.5666C15.4648 24.8251 15.6498 25.0349 15.8781 25.0349C16.1064 25.0349 16.2914 24.8251 16.2914 24.5666V15.7141C16.2914 15.4554 16.1064 15.2457 15.8781 15.2457Z" fill="#CC2E2E"/>
              </g>
              <defs>
              <clipPath id="clip0">
              <rect width="17.6471" height="20" fill="white" transform="translate(7.05859 7.99976)"/>
              </clipPath>
              </defs>
            </svg>
          </td>
        </tr>
      </tbody>

      <div v-else>
        <div
          class="py-4 flex justify-center bg-white items-center text-gray-600 font-light"
        >
          Create Other Payments
        </div>
      </div>
    </table>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      headers: ["TYPE", "NAME", "UPDATED", "ACTION"],
      loading: false,
      jobs: [],
      args: {
        companyId: "",
        paging: {
          limit: 10,
          skip: 0,
          search: null
        }
      },
      payload: {
        paging: {
          limit: 10,
          skip: 0,
          search: null
        }
      },
    };
  },
  computed: {
    ...mapGetters(["getAllEmployees", "applicant", "checkLoading", "listOtherPayment"]),
  },
  methods: {
    async queryOtherPayments() {
      await this.$store.dispatch("query", {
        endpoint: "ListOtherPayment",
        payload: this.payload,
        storeKey: "otherPayment",
      });
    },

    async remove(x) {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "DeleteOtherPayment",
        data: { id: x },
      });

      if (res.success) {
        let update = {
          count: this.listOtherPayment.count - 1,
          data: this.listOtherPayment.data.filter((y) => y._id !== x),
        };
        this.$store.commit("set", {
          type: "otherPayment",
          data: update,
        });
        this.$toast.success("Other Payment Deleted Succesfully!");
        //this.$router.push({ name: "MemoAll" });
      }
    },
  },
  async created() {
    this.args.companyId = this.applicant.companyId;
    await this.queryOtherPayments();
  },
};
</script>

<style>
</style>