<template>
  <main>
    <div class="flex pt-8 pl-8">
      <easiBackButton @click.native="$router.push({name:'PerformanceList'})" />
      <div>
        <h1 class="text-gray-800 w-full text-2xl logo font-bold ml-8">Create Goal</h1>
      </div>
    </div>
    <div class="p-8 ml-8 mt-8 mr-64 bg-white">
        <div class="text-base text-gray-700 font-bold">Objective</div>
        <div class="relative">
            <select v-model="args.objectiveId" class="block appearance-none w-full bg-white border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
            <option v-for="objective in objectivesData.data" :key="objective._id" :value="objective._id"> {{objective.title}}</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
        </div>

        <div class="text-base text-gray-700 font-bold mt-8">KPI</div>
        <input v-model="args.kpi" class="mt-2 bg-white focus:outline-none focus:shadow-outline border border-gray-200 rounded-lg py-2 px-4 block w-full appearance-none leading-normal">
        
        <div class="text-base text-gray-700 font-bold mt-8">Target</div>
        <input v-model="args.target" type="number" class="mt-2 bg-white focus:outline-none focus:shadow-outline border border-gray-200 rounded-lg py-2 px-4 block w-full appearance-none leading-normal">
        
        <!-- <div class="text-base text-gray-700 font-bold mt-8">Duration</div>
        <div class="relative">
            <select class="block appearance-none w-full bg-white border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
            <option v-for="duration in durations" :key="duration"> {{duration}}</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
        </div> -->
        <div class="">
          <div class="inline-block w-1/2">
            <div class="text-base text-gray-700 font-bold mt-8">Date From</div>
            <input
              class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
              type="date"
              placeholder
              required
              v-model="args.startDateString"
            />
            <!-- <div class="relative">
                <input v-model="args.target" type="number" class="mt-2 bg-white focus:outline-none focus:shadow-outline border border-gray-200 rounded-lg py-2 px-4 block w-full appearance-none leading-normal">
            </div> -->
          </div>

          <div class="inline-block float-right w-1/2">
            <div class="text-base text-gray-700 font-bold mt-8">Date To</div>
            <input
              class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
              type="date"
              placeholder
              required
              v-model="args.endDateString"
            />
            <!-- <div class="relative">
                <input v-model="args.target" type="number" class="mt-2 bg-white focus:outline-none focus:shadow-outline border border-gray-200 rounded-lg py-2 px-4 block w-full appearance-none leading-normal">
            </div> -->
          </div>
        </div>

        <div class="text-base text-gray-700 font-bold mt-8">Get Input</div>
        <div class="relative">
            <select v-model="args.getInput" class="block appearance-none w-full bg-white border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
            <option v-for="duration in durations" :key="duration"> {{duration}}</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
        </div>

        <div class="text-base text-gray-700 font-bold mt-8">Assign To</div>
        <div class="flex">
            <div class="relative w-1/2 mr-4">
                <select class="block appearance-none w-full bg-white border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
                <option value="All"> All Staff </option>
                <option v-for="department in getAllDepartments.data" :key="department._id" :value="department._id"> {{department.name}}</option>
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                </div>
            </div>

            <div class="relative w-1/2 mr-4">
                <select disabled class="block appearance-none w-full bg-white border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
                <option value="All"> All </option>
                <option v-for="employee in getAllEmployees.data" :key="employee._id" :value="employee._id"> {{employee.profile.firstName}} {{employee.profile.lastName}}</option>
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                </div>
            </div>

        </div>
        
        <div class="mt-16 mb-40">
            <easiButton @click.native="createGaol()" class="float-right ml-8 w-32">Create</easiButton>
            <easiButton @click.native="$router.push({name:'PerformanceList'})" class="float-right w-32" variant="outline">Cancel</easiButton>
        </div>
    </div>


    <!-- *Note: Modal restriction when Objective is not created. -->
    <easiModal v-if="allPerformanceObjectives.count <= 0">
      <template v-slot:header>
        No Performance Objective Created
      </template>
      <div class="flex justify-center flex-col items-center pb-12">
        <svg
          class="w-16 h-16 text-easiorange fill-current"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            d="M501.36 383.95L320.5 51.47c-29.06-48.92-99.9-48.98-129 0L10.65 383.95c-29.7 49.99 6.26 113.3 64.48 113.3h361.74c58.17 0 94.2-63.26 64.5-113.3zM256 437.25c-16.54 0-30-13.47-30-30 0-16.55 13.46-30 30-30s30 13.45 30 30c0 16.53-13.46 30-30 30zm30-120c0 16.53-13.46 30-30 30s-30-13.47-30-30v-150c0-16.55 13.46-30 30-30s30 13.45 30 30v150z"
          />
        </svg>
        <div class="mt-3 text-sm font-thin">
          You must have atleast one Objective created.
        </div>
        <div class="w-1/2 justify-between mt-8">
          <easiButton @click.native="$router.push({name: 'CreateObjective'})">
            <div class="leading-4 px-2">Create Objective</div>
          </easiButton>
        </div>
      </div>
    </easiModal>
    
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
    data() {
        return {
            objectives: ["Objective1", "Objective2", "Objective3", "Objective4"],
            durations: ["DAILY", "WEEKLY", "MONTHLY", "YEARLY"],
            assignToCategories: ["All Staff", "Dept A"],

            args: {
              objectiveId: "",
              kpi: "",
              target: "",
              startDateString: "",
              endDateString: "",
              getInput: "",
              allStaff: true,
              allDeptStaff: true,
              //departmentId: "5f583068e46620d3d2e3c5e4",
              //assignTo: [],
            },

            payload: {
              paging: {
                limit: 10,
                skip: 0,
                search: null
              }
            },
        }
    },

    computed: {
      ...mapGetters(["applicant", "allPerformanceObjectives", "allIds", "getAllEmployees", "getAllDepartments", "ListEmployeeNameAndIds"]),
      objectivesData() {
        return this.allPerformanceObjectives;
      }
    },

    methods: {
      async updateGoal(argId) {
        let res = await this.$store.dispatch("mutate", {
          endpoint: "UpdatePerformanceGoal",
          data: { id:argId, goalInput: this.args },
          service: "PERFORM",
        });
        if (res.success) {
          this.$toast.success("Performance Goal Updated Successfully");
          this.$router.push({ name: "PerformanceList" });
        }
      },

      async createGaol() {
        console.log(this.args);
        let res = await this.$store.dispatch("mutate", {
          endpoint: "CreatePerformanceGoal",
          data: { request: this.args },
          service: "PERFORM",
        });
        if (res.success) {
          this.$toast.success("Performance Goal Created Successfully");
          this.$router.push({ name: "PerformanceList" });
        }
      },

      async performanceObjectives() {
          await this.$store.dispatch("query", {
              endpoint: "ListPerformanceObjective",
              payload: this.payload,
              storeKey: "listObjectives",
              service: "PERFORM",
          });
      },

      allEmployees() {
        this.$store.dispatch("query", {
          endpoint: "ListEmployees",
          payload: this.payload,
          storeKey: "listEmployees",
          service: "EMP",
        });
      },

      async makeDepartmentRequest() {
        await this.$store.dispatch("query", {
          endpoint: "ListDepartments",
          payload: this.payload,
          storeKey: "listDepartments",
          service: "EMP",
        });
      },
    },

    async created() {
      await this.performanceObjectives();
      await this.makeDepartmentRequest();
      await this.allEmployees()

      let res = await this.$store.dispatch("query", {
        endpoint: "ListEmployeeNameAndIds",
        storeKey: "listIds",
      });


      //Quick fix: Automatically assign to all Employees for now.
      var args = this.args;
      this.getAllEmployees.data.forEach(
        function(employee, index){
          args.assignTo.push(employee._id)
        }
      )
    }
};
</script>

<style>
</style>