<template>
  <main>
    <div class="flex pt-8 pl-8">
      <easiBackButton @click.native="$router.push({name:'PerformanceList'})" />
      <div>
        <h1 class="text-gray-800 w-full text-2xl logo font-bold ml-8">Create Objective</h1>
      </div>
    </div>
    <div class="p-8 ml-8 mt-8 mr-64 bg-white">
        <div class="text-base text-gray-700 font-bold">Category</div>
        <div class="relative">
            <select v-model="args.categoryId" class="block appearance-none w-full bg-white border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
            <option v-for="category in categoriesData.data" :key="category._id" :value="category._id"> {{category.title}}</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
        </div>

        <div class="text-base text-gray-700 font-bold mt-8">Objective</div>
        <input v-model="args.title" class="mt-2 bg-white focus:outline-none focus:shadow-outline border border-gray-200 rounded-lg py-2 px-4 block w-full appearance-none leading-normal">
        
        <div class="mt-16 pb-8">
            <easiButton @click.native="createObjective" class="float-right ml-8 w-32">Create</easiButton>
            <easiButton class="float-right w-32" variant="outline">Cancel</easiButton>
        </div>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
    data() {
        return {
            args: {
              categoryId: "",
              title: ""
            },

            payload: {
              paging: {
                limit: 10,
                skip: 0,
                search: null
              }
            },
        }
    },

    computed: {
      ...mapGetters(["allPerformanceCategories"]),
      categoriesData() {
        return this.allPerformanceCategories;
      }
    },

    methods: {
      async createObjective() {
        let res = await this.$store.dispatch("mutate", {
          endpoint: "CreatePerformanceObjective",
          data: {request: this.args},
          service: "PERFORM",
        });
        if (res.success) {
          this.$toast.success("Performance Objective Created Successfully");
          this.$router.push({ name: "PerformanceList" });
        }
      },

      async performanceCategories() {
        await this.$store.dispatch("query", {
          endpoint: "ListPerformanceCategory",
          payload: this.payload,
          storeKey: "listCategories",
          service: "PERFORM",
        });
      }
    },

    async created() {
      await this.performanceCategories();
    }
};
</script>


<style>
</style>
methods: {
    
  },