<template>
  <main>
    <div class="flex pt-8 pl-8">
      <easiBackButton @click.native="$router.push({name:'PerformanceList'})" />
      <div>
        <h1 class="text-gray-800 w-full text-2xl logo font-bold ml-8">Create Category</h1>
      </div>
    </div>
    <div class="p-8 ml-8 mt-8 mr-64 bg-white">
        <div class="text-base text-gray-700 font-bold mt-8">Title</div>
        <input v-model="args.title" class="mt-2 bg-white focus:outline-none focus:shadow-outline border border-gray-200 rounded-lg py-2 px-4 block w-full appearance-none leading-normal">
        
        <div class="mt-16 pb-8">
            <easiButton @click.native="createCategory" class="float-right ml-8 w-32">Create</easiButton>
            <easiButton class="float-right w-32" variant="outline">Cancel</easiButton>
        </div>

    </div>
  </main>
</template>

<script>
export default {
    data() {
        return {
            args: {
              title: ""
            }
        }
    },

    methods: {
      async createCategory() {
        console.log(this.args)
        let res = await this.$store.dispatch("mutate", {
          endpoint: "CreatePerformanceCategory",
          data: this.args,
          service: "PERFORM",
        });
        if (res.success) {
          this.$toast.success("Performance Category Created Successfully");
          this.$router.push({ name: "PerformanceList" });
        }
    },
    }
};
</script>


<style>
</style>