<template>
  <main>
    <div class="flex pt-8 pl-8">
      <easiBackButton @click.native="$router.push({name:'ViewGoals', params: {id: $route.params.id}})" />
      <div>
        <h1 class="text-gray-800 w-full text-2xl logo font-bold ml-8">Input Report</h1>
      </div>
    </div> 
    <div class="p-8 ml-8 mt-8 mr-100 bg-white">
        <div v-if="applicant.profile.isAdmin == true">
          <div class="text-xl font-bold text-gray-700">Category: {{ getCategoryById(getGoal().objectiveId) }}</div>

          <div class="text-lg text-gray-700 font-bold mt-4">Objective:</div>
          <div class="text-base text-gray-700">{{ getObjectiveById(relevantGoal.objectiveId) }}</div>

          <div class="text-lg text-gray-700 font-bold mt-4">KPI:</div>
          <div class="text-base text-gray-700">{{relevantGoal.kpi}}</div>

          <div class="text-lg text-gray-700 font-bold mt-4">Target:</div>
          <div class="text-base text-gray-700">{{relevantGoal.target}}</div>

          <!-- <div class="text-lg text-gray-700 font-bold mt-4">Duration:</div>
          <div class="text-base text-gray-700">Yearly</div> -->

          <div class="text-lg text-gray-700 font-bold mt-4">Date:</div>
          <div class="text-base text-gray-700">{{relevantGoal.timeUpdated}}</div>

          <div class="text-lg text-gray-700 font-bold mt-4">Get Input:</div>
          <div class="text-base text-gray-700">{{relevantGoal.getInput}}</div>
        </div>

        <div v-if="applicant.profile.isAdmin == false">
          <div class="text-xl font-bold text-gray-700">Category: {{ relevantEmployeeGoal.objectiveId }}</div>

        <div class="text-lg text-gray-700 font-bold mt-4">Objective:</div>
        <div class="text-base text-gray-700">{{ relevantEmployeeGoal.objectiveId }}</div>

        <div class="text-lg text-gray-700 font-bold mt-4">KPI:</div>
        <div class="text-base text-gray-700">{{relevantEmployeeGoal.kpi}}</div>

        <div class="text-lg text-gray-700 font-bold mt-4">Target:</div>
        <div class="text-base text-gray-700">{{relevantEmployeeGoal.target}}</div>

        <!-- <div class="text-lg text-gray-700 font-bold mt-4">Duration:</div>
        <div class="text-base text-gray-700">Yearly</div> -->

        <!-- <div class="text-lg text-gray-700 font-bold mt-4">Date:</div>
        <div class="text-base text-gray-700">{{relevantEmployeeGoal.timeUpdated}}</div> -->

        <div class="flex mr-20 mt-4">
          <div class="mr-8">
            <div class="text-lg text-gray-700 font-bold mt-4">Date From:</div>
            <div class="text-base text-gray-700">???</div>
          </div>

          <div>
            <div class="text-lg text-gray-700 font-bold mt-4">Date To:</div>
            <div class="text-base text-gray-700">???</div>
          </div>
        </div>

        <div class="text-xl text-gray-700 font-bold">Update Progress:</div>
        <div class="text-base text-gray-700">{{relevantEmployeeGoal.getInput}}</div>
        </div>


        <table class="table-auto w-full overflow-y-auto shadow-sm bg-white mt-12">
        <thead>
            <tr class="bg-easipurple text-white">
            <th
                v-for="(title,index) in headers"
                :key="index"
                class="px-4 py-3 text-left font-light uppercase text-sm"
            >
                <div>{{title}}</div>
            </th>
            </tr>
        </thead>
        <div class="py-2" v-if="loading">
            <div class="loader">
            <svg viewBox="0 0 80 80">
                <rect x="8" y="8" width="64" height="64" />
            </svg>
            </div>
        </div>
        <tbody v-else-if="monthlyResults.length">
            <tr
            v-for="result in monthlyResults"
            :key="result._id"
            class="bg-white even:bg-gray-100 text-gray-600 cursor-pointer hover:bg-gray-600 hover:text-white"
            >
            <td class="px-4 py-4 text-sm font-thin tracking-wider">{{result.date}}</td>
            <td class="px-4 py-4 text-sm font-thin tracking-wider">{{result.expected}}</td>
            <td class="px-4 py-4 text-sm font-thin tracking-wider">{{result.actual}}</td>
            <td class="px-4 py-4 text-sm font-thin tracking-wider">{{result.rating}}</td>
            </tr>
        </tbody>

        <div v-else>
            <div
            class="py-4 flex justify-center bg-white items-center text-gray-600 font-light"
            >You have no previous monthly report</div>
        </div>
        </table>

        <div class="text-lg text-gray-700 font-bold mt-20">{{relevantGoal.getInput}} Result</div>
        <input v-model="args.actual" type="number" class="mt-4 bg-white focus:outline-none focus:shadow-outline border border-gray-200 rounded-lg py-2 px-4 block w-full appearance-none leading-normal">
        <easiButton @click.native="createRating()" class="float-right mt-4 w-32">Submit</easiButton>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
    data() {
        return {
            headers: [
                "DATE",
                "EXPECTED",
                "ACTUAL",
                "RATING"
            ],
            loading: false,

            monthlyResults: [{"date":"30/1/2020","expected":"X%","actual":"Y%","rating":"x.y/z"}],

            payload: {
              paging: {
                limit: 10,
                skip: 0,
                search: null,
              }
            },
            args: {
                goalId: "",//this.$route.params.id,
                actual: ""
            },

            relevantGoal: {},
            relevantEmployeeGoal: {},
        }
    },

    computed: {
    ...mapGetters(["applicant", "checkLoading", "allPerformanceGoals", "allPerformanceObjectives", "allPerformanceCategories", "employeeGoalList"]),

  },

  methods: {
    async listEmployeeGoal() {
      await this.$store.dispatch("query", {
        endpoint: "ListEmployeeGoals",
        payload: this.payload,
        storeKey: "employeeGoal",
      });
    },

      async createRating() {
        console.log(this.args)
        let res = await this.$store.dispatch("mutate", {
          endpoint: "CreatePerformanceRating",
          data: { request: this.args },
          service: "PERFORM",
        });
        if (res.success) {
          this.$toast.success("Performance Rating Created Successfully");
          this.$router.push({ name: "MyPerformance" });
        }
      },

    getGoal() {
      var result = null;
      var argId = this.$route.params.id;
      this.allPerformanceGoals.data.forEach(
        function(goal, index) {
          if (goal._id == argId){
            result = goal;
          }
        }
      )

      return result;
    },

    async allObjectives() {
      await this.$store.dispatch("query", {
        endpoint: "ListPerformanceObjective",
        payload: this.payload,
        storeKey: "listObjectives",
        service: "PERFORM",
      });
    },

    async allGoals() {
      await this.$store.dispatch("query", {
        endpoint: "ListPerformanceGoals",
        payload: this.payload,
        storeKey: "listGoals",
        service: "PERFORM",
      });
    },

    async allCategories() {
      await this.$store.dispatch("query", {
        endpoint: "ListPerformanceCategory",
        payload: this.payload,
        storeKey: "listCategories",
        service: "PERFORM",
      });
    },

    getObjectiveById(id) {
      var objectives = this.allPerformanceObjectives.data;
      var objectiveName = null;
      objectives.forEach(
        function(objective, index) {
          if (objective._id == id){
            objectiveName = objective.title
          }
        }
      )

      return objectiveName
    },

    getCategoryById(id) {
      var objectives = this.allPerformanceObjectives.data;
      var categories = this.allPerformanceCategories.data
      var categoryName = null;
      objectives.forEach(
        function(objective, index) {
          if (objective._id == id){
            categories.forEach(
              function(category, index) {
                if (category._id == objective.categoryId){
                  categoryName = category.title
                }
              }
            )
          }
        }
      )

      return categoryName
    },
  },

  async created() {
    if (this.applicant.profile.isAdmin == true){ // Only for admins
      await this.allObjectives();
      await this.allGoals();
      await this.allCategories();

      this.relevantGoal = this.getGoal(); 
    }
    else{
      // Relevant Employee Goal:
      var argId = this.$route.params.id
      var result = {}
      this.employeeGoalList.data.forEach(
        function(goal, index) {
          if (goal._id == argId){
            result = goal;
          }
        }
      );
      this.relevantEmployeeGoal = result;
      this.args.goalId = this.relevantEmployeeGoal.goalId;
    }
  },
};
</script>

<style>
</style>