<template>
  <main class>

    <div v-if="allPerformanceCategories.data.length">
      <div v-for="category in allPerformanceCategories.data" :key="category._id">
        <div @click="toggleView(category._id)" class="mt-8 p-4 bg-white cursor-pointer hover:bg-gray-600" :id="category._id +'Top'" style="display:block">
            <span class="text-base text-black">{{category.title}}</span>
            <br>
            <span class="text-xs text-gray-600">x Goals</span>
        </div>
        <!-- v-if="applicant.profile.isAdmin == true" -- Previous code -->
        <div :id="category._id +'List'" style="display:none" class="mt-8" v-if="0==0">
          <ListGoal :categoryId="category._id" :categoryTitle="category.title" :noOfGoals="'x'"/>
        </div>
      </div>
    </div>

    <easiModal v-if="modal==true">
      <template v-slot:header>
        No Goals Set
      </template>
      <div class="m-10 pb-10">
        <i>Performance Categories and Goals hasn't been set.</i>
        <easiButton
          class="text-center ml-16 mr-16 mt-2"
          @click.native="$router.push({name:'PerformanceCategories'})"> Create Goal</easiButton>
      </div>
    </easiModal>
    
  </main>
</template>

<script>
import { mapGetters } from "vuex";
import ListGoal from "./ListGoalComponent";
export default {
  components: {
    ListGoal
  },
  data() {
    return {
      modal: false,
      headers: [
        "OBJECTIVE",
        "KPI",
        "TARGET",
        "DURATION",
        "GET INPUT",
        "ASSIGNED TO",
        "ACTIONS",
      ],
      loading: false,
      objectives: [{"objective":"Increased Customer",
                "kpi":"Increased Customer",
                "target":"Increased Customer",
                "duration":"Increased Customer",
                "getInput":"Increased Customer",
                "assignedTo":"Increased Customer",
                "actions":"Increased Customer", }],

      deleteModal: false,
      assignToModal: false,

      payload: {
        paging: {
          limit: 10,
          skip: 0,
          search: null,
        }
      },

      selectedCategory: "",
    };
  },

  computed: {
    ...mapGetters(["applicant", "checkLoading", "allPerformanceGoals", "allPerformanceObjectives", "allPerformanceCategories", "listEmployeePerformanceRatings", "employeeGoalList", "viewEmployeeGoal"]),
  },

  methods: {
    // closeModal(){
    //     console.log("deleteModal", this.deleteModal);
    //     this.deleteModal = true;
    //     console.log("deleteModal", this.deleteModal);
    // },
    toggleView(id) {
      var topView = document.getElementById(id+'Top').style.display
      var listView = document.getElementById(id+'List').style.display

      if (topView == "block") {
        document.getElementById(id+'Top').style.display = 'none'
        document.getElementById(id+'List').style.display = 'block'
      }

      else if (listView == "block") {
        document.getElementById(id+'List').style.display = 'none'
        document.getElementById(id+'Top').style.display = 'block'
      }
    },

    async allObjectives() {
      await this.$store.dispatch("query", {
        endpoint: "ListPerformanceObjective",
        payload: this.payload,
        storeKey: "listObjectives",
        service: "PERFORM",
      });
    },

    async allGoals() {
      await this.$store.dispatch("query", {
        endpoint: "ListPerformanceGoals",
        payload: this.payload,
        storeKey: "listGoals",
        service: "PERFORM",
      });
    },

    async performanceCategories() {
      await this.$store.dispatch("query", {
        endpoint: "ListPerformanceCategory",
        payload: this.payload,
        storeKey: "listCategories",
        service: "PERFORM",
      });
    },

    getObjectiveById(id) {
      var objectives = this.allPerformanceObjectives.data;
      var objectiveName = null;
      objectives.forEach(
        function(objective, index) {
          if (objective._id == id){
            objectiveName = objective.title
          }
        }
      )

      return objectiveName
    },
  },

  async created() {
    // if (this.applicant.profile.isAdmin == true){ // Only for admins
      await this.allObjectives();
      await this.allGoals();
      await this.performanceCategories();
    // }
    
    // else{
      //await this.listEmployeePerformance();
      // await this.listEmployeeGoal();
      // await this.getEmployeeGoal();
    // }

    // *Note: For modal.
    if (!this.allPerformanceCategories.data.length){
      this.modal = true;
    }
  },
};
</script>

<style>
</style>

