<template>
  <main class>
    <div class="py-3 flex items-center border">
      <div class="text-sm text-black font-bold pl-4">Performance</div>

      <div class="ml-10">
        <input
          type="text"
          class="focus:outline-none text-xs w-64 text-gray-600 appearance-none border rounded-sm leading-7 pl-3"
          placeholder="Search"
        />
      </div>
    </div>

    <!-- v-if="applicant.profile.isAdmin == true" -- Previous code -->
    <table class="table-auto w-full overflow-y-auto shadow-sm bg-white" v-if="0==0">
      <thead>
        <tr class="bg-easipurple text-white">
          <th
            v-for="(title,index) in headers"
            :key="index"
            class="px-4 py-3 text-left font-light uppercase text-sm"
          >
            <div>{{title}}</div>
          </th>
        </tr>
      </thead>
      <div class="py-2" v-if="loading">
        <div class="loader">
          <svg viewBox="0 0 80 80">
            <rect x="8" y="8" width="64" height="64" />
          </svg>
        </div>
      </div>
      <tbody v-else-if="allPerformanceGoals.data.length">
        <tr
          v-for="goal in allPerformanceGoals.data"
          :key="goal._id"
          class="bg-white even:bg-gray-100 text-gray-600 cursor-pointer hover:bg-gray-600 hover:text-white"
        >

          <td class="px-4 py-4 text-sm font-thin tracking-wider">{{getObjectiveById(goal.objectiveId)}}</td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">{{goal.kpi}}</td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">{{goal.target}}</td>
          <!-- <td class="px-4 py-4 text-sm font-thin tracking-wider">{{goal.duration}}</td> -->
          <td class="px-4 py-4 text-sm font-thin tracking-wider">{{goal.getInput}}</td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">{{goal.getInput}}</td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">{{goal.getInput}}</td>
          <td
            @mouseover="hover = true"
            @mouseleave="hover = false"
            class="px-4 py-4 text-sm font-thin tracking-wide"
          >
            <easiDropdown
              class="mt-5"
              :performanceObj="{id: goal._id}"
              dropdownName="MyPerformanceDropdown"
            >
              <svg width="20" height="25" viewBox="0 0 20 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.68173 0C1.22723 0 0 1.22723 0 2.68173C0 4.18168 1.22723 5.36345 2.68173 5.36345C4.18168 5.36345 5.36345 4.13622 5.36345 2.68173C5.36345 1.22723 4.18168 0 2.68173 0Z" fill="#888888" fill-opacity="0.5"/>
                <path d="M17.3184 0C15.8185 0 14.6367 1.22723 14.6367 2.68173C14.6367 4.18168 15.8639 5.36345 17.3184 5.36345C18.7729 5.36345 20.0002 4.18168 20.0002 2.68173C20.0002 1.22723 18.7729 0 17.3184 0Z" fill="#888888" fill-opacity="0.5"/>
                <path d="M10.1358 0C8.63588 0 7.4541 1.22723 7.4541 2.68173C7.4541 4.18168 8.68133 5.36345 10.1358 5.36345C11.6358 5.36345 12.8176 4.13622 12.8176 2.68173C12.8176 1.22723 11.6358 0 10.1358 0Z" fill="#888888" fill-opacity="0.5"/>
              </svg>
            </easiDropdown>
          </td>
        </tr>
      </tbody>

      <div v-else>
        <div
          class="py-4 flex justify-center bg-white items-center text-gray-600 font-light"
        >You have no Performance set for review</div>
      </div>
    </table>



    <!-- v-if="applicant.profile.isAdmin == false" -- Previous code -->
    <table class="table-auto w-full overflow-y-auto shadow-sm bg-white" v-if="0==1">
      <thead>
        <tr class="bg-easipurple text-white">
          <th
            v-for="(title,index) in headers"
            :key="index"
            class="px-4 py-3 text-left font-light uppercase text-sm"
          >
            <div>{{title}}</div>
          </th>
        </tr>
      </thead>
      <div class="py-2" v-if="loading">
        <div class="loader">
          <svg viewBox="0 0 80 80">
            <rect x="8" y="8" width="64" height="64" />
          </svg>
        </div>
      </div>
      <tbody v-else-if="employeeGoalList.data.length">
        <tr
          v-for="goal in employeeGoalList.data"
          :key="goal._id"
          class="bg-white even:bg-gray-100 text-gray-600 cursor-pointer hover:bg-gray-600 hover:text-white"
        >

          <td class="px-4 py-4 text-sm font-thin tracking-wider">{{goal.objectiveId}}</td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">{{goal.kpi}}</td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">{{goal.target}}</td>
          <!-- <td class="px-4 py-4 text-sm font-thin tracking-wider">{{goal.duration}}</td> -->
          <td class="px-4 py-4 text-sm font-thin tracking-wider">{{goal.getInput}}</td>
          <td
            @mouseover="hover = true"
            @mouseleave="hover = false"
            class="px-4 py-4 text-sm font-thin tracking-wide"
          >
            <easiDropdown
              class="mt-5"
              :performanceObj="{id: goal._id}"
              dropdownName="MyPerformanceDropdown"
            >
              <svg width="20" height="25" viewBox="0 0 20 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.68173 0C1.22723 0 0 1.22723 0 2.68173C0 4.18168 1.22723 5.36345 2.68173 5.36345C4.18168 5.36345 5.36345 4.13622 5.36345 2.68173C5.36345 1.22723 4.18168 0 2.68173 0Z" fill="#888888" fill-opacity="0.5"/>
                <path d="M17.3184 0C15.8185 0 14.6367 1.22723 14.6367 2.68173C14.6367 4.18168 15.8639 5.36345 17.3184 5.36345C18.7729 5.36345 20.0002 4.18168 20.0002 2.68173C20.0002 1.22723 18.7729 0 17.3184 0Z" fill="#888888" fill-opacity="0.5"/>
                <path d="M10.1358 0C8.63588 0 7.4541 1.22723 7.4541 2.68173C7.4541 4.18168 8.68133 5.36345 10.1358 5.36345C11.6358 5.36345 12.8176 4.13622 12.8176 2.68173C12.8176 1.22723 11.6358 0 10.1358 0Z" fill="#888888" fill-opacity="0.5"/>
              </svg>
            </easiDropdown>
          </td>
        </tr>
      </tbody>

      <div v-else>
        <div
          class="py-4 flex justify-center bg-white items-center text-gray-600 font-light"
        >You have no Performance set for review</div>
      </div>
    </table>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      headers: [
        "OBJECTIVE",
        "KPI",
        "TARGET",
        //"DURATION",
        "DATE FROM",
        "DATE TO",
        "UPDATE PROGRESS",
        "ACTION",
      ],
      loading: false,
      jobs: [{"objective":"Increased Customer",
                "kpi":"Increased Customer",
                "target":"Increased Customer",
                "duration":"Increased Customer",
                "getInput":"Increased Customer",
                "assignedTo":"Increased Customer",
                "actions":"Increased Customer", }],
      
      payload: {
        paging: {
          limit: 10,
          skip: 0,
          search: null,
        }
      },
    };
  },

  computed: {
    ...mapGetters(["applicant", "checkLoading", "allPerformanceGoals", "allPerformanceObjectives", "listEmployeePerformanceRatings", "employeeGoalList", "viewEmployeeGoal"]),
  },

  methods: {

    async getEmployeeGoal() {
      await this.$store.dispatch("query", {
        endpoint: "ViewEmployeeGoal",
        payload: { goalId: "5f5f3ca6c1b6e29dbf620938" },
        storeKey: "employeeGoalView",
      });
    },

    async listEmployeeGoal() {
      await this.$store.dispatch("query", {
        endpoint: "ListEmployeeGoals",
        payload: this.payload,
        storeKey: "employeeGoal",
      });
    },

    async listEmployeePerformance() {
      await this.$store.dispatch("query", {
        endpoint: "ListEmployeePerformanceRatings",
        payload: this.payload,
        storeKey: "employeePerformance",
        service: "PERFORM"
      });
    },

    async allObjectives() {
      await this.$store.dispatch("query", {
        endpoint: "ListPerformanceObjective",
        payload: this.payload,
        storeKey: "listObjectives",
        service: "PERFORM",
      });
    },

    async allGoals() {
      await this.$store.dispatch("query", {
        endpoint: "ListPerformanceGoals",
        payload: this.payload,
        storeKey: "listGoals",
        service: "PERFORM",
      });
    },

    getObjectiveById(id) {
      var objectives = this.allPerformanceObjectives.data;
      var objectiveName = null;
      objectives.forEach(
        function(objective, index) {
          if (objective._id == id){
            objectiveName = objective.title
          }
        }
      )

      return objectiveName
    },
    
  },

  async created() {
    // if (this.applicant.profile.isAdmin == true){ // Only for admins
      await this.allObjectives();
      await this.allGoals();
    // }
    // else{
    //   await this.listEmployeePerformance();
    //   await this.listEmployeeGoal();
      ////await this.getEmployeeGoal();
    // }
  },
};
</script>

<style>
</style>
