<template>
  <main class>
    <div class="py-3 flex items-center border">
      <div class="text-sm text-black font-bold pl-4">Categories</div>

      <div class="ml-10">
        <input
          type="text"
          class="focus:outline-none text-xs w-64 text-gray-600 appearance-none border rounded-sm leading-7 pl-3"
          placeholder="Search"
        />
      </div>
    </div>
    <table class="table-auto w-full overflow-y-auto shadow-sm bg-white">
      <thead>
        <tr class="bg-easipurple text-white">
          <th
            v-for="(title,index) in headers"
            :key="index"
            class="px-4 py-3 text-left font-light uppercase text-sm"
          >
            <div>{{title}}</div>
          </th>
        </tr>
      </thead>
      <div class="py-2" v-if="loading">
        <div class="loader">
          <svg viewBox="0 0 80 80">
            <rect x="8" y="8" width="64" height="64" />
          </svg>
        </div>
      </div>
      <tbody v-else-if="allPerformanceCategories.data.length">
        <tr
          v-for="category in allPerformanceCategories.data"
          :key="category._id"
          class="bg-white even:bg-gray-100 text-gray-600 cursor-pointer hover:bg-gray-600 hover:text-white"
        >

          <td class="px-4 py-4 text-sm font-thin tracking-wider">{{category.timeCreated}}</td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">{{category.creatorId}}</td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">{{category.title}}</td>
          <td
            @mouseover="hover = true"
            @mouseleave="hover = false"
            class="px-4 py-4 text-sm font-thin tracking-wide"
          >
            <!-- <easiDropdown
              class="mt-5"
              :performanceObj="{id: category._id}"
              dropdownName=""
            >
              <svg width="20" height="25" viewBox="0 0 20 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.68173 0C1.22723 0 0 1.22723 0 2.68173C0 4.18168 1.22723 5.36345 2.68173 5.36345C4.18168 5.36345 5.36345 4.13622 5.36345 2.68173C5.36345 1.22723 4.18168 0 2.68173 0Z" fill="#888888" fill-opacity="0.5"/>
                <path d="M17.3184 0C15.8185 0 14.6367 1.22723 14.6367 2.68173C14.6367 4.18168 15.8639 5.36345 17.3184 5.36345C18.7729 5.36345 20.0002 4.18168 20.0002 2.68173C20.0002 1.22723 18.7729 0 17.3184 0Z" fill="#888888" fill-opacity="0.5"/>
                <path d="M10.1358 0C8.63588 0 7.4541 1.22723 7.4541 2.68173C7.4541 4.18168 8.68133 5.36345 10.1358 5.36345C11.6358 5.36345 12.8176 4.13622 12.8176 2.68173C12.8176 1.22723 11.6358 0 10.1358 0Z" fill="#888888" fill-opacity="0.5"/>
              </svg>
            </easiDropdown> -->
            
            <svg @click="deleteCategory(category._id)" class="" width="32" height="36" viewBox="0 0 32 36" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.5" y="0.5" width="30.7647" height="35" rx="2.5" stroke="#CC2E2E"/>
              <g clip-path="url(#clip0)">
              <path d="M18.3156 15.2457C18.0874 15.2457 17.9023 15.4554 17.9023 15.7141V24.5666C17.9023 24.8251 18.0874 25.0349 18.3156 25.0349C18.5439 25.0349 18.7289 24.8251 18.7289 24.5666V15.7141C18.7289 15.4554 18.5439 15.2457 18.3156 15.2457Z" fill="#CC2E2E"/>
              <path d="M13.4406 15.2457C13.2124 15.2457 13.0273 15.4554 13.0273 15.7141V24.5666C13.0273 24.8251 13.2124 25.0349 13.4406 25.0349C13.6689 25.0349 13.8539 24.8251 13.8539 24.5666V15.7141C13.8539 15.4554 13.6689 15.2457 13.4406 15.2457Z" fill="#CC2E2E"/>
              <path d="M9.88472 13.9539V25.4939C9.88472 26.176 10.1054 26.8165 10.4909 27.2761C10.8746 27.737 11.4087 27.9986 11.9676 27.9997H19.7869C20.346 27.9986 20.88 27.737 21.2636 27.2761C21.6491 26.8165 21.8698 26.176 21.8698 25.4939V13.9539C22.6361 13.7234 23.1327 12.8843 23.0302 11.9931C22.9275 11.1021 22.2577 10.4356 21.4648 10.4354H19.3488V9.84993C19.3512 9.35758 19.1795 8.8848 18.8719 8.53699C18.5644 8.18937 18.1466 7.99579 17.7122 7.99982H14.0424C13.6079 7.99579 13.1901 8.18937 12.8826 8.53699C12.5751 8.8848 12.4033 9.35758 12.4057 9.84993V10.4354H10.2898C9.49678 10.4356 8.82698 11.1021 8.72431 11.9931C8.62179 12.8843 9.11838 13.7234 9.88472 13.9539ZM19.7869 27.063H11.9676C11.261 27.063 10.7113 26.375 10.7113 25.4939V13.9951H21.0432V25.4939C21.0432 26.375 20.4936 27.063 19.7869 27.063ZM13.2323 9.84993C13.2295 9.60604 13.3141 9.3713 13.4668 9.19913C13.6194 9.02697 13.827 8.93237 14.0424 8.93658H17.7122C17.9275 8.93237 18.1351 9.02697 18.2877 9.19913C18.4404 9.37112 18.525 9.60604 18.5222 9.84993V10.4354H13.2323V9.84993ZM10.2898 11.3722H21.4648C21.8756 11.3722 22.2087 11.7496 22.2087 12.2153C22.2087 12.6809 21.8756 13.0583 21.4648 13.0583H10.2898C9.8789 13.0583 9.54586 12.6809 9.54586 12.2153C9.54586 11.7496 9.8789 11.3722 10.2898 11.3722Z" fill="#CC2E2E"/>
              <path d="M15.8781 15.2457C15.6498 15.2457 15.4648 15.4554 15.4648 15.7141V24.5666C15.4648 24.8251 15.6498 25.0349 15.8781 25.0349C16.1064 25.0349 16.2914 24.8251 16.2914 24.5666V15.7141C16.2914 15.4554 16.1064 15.2457 15.8781 15.2457Z" fill="#CC2E2E"/>
              </g>
              <defs>
              <clipPath id="clip0">
              <rect width="17.6471" height="20" fill="white" transform="translate(7.05859 7.99976)"/>
              </clipPath>
              </defs>
            </svg>
          </td>
        </tr>
      </tbody>

      <div v-else>
        <div
          class="py-4 flex justify-center bg-white items-center text-gray-600 font-light"
        >No Performance Categories Created.</div>
      </div>
    </table>

    <!-- *Note: Modal warning that Objectives and Goals attached to category would also be deleted. -->
    <easiModal v-if="showModal==true" @close="showModal=false">
      <template v-slot:header>
        Warning: Potential Data Loss
      </template>
      <div class="flex justify-center flex-col items-center pb-12">
        <svg
          class="w-16 h-16 text-easiorange fill-current"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            d="M501.36 383.95L320.5 51.47c-29.06-48.92-99.9-48.98-129 0L10.65 383.95c-29.7 49.99 6.26 113.3 64.48 113.3h361.74c58.17 0 94.2-63.26 64.5-113.3zM256 437.25c-16.54 0-30-13.47-30-30 0-16.55 13.46-30 30-30s30 13.45 30 30c0 16.53-13.46 30-30 30zm30-120c0 16.53-13.46 30-30 30s-30-13.47-30-30v-150c0-16.55 13.46-30 30-30s30 13.45 30 30v150z"
          />
        </svg>
        <div class="mt-3 text-sm font-thin">
          All Objectives and Goals attached to this Category will also be deleted.
        </div>
        <div class="w-1/2 justify-between mt-8">
          <easiButton @click.native="">
            <div class="leading-4 px-2">Continue</div>
          </easiButton>
        </div>
      </div>
    </easiModal>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      showModal: true,
      // headers: [
      //   "Date",
      //   "Created By",
      //   "Title",
      //   "Action"
      // ],
      headers: [
        "TITLE",
        "OBJECTIVE",
        "GOALS",
        "Action"
      ],
      loading: false,
      
      payload: {
        paging: {
          limit: 10,
          skip: 0,
          search: null,
        }
      },
    };
  },

  computed: {
    ...mapGetters(["applicant", "checkLoading", "allPerformanceCategories"]),
  },

  methods: {
    async allCategories() {
      await this.$store.dispatch("query", {
        endpoint: "ListPerformanceCategory",
        payload: this.payload,
        storeKey: "listCategories",
        service: "PERFORM",
      });
    },

    async deleteCategory(argId) {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "DeletePerformanceCategory",
        data: { id: argId },
        service: "PERFORM",
      });
      if (res.success) {
        this.updateAfterSuccess(argId);
        this.$toast.success("Performance Category Deleted Successfully ", {
          position: "bottom",
          duration: 5000
        });
      }
    },

    updateAfterSuccess(id) {
      let update = {
        count: this.allPerformanceCategories.count - 1,
        data: this.allPerformanceCategories.data.filter(y => y._id !== id)
      };
      this.$store.commit("set", {
        type: "listCategories",
        data: update
      });
    }
  },

  async created() {
    await this.allCategories();
  },
};
</script>

<style>
</style>
