<template>
  <main>
    <div class="flex pt-8 pl-8">
      <easiBackButton @click.native="$router.push({name:'PerformanceObjectives'})" />
      <div>
        <h1 class="text-gray-800 w-full text-2xl logo font-bold ml-8">View Objective</h1>
      </div>
    </div>
    <div class="p-8 ml-8 mt-8 mr-64 bg-white">
        <div class="text-xl font-bold text-gray-700">Category: {{getCategoryById(relevantObjectives.categoryId)}}</div>

        <div class="text-lg text-gray-700 font-bold mt-4">Objective:</div>
        <div class="text-base text-gray-700">{{relevantObjectives.title}}</div>

        <div class="text-lg text-gray-700 font-bold mt-4">Goal:</div>
        <div class="text-base text-gray-700">X</div>

        <!-- <table class="table-auto w-full overflow-y-auto shadow-sm bg-white mt-12">
        <thead>
            <tr class="bg-easipurple text-white">
            <th
                v-for="(title,index) in headers"
                :key="index"
                class="px-4 py-3 text-left font-light uppercase text-sm"
            >
                <div>{{title}}</div>
            </th>
            </tr>
        </thead>
        <div class="py-2" v-if="loading">
            <div class="loader">
            <svg viewBox="0 0 80 80">
                <rect x="8" y="8" width="64" height="64" />
            </svg>
            </div>
        </div>
        <tbody v-else-if="objectives.length">
            <tr
            v-for="objective in objectives"
            :key="objective._id"
            class="bg-white even:bg-gray-100 text-gray-600 cursor-pointer hover:bg-gray-600 hover:text-white"
            >
            <td class="px-4 py-4 text-sm font-thin tracking-wider">{{objective.kpi}}</td>
            <td class="px-4 py-4 text-sm font-thin tracking-wider">{{objective.target}}</td>
            <td class="px-4 py-4 text-sm font-thin tracking-wider">{{objective.duration}}</td>
            <td class="px-4 py-4 text-sm font-thin tracking-wider">{{objective.getInput}}</td>
            <td
                @mouseover="hover = true"
                @mouseleave="hover = false"
                class="px-4 py-4 text-sm font-thin tracking-wide"
            >
                <easiDropdown
                :jobObject="job"
                css="mt-5"
                dropdownName=""
                >
                <svg width="23" height="17" viewBox="0 0 23 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M22.4331 7.43364C22.2477 7.1297 17.7968 0 11.3316 0C4.86648 0 0.415569 7.1297 0.230115 7.43364C-0.0767049 7.93104 -0.0767049 8.55896 0.230115 9.05636C0.415569 9.3603 4.86648 16.4642 11.3265 16.4848H11.3574C17.8019 16.4848 22.2528 9.35515 22.4383 9.05121C22.7414 8.5541 22.7394 7.92881 22.4331 7.43364ZM11.3574 14.9394C5.69072 14.9394 1.56951 8.24242 1.56951 8.24242C1.56951 8.24242 5.69072 1.54545 11.3574 1.54545C17.0241 1.54545 21.1453 8.24242 21.1453 8.24242C21.1453 8.24242 17.0086 14.9394 11.3574 14.9394Z" fill="#4A90E2"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3312 4.12109C9.05509 4.12109 7.20996 5.96622 7.20996 8.24231C7.20996 10.5184 9.05509 12.3635 11.3312 12.3635C13.6073 12.3635 15.4524 10.5184 15.4524 8.24231C15.4524 5.96622 13.6073 4.12109 11.3312 4.12109ZM11.3312 10.8181C9.90862 10.8181 8.75542 9.66486 8.75542 8.24231C8.75542 6.81975 9.90862 5.66655 11.3312 5.66655C12.7537 5.66655 13.9069 6.81975 13.9069 8.24231C13.9069 9.66486 12.7537 10.8181 11.3312 10.8181Z" fill="#4A90E2"/>
                </svg>
                </easiDropdown>
            </td>
            </tr>
        </tbody>

        <div v-else>
            <div
            class="py-4 flex justify-center bg-white items-center text-gray-600 font-light"
            >You have no assigned objctives</div>
        </div>
        </table> -->

        <table class="table-auto w-full overflow-y-auto shadow-sm bg-white">
      <thead>
        <tr class="bg-easipurple text-white">
          <th
            v-for="(title,index) in headers"
            :key="index"
            class="px-4 py-3 text-left font-light uppercase text-sm"
          >
            <div>{{title}}</div>
          </th>
        </tr>
      </thead>
      <div class="py-2" v-if="loading">
        <div class="loader">
          <svg viewBox="0 0 80 80">
            <rect x="8" y="8" width="64" height="64" />
          </svg>
        </div>
      </div>
      <tbody v-else-if="allPerformanceGoals.data.length">
        <tr
          v-for="job in allPerformanceGoals.data"
          :key="job._id"
          class="bg-white even:bg-gray-100 text-gray-600 cursor-pointer hover:bg-gray-600 hover:text-white"
        >

          <td class="px-4 py-4 text-sm font-thin tracking-wider">{{job.kpi}}</td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">{{job.target}}</td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">{{job.duration}}</td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">{{job.getInput}}</td>
          <td
            @mouseover="hover = true"
            @mouseleave="hover = false"
            class="px-4 py-4 text-sm font-thin tracking-wide"
          >
            <easiDropdown
              class="mt-5"
              :performanceObj="{id: job._id}"
              dropdownName="PerformanceGoals"
            >
              <svg
                class="w-6 h-6"
                viewBox="0 0 36 36"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect x="0.5" y="0.5" width="35" height="35" rx="2.5" stroke="#E1E6ED" />
                <path
                  d="M27.2678 16.2322C28.2441 17.2085 28.2441 18.7914 27.2678 19.7677C26.2915 20.7441 24.7085 20.7441 23.7322 19.7677C22.7559 18.7914 22.7559 17.2085 23.7322 16.2322C24.7085 15.2559 26.2915 15.2559 27.2678 16.2322Z"
                  fill="#D3DCE6"
                />
                <path
                  d="M19.7677 16.2322C20.7441 17.2085 20.7441 18.7914 19.7677 19.7677C18.7914 20.7441 17.2085 20.7441 16.2322 19.7677C15.2559 18.7914 15.2559 17.2085 16.2322 16.2322C17.2085 15.2559 18.7914 15.2559 19.7677 16.2322Z"
                  fill="#D3DCE6"
                />
                <path
                  d="M12.2678 16.2322C13.2441 17.2085 13.2441 18.7914 12.2678 19.7677C11.2915 20.7441 9.70854 20.7441 8.73223 19.7677C7.75592 18.7914 7.75592 17.2085 8.73223 16.2322C9.70854 15.2559 11.2915 15.2559 12.2678 16.2322Z"
                  fill="#D3DCE6"
                />
              </svg>
            </easiDropdown>
          </td>
        </tr>
      </tbody>

      <div v-else>
        <div
          class="py-4 flex justify-center bg-white items-center text-gray-600 font-light"
        >You have no Performance set for review</div>
      </div>
    </table>

    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
    data() {
        return {
            headers: [
                "KPI",
                "TARGET",
                "DURATION",
                "GET INPUT",
                "ACTION"
            ],
            loading: false,

            objectives: [],

            payload: {
              paging: {
                limit: 10,
                skip: 0,
                search: null,
              }
            },

            relevantObjectives: "",
        }
    },

    computed: {
        ...mapGetters(["applicant", "checkLoading", "allPerformanceGoals", "allPerformanceObjectives", "allPerformanceCategories"]),
    },

    methods: {
    getObjectives() {
      var result = null;
      var argId = this.$route.params.id;
      this.allPerformanceObjectives.data.forEach(
        function(objective, index) {
          if (objective._id == argId){
            result = objective;
          }
        }
      )

      return result;
    },

    async allObjectives() {
      await this.$store.dispatch("query", {
        endpoint: "ListPerformanceObjective",
        payload: this.payload,
        storeKey: "listObjectives",
      });
    },

    async allGoals() {
      await this.$store.dispatch("query", {
        endpoint: "ListPerformanceGoals",
        payload: this.payload,
        storeKey: "listGoals",
      });
    },

    async allCategories() {
      await this.$store.dispatch("query", {
        endpoint: "ListPerformanceCategory",
        payload: this.payload,
        storeKey: "listCategories",
      });
    },

    getCategoryById(id) {
      var categories = this.allPerformanceCategories.data;
      var categoryName = null;
      categories.forEach(
        function(category, index) {
          if (category._id == id){
            categoryName = category.title
          }
        }
      )

      return categoryName
    },

    getObjectiveById(id) {
      var objectives = this.allPerformanceObjectives.data;
      var objectiveName = null;
      objectives.forEach(
        function(objective, index) {
          if (objective._id == id){
            objectiveName = objective.title
          }
        }
      )

      return objectiveName
    },
  },

  async created() {
    await this.allObjectives();
    await this.allGoals();
    await this.allCategories();

    this.relevantObjectives = this.getObjectives();
  },


};
</script>

<style>
</style>