<template>
  <main>
    <div class="flex pt-8 pl-8">
      <easiBackButton @click.native="$router.push({name:'PerformanceList'})" />
      <div>
        <h1 class="text-gray-800 w-full text-2xl logo font-bold ml-8">View Goals</h1>
      </div>
    </div>

    <!-- v-if="applicant.profile.isAdmin == true" -- Previous code -->
    <div class="p-8 ml-8 mt-8 mr-100 bg-white" v-if="0==0">
        <div class="text-xl font-bold text-gray-700">Category: {{ getCategoryById(getGoal().objectiveId) }}</div>

        <div class="text-lg text-gray-700 font-bold mt-4">Objective:</div>
        <div class="text-base text-gray-700">{{ getObjectiveById(getGoal().objectiveId) }}</div>

        <div class="text-lg text-gray-700 font-bold mt-4">KPI:</div>
        <div class="text-base text-gray-700">{{getGoal().kpi}}</div>

        <div class="text-lg text-gray-700 font-bold mt-4">Target:</div>
        <div class="text-base text-gray-700">{{getGoal().target}}</div>

        <!-- <div class="text-lg text-gray-700 font-bold mt-4">Duration:</div>
        <div class="text-base text-gray-700">Yearly</div> -->

        <div class="text-lg text-gray-700 font-bold mt-4">Date:</div>
        <div class="text-base text-gray-700">{{getGoal().timeUpdated}}</div>

        <div class="mt-4 mb-40">
            <div class="float-left">
                <div class="text-xl text-gray-700 font-bold">Get Input:</div>
                <div class="text-base text-gray-700">{{getGoal().getInput}}</div>
            </div>

            <easiButton class="float-right mr-64" variant="outline" @click.native="$router.push({name:'InputReport', params: {id: $route.params.id}})">Input Report</easiButton>
        </div>

    </div>

    <!-- v-if="applicant.profile.isAdmin == false" -- Previous code -->
    <div class="p-8 ml-8 mt-8 mr-100 bg-white" v-if="0==1">
        <div class="text-xl font-bold text-gray-700">Category: {{ relevantEmployeeGoal.objectiveId }}</div>

        <div class="text-lg text-gray-700 font-bold mt-4">Objective:</div>
        <div class="text-base text-gray-700">{{ relevantEmployeeGoal.objectiveId }}</div>

        <div class="text-lg text-gray-700 font-bold mt-4">KPI:</div>
        <div class="text-base text-gray-700">{{relevantEmployeeGoal.kpi}}</div>

        <div class="text-lg text-gray-700 font-bold mt-4">Target:</div>
        <div class="text-base text-gray-700">{{relevantEmployeeGoal.target}}</div>

        <!-- <div class="text-lg text-gray-700 font-bold mt-4">Duration:</div>
        <div class="text-base text-gray-700">Yearly</div> -->

        <!-- <div class="text-lg text-gray-700 font-bold mt-4">Date:</div>
        <div class="text-base text-gray-700">{{relevantEmployeeGoal.timeUpdated}}</div> -->

        <div class="flex mr-20 mt-4">
          <div class="mr-8">
            <div class="text-lg text-gray-700 font-bold mt-4">Date From:</div>
            <div class="text-base text-gray-700">???</div>
          </div>

          <div>
            <div class="text-lg text-gray-700 font-bold mt-4">Date To:</div>
            <div class="text-base text-gray-700">???</div>
          </div>
        </div>

        <div class="mt-4 mb-40">
            <div class="float-left">
                <div class="text-xl text-gray-700 font-bold">Update Progress:</div>
                <div class="text-base text-gray-700">{{relevantEmployeeGoal.getInput}}</div>
            </div>

            <easiButton
              class="float-right mr-64"
              variant="outline"
              @click.native="$router.push({name:'InputReport', params: {id: $route.params.id}})"
            >
            Update Progress
            </easiButton>
        </div>

    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {      
      payload: {
        paging: {
          limit: 10,
          skip: 0,
          search: null,
        }
      },

      relevantEmployeeGoal: {},
    };
  },

  computed: {
    ...mapGetters(["applicant", "checkLoading", "allPerformanceGoals", "allPerformanceObjectives", "allPerformanceCategories", "employeeGoalList"]),

  },

  methods: {
    async listEmployeeGoal() {
      await this.$store.dispatch("query", {
        endpoint: "ListEmployeeGoals",
        payload: this.payload,
        storeKey: "employeeGoal",
      });
    },

    getGoal() {
      var result = null;
      var argId = this.$route.params.id;
      this.allPerformanceGoals.data.forEach(
        function(goal, index) {
          if (goal._id == argId){
            result = goal;
          }
        }
      )

      return result;
    },

    async allObjectives() {
      await this.$store.dispatch("query", {
        endpoint: "ListPerformanceObjective",
        payload: this.payload,
        storeKey: "listObjectives",
      });
    },

    async allGoals() {
      await this.$store.dispatch("query", {
        endpoint: "ListPerformanceGoals",
        payload: this.payload,
        storeKey: "listGoals",
      });
    },

    async allCategories() {
      await this.$store.dispatch("query", {
        endpoint: "ListPerformanceCategory",
        payload: this.payload,
        storeKey: "listCategories",
      });
    },

    getObjectiveById(id) {
      var objectives = this.allPerformanceObjectives.data;
      var objectiveName = null;
      objectives.forEach(
        function(objective, index) {
          if (objective._id == id){
            objectiveName = objective.title
          }
        }
      )

      return objectiveName
    },

    getCategoryById(id) {
      var objectives = this.allPerformanceObjectives.data;
      var categories = this.allPerformanceCategories.data;
      var categoryName = null;
      objectives.forEach(
        function(objective, index) {
          if (objective._id == id){
            categories.forEach(
              function(category, index) {
                if (category._id == objective.categoryId){
                  categoryName = category.title
                }
              }
            )
          }
        }
      )

      return categoryName
    },
  },

  async created() {
    // if (this.applicant.profile.isAdmin == true){ // Only for admins
      await this.allObjectives();
      await this.allGoals();
      await this.allCategories();
    // }
    // else{
    //   await this.listEmployeeGoal();

    //   // Relevant Employee Goal:
    //   var argId = this.$route.params.id
    //   var result = {}
    //   this.employeeGoalList.data.forEach(
    //     function(goal, index) {
    //       if (goal._id == argId){
    //         result = goal;
    //       }
    //     }
    //   );
    //   this.relevantEmployeeGoal = result;
    // }
  },
};
</script>

<style>
</style>