<template>
  <main>
    <div class="flex w-full max-w-2xl">
      <easiBackButton @click.native="$router.push({ name: 'PayrollBenefits' })" />
      <h1 class="text-2xl text-gray-700 ml-8">Create New</h1>
    </div>
    <form @submit.prevent="create">
    <div class="w-full max-w-2xl bg-white py-3 px-5 mt-6 shadow-xs pb-8">
      <p class="text-gray-600 text-sm mt-6 font-bold">Select Provision</p>
      <div class="relative">
        <select
          class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
          id="grid-state"
          v-model="args.provisionId"
          required
        >
          <option value disabled>Select Provision</option>
          <option v-for="provision in listProvision.data" :key="provision._id" :value="provision._id">{{provision.title.replaceAll("_", " ")}}</option>
        </select>
        <div
          class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
        >
          <svg
            class="fill-current text-gray-500 h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path
              d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
            />
          </svg>
        </div>
      </div>
      <div class="flex justify-end mt-8 text-right">
        <easiButton variant="outline" @click.native.prevent="$router.push({ name: 'PayrollSettings' })" class="mr-8 inline-block">
          <div class="px-8">Cancel</div>
        </easiButton>
        <easiButton class="inline-block">
          <div class="px-8">Create</div>
        </easiButton>
      </div>
    </div>
    </form>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
import Multiselect from "vue-multiselect";

export default {
  data() {
    return {
      args: {
        provisionId: ""
      },
      payload: {
        paging: {
          limit: 10,
          skip: 0,
          search: null
        }
      },
    };
  },

  computed: {
    ...mapGetters(["getAllEmployees", "applicant", "checkLoading", "listProvision"]),
  },

  methods: {
    async create() {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "CreateBenefit",
        data: { request: this.args },
        service: "PAY",
      });
      if (res.success) {
        this.$toast.success("Benefit Created Successfuly");
        this.$router.push({ name: "PayrollBenefits" });
      }
    },

    async queryProvisions() {
      await this.$store.dispatch("query", {
        endpoint: "ListProvision",
        payload: this.payload,
        storeKey: "provision",
        service: "PAY",
      });
    },
  },

  async created() {
    await this.queryProvisions();
  },
};
</script>


<style>
</style>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>