<template>
  <main>
    <div class="py-3 flex items-center border">
      <div
        class="text-sm text-gray-900 pl-4"
      >{{allActivejobs.count}} {{(allActivejobs.count > 1) ? 'Listings' : 'Listing'}}</div>

      <div class="ml-10">
        <input
          v-model.lazy="activeJobsPayload.search"
          type="text"
          class="focus:outline-none text-xs w-64 text-gray-600 appearance-none border rounded-sm leading-7 pl-3"
          placeholder="Search"
        />
      </div>
    </div>
    <easiTable name="JobActive" title="Active" :headers="title" :jobs="allActivejobs.data" />
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      title: ["Title", "Location", "Salary", "Created", "Level", "Action"],
      activeJobsPayload: {
        limit: 10,
        skip: 0,
        status: "OPEN",
        search: null,
      },
    };
  },
  watch: {
    "activeJobsPayload.search": async function (x) {
      if (x === "") {
        this.activeJobsPayload.search = null;
        await this.activeJobsRequest();
      } else {
        await this.activeJobsRequest();
      }
    },
  },
  computed: {
    ...mapGetters(["getActiveJobs"]),
    allActivejobs() {
      return this.getActiveJobs;
    },
  },
  methods: {
    async activeJobsRequest() {
      await this.$store.dispatch("query", {
        endpoint: "ListJobs",
        payload: this.activeJobsPayload,
        storeKey: "activeJobs",
      });
    },
  },

  async mounted() {
    this.activeJobsPayload.search = null;
    await this.activeJobsRequest();
  },
};
</script>