<template>
  <main>
    <form @submit.prevent="publishJob">
      <div class="minimum flex justify-between flex-col">
        <div class="mt-3">
          <p class="text-gray-600 font-medium text-sm">
            Select Assessment Category
          </p>
          <div class="relative">
            <select
              class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
              id="grid-state"
              required
              v-model="assessmentCategoryId"
            >
              <option value disabled>Select Category</option>
              <option
                v-for="list in listAllAssessmentCategories.data"
                :key="list._id"
                :value="list"
                >{{ list.name }}</option
              >
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
            >
              <svg
                class="fill-current text-gray-500 h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
          <div class="mt-5" v-if="assessmentCategoryId">
            Selected Assessment: {{ assessmentCategoryId.name }}
          </div>
        </div>
        <div class="flex justify-between">
          <easiButton
            @click.native.stop="$router.push({ name: 'RecruitmentAssessment' })"
            variant="outline"
          >
            <div class="leading-4 px-6">Back</div>
          </easiButton>
          <easiButton @click.prevent.native="assessment" variant="outline">
            <div class="leading-4 px-6">Create Assessment Group</div>
          </easiButton>
          <easiButton>
            <div class="leading-4 px-6">Publish</div>
          </easiButton>
        </div>
      </div>
    </form>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      modal: false,
      assessmentCategoryId: null,
      assessmentGroupPayload: {
        limit: 10,
        skip: 0,
        search: null,
      },
    };
  },
  computed: {
    ...mapGetters(["listAllAssessmentCategories", "jobCreation"]),
  },
  methods: {
    assessment() {
      this.$store.commit("change", {
        type: "openJobModal",
        data: true,
      });
    },
    async allCategories() {
      await this.$store.dispatch("query", {
        endpoint: "ListAssessmentCategory",
        payload: this.assessmentGroupPayload,
        storeKey: "listAssessmentCategory",
      });
    },
    async publishJob() {
      if (
        this.assessmentCategoryId == null ||
        this.assessmentCategoryId == ""
      ) {
        this.$toast.error("Select a category to continue");
      } else {
        let activeArgs = {
          status: "OPEN",
          assessmentCategoryId: this.assessmentCategoryId._id,
        };
        let activeJob = { ...this.jobCreation, ...activeArgs };

        let res = await this.$store.dispatch("mutate", {
          endpoint: "CreateJob",
          data: { jobInput: activeJob },
        });
        if (res.success) {
          this.$store.commit("setSuccess", {
            message: "Job Sucessfully Posted",
            value: "createJobs",
            type: "",
          });
          this.$router.push({ name: "RecruitmentActive" });
        }
      }
    },
  },

  async mounted() {
    this.assessmentGroupPayload.search = null;
    await this.allCategories();
  },
};
</script>

<style>
</style>