<template>
  <main>
    <div
      @click="$router.push({ name: 'RecruitmentActive' })"
      style="margin-top: -3.5rem; z-index: 9999"
      class="fixed flex items-center cursor-pointer"
    >
      <svg
        width="18"
        height="18"
        viewBox="0 0 22 22"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M6.22994 10.7723C6.09994 10.9013 6.10028 11.1103 6.22994 11.239L10.2569 15.2297C10.5713 15.5437 11.0423 15.073 10.7283 14.759L7.53328 11.5687C7.40294 11.4383 7.44861 11.333 7.62794 11.333H15.6696C15.8519 11.333 15.9999 11.1853 15.9999 11C15.9999 10.816 15.8489 10.667 15.6696 10.667H7.62794C7.44528 10.667 7.40394 10.5607 7.53328 10.4317L10.7283 7.24099C11.0423 6.92699 10.5713 6.45632 10.2569 6.77032L6.22994 10.7723Z"
          fill="#505050"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M21 11C21 5.47715 16.5228 1 11 1C5.47715 1 1 5.47715 1 11C1 16.5228 5.47715 21 11 21C16.5228 21 21 16.5228 21 11Z"
          stroke="#909090"
        />
      </svg>
      <div class="ml-2 text-xs text-gray-600 font-thin">Back</div>
    </div>
    <main>
      <div class="p-6 shadow-xs bg-white">
        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <div
              class="rounded-full border bg-red-300 border-red-400 text-pink-600 flex items-center justify-center w-12 h-12"
            >
              {{ getCurrentJob.title.charAt(0) }}
            </div>
            <div class="ml-2">
              <h1 class="text-sm text-gray-800">
                {{ getCurrentJob.title }}
              </h1>
              <p class="text-xs text-gray-600 font-light tracking-wide">
                {{ getCurrentJob.state }}, {{ getCurrentJob.country }}
                <span
                  class="text-red-600 font-normal pl-2"
                  v-if="getCurrentJob.hasAssessment"
                  >HAS ASSESSMENT</span
                >
              </p>
            </div>
          </div>
          <div class="flex items-center">
            <div class="flex items-center mr-5">
              <div
                class="rounded-full border bg-gray-300 border-gray-400 text-pink-600 flex items-center justify-center w-12 h-12"
              ></div>
              <div class="ml-2">
                <h1 class="text-sm text-gray-800">Hiring Lead</h1>
                <p class="text-xs text-gray-600 font-light tracking-wide">
                  {{ getCurrentJob.hiringContactName }}
                </p>
              </div>
            </div>
            <div class="border-l ml-2">
              <div class="ml-5">
                <h1 class="text-sm text-gray-800">Status</h1>
                <p class="text-xs text-green-600 font-light tracking-wide">
                  {{ getCurrentJob.status }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-10 text-right">
          <paystack
            class="hidden"
            :amount="amount"
            :email="email"
            :paystackkey="paystackkey"
            :reference="reference"
            :callback="callback"
            :close="close"
            :embed="false"
            ref="paystack"
          >
          </paystack>
          <easiButton
            v-if="!getCurrentJob.paidForJob"
            @click.native="getReference"
            class="inline-block"
            variant="outline"
          >
            <div class="leading-3 px-3">Pay for Job Post</div>
          </easiButton>

          <easiButton v-else class="inline-block" variant="outline">
            <div class="leading-3 px-3">Paid</div>
          </easiButton>
        </div>
      </div>
    </main>

    <main class="mt-8">
      <div class="py-3 flex items-center border">
        <div class="text-sm text-gray-900 pl-4">Task List</div>

        <div class="ml-10">
          <input
            type="text"
            class="focus:outline-none text-xs w-64 text-gray-600 appearance-none border rounded-sm leading-7 pl-3"
            placeholder="Search"
          />
        </div>
      </div>
      <table class="table-auto w-full overflow-y-auto shadow-sm bg-white">
        <thead>
          <tr class="bg-easipurple text-white">
            <th
              v-for="(title, index) in headers"
              :key="index"
              class="px-4 py-3 text-left font-light uppercase text-sm"
            >
              <div>{{ title }}</div>
            </th>
          </tr>
        </thead>
        <div class="py-2" v-if="checkLoading">
          <div class="loader">
            <svg viewBox="0 0 80 80">
              <rect x="8" y="8" width="64" height="64" />
            </svg>
          </div>
        </div>
        <tbody v-else-if="getAllApplicants.data.length">
          <tr
            v-for="employee in getAllApplicants.data"
            :key="employee._id"
            class="bg-white even:bg-gray-100 text-gray-600 cursor-pointer hover:bg-gray-600 hover:text-white"
          >
            <td class="px-4 py-4 text-sm font-thin tracking-wider capitalize">
              {{ employee.applicant.firstName }}
              {{ employee.applicant.lastName }}
            </td>
            <td class="px-4 py-4 text-sm font-thin tracking-wider">
              {{
                moment(employee.timeCreated)
                  .format("MMM DD  YYYY")
                  .split("T")[0]
              }}
            </td>
            <td class="px-4 py-4 text-sm font-thin tracking-wider">
              {{ employee.applicant.status }}
            </td>
            <td class="px-4 py-4 text-sm font-thin tracking-wider">
              {{ employee.match }}
            </td>
            <td class="px-4 py-4 text-sm font-thin tracking-wide">
              <easiDropdown
                css="mt-5"
                @click.native="
                  $router.push({
                    name: 'RecruitmentViewApplicantOverview',
                    params: {
                      user: employee,
                    },
                  })
                "
              >
                <svg
                  class="w-6 h-6"
                  viewBox="0 0 36 36"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect
                    x="0.5"
                    y="0.5"
                    width="35"
                    height="35"
                    rx="2.5"
                    stroke="#E1E6ED"
                  />
                  <path
                    d="M27.2678 16.2322C28.2441 17.2085 28.2441 18.7914 27.2678 19.7677C26.2915 20.7441 24.7085 20.7441 23.7322 19.7677C22.7559 18.7914 22.7559 17.2085 23.7322 16.2322C24.7085 15.2559 26.2915 15.2559 27.2678 16.2322Z"
                    fill="#D3DCE6"
                  />
                  <path
                    d="M19.7677 16.2322C20.7441 17.2085 20.7441 18.7914 19.7677 19.7677C18.7914 20.7441 17.2085 20.7441 16.2322 19.7677C15.2559 18.7914 15.2559 17.2085 16.2322 16.2322C17.2085 15.2559 18.7914 15.2559 19.7677 16.2322Z"
                    fill="#D3DCE6"
                  />
                  <path
                    d="M12.2678 16.2322C13.2441 17.2085 13.2441 18.7914 12.2678 19.7677C11.2915 20.7441 9.70854 20.7441 8.73223 19.7677C7.75592 18.7914 7.75592 17.2085 8.73223 16.2322C9.70854 15.2559 11.2915 15.2559 12.2678 16.2322Z"
                    fill="#D3DCE6"
                  />
                </svg>
              </easiDropdown>
            </td>
          </tr>
        </tbody>

        <div v-else>
          <div
            class="py-4 flex justify-center bg-white items-center text-gray-600 font-light"
          >
            You have no Applicant
          </div>
        </div>
      </table>
    </main>
  </main>
</template>

<script>
import paystack from "vue-paystack";
import moment from "moment";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      headers: ["Name", "Applied ON", "Status", "Match", "Action"],
      moment,
      paystackkey: "pk_test_a0470446266fc451333e21232d0c97e0267bfa14", //paystack public key
      email: "aolfiligre@gmail.com", // Customer email
      amount: 100000, // in kobo
      reference: null,
      args: {
        companyId: null,
        jobId: null,
        limit: 10,
        skip: 0,
      },
    };
  },
  components: {
    paystack,
  },
  methods: {
    async callback(response) {
      if (response.status) {
        await this.$store.dispatch("mutate", {
          endpoint: "UpdateViewApplicantPayment",
          data: {
            reference: response.reference,
            paymentStatus: "SUCCESS",
          },
        });
        await this.$store.dispatch("query", {
          endpoint: "ViewJob",
          payload: { id: this.$route.params.id },
          storeKey: "viewJob",
        });
      }
    },
    close: function () {
      console.log("Payment closed");
    },
    openRef() {
      this.$refs.paystack.$el.click();
    },
    async getReference() {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "CreateViewApplicantPayment",
        data: {
          jobId: this.getCurrentJob._id,
          amount: +this.amount,
        },
      });
      if (res.success) {
        this.reference = res.data.reference;
        this.openRef();
      }
    },
  },
  computed: {
    ...mapGetters([
      "getAllApplicants",
      "applicant",
      "checkLoading",
      "getCurrentJob",
    ]),
  },
  async created() {
    this.args.jobId = this.$route.params.id;
    this.args.companyId = this.applicant.companyId;
    await this.$store.dispatch("query", {
      endpoint: "ViewJob",
      payload: { id: this.$route.params.id },
      storeKey: "viewJob",
    });
    await this.$store.dispatch("query", {
      endpoint: "ListApplications",
      payload: this.args,
      storeKey: "listApplicants",
    });
  },
  mounted() {
    console.log(this.getAllApplicants, "poop");
    console.log(this.getCurrentJob, "JOOOOOb");
  },
};
</script>

<style>
</style>