<template>
  <main>
    <div class="py-3 flex items-center border">
      <div
        class="text-sm text-gray-900 pl-4"
      >{{allArchivedjobs.count}} {{(allArchivedjobs.count > 1) ? 'Listings' : 'Listing'}}</div>

      <div class="ml-10">
        <input
          v-model.lazy="activeArchivedPayload.search"
          type="text"
          class="focus:outline-none text-xs w-64 text-gray-600 appearance-none border rounded-sm leading-7 pl-3"
          placeholder="Search"
        />
      </div>
    </div>
    <easiTable name="JobArchived" title="Archived" :headers="title" :jobs="allArchivedjobs.data" />
  </main>
</template>


<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      title: ["Title", "Location", "Salary", "Created", "Level", "Action"],
      activeArchivedPayload: {
        limit: 10,
        skip: 0,
        status: "CLOSED",
        search: null
      }
    };
  },
  computed: {
    ...mapGetters(["getArchivedJobs"]),
    allArchivedjobs() {
      return this.getArchivedJobs;
    }
  },
  methods: {
    async aciveArchivedRequest() {
      await this.$store.dispatch("query", {
        endpoint: "ListJobs",
        payload: this.activeArchivedPayload,
        storeKey: "archivedJobs"
      });
    }
  },
  mounted() {
    this.activeArchivedPayload.search = null;
  },
  async created() {
    let res = await this.aciveArchivedRequest();
  }
};
</script>