<template>
  <main class="h-98 relative">
    <form @submit.prevent="send">
      <div class="grid grid-cols-1 lg:col-gap-5 lg:grid-cols-2">
        <div class="mt-2">
          <p class="text-gray-600 font-medium text-sm">Job Level</p>
          <div class="relative">
            <select
              class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
              id="grid-state"
              v-model="level"
            >
              <option value disabled>Job Level</option>
              <option value="ENTRY">ENTRY</option>
              <option value="INTERMEDIATE">INTERMEDIATE</option>
              <option value="EXPERIENCED">EXPERIENCED</option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
            >
              <svg
                class="fill-current h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="mt-2">
          <p class="text-gray-600 font-medium text-sm">
            Min yrs of work experience
          </p>
          <input
            class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="number"
            placeholder="Minimum Experience"
            v-model="experience"
            required
          />
        </div>
      </div>
      <div class="mt-6">
        <p class="text-gray-600 font-medium text-sm">Min Qualification</p>
        <div class="relative">
          <select
            class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
            id="grid-state"
            v-model="qualification"
          >
            <option value disabled>Job Level</option>
            <option value="SSCE">SSCE</option>
            <option value="BACHELOR">BACHELOR</option>
            <option value="MASTERS">MASTERS</option>
            <option value="PhD">PHD</option>
            <option value="None">None</option>
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="absolute bottom-0 right-0 my-4 lg:mt-8 items-center">
        <div class="inline-block mr-5">
          <easiButton
            @click.stop.native="
              $router.push({ name: 'RecruitmentGeneralJobInformation' })
            "
            variant="outline"
          >
            <div class="px-3 font-normal text-xs leading-3">Previous</div>
          </easiButton>
        </div>
        <div class="inline-block">
          <easiButton>
            <div class="px-4 font-normal text-xs leading-3">Next</div>
          </easiButton>
        </div>
      </div>
    </form>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters(["jobCreation"]),
    level: {
      get() {
        return this.jobCreation.level;
      },
      set(value) {
        this.$store.commit("set", {
          type: "createJobs",
          data: {
            ...this.jobCreation,
            level: value,
          },
        });
      },
    },
    experience: {
      get() {
        return this.jobCreation.minYearsOfExperience;
      },
      set(value) {
        this.$store.commit("set", {
          type: "createJobs",
          data: {
            ...this.jobCreation,
            minYearsOfExperience: value,
          },
        });
      },
    },
    qualification: {
      get() {
        return this.jobCreation.minQualification;
      },
      set(value) {
        this.$store.commit("set", {
          type: "createJobs",
          data: {
            ...this.jobCreation,
            minQualification: value,
          },
        });
      },
    },
  },
  methods: {
    send() {
      this.$router.push({ name: "RecruitmentJobDescription" });
    },
  },
};
</script>

<style>
</style>