<template>
  <main>
    <div class="py-3 flex items-center border">
      <div
        class="text-sm text-gray-900 pl-4"
      >{{allDraftjobs.count}} {{(allDraftjobs.count > 1) ? 'Listings' : 'Listing'}}</div>

      <div class="ml-10">
        <input
          v-model.lazy="activeDraftPayload.search"
          type="text"
          class="focus:outline-none text-xs w-64 text-gray-600 appearance-none border rounded-sm leading-7 pl-3"
          placeholder="Search"
        />
      </div>
    </div>
    <easiTable name="JobDraft" title="Draft" :headers="title" :jobs="allDraftjobs.data" />
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      title: ["Title", "Location", "Salary", "Created", "Level", "Action"],
      activeDraftPayload: {
        limit: 10,
        skip: 0,
        status: "DRAFT",
        search: null
      }
    };
  },

  watch: {
    "activeDraftPayload.search": function(x) {
      if (x === "") {
        x = null;
      }
    }
  },

  computed: {
    ...mapGetters(["getDraftJobs"]),
    allDraftjobs() {
      return this.getDraftJobs;
    }
  },

  methods: {
    async aciveDraftRequest() {
      await this.$store.dispatch("query", {
        endpoint: "ListJobs",
        payload: this.activeDraftPayload,
        storeKey: "draftJobs"
      });
    }
  },

  mounted() {
    this.activeDraftPayload.search = null;
  },
  async created() {
    let res = await this.aciveDraftRequest();
  }
};
</script>
