<template>
  <main class="h-98">
    <form @submit.prevent="send">
      <div class="mt-2">
        <p class="text-gray-600 font-medium text-sm">Job Title</p>
        <input
          class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
          type="text"
          placeholder="Enter Your Company Website"
          v-model="title"
          required
        />
      </div>
      <div class="grid grid-cols-1 lg:col-gap-5 lg:grid-cols-2">
        <div class="mt-6">
          <p class="text-gray-600 font-medium text-sm">Job Type</p>
          <div class="relative">
            <select
              class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
              id="grid-state"
              v-model="employment"
              required
            >
              <option value disabled>Select Job Type</option>
              <option value="FULLTIME_ONSITE">FULLTIME ONSITE</option>
              <option value="CONTRACT_ONSITE">CONTRACT ONSITE</option>
              <option value="FULLTIME_REMOTE">FULLTIME REMOTE</option>
              <option value="CONTRACT_REMOTE">CONTRACT REMOTE</option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
            >
              <svg
                class="fill-current text-gray-500 h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="mt-6">
          <p class="text-gray-600 font-medium text-sm">Job Category</p>
          <div class="relative">
            <select
              class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
              id="grid-state"
              v-model="jobCategory"
              required
            >
              <option value disabled>Select Job Category</option>
              <option value="INTERNSHIP">Internship</option>
              <option value="CONTRACT">Contract</option>
              <option value="FULLTIME">Full Time</option>
              <option value="PARTTIME">Part Time</option>
              <option value="FREELANCE">Freelance</option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
            >
              <svg
                class="fill-current text-gray-500 h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="mt-6">
          <p class="text-gray-600 font-medium text-sm">Salary Currency</p>
          <div class="relative">
            <select
              class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
              id="grid-state"
              v-model="currency"
              required
            >
              <option value disabled>Select Currency</option>
              <option value="NGN">NGN</option>
              <option value="GBP">GBP</option>
              <option value="EUR">EUR</option>
              <option value="USD">USD</option>
              <option value="CAD">CAD</option>
              <option value="AED">AED</option>
              <option value="JPY">JPY</option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
            >
              <svg
                class="fill-current text-gray-500 h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="mt-6">
          <p class="text-gray-600 font-medium text-sm">Min Salary</p>
          <input
            class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="number"
            placeholder="Min Salary"
            v-model="minSalary"
            required
          />
        </div>
        <div class="mt-6">
          <p class="text-gray-600 font-medium text-sm">Max Salary</p>
          <input
            class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="number"
            placeholder="Max Salary"
            v-model="maxSalary"
            required
          />
        </div>

        <div class="mt-6">
          <p class="text-gray-600 font-medium text-sm">Country</p>
          <div class="relative">
            <select
              class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
              id="grid-state"
              v-model="country"
              required
            >
              <option value disabled>Countries</option>
              <option v-for="(k, i) in countries" :key="i" :value="k">
                {{ k }}
              </option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
            >
              <svg
                class="fill-current text-gray-500 h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="mt-6">
          <p class="text-gray-600 font-medium text-sm">State</p>
          <div class="relative">
            <select
              class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
              id="grid-state"
              :disabled="allState.length == 0"
              v-model="state"
              required
            >
              <option value selected>Select State</option>
              <option v-for="(k, i) in allState" :key="i" :value="k">
                {{ k }}
              </option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
            >
              <svg
                class="fill-current text-gray-500 h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-1 lg:col-gap-5 lg:grid-cols-2"></div>
      <div class="text-right my-4 lg:mt-8 items-center">
        <div class="inline-block">
          <easiButton>
            <div class="px-4 font-normal text-xs leading-3">Next</div>
          </easiButton>
        </div>
      </div>
    </form>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      allState: [],
    };
  },

  watch: {
    country: {
      immediate: true,
      handler(x) {
        if (x) {
          let allCountry = this.getCountries.find((state) => {
            return state.name == x;
          });
          let states = [];
          allCountry.states.map((x) => {
            states.push(x.name);
          });
          this.allState = states;
        }
      },
    },
  },
  computed: {
    ...mapGetters(["editJob", "getCountries"]),
    countries() {
      let allCountries = this.getCountries;
      let k = [];
      allCountries.map((x) => {
        k.push(x.name);
      });
      return k;
    },
    title: {
      get() {
        return this.editJob.title;
      },
      set(value) {
        this.$store.commit("set", {
          type: "editJobs",
          data: {
            ...this.editJob,
            title: value,
          },
        });
      },
    },
    employment: {
      get() {
        return this.editJob.employment;
      },
      set(value) {
        this.$store.commit("set", {
          type: "editJobs",
          data: {
            ...this.editJob,
            employment: value,
          },
        });
      },
    },
    currency: {
      get() {
        return this.editJob.salaryCurrency;
      },
      set(value) {
        this.$store.commit("set", {
          type: "editJobs",
          data: {
            ...this.editJob,
            salaryCurrency: value,
          },
        });
      },
    },
    minSalary: {
      get() {
        return this.editJob.minSalary;
      },
      set(value) {
        this.$store.commit("set", {
          type: "editJobs",
          data: {
            ...this.editJob,
            minSalary: value,
          },
        });
      },
    },
    jobCategory: {
      get() {
        return this.editJob.jobCategory;
      },
      set(value) {
        this.$store.commit("set", {
          type: "createJobs",
          data: {
            ...this.editJob,
            jobCategory: value,
          },
        });
      },
    },
    maxSalary: {
      get() {
        return this.editJob.maxSalary;
      },
      set(value) {
        this.$store.commit("set", {
          type: "editJobs",
          data: {
            ...this.editJob,
            maxSalary: value,
          },
        });
      },
    },
    country: {
      get() {
        if (this.getCountries.length) return this.editJob.country;
      },
      set(value) {
        this.$store.commit("set", {
          type: "editJobs",
          data: {
            ...this.editJob,
            country: value,
          },
        });
      },
    },
    state: {
      get() {
        return this.editJob.state;
      },
      set(value) {
        this.$store.commit("set", {
          type: "editJobs",
          data: {
            ...this.editJob,
            state: value,
          },
        });
      },
    },
  },
  methods: {
    send() {
      // this.$store.commit("resetDefault", {
      //   value: "editJobs",
      //   type: ""
      // });
      this.$router.push({ name: "EditRecruitmentCandidateBackground" });
    },
  },
  // mounted() {
  //   this.send();
  // }
};
</script>

<style>
</style>