<template>
  <main>
    <div>
      <!-- <p class="text-gray-600 absolute right-0 top-0 pt-5 pr-5 font-medium text-sm">* = Required</p> -->

      <div class="mt-2">
        <p class="text-gray-600 font-medium text-sm">
          Intro
          <span class="text-orange-500">*</span>
        </p>
        <easiEditor required v-model.lazy="intro" class="w-full mt-2 py-2" />
      </div>
      <div class="mt-6">
        <p class="text-gray-600 font-medium text-sm">
          What you will do
          <span class="text-orange-500">*</span>
        </p>
        <easiEditor required v-model.lazy="keyActivities" class="w-full mt-2 py-2" />
      </div>
      <div class="mt-6">
        <p class="text-gray-600 font-medium text-sm">
          Skills/Job Requirements
          <span class="text-orange-500">*</span>
        </p>
        <easiEditor required v-model.lazy="skillsAndRequirements" class="w-full mt-2 py-2" />
      </div>
      <div class="mt-6">
        <p class="text-gray-600 font-medium text-sm">
          Benefits
          <span class="text-orange-500">*</span>
        </p>
        <easiEditor required v-model.lazy="perksAndBenefits" class="w-full mt-2 py-2" />
      </div>
      <div class="mt-6">
        <p class="text-gray-600 font-medium text-sm">Others</p>
        <easiEditor v-model.lazy="others" class="w-full mt-2 py-2" />
      </div>
      <div class="text-right my-4 lg:mt-8 items-center">
        <div class="inline-block mr-5">
          <easiButton
            @click.stop.native="$router.push({name:'RecruitmentCandidateBackground'})"
            variant="outline"
          >
            <div class="px-3 font-normal text-xs leading-3">Previous</div>
          </easiButton>
        </div>
        <div class="inline-block">
          <easiButton @click.native="send">
            <div class="px-4 font-normal text-xs leading-3">Next</div>
          </easiButton>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters(["jobCreation"]),
    intro: {
      get() {
        return this.jobCreation.intro;
      },
      set(value) {
        this.$store.commit("set", {
          type: "createJobs",
          data: {
            ...this.jobCreation,
            intro: value
          }
        });
      }
    },
    keyActivities: {
      get() {
        return this.jobCreation.keyActivities;
      },
      set(value) {
        this.$store.commit("set", {
          type: "createJobs",
          data: {
            ...this.jobCreation,
            keyActivities: value
          }
        });
      }
    },
    skillsAndRequirements: {
      get() {
        return this.jobCreation.skillsAndRequirements;
      },
      set(value) {
        this.$store.commit("set", {
          type: "createJobs",
          data: {
            ...this.jobCreation,
            skillsAndRequirements: value
          }
        });
      }
    },
    perksAndBenefits: {
      get() {
        return this.jobCreation.perksAndBenefits;
      },
      set(value) {
        this.$store.commit("set", {
          type: "createJobs",
          data: {
            ...this.jobCreation,
            perksAndBenefits: value
          }
        });
      }
    },
    others: {
      get() {
        return this.jobCreation.others;
      },
      set(value) {
        this.$store.commit("set", {
          type: "createJobs",
          data: {
            ...this.jobCreation,
            others: value
          }
        });
      }
    }
  },
  methods: {
    send() {
      if (
        this.intro === "" ||
        this.intro.includes("<p></p>") ||
        this.keyActivities === "" ||
        this.keyActivities.includes("<p></p>") ||
        this.perksAndBenefits === "" ||
        this.perksAndBenefits.includes("<p></p>")
      ) {
        this.$toast.warning("Fill in the required fields.", {
          position: "bottom"
        });
      } else {
        this.$router.push({ name: "RecruitmentAssessment" });
      }
    }
  }
};
</script>

<style>
</style>