<template>
  <main>
    <div class="flex items-center">
      <easiBackButton
        @click.native="$router.push({ name: 'RecruitmentActive' })"
      />
      <h1
        @click="$store.commit('populate')"
        class="pl-64 text-gray-800 w-full text-xl logo"
      >
        Post a Job
      </h1>
    </div>
    <easiContainerColumn
      topOne="6rem"
      cssOne="sticky "
      widthOne="w-2/6"
      widthTwo="w-8/12"
    >
      <template v-slot:first>
        <ul>
          <li class="mb-3">
            <router-link
              class="focus:outline-none font-light"
              tag="button"
              exact-active-class=" text-easiorange "
              :to="{ name: 'RecruitmentGeneralJobInformation' }"
              >1. General Job Information</router-link
            >
          </li>
          <li class="mb-3">
            <router-link
              :class="{
                'opacity-50 cursor-not-allowed': jobInformationDisable,
              }"
              :disabled="jobInformationDisable"
              class="focus:outline-none font-light"
              tag="button"
              exact-active-class=" text-easiorange "
              :to="{ name: 'RecruitmentCandidateBackground' }"
              >2. Candidate Background</router-link
            >
          </li>
          <li class="mb-3">
            <!-- :class="{'opacity-50 cursor-not-allowed': [jobInformationDisable, candidateBackgroundDisabled]}" -->
            <!-- :disabled="[jobInformationDisable, candidateBackgroundDisabled]" -->
            <router-link
              :class="{
                'opacity-50 cursor-not-allowed':
                  jobInformationDisable || candidateBackgroundDisabled,
              }"
              :disabled="jobInformationDisable || candidateBackgroundDisabled"
              class="focus:outline-none font-light"
              tag="button"
              exact-active-class=" text-easiorange "
              :to="{ name: 'RecruitmentJobDescription' }"
              >3. Job Description</router-link
            >
          </li>
          <li class="mb-3">
            <router-link
              :class="{
                'opacity-50 cursor-not-allowed':
                  jobInformationDisable ||
                  candidateBackgroundDisabled ||
                  jobDescription,
              }"
              :disabled="
                jobInformationDisable ||
                candidateBackgroundDisabled ||
                jobDescription
              "
              class="focus:outline-none font-light"
              tag="button"
              active-class=" text-easiorange "
              :to="{ path: '/dashboard/recruitment/jobs/post-jobs/assessment' }"
              >4. Assessment</router-link
            >
          </li>
        </ul>
        <div class="flex items-center justify-between mt-10 mb-5">
          <div
            v-if="
              $route.name == 'RecruitmentAssessment' ||
              $route.name == 'RecruitmentAddAssessment'
            "
          >
            <easiButton
              :class="{
                'opacity-75 cursor-not-allowed  pointer-events-none': loading,
              }"
              @click.native="draftSave"
              variant="outline"
            >
              <div class="leading-3">Save As Draft</div>
            </easiButton>
          </div>
          <div>
            <easiButton
              :class="{
                'opacity-75 cursor-not-allowed  pointer-events-none': jobInformationDisable,
              }"
              @click.native="
                $router.push({ name: 'RecruitmentPostJobPreview' })
              "
              variant="secondary"
            >
              <div class="px-4 leading-3">Preview</div>
            </easiButton>
          </div>
        </div>
      </template>
      <template v-slot:second>
        <router-view />
      </template>
    </easiContainerColumn>

    <easiModal v-if="jobModal" @close="closeModal">
      <template v-slot:header>
        <div></div>
      </template>
      <div class="flex justify-center flex-col items-center pb-12">
        <svg
          class="w-16 h-16 text-easiorange fill-current"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            d="M501.36 383.95L320.5 51.47c-29.06-48.92-99.9-48.98-129 0L10.65 383.95c-29.7 49.99 6.26 113.3 64.48 113.3h361.74c58.17 0 94.2-63.26 64.5-113.3zM256 437.25c-16.54 0-30-13.47-30-30 0-16.55 13.46-30 30-30s30 13.45 30 30c0 16.53-13.46 30-30 30zm30-120c0 16.53-13.46 30-30 30s-30-13.47-30-30v-150c0-16.55 13.46-30 30-30s30 13.45 30 30v150z"
          />
        </svg>
        <div class="mt-3 text-sm font-thin">
          All post content would be deleted
        </div>
        <div class="w-full flex px-12 justify-between mt-8">
          <easiButton @click.native="draftSave" variant="outline">
            <div class="leading-4 px-8">Save to Draft</div>
          </easiButton>
          <easiButton @click.native="send">
            <div class="leading-4 px-2">Go To Assessment Group</div>
          </easiButton>
        </div>
      </div>
    </easiModal>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      modal: false,
    };
  },
  computed: {
    ...mapGetters(["jobCreation", "jobModal", "checkLoading"]),
    loading() {
      return this.checkLoading;
    },
    jobInformationDisable() {
      let {
        title,
        JobType,
        salaryCurrency,
        minSalary,
        maxSalary,
        country,
        state,
      } = this.jobCreation;
      if (
        title === "" ||
        JobType === "" ||
        salaryCurrency === "" ||
        minSalary === "" ||
        maxSalary === "" ||
        country === "" ||
        state === ""
      ) {
        return true;
      } else {
        return false;
      }
    },
    candidateBackgroundDisabled() {
      let { level, minYearsOfExperience, minQualification } = this.jobCreation;
      if (
        level === "" ||
        minYearsOfExperience === "" ||
        minQualification === ""
      ) {
        return true;
      } else {
        return false;
      }
    },
    jobDescription() {
      let {
        intro,
        keyActivities,
        skillsAndRequirements,
        perksAndBenefits,
        others,
      } = this.jobCreation;
      if (
        intro === "" ||
        intro.includes("<p></p>") ||
        keyActivities === "" ||
        keyActivities.includes("<p></p>") ||
        perksAndBenefits === "" ||
        perksAndBenefits.includes("<p></p>")
      ) {
        return true;
      } else {
        return false;
      }
    },
  },
  methods: {
    closeModal() {
      this.$store.commit("change", {
        type: "openJobModal",
        data: false,
      });
    },
    async draftSave() {
      let activeArgs = {
        status: "DRAFT",
      };
      let activeJob = { ...this.jobCreation, ...activeArgs };
      if (activeJob.assessmentCategoryId === "") {
        activeJob.assessmentCategoryId = null;
      }

      let res = await this.$store.dispatch("mutate", {
        endpoint: "CreateJob",
        data: { jobInput: activeJob },
      });
      if (res.success) {
        this.$store.commit("setSuccess", {
          message: "Draft Saved Successfully",
          value: "createJobs",
          type: "",
        });
        this.$router.push({ name: "RecruitmentDraft" });
      }
    },
    send() {
      this.$store.commit("resetDefault", {
        value: "createJobs",
        type: "",
      });
      this.$router.push({ name: "RecruitmentCategories" });
      this.closeModal();
    },
  },

  mounted() {
    // console.log(this.jobInformationDisable, "one");

    console.log(this.jobDescription, "three");
  },
};
</script>

<style>
</style>