<template>
  <main>
    <div class="shadow-xs bg-white py-4 flex justify-center items-center flex-col">
      <easiButton variant="outline" class="inline-block">
        <div class="leading-3 text-sm px-4">Preview not Publish</div>
      </easiButton>
      <p
        class="pt-3 text-gray-600 text-xs tracking-wide font-light"
      >This is a preview of your job ad. Changes are not visible until you publish your job.</p>
    </div>
    <easiJobView class="mt-6" />
  </main>
</template>


