<template>
  <main>
    <div class="minimum flex justify-center items-center px-10 flex-col">
      <h1 class="logo text-base font-normal">Assessment Page</h1>
      <p class="text-center text-sm leading-5 mt-4">
        You can choose to publish the Job without Assessments or click the Add
        Assessment button to add already created Assessment.
      </p>
      <p class="text-center text-sm leading-5 mt-4">
        NB: If an assesment hasnt been created, and you wish to add an
        assessment to a job posting, kindly save the already created job as
        draft, create an assessment-group, update the job before publishing
      </p>
      <div class="mt-10 flex justify-between w-full px-10">
        <easiButton
          @click.native="$router.push({ name: 'RecruitmentAddAssessment' })"
          variant="outline"
        >
          <div class="leading-4 px-6">Add Assessment</div>
        </easiButton>
        <easiButton @click.native="publishJob" variant="outline">
          <div class="leading-4 px-6">Publish Without</div>
        </easiButton>
      </div>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters(["jobCreation"]),
  },
  methods: {
    async publishJob() {
      let activeArgs = {
        status: "OPEN",
        assessmentCategoryId: null,
      };
      let activeJob = { ...this.jobCreation, ...activeArgs };
      // console.log(activeJob, "plom");

      let res = await this.$store.dispatch("mutate", {
        endpoint: "CreateJob",
        data: { jobInput: activeJob },
      });
      if (res.success) {
        this.$store.commit("setSuccess", {
          message: "Job Sucessfully Posted",
          value: "createJobs",
          type: "",
        });
        this.$router.push({ name: "RecruitmentActive" });
      }
    },
  },
};
</script>

<style>
</style>