<template>
  <main>
    <div class="flex items-center">
      <easiBackButton
        @click.native="$router.push({ name: 'RecruitmentActive' })"
      />
      <h1
        @click="$store.commit('populate')"
        class="pl-64 text-gray-800 w-full text-xl logo"
      >
        Request Applicants
      </h1>
    </div>
    <easiContainerColumn
      topOne="6rem"
      cssOne="sticky "
      widthOne="w-2/6"
      widthTwo="w-8/12"
    >
      <template v-slot:first>
        <ul>
          <li class="mb-3">
            <router-link
              class="focus:outline-none font-light"
              tag="button"
              exact-active-class=" text-easiorange "
              :to="{ name: 'RecruitmentRequestApplicantRequest' }"
              >1. Request</router-link
            >
          </li>
          <li class="mb-3">
            <router-link
              :class="{
                'opacity-50 cursor-not-allowed': jobInformationDisable,
              }"
              :disabled="jobInformationDisable"
              class="focus:outline-none font-light"
              tag="button"
              exact-active-class=" text-easiorange "
              :to="{ name: 'RecruitmentRequestApplicantAssessment' }"
              >2. Assessment</router-link
            >
          </li>
        </ul>
      </template>
      <template v-slot:second>
        <router-view />
      </template>
    </easiContainerColumn>
  </main>
</template>

<script>
export default {};
</script>

<style>
</style>