<template>
    <main>
      <div class="grid grid-cols-1 lg:col-gap-5 lg:grid-cols-2">
      <div class="">
          <p class="text-gray-600 font-medium text-sm">Job Title</p>
          <div class="relative">
            <select
              class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
              id="grid-state"
              v-model="employment"
              required
            >
              <option value disabled>Select Job Type</option>
              <option value="FULLTIME_ONSITE">FULLTIME ONSITE</option>
              <option value="CONTRACT_ONSITE">CONTRACT ONSITE</option>
              <option value="FULLTIME_REMOTE">FULLTIME REMOTE</option>
              <option value="CONTRACT_REMOTE">CONTRACT REMOTE</option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
            >
              <svg
                class="fill-current text-gray-500 h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="">
          <p class="text-gray-600 font-medium text-sm">Job Level</p>
          <div class="relative">
            <select
              class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
              id="grid-state"
              v-model="jobCategory"
              required
            >
              <option value disabled>Select Job Category</option>
              <option value="INTERNSHIP">Internship</option>
              <option value="CONTRACT">Contract</option>
              <option value="FULLTIME">Full Time</option>
              <option value="PARTTIME">Part Time</option>
              <option value="FREELANCE">Freelance</option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
            >
              <svg
                class="fill-current text-gray-500 h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="mt-6">
          <p class="text-gray-600 font-medium text-sm">Min Qualification</p>
          <div class="relative">
            <select
              class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
              id="grid-state"
              v-model="employment"
              required
            >
              <option value disabled>Select Job Type</option>
              <option value="FULLTIME_ONSITE">FULLTIME ONSITE</option>
              <option value="CONTRACT_ONSITE">CONTRACT ONSITE</option>
              <option value="FULLTIME_REMOTE">FULLTIME REMOTE</option>
              <option value="CONTRACT_REMOTE">CONTRACT REMOTE</option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
            >
              <svg
                class="fill-current text-gray-500 h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="mt-6">
          <p class="text-gray-600 font-medium text-sm">Min yrs of work experience</p>
          <div class="relative">
            <select
              class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
              id="grid-state"
              v-model="employment"
              required
            >
              <option value disabled>Select Job Type</option>
              <option value="FULLTIME_ONSITE">FULLTIME ONSITE</option>
              <option value="CONTRACT_ONSITE">CONTRACT ONSITE</option>
              <option value="FULLTIME_REMOTE">FULLTIME REMOTE</option>
              <option value="CONTRACT_REMOTE">CONTRACT REMOTE</option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
            >
              <svg
                class="fill-current text-gray-500 h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
        </div>
        </div>
        <div class="mt-6">
          <p class="text-gray-600 font-medium text-sm">Skills</p>
          <div class="relative">
            <select
              class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
              id="grid-state"
              v-model="employment"
              required
            >
              <option value disabled>Select Job Type</option>
              <option value="FULLTIME_ONSITE">FULLTIME ONSITE</option>
              <option value="CONTRACT_ONSITE">CONTRACT ONSITE</option>
              <option value="FULLTIME_REMOTE">FULLTIME REMOTE</option>
              <option value="CONTRACT_REMOTE">CONTRACT REMOTE</option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
            >
              <svg
                class="fill-current text-gray-500 h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-1 lg:col-gap-5 lg:grid-cols-2">
      <div class="mt-6">
          <p class="text-gray-600 font-medium text-sm">Availabilty</p>
          <div class="relative">
            <select
              class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
              id="grid-state"
              v-model="employment"
              required
            >
              <option value disabled>Select Job Type</option>
              <option value="FULLTIME_ONSITE">FULLTIME ONSITE</option>
              <option value="CONTRACT_ONSITE">CONTRACT ONSITE</option>
              <option value="FULLTIME_REMOTE">FULLTIME REMOTE</option>
              <option value="CONTRACT_REMOTE">CONTRACT REMOTE</option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
            >
              <svg
                class="fill-current text-gray-500 h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="mt-6">
          <p class="text-gray-600 font-medium text-sm">Location</p>
          <div class="relative">
            <select
              class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
              id="grid-state"
              v-model="jobCategory"
              required
            >
              <option value disabled>Select Job Category</option>
              <option value="INTERNSHIP">Internship</option>
              <option value="CONTRACT">Contract</option>
              <option value="FULLTIME">Full Time</option>
              <option value="PARTTIME">Part Time</option>
              <option value="FREELANCE">Freelance</option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
            >
              <svg
                class="fill-current text-gray-500 h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="mt-6">
          <p class="text-gray-600 font-medium text-sm">Duration</p>
          <div class="relative">
            <select
              class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
              id="grid-state"
              v-model="employment"
              required
            >
              <option value disabled>Select Job Type</option>
              <option value="FULLTIME_ONSITE">FULLTIME ONSITE</option>
              <option value="CONTRACT_ONSITE">CONTRACT ONSITE</option>
              <option value="FULLTIME_REMOTE">FULLTIME REMOTE</option>
              <option value="CONTRACT_REMOTE">CONTRACT REMOTE</option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
            >
              <svg
                class="fill-current text-gray-500 h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="mt-6">
          <p class="text-gray-600 font-medium text-sm"></p>
          <div class="relative">
            <select
              class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
              id="grid-state"
              v-model="employment"
              required
            >
              <option value disabled>Select Job Type</option>
              <option value="FULLTIME_ONSITE">FULLTIME ONSITE</option>
              <option value="CONTRACT_ONSITE">CONTRACT ONSITE</option>
              <option value="FULLTIME_REMOTE">FULLTIME REMOTE</option>
              <option value="CONTRACT_REMOTE">CONTRACT REMOTE</option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
            >
              <svg
                class="fill-current text-gray-500 h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="mt-6">
          <p class="text-gray-600 font-medium text-sm">Number of Applicants</p>
          <div class="relative">
            <select
              class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
              id="grid-state"
              v-model="employment"
              required
            >
              <option value disabled>Select Job Type</option>
              <option value="FULLTIME_ONSITE">FULLTIME ONSITE</option>
              <option value="CONTRACT_ONSITE">CONTRACT ONSITE</option>
              <option value="FULLTIME_REMOTE">FULLTIME REMOTE</option>
              <option value="CONTRACT_REMOTE">CONTRACT REMOTE</option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
            >
              <svg
                class="fill-current text-gray-500 h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="mt-6">
          <p class="text-gray-600 font-medium text-sm">Percentile</p>
          <div class="relative">
            <select
              class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
              id="grid-state"
              v-model="employment"
              required
            >
              <option value disabled>Select Job Type</option>
              <option value="FULLTIME_ONSITE">FULLTIME ONSITE</option>
              <option value="CONTRACT_ONSITE">CONTRACT ONSITE</option>
              <option value="FULLTIME_REMOTE">FULLTIME REMOTE</option>
              <option value="CONTRACT_REMOTE">CONTRACT REMOTE</option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
            >
              <svg
                class="fill-current text-gray-500 h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
        </div>
        </div>


        <div class="grid grid-cols-1 lg:col-gap-5 lg:grid-cols-2"></div>
        <div class="text-right my-4 lg:mt-8 items-center">
            <div class="inline-block">
            <easiButton>
                <div class="px-4 font-normal text-xs leading-3">Next</div>
            </easiButton>
            </div>
        </div>
    </main>
</template>

<script>
</script>