<template>
  <main>
    <div class="p-6 shadow-xs bg-white mt-6 minimum">
      <h1
        class="text-xs mt-5 text-gray-800 pb-2 border-b Up capitalize leading-6 tracking-wide"
      >
        Experience:
      </h1>
      <div v-if="getCurrentApplicant.data.career" class="mt-3">
        <div
          v-for="(experience, index) in getCurrentApplicant.data.career
            .experience"
          :key="index"
        >
          <div
            class="text-xs text-gray-700 tracking-wider whitespace-pre-wrap leading-6"
          >
            <div class="border-dashed border border-gray-700 mb-3 p-4">
              <div class="grid grid-cols-2">
                <div class="flex items-center">
                  <div class="text-gray-800 font-body">Tite:</div>
                  <div class="text-blue-600 capitalize font-normal">
                    {{ experience.title }}
                  </div>
                </div>
                <div class="flex items-center">
                  <div class="text-gray-800 font-body">
                    Tite: Employment Type:
                  </div>
                  <div class="text-blue-600 capitalize font-normal">
                    {{ experience.employmentType }}
                  </div>
                </div>
                <div class="flex items-center">
                  <div class="text-gray-800 font-body">Company:</div>
                  <div class="text-blue-600 capitalize font-normal">
                    {{ experience.company }}
                  </div>
                </div>
                <div class="flex items-center">
                  <div class="text-gray-800 font-body">Location:</div>
                  <div class="text-blue-600 capitalize font-normal">
                    {{ experience.location }}
                  </div>
                </div>
                <div class="flex items-center">
                  <div class="text-gray-800 font-body">Start Date:</div>
                  <div class="text-blue-600 capitalize font-normal">
                    {{ moment(experience.startDate).format("MM-DD-YYYY") }}
                  </div>
                </div>
                <div class="flex items-center">
                  <div class="text-gray-800 font-body">End Date:</div>
                  <div class="text-blue-600 capitalize font-normal">
                    {{ moment(experience.endDate).format("MM-DD-YYYY") }}
                  </div>
                </div>
                <div class="flex items-center">
                  Currently Working Here:
                  <span class="text-blue-600 capitalize font-normal">
                    {{ experience.isPresent ? "Yes" : "No" }}
                  </span>
                </div>
              </div>
              <div class="px-0 mt-3">
                Description: {{ experience.description }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-3 text-gray-700 text-xs" v-else>
        Tell Us about your past Experience
      </div>
      <h1
        class="text-xs mt-5 text-gray-800 pb-2 border-b Up capitalize leading-6 tracking-wide"
      >
        Education:
      </h1>
      <div v-if="getCurrentApplicant.data.career" class="mt-3">
        <div
          v-for="(education, index) in getCurrentApplicant.data.career
            .education"
          :key="index"
        >
          <div
            class="text-xs text-gray-700 tracking-wider whitespace-normal leading-5 border border-dashed mb-3 border-gray-700 p-4"
          >
            <div class="flex justify-between">
              <div class="flex items-center">
                <div>{{ education.degree }} |</div>
                <div class="pl-1">{{ education.school }} |</div>
                <div class="pl-1">
                  {{ education.fieldOfStudy }}
                </div>
              </div>
              <div class="flex items-center">
                <div class="text-blue-600 font-bold">
                  {{ moment(education.startYear).format("YYYY") }} -
                </div>
                <div class="text-blue-600 font-bold">
                  {{ moment(education.endDate).format("YYYY") }}
                </div>
              </div>
            </div>
            <div>
              {{ education.grade }}
              <div class="">
                {{ education.description }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import moment from "moment";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      moment,
    };
  },
  computed: {
    ...mapGetters(["currentInfo", "getCurrentJob", "getCurrentApplicant"]),
  },
  async created() {
    console.log(this.currentInfo, "llol");
    await this.$store.dispatch("query", {
      endpoint: "ViewJob",
      payload: { id: this.currentInfo.jobId },
      storeKey: "viewJob",
    });
    await this.$store.dispatch("query", {
      endpoint: "ViewApplicantByID",
      payload: { id: this.currentInfo.applicantId },
      storeKey: "currentApplicant",
    });
    console.log(this.getCurrentApplicant, "lol");
  },
};
</script>

<style>
</style>