<template>
  <main id="candidates-application-one" class="flex mt-6">
    <div class="drop-links shadow-xs">
      <div @click="current++" class="text-sm">Hiring Process</div>
      <Steps :stuff="current" />
    </div>
    <div class="present shadow-xs">
      <div v-if="current == 3">
        <div class="header-one">Test Result</div>
        <div class="header-one mt-5">Title</div>
        <div class="header-two mt-2">Design Challenge</div>
        <div class="header-one mt-5">Details</div>
        <div class="header-two mt-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Non esse,
          nobis id possimus, necessitatibus quidem eos explicabo unde doloribus
          quos quia, expedita sunt vitae deserunt ut nam blanditiis iusto fuga.
        </div>
        <div class="mt-5 header-one">File</div>
        <div class="file"></div>
      </div>
      <div v-if="current == 4">
        <b-card no-body>
          <b-tabs pills card>
            <b-tab active title="View Interview">
              <b-card-text>
                <div class="mt-5 flex items-center">
                  <img src="@/assets/job-icon.svg" alt />
                  <div class="ml-2">
                    <div class="header-one">Bunmi Omoyini</div>
                    <div class="header-two">Fri, Feb 24th, 2020, 11:34 am</div>
                  </div>
                </div>
                <div class="header-one mt-space-two">Product Manager</div>
                <div class="header-one mt-2 orange">Interview</div>
                <div class="mt-5">
                  <span class="header-one orange border py-3 px-4"
                    >Tuesday, 1st April, 2020. 12:00 pm WAT</span
                  >
                </div>
                <div class="mt-5">
                  <button class="orange-outline-button mr-3">Cancel</button>
                  <button class="orange-outline-button">Reschedule</button>
                </div>
              </b-card-text>
            </b-tab>
            <b-tab title="Create Interview">
              <b-card-text>
                <div class="header-one mt-5">Title</div>
                <input type="text" class="w-100 input-one mt-2" />

                <div class="header-one mt-4">Invite</div>
                <input type="text" class="w-100 input-one mt-2" />

                <div class="header-one mt-4">Set Details</div>
                <div class="flex mt-3">
                  <div class="select">
                    <select name="slct" id="slct">
                      <option value="1" selected>Select</option>
                      <option value="2">Newest</option>
                      <option value="6">Salary</option>
                      <option value="4">hhh</option>
                      <option value="9">tttt</option>
                      <option value="3">w22w2</option>
                    </select>
                  </div>
                  <div class="select ml-3">
                    <select name="slct" id="slct">
                      <option value="1" selected>Select</option>
                      <option value="2">Newest</option>
                      <option value="6">Salary</option>
                      <option value="4">hhh</option>
                      <option value="9">tttt</option>
                      <option value="3">w22w2</option>
                    </select>
                  </div>
                </div>
                <div class="flex justify-end my-5">
                  <button class="orange-button">Send</button>
                </div>
              </b-card-text>
            </b-tab>
            <b-tab title="Take Interview">
              <b-card-text>
                <div class="candidates-application-one-apply">
                  <div class="video-container">
                    <video class="video" autoplay>
                      <source src="movie.mp4" type="video/mp4" />
                      <source src="movie.ogg" type="video/ogg" />
                      Your browser does not support the video tag.
                    </video>
                    <div class="video-buttons">
                      <img src="@/assets/radio.svg" alt />
                      <img class="ml-3" src="@/assets/video.svg" alt />
                    </div>
                  </div>
                  <div class="header-one text-center mt-5 mb-3">
                    Ready to Join
                  </div>
                  <div class="flex justify-center w-100 items-center">
                    <button class="ask-button">Ask to Join</button>
                  </div>
                </div>
              </b-card-text>
            </b-tab>
          </b-tabs>
        </b-card>
      </div>
    </div>
  </main>
</template>

<script>
import Steps from "@/components/componentItems/Steps";
export default {
  components: {
    Steps,
  },
  data() {
    return {
      current: 3,
    };
  },
};
</script>

<style scoped>
.drop-links {
  background: #ffffff;
  border-radius: 3px;
  width: 15rem;
  height: 420px;
  position: relative;
  padding: 1.5rem 2rem;
}
.present {
  background: #ffffff;
  border-radius: 6px;
  margin-left: 2rem;
  width: 100%;
  padding: 1.5rem 2rem;
}
.file {
  background: #183059;
  border: 1px solid #e5e9f2;
  box-sizing: border-box;
  border-radius: 4px;
  width: 150px;
  height: 150px;
  margin-top: 1rem;
}
#candidates-application-one .card {
  border: none !important;
}
#candidates-application-one .dropdown-container select {
  display: none;
}
#candidates-application-one select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #ffffff;
  color: #909090;
  font-size: 0.8rem;
  background-image: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
}
select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 3;
  background: #ffffff;
  overflow: hidden;
  border: 1px solid #e0e6ed;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
select {
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select::after {
  content: "\25BC";
  position: absolute;
  font-size: 11px;
  right: 5px;
  padding: 0 1em;
  color: #909090;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
</style>
<style>
#candidates-application-one .card-header {
  padding: 0 0.5rem !important;
  background-color: white !important;
  border-bottom: none !important;
  border: none !important;
  outline: none !important;
}
#candidates-application-one .nav-pills .nav-link.active {
  color: #444444 !important;
  font-size: 0.8rem !important;
  background: none !important;
  outline: none !important;
}
#candidates-application-one .nav-link {
  display: flex !important;
  padding: 0 !important;
  margin-right: 50px;
}
#candidates-application-one a {
  color: #d3dce6;
  font-size: 0.8rem !important;
  outline: none !important;
}
#candidates-application-one .video-time {
  color: #e4572e;
  font-weight: 200;
  padding: 1rem;
}
#candidates-application-one .button-apply {
  height: 2.5rem;
  width: 7rem;
  font-weight: 200;
  border: 1px solid #e4572e;
  box-sizing: border-box;
  border-radius: 4px;
  background: transparent;
  color: #e4572e;
}
#candidates-application-one .video {
  background: black;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
#candidates-application-one .video-container {
  position: relative;
  height: 50vh;
  padding: 1rem 1rem 0;
  width: 100%;
}
#candidates-application-one .video-buttons {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
#candidates-application-one .ask-button {
  background: #e4572e;
  border-radius: 4px;
  font-size: 0.8rem;
  color: white;
  padding: 0.5rem 2rem;
  border: none;
}

.bd {
  border: 1px solid black;
}
</style>
