<template>
  <main>
    <div
      @click="$router.push({ name: 'RecruitmentActive' })"
      style="margin-top: -3.5rem; z-index: 9999"
      class="fixed flex items-center cursor-pointer"
    >
      <svg
        width="18"
        height="18"
        viewBox="0 0 22 22"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M6.22994 10.7723C6.09994 10.9013 6.10028 11.1103 6.22994 11.239L10.2569 15.2297C10.5713 15.5437 11.0423 15.073 10.7283 14.759L7.53328 11.5687C7.40294 11.4383 7.44861 11.333 7.62794 11.333H15.6696C15.8519 11.333 15.9999 11.1853 15.9999 11C15.9999 10.816 15.8489 10.667 15.6696 10.667H7.62794C7.44528 10.667 7.40394 10.5607 7.53328 10.4317L10.7283 7.24099C11.0423 6.92699 10.5713 6.45632 10.2569 6.77032L6.22994 10.7723Z"
          fill="#505050"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M21 11C21 5.47715 16.5228 1 11 1C5.47715 1 1 5.47715 1 11C1 16.5228 5.47715 21 11 21C16.5228 21 21 16.5228 21 11Z"
          stroke="#909090"
        />
      </svg>
      <div class="ml-2 text-xs text-gray-600 font-thin">Back</div>
    </div>
    <div class="pt-6 px-6 shadow-xs bg-white">
      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <div
            class="rounded-full border uppercase bg-red-300 border-red-400 text-pink-600 flex items-center justify-center w-12 h-12"
          >
            {{ current.firstName.charAt(0) }}
          </div>
          <div class="ml-2">
            <h1 class="text-sm text-gray-800">
              {{ current.firstName }} {{ current.lastName }}
            </h1>
            <p class="text-xs text-gray-600 font-light tracking-wide">
              Applied on
              {{
                moment(current.timeCreated).format("MMM DD  YYYY").split("T")[0]
              }}
            </p>
          </div>
        </div>
        <div class="flex items-center">
          <div class="ml-2">
            <div class="ml-5">
              <h1 class="text-sm text-gray-800">Status</h1>
              <p class="text-xs text-gray-600 font-light tracking-wide">
                {{ current.status }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-10">
        <div class="w-full bg-white flex items-center justify-between">
          <div class="flex items-center pl-2">
            <div v-for="(items, i) in links" :key="i">
              <router-link
                tag="button"
                :disabled="items.disabled"
                exact-active-class="  border-orange-600  box-border text-easiorange    border-b-2"
                :class="{
                  'py-4  leading-3': optional,
                  'opacity-50 cursor-not-allowed': items.disabled,
                }"
                class="focus:outline-none text-sm box-border lg:mr-10 mr-3 py-3 inline-flex items-center text-gray-600 tracking-wide"
                :to="{ name: items.routeLinks }"
              >
                <div
                  class="h-6 tracking-wide w-6 info flex items-center justify-center text-gray-600 mr-2 bg-gray-300 bg-opacity-75 rounded text-xs absolute"
                  v-if="items.info"
                >
                  {{ items.info }}
                </div>
                <div :class="items.info ? 'pl-8' : ''">
                  {{ items.routeName }}
                </div>
              </router-link>
            </div>
          </div>
          <div :class="{ 'py-1': optional }" class="pr-2">
            <slot />
          </div>
        </div>
      </div>
    </div>
    <router-view />
  </main>
</template>

<script>
import moment from "moment";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      moment,
      optional: false,
      links: [
        {
          routeName: "Overview",
          routeLinks: "RecruitmentViewApplicantOverview",
        },
        {
          routeName: "Profile",
          routeLinks: "RecruitmentViewApplicantProfile",
        },
        {
          routeName: "Application",
          routeLinks: "RecruitmentViewApplicantApplication",
        },
      ],
    };
  },
  computed: {
    ...mapGetters(["currentInfo"]),
    current() {
      if (this.currentInfo) {
        return this.currentInfo;
      }
    },
  },

  mounted() {
    if (this.$route.params.user) {
      this.$store.commit("set", {
        type: "viewInfo",
        data: {
          applied: this.$route.params.user.timeCreated,
          firstName: this.$route.params.user.applicant.firstName,
          lastName: this.$route.params.user.applicant.lastName,
          status: this.$route.params.user.applicant.status,
          applicantId: this.$route.params.user.applicant._id,
          jobId: this.$route.params.user.jobId,
        },
      });
    }
  },
};
</script>
