<template>
  <main>
    <div class="p-6 shadow-xs bg-white mt-6 h-96">
      <div class="grid grid-cols-2 items-center row-gap-8">
        <div class>
          <p class="text-gray-600 font-medium text-sm">Current Title</p>
          <p class="text-gray-600 font-light text-sm mt-1">
            {{ getCurrentApplicant.data.career.title }}
          </p>
        </div>
        <div class>
          <p class="text-gray-600 font-medium text-sm">Location</p>
          <p class="text-gray-600 font-light text-sm mt-1">
            {{ getCurrentApplicant.data.state }},
            {{ getCurrentApplicant.data.country }}
          </p>
        </div>
        <div class>
          <p class="text-gray-600 font-medium text-sm">Job Search Status</p>
          <p class="text-gray-600 font-light text-sm mt-1">
            {{ getCurrentApplicant.data.career.urgency }}
          </p>
        </div>
        <div class>
          <p class="text-gray-600 font-medium text-sm">Level</p>
          <p class="text-gray-600 font-light text-sm mt-1">
            {{ getCurrentApplicant.data.career.level }}
          </p>
        </div>
        <div class="items-center">
          <p class="text-gray-600 font-medium text-sm">Contact Information</p>
          <div v-if="!getCurrentJob.paidForJob">
            <svg
              class="w-10 h-10 mt-4"
              viewBox="0 0 56 56"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="28" cy="28" r="28" fill="#183059" />
              <path
                d="M26.4242 34.1443L26.0036 37.9261C25.9828 38.1143 26.0433 38.3031 26.1696 38.4444C26.2959 38.5856 26.4769 38.6664 26.6664 38.6664H29.3331C29.5225 38.6664 29.7035 38.5856 29.8298 38.4444C29.9561 38.3031 30.0167 38.1143 29.9958 37.9261L29.5753 34.1443C30.2582 33.6475 30.6664 32.8617 30.6664 31.9997C30.6664 30.529 29.4705 29.333 27.9997 29.333C26.5289 29.333 25.333 30.529 25.333 31.9997C25.333 32.8617 25.7413 33.6475 26.4242 34.1443ZM27.9997 30.6664C28.7347 30.6664 29.333 31.2647 29.333 31.9997C29.333 32.5108 29.0426 32.9684 28.5752 33.195C28.3206 33.3187 28.1716 33.5883 28.2028 33.8688L28.5883 37.333H27.4112L27.7966 33.8688C27.8279 33.5882 27.6788 33.3187 27.4243 33.195C26.9568 32.9684 26.6664 32.5108 26.6664 31.9997C26.6664 31.2647 27.2647 30.6664 27.9997 30.6664Z"
                fill="#E4572E"
              />
              <path
                d="M39.3333 24H37.3333V21.3333C37.3333 16.1869 33.1465 12 28 12C22.8535 12 18.6667 16.1869 18.6667 21.3333V24H16.6667C16.2982 24 16 24.2982 16 24.6667V41.3334C16 42.8041 17.1959 44 18.6667 44H37.3334C38.8041 44 40 42.8041 40 41.3333V24.6667C40 24.2982 39.7018 24 39.3333 24ZM20 21.3333C20 16.9219 23.5886 13.3333 28 13.3333C32.4114 13.3333 36 16.9219 36 21.3333V24H34.6667V21.3333C34.6667 17.6575 31.6758 14.6666 28 14.6666C24.3242 14.6666 21.3333 17.6576 21.3333 21.3333V24H20V21.3333ZM33.3333 21.3333V24H22.6667V21.3333C22.6667 18.3926 25.0592 16 28 16C30.9408 16 33.3333 18.3926 33.3333 21.3333ZM38.6667 41.3333C38.6667 42.0683 38.0684 42.6666 37.3334 42.6666H18.6667C17.9317 42.6666 17.3334 42.0683 17.3334 41.3333V25.3333H38.6667V41.3333Z"
                fill="#E4572E"
              />
            </svg>
          </div>
          <div class="text-gray-600 mt-4 font-medium text-sm" v-else>
            <div>
              Email:
              <span class="text-blue-600 ml-1 pb-3">{{
                getCurrentApplicant.data.email
              }}</span>
            </div>
            <div>
              Linkedin:
              <a
                class="text-blue-600 ml-1 pb-1"
                :href="`https://linkedin.com/in/${getCurrentApplicant.data.career.linkedin}/`"
              >
                https://linkedin.com/in/{{
                  getCurrentApplicant.data.career.linkedin
                }}
              </a>
            </div>
            <div>
              Phone:
              <span class="text-blue-600 ml-1">{{
                getCurrentApplicant.data.phone
              }}</span>
            </div>
            <div>
              Website:
              <span class="text-blue-600 ml-1">{{
                getCurrentApplicant.data.career.website
              }}</span>
            </div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters(["currentInfo", "getCurrentJob", "getCurrentApplicant"]),
  },
  async created() {
    console.log(this.currentInfo, "llol");
    await this.$store.dispatch("query", {
      endpoint: "ViewJob",
      payload: { id: this.currentInfo.jobId },
      storeKey: "viewJob",
    });
    await this.$store.dispatch("query", {
      endpoint: "ViewApplicantByID",
      payload: { id: this.currentInfo.applicantId },
      storeKey: "currentApplicant",
    });
    console.log(this.getCurrentApplicant, "lol");
  },
};
</script>

<style>
</style>