<template>
  <main>
    <div class="w-full text-sm px-6 py-4 text-white rounded-tl rounded-tr bg-easipurple">
      <div>Assign Privileges</div>
    </div>

    <div class="px-6 pt-6 pb-10 bg-white">
      <div class>
        <p class="text-gray-600 font-medium text-sm">Select Employee</p>
        <div class="relative">
          <select
            class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
            id="grid-state"
            v-model="args.employeeId"
          >
            <option value disabled>Select</option>
            <option v-for="employee in getAllEmployees.data" :key="employee._id" :value="employee._id">
              {{ employee.profile.firstName }} {{ employee.profile.lastName }}
            </option>
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </div>
        </div>
      </div>

      <div class="mt-5">
        <p class="text-gray-600 font-medium text-sm">Select Role</p>
        <div class="relative">
          <select
            class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
            id="grid-state"
            v-model="args.roleId"
          >
            <option value disabled>Select</option>
            <option v-for="role in listRole.data" :key="role._id" :value="role._id">
              {{ role.title }}
            </option>
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </div>
        </div>
      </div>

      <div class="flex justify-end mt-8 text-right">
        <easiButton class="inline-block" @click.native="assign">Assign</easiButton>
      </div>
    </div>

    <div class="px-6 pt-6 pb-10 bg-white" v-if="2==1">
        <div>Employee</div>
        <div>James Damilola</div>

        <div class="mt-4 font-bold">Privileges</div>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      headers: ["Role", "Privileges", "Employees Assigned", "ACTION"],
      args: {
        employeeId: "",
        roleId: "",
      },

      payload: {
        paging: {
          limit: 10,
          skip: 0,
          search: null
        }
      },

      roleModal: false,
    }
  },

  computed: {
    ...mapGetters(["getAllEmployees", "applicant", "listRole"]),
  },

  methods: {
    async assign() {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "AssignEmployeeToRole",
        data: { request: this.args },
      });
      if (res.success) {
        this.$toast.success("Privileges Assigned Successfully.");
      }
    },

    async queryRoles() {
      this.$store.dispatch("query", {
        endpoint: "ListRole",
        payload: this.payload,
        storeKey: "role",
      });
    },

    async queryEmployees() {
      this.$store.dispatch("query", {
        endpoint: "ListEmployees",
        payload: this.payload,
        storeKey: "listEmployees",
      });
    },
  },

  async created() {
    await this.queryEmployees();
    await this.queryRoles();
  },
};
</script>

<style>
</style>