<template>
  <main>
    <div class="w-full text-sm px-6 py-4 text-white rounded-tl rounded-tr bg-easipurple">
      <div>Current Password</div>
    </div>
    <div class="bg-white pt-5 pb-10">
      <div class="flex justify-between px-6">
        <div>
          <h1 class="leading-6 text-gray-800">Application Submitted</h1>
          <p class="text-sm mt-1 font-thin text-gray-600">You should never complain, complaining.</p>
        </div>
        <div>
          <easiButton @click.native="modal = true" variant="outline">
            <div class="leading-4">Customize</div>
          </easiButton>
        </div>
      </div>

      <div class="flex justify-between mt-8 px-6">
        <div>
          <h1 class="leading-6 text-gray-800">Interview Invite</h1>
          <p class="text-sm mt-1 font-thin text-gray-600">You should never complain, complaining.</p>
        </div>
        <div>
          <easiButton variant="outline">
            <div class="leading-4">Customize</div>
          </easiButton>
        </div>
      </div>
      <div class="flex justify-between mt-8 px-6">
        <div>
          <h1 class="leading-6 text-gray-800">Assessment Test</h1>
          <p class="text-sm mt-1 font-thin text-gray-600">You should never complain, complaining.</p>
        </div>
        <div>
          <easiButton variant="outline">
            <div class="leading-4">Customize</div>
          </easiButton>
        </div>
      </div>
      <div class="flex justify-between mt-8 px-6">
        <div>
          <h1 class="leading-6 text-gray-800">Offer Sent</h1>
          <p class="text-sm mt-1 font-thin text-gray-600">You should never complain, complaining.</p>
        </div>
        <div>
          <easiButton variant="outline">
            <div class="leading-4">Customize</div>
          </easiButton>
        </div>
      </div>
      <div class="flex justify-between mt-8 px-6">
        <div>
          <h1 class="leading-6 text-gray-800">Rejection</h1>
          <p class="text-sm mt-1 font-thin text-gray-600">You should never complain, complaining.</p>
        </div>
        <div>
          <easiButton variant="outline">
            <div class="leading-4">Customize</div>
          </easiButton>
        </div>
      </div>

      <div class="flex justify-end mt-8 mr-6 text-right">
        <easiButton class="inline-block">Save Changes</easiButton>
      </div>
    </div>
    <easiModal v-if="modal" @close="modal = false">
      <template v-slot:header>Customize Message</template>
      <div class="px-6 pb-6">
        <p class="text-sm mt-1 font-thin text-gray-600">You should never complain, complaining.</p>
        <div class="mt-5">
          <p class="text-gray-600 font-medium text-sm">Subject</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="text"
            required
          />
        </div>
        <div class="mt-5">
          <p class="text-gray-600 font-medium text-sm">Content</p>
          <textarea
            rows="5"
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="text"
            placeholder="Enter Assessment Group Name"
            required
          />
        </div>
        <div class="flex justify-end mt-8 text-right">
          <easiButton class="inline-block">Save Changes</easiButton>
        </div>
      </div>
    </easiModal>
  </main>
</template>

<script>
export default {
  data() {
    return {
      modal: false,
    };
  },
};
</script>

<style>
</style>