<template>
  <main>
    <div class="w-full text-sm px-6 py-4 text-white rounded-tl rounded-tr bg-easipurple">
      <div>Bank Account Details</div>
    </div>
    <div class="px-6 pt-6 pb-10 bg-white">
      <div class="grid-cols-2 grid col-gap-10 row-gap-5 mt-5">
        <div>
          <p class="text-gray-600 font-medium text-sm font-bold">Currency</p>
          <div class="relative">
            <select
              class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
              id="grid-state"
              v-model="args.currency"
              required
            >
              <option value disabled>Select Currency</option>
              <option value="NGN">NGN</option>
              <option value="USD">USD</option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
            >
              <svg
                class="fill-current text-gray-500 h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
        </div>

        <div>
          <p class="text-gray-600 font-medium text-sm">Bank</p>
          <div class="relative">
            <select
              class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
              id="grid-state"
              v-model="bankDetailsSelected"
              required
            >
              <option value="" selected>Select</option>
              <option v-for="bank in banks" :key="bank.name" :value="bank">{{bank.name}}</option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
            >
              <svg
                class="fill-current text-gray-500 h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
          <!-- <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="text"
            placeholder=""
            v-model="args.bankName"
            required
          /> -->
        </div>

        <div>
          <p class="text-gray-600 font-medium text-sm">Account Number</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="number"
            placeholder=""
            v-model="args.accountNumber"
            required
          />
        </div>
        <div>
          <p class="text-gray-600 font-medium text-sm">Name</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="text"
            placeholder=""
            v-model="args.accountName"
            required
          />
        </div>
      </div>

      <div class="flex justify-end mt-8 text-right">
        <easiButton v-if="!viewCompanyBankDetails" @click.native="create" class="inline-block">Save Changes</easiButton>
        <easiButton v-if="viewCompanyBankDetails" @click.native="update" class="inline-block">Save Changes</easiButton>
      </div>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
import banks from "../../../utils/banks"

export default {
  data() {
    return {
      banks: banks,
      args: {
        currency: "",
        bankName: "",
        accountNumber: "",
        accountName: "",
      },
      bankDetailsSelected: {},

      validCurrencies: ["NGN", "USD"],

      payload: {
        limit: 10,
        skip: 0,
        search: null,
      },
    };
  },

  computed: {
    ...mapGetters(["applicant", "viewCompanyBankDetails"]),
  },

  methods: {
    async create() {
      // Get bank info:
      this.args.bankName = this.bankDetailsSelected.name
      // this.args.bankCode = this.bankDetailsSelected.code

      let res = await this.$store.dispatch("mutate", {
        endpoint: "CreateCompanyBankAccount",
        data: { request: this.args },
      });
      if (res.success) {
        this.$toast.success("Bank Details Updated Successfuly");
        this.$router.push({ name: "SettingsBankDetails" });
      }
    },

    async update() {
      // Get bank info:
      this.args.bankName = this.bankDetailsSelected.name
      // this.args.bankCode = this.bankDetailsSelected.code

      let res = await this.$store.dispatch("mutate", {
        endpoint: "UpdateCompanyBankAccount",
        data: { id: this.viewCompanyBankDetails.data._id, request: this.args },
      });
      if (res.success) {
        this.$toast.success("Bank Details Updated Successfuly");
        this.$router.push({ name: "SettingsBankDetails" });
      }
    },
  },

  async created() {
    let res = await this.$store.dispatch("query", {
      endpoint: "ViewCompanyBankDetails",
      storeKey: "companyBankDetailsView",
    });
  },

};
</script>

<style>
</style>