<template>
  <main>
    <div class="w-full text-sm px-6 py-4 text-white rounded-tl rounded-tr bg-easipurple">
      <div>Bank Account Details</div>
    </div>
    <div class="px-6 pt-6 pb-10 bg-white">
      <!-- View -->
      <div class="grid-cols-2 grid col-gap-10 row-gap-5 mt-5" v-if="!viewCompanyBankDetails">
        <div>
          <p class="text-gray-600 text-sm font-bold">Currency</p>
          <div>N/A</div>
        </div>

        <div>
          <p class="text-gray-600 text-sm font-bold">Bank</p>
          <div>N/A</div>
        </div>

        <div>
          <p class="text-gray-600 text-sm font-bold">Account Number</p>
          <div>N/A</div>
        </div>
        <div>
          <p class="text-gray-600 text-sm font-bold">Name</p>
          <div>N/A</div>
        </div>
      </div>

      <!-- Edit -->
      <div class="grid-cols-2 grid col-gap-10 row-gap-5 mt-5" v-if="viewCompanyBankDetails">
        <div>
          <p class="text-gray-600 text-sm font-bold">Currency</p>
          <div >{{viewCompanyBankDetails.data.currency}}</div>
        </div>

        <div>
          <p class="text-gray-600 text-sm font-bold">Bank</p>
          <div >{{viewCompanyBankDetails.data.bankName}}</div>
        </div>

        <div>
          <p class="text-gray-600 text-sm font-bold">Account Number</p>
          <div >{{viewCompanyBankDetails.data.accountNumber}}</div>
        </div>
        <div>
          <p class="text-gray-600 text-sm font-bold">Name</p>
          <div >{{viewCompanyBankDetails.data.accountName}}</div>
        </div>
      </div>

      <div class="flex justify-end mt-8 text-right">
        <easiButton  @click.native="$router.push({name: 'SettingsBankDetailsEdit'})" class="inline-block w-32" variant="outline">Edit</easiButton>
      </div>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      args: {
        currency: "",
        bankName: "",
        accountNumber: "",
        accountName: "",
      },

      validCurrencies: ["NGN", "USD"],

      payload: {
        paging: {
          limit: 10,
          skip: 0,
          search: null
        }
      },
    };
  },

  computed: {
    ...mapGetters(["applicant", "viewCompanyBankDetails"]),
  },

  methods: {
  },

  async created() {
    let res = await this.$store.dispatch("query", {
      endpoint: "ViewCompanyBankDetails",
      storeKey: "companyBankDetailsView",
    });
  },

};
</script>

<style>
</style>