<template>
  <main>
    <div class="w-full text-sm px-6 py-4 text-white rounded-tl rounded-tr bg-easipurple">
      <div>Compliance</div>
    </div>
    <div class="px-6 pt-6 pb-10 bg-white">
      <form enctype="multipart/form-data" @submit.prevent="create">
      <div class="grid-cols-2 grid col-gap-10 row-gap-5 mt-5">
        <div>
          <p class="text-gray-600 font-medium text-sm">RC Number</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="number"
            placeholder=""
            required
            v-model="args.rcNumber"
          />
        </div>

        <div>
          <p class="text-gray-600 font-medium text-sm">TIN</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="number"
            placeholder=""
            required
            v-model="args.tin"
          />
        </div>

        <div>
          <p class="text-gray-600 font-medium text-sm">Certificate of Incorporation</p>
          <label>
            <div class="border p-2 pl-6 text-gray-400">Upload File</div>
            <input
              type='file'
              class="hidden"
              accept="image/*"
              @change="upload($event.target.files[0], 'CI')"/>
          </label>
        </div>
        <div>
          <p class="text-gray-600 font-medium text-sm">Registration Document</p>
          <label>
            <div class="border p-2 pl-6 text-gray-400">Upload File</div>
            <input
              type='file'
              class="hidden"
              accept="image/*"
              @change="upload($event.target.files[0], 'RD')"/>
          </label>
        </div>
      </div>


      <h1 class="mt-6 font-bold text-base">Director Information</h1>
      <div v-for="count in directorsCount" :key="count" class="mt-5">
        <div>{{count}} )</div>
        <div class="grid-cols-2 grid col-gap-10 row-gap-5 mt-5">
          <div>
            <p class="text-gray-600 font-medium text-sm">First Name</p>
            <input
              class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
              type="text"
              placeholder=""
              required
              @change="addInput(count, $event.target.value, 'firstName')"
            />
          </div>

          <div>
            <p class="text-gray-600 font-medium text-sm">Last Name</p>
            <input
              class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
              type="text"
              placeholder=""
              required
              @change="addInput(count, $event.target.value, 'lastName')"
            />
          </div>

          <div>
            <p class="text-gray-600 font-medium text-sm">Role in Company</p>
            <input
              class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
              type="text"
              placeholder=""
              required
              @change="addInput(count, $event.target.value, 'companyRole')"
            />
          </div>
          <div>
            <p class="text-gray-600 font-medium text-sm">Email Address</p>
            <input
              class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
              type="text"
              placeholder=""
              required
              @change="addInput(count, $event.target.value, 'email')"
              
            />
          </div>
        </div>
      </div>

      <div class="flex justify-end mt-8 text-right">
        <easiButton variant="outline" class="inline-block w-32" @click.native.prevent="directorsCount+=1">Add More</easiButton>
      </div>

      <div class="flex justify-center mt-8 text-center">
        <easiButton class="inline-block w-32" type="submit">Save Changes</easiButton>
      </div>
      </form>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      args: {
        rcNumber: "",
        tin: "",
        certIncorporated: "",
        registrationDoc: "",
        directors: []
      },
      payload: {
        limit: 10,
        skip: 0,
        search: null,
      },
      directorsCount: 1, // *Todo: This should change when Victor provides View or List endpoint for compliance.
      
      firstNames: [],
      lastNames: [],
      companyRoles: [],
      emails: [],

    };
  },
  computed: {
    ...mapGetters(["applicant", "viewCompanyCompliance"]),
  },
  methods: {
    upload(file, input){
      const fd = new FormData();
      // fd.append('image', file, file.name)
      fd.append('image', file);
      console.log(file);
      console.log(fd);
      if (input == "CI"){
        this.args.certIncorporated = fd
      } else if (input == "RD"){
        this.args.registrationDoc = fd
      }
    },

    addInput(index, input, field) {
      if (field == "firstName"){
        this.firstNames.push(input);
      } else if (field == "lastName"){
        this.lastNames.push(input);
      } else if (field == "companyRole"){
        this.companyRoles.push(input);
      } else if (field == "email"){
        this.emails.push(input);
      }
    },

    async create() {
      for (var i = 0; i < this.directorsCount; i++) {
        this.args.directors.push({
          firstName: this.firstNames[i],
          lastName: this.lastNames[i],
          companyRole: this.companyRoles[i],
          email: this.emails[i],
          })
      }
      console.log(this.args, "Create Args ------")

      let res = await this.$store.dispatch("mutate", {
        endpoint: "CreateCompanyCompliance",
        data: { request: this.args },
      });
      if (res.success) {
        this.$toast.success("Company Compliance Updated Successfully");
        // this.$router.push({ name: "SettingsBankDetails" });
      }
    },

    async queryCompanyCompliance() {
      await this.$store.dispatch("query", {
        endpoint: "ViewCompanyCompliance",
        payload: this.payload,
        storeKey: "CompanyComplianceView",
      });
    },
  }
};
</script>

<style>
</style>