<template>
  <main>
    <div class="w-full text-sm px-6 py-4 text-white rounded-tl rounded-tr bg-easipurple">
      <div>Company Profile</div>
    </div>
    <div class="px-6 pt-6 pb-10 bg-white">
      <div class="grid-cols-2 grid col-gap-10 row-gap-5">
        <div>
          <p class="text-gray-600 font-medium text-sm">Legal Business Name</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="text"
            placeholder=""
            required
            v-model="args.companyName"
          />
        </div>
        <div>
          <p class="text-gray-600 font-medium text-sm">Website</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="text"
            placeholder=""
            required
            v-model="args.website"
          />
        </div>
        <div>
          <p class="text-gray-600 font-medium text-sm">Email Address</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="text"
            placeholder=""
            required
            v-model="args.companyEmail"
          />
        </div>
        <div>
          <p class="text-gray-600 font-medium text-sm">Phone Number</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="text"
            placeholder=""
            required
            v-model="args.phoneNumber"
          />
        </div>
      </div>
      <div class="mt-8 flex items-center">
        <div class="bg-gray-900 w-32 h-32"></div>
        <div>
          <input type="file" name class="hidden" ref="image" id />
          <easiButton @click.native="$refs.image.click()" class="ml-6" variant="secondary">
            <div class="leading-4">Change</div>
          </easiButton>
        </div>
      </div>
      <div class="grid-cols-2 grid col-gap-10 row-gap-5 mt-5">
        <div>
          <p class="text-gray-600 font-medium text-sm">Business Type</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="text"
            placeholder=""
            required
            v-model="args.industry"
          />
        </div>
        <div>
          <p class="text-gray-600 font-medium text-sm">TIN</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="text"
            placeholder=""
            required
            v-model="args.tin"
          />
        </div>
      </div>
      <div class="mt-5">
        <p class="text-gray-600 font-medium text-sm">Business Address</p>
        <textarea
          rows="2"
          class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
          type="text"
          placeholder="Enter Assessment Group Name"
          required
          v-model="args.address"
        />
      </div>
      <div class="grid grid-cols-2 col-gap-10 row-gap-5 mt-5">
        <div class="mt-2">
          <p class="text-gray-600 font-medium text-sm">Country</p>
          <div class="relative">
            <select
              class="block appearance-none text-gray-700 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
              id="grid-state"
              v-model="country"
              required
            >
              <option value disabled>Countries</option>
              <option v-for="(k, i) in countries" :key="i" :value="k">
                {{ k }}
              </option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
            >
              <svg
                class="fill-current h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="mt-2">
          <p class="text-gray-600 font-medium text-sm">State</p>
          <div class="relative">
            <select
              class="block appearance-none text-gray-700 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
              id="grid-state"
              v-model="args.state"
            >
              <option value selected>Select State</option>
              <option v-for="(k, i) in allState" :key="i" :value="k">
                {{ k }}
              </option>
            </select>

            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
            >
              <svg
                class="fill-current h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
        </div>
        <!-- <div class="mt-2">
          <p class="text-gray-600 font-medium text-sm">Industry</p>
          <div class="relative">
            <select
              class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
              id="grid-state"
            >
              <option value="industry" disabled>Industry</option>
              <option value="ENTRY">ENTRY</option>
              <option value="INTERMEDIATE">INTERMEDIATE</option>
              <option value="EXPERIENCED">EXPERIENCED</option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
            >
              <svg
                class="fill-current h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="mt-2">
          <p class="text-gray-600 font-medium text-sm">Size</p>
          <div class="relative">
            <select
              class="block appearance-none text-gray-500 font-light text-sm w-full bg-white border py-2 px-4 pr-8 rounded leading-6 mt-2 focus:outline-none"
              id="grid-state"
            >
              <option value="size">Size</option>
              <option value="ENTRY">ENTRY</option>
              <option value="INTERMEDIATE">INTERMEDIATE</option>
              <option value="EXPERIENCED">EXPERIENCED</option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600"
            >
              <svg
                class="fill-current h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
        </div> -->
      </div>
      
      <div class="flex justify-end mt-8 text-right">
        <easiButton class="inline-block" @click.native="update">Save Changes</easiButton>
      </div>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      allState: [],
      editView: true,
      args: {
        companyName: "",
        website: "",
        companyEmail: "",
        phoneNumber: "",
        industry: "",
        tin: "",
        address: "",
        country: "",
        state: "",
      },
    }
  },

  watch: {
    country: {
      immediate: true,
      handler(x) {
        if (x) {
          let allCountry = this.getCountries.find((state) => {
            return state.name == x;
          });
          let states = [];
          allCountry.states.map((x) => {
            states.push(x.name);
          });
          this.allState = states;

          //Also set country in profile arg:
          this.profile.country = x;
        }
      },
    },
  },

  computed: {
    ...mapGetters(["applicant", "viewCompany", "getCountries"]),
    countries() {
        let allCountries = this.getCountries;
        let k = [];
        allCountries.map((x) => {
            k.push(x.name);
        });
        return k;
    },

    country: {
      // *Note: Does nothing.
      get() {
          return this.args.country;
      },
      set(value) {
          this.args.country = value;
      },
    },
  },

  methods: {
    async update() {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "UpdateCompany",
        data: { request: this.args },
      });
      if (res.success) {
        this.$toast.success("Company Profile Updated Successfuly");
      }
    },
  },

  async created() {
    // viewCompany endpoint
    let res = await this.$store.dispatch("query", {
      endpoint: "ViewCompany",
      payload: {id:this.applicant.companyId},
      storeKey: "companyView",
    });

    // Preload company data.
    this.args.companyName = this.viewCompany.data.companyName;
    this.args.website = this.viewCompany.data.website;
    this.args.companyEmail = this.viewCompany.data.companyEmail;
    this.args.phoneNumber = this.viewCompany.data.phoneNumber;
    this.args.industry = this.viewCompany.data.industry;
    this.args.tin = this.viewCompany.data.tin;
    this.args.address = this.viewCompany.data.address;
    this.args.country = this.viewCompany.data.country;
    this.args.state = this.viewCompany.data.state;
      
  }
};
</script>


<style>
</style>