<template>
  <main>
    <div class="w-full text-sm px-6 py-4 text-white rounded-tl rounded-tr bg-easipurple">
      <div>Current Password</div>
    </div>
    <div class="bg-white pt-5 pb-10">
      <div class="flex justify-between mt-5 px-6">
        <div>
          <h1 class="leading-6 text-gray-800">New Candidates</h1>
          <p
            class="text-sm mt-1 font-thin text-gray-600"
          >Get notified about candidates applying for your jobs.</p>
        </div>
        <div>
          <input id="test" type="checkbox" v-model="toggle" hidden="hidden" />
          <label class="switch" for="test"></label>
        </div>
      </div>

      <div class="flex justify-between mt-10 px-6">
        <div>
          <h1 class="leading-6 text-gray-800">New Job Posting</h1>
          <p
            class="text-sm mt-1 font-thin text-gray-600"
          >Get a confirmation when you post a new job.</p>
        </div>
        <div>
          <input id="test3" type="checkbox" v-model="toggle" hidden="hidden" />
          <label class="switch" for="test3"></label>
        </div>
      </div>
      <div class="flex justify-between mt-10 px-6">
        <div>
          <h1 class="leading-6 text-gray-800">Job Deadline Approaching</h1>
          <p
            class="text-sm mt-1 font-thin text-gray-600"
          >Be notified when a job will be automatically archived due to an approaching deadline.</p>
        </div>
        <div>
          <input id="test4" type="checkbox" v-model="toggle" hidden="hidden" />
          <label class="switch" for="test4"></label>
        </div>
      </div>
      <div class="flex justify-between mt-10 px-6">
        <div>
          <h1 class="leading-6 text-gray-800">Job Archived</h1>
          <p class="text-sm mt-1 font-thin text-gray-600">Get a confirmation when you archive a job.</p>
        </div>
        <div>
          <input id="test5" type="checkbox" v-model="toggle" hidden="hidden" />
          <label class="switch" for="test5"></label>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
export default {};
</script>

<style>
.switch {
  display: inline-block;
  position: relative;
  width: 2.4rem;
  height: 0.9rem;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.26);
  -webkit-transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  vertical-align: middle;
  cursor: pointer;
}
.switch::before {
  content: "";
  position: absolute;
  top: -0.25rem;
  left: -0.25rem;
  width: 1.5rem;
  height: 1.5rem;
  background: gray;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  -webkit-transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1),
    background 0.28s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1),
    background 0.28s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.switch:active::before {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.28),
    0 0 0 1.25rem rgba(128, 128, 128, 0.1);
}
input:checked + .switch {
  background: rgba(179, 184, 173, 0.5);
}
input:checked + .switch::before {
  left: 1.25rem;
  background: #00d67d;
}
input:checked + .switch:active::before {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.28), 0 0 0 1.25rem #104c93;
}
.hidden-navbar {
  box-shadow: none;
  transform: translate3d(0, -160%, 0);
}
</style>