<template>
  <main>
    <div class="w-full text-sm px-6 py-4 text-white rounded-tl rounded-tr bg-easipurple">
      <div>Current Password</div>
    </div>
    <form @submit.prevent="update">
    <div class="px-6 pt-6 pb-10 bg-white">
      <div class>
        <p class="text-gray-600 font-medium text-sm">Current Password</p>
        <input
          class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
          type="text"
          placeholder=""
          v-model="args.currentPassword"
          required
        />
      </div>
      <div class="grid-cols-2 grid col-gap-10 row-gap-5 mt-5">
        <div>
          <p class="text-gray-600 font-medium text-sm">New Password</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="text"
            placeholder=""
            v-model="args.newPassword"
            required
          />
        </div>

        <div>
          <p class="text-gray-600 font-medium text-sm">Confirm Password</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="text"
            placeholder=""
            v-model="args.confirmPassword"
            required
          />
        </div>
      </div>

      <div class="flex justify-end mt-8 text-right">
        <easiButton class="inline-block mr-8">Reset Password</easiButton>
        <easiButton class="inline-block" @click.native="update()">Save Changes</easiButton>
      </div>
    </div>
    </form>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      args: {
        currentPassword: "",
        newPassword: "",
        confirmPassword: "",
      },
    }
  },

  methods: {
    async update() {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "UpdateCompanyAdminPassword",
        data: { request: this.args },
      });
      if (res.success) {
        this.$toast.success("Admin Password Updated Successfuly");
      }
    },
  },
};
</script>

<style>
</style>