<template>
  <main>
    <div class="w-full text-sm px-6 py-4 text-white rounded-tl rounded-tr bg-easipurple">
      <div>My Profile</div>
    </div>
    <div class="px-6 pt-6 pb-10 bg-white">
      <div class="grid-cols-2 grid col-gap-10 row-gap-5 mt-5">
        <div>
          <p class="text-gray-600 font-medium text-sm">First Name</p>
          <p v-if="editView == true">{{applicant.firstName}}</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="text"
            placeholder=""
            v-model="args.firstName"
            required
            v-if="editView == false"
          />
        </div>

        <div>
          <p class="text-gray-600 font-medium text-sm">Last Name</p>
          <p v-if="editView == true">{{applicant.lastName}}</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="text"
            placeholder=""
            v-model="args.lastName"
            required
            v-if="editView == false"
          />
        </div>

        <div>
          <p class="text-gray-600 font-medium text-sm">Email Address</p>
          <p v-if="editView == true">{{applicant.email}}</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="text"
            placeholder=""
            v-model="args.email"
            required
            v-if="editView == false"
          />
        </div>
        <div>
          <p class="text-gray-600 font-medium text-sm">Phone Number</p>
          <p v-if="editView == true">{{applicant.phoneNumber}}</p>
          <input
            class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="text"
            placeholder=""
            v-model="args.phoneNumber"
            required
            v-if="editView == false"
          />
        </div>
      </div>

      <div class="flex justify-end mt-8 text-right">
        <easiButton v-if="editView == false" @click.native="update" class="inline-block">Save Changes</easiButton>
        <easiButton v-if="editView == true" @click.native="editView = false" class="inline-block" variant="outline">
          <div class="px-8">Edit</div>
        </easiButton>
      </div>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      editView: true,
      args: {
        firstName: "",
        lastName: "",
        email: "",
        phoneNumber: "",
      },
    }
  },

  computed: {
    ...mapGetters(["applicant"]),
  },

  methods: {
    async update() {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "UpdateCompanyAdmin",
        data: { request: this.args },
      });
      if (res.success) {
        this.$toast.success("Admin Profile Updated Successfuly");
      }

      // Change back to edit view.
      this.editView = true;
    },
  },

  async created() {
    this.args.firstName = this.applicant.firstName;
    this.args.lastName = this.applicant.lastName;
    this.args.email = this.applicant.email;
    this.args.phoneNumber = this.applicant.phoneNumber;
  },
};
</script>

<style>
</style>