<template>
  <main>
    <easiSubHeader :routeLinks="links"></easiSubHeader>
    <router-view class="pt-20 px-8" />
  </main>
</template>

<script>
export default {
  data() {
    return {
      links: [
        {
          routeName: "Company",
          routeLinks: "SettingsCompany",
        },
        {
          routeName: "Profile",
          routeLinks: "SettingsProfile",
        },
        {
          routeName: "Password",
          routeLinks: "SettingsPassword",
        },
        {
          routeName: "Bank Details",
          routeLinks: "SettingsBankDetails",
        },
        {
          routeName: "Compliance",
          routeLinks: "SettingsCompliance",
        },
        {
          routeName: "Employee Privileges",
          routeLinks: "SettingsEmployeePrivileges",
        },
        {
          routeName: "Assign Privileges",
          routeLinks: "SettingsAssignPrivileges",
        },
        // {
        //   routeName: "Notifications",
        //   routeLinks: "SettingsNotifications",
        // },
        // {
        //   routeName: "Automated Messages",
        //   routeLinks: "SettingsAutomated",
        // },
      ],
    };
  },
};
</script>

<style>
</style>