/* Text colors */
.orangeColor { color:#E4572E; }

.blackColor { color: #444444; }

.grayColor { color: #909090; }

.blueColor { color: #183059; }

.orangeColor { color: #E4572E; }

.yellowColor { color: #FFC82C; }

.greenColor { color: #00D67D; }

/* Background */
.grayBG { background: #F9FAFC; }

.orangeBG { background: #E4572E; }

/* Fonts */
.fontProzaLibre{ font-family: 'Proza Libre' }

.fontLato{ font-family: 'Lato' }