<template>
  <main>
    <div class="flex w-full max-w-2xl">
      <easiBackButton @click.native="$router.push({ name: 'PayrollSettings' })" />
      <h1 class="text-2xl text-gray-700 ml-8">Edit</h1>
    </div>
    <div class="w-full max-w-2xl bg-white py-3 px-5 mt-6 shadow-xs pb-8">
      <div>
        <div class="font-bold">Name</div>
        <div>Lorem Ipsum</div>
      </div>

      <div class="mt-6">
        <div class="font-bold">Total Gross</div>
        <div>N300,000</div>
      </div>

      <div class="mt-6">
        <div class="font-bold">Allowances</div>
        <div class="flex">
            <div class="mt-4 font-bold mr-2">Basic Salary</div>
            <div>
                <input
                    class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                    type="text"
                    placeholder="10%"
                    required
                    v-model="args.approvedBy"
                />
            </div>

            <div class="mt-4 mr-4 ml-4">or</div>

            <div>
                <input
                    class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                    type="text"
                    placeholder="N10,000"
                    required
                    v-model="args.approvedBy"
                />
            </div>

            <div class="text-red-600 underline mt-4 ml-4">Remove</div>
        </div>
      </div>

      <div class="mt-6">
        <div class="font-bold">Add Allowances</div>
        <div class="flex">
          <div class="w-4/5">
            <input
                class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                type="text"
                placeholder="Select"
                required
                v-model="args.approvedBy"
            />
          </div>
          
          <div class="w-1/5">
            <easiButton class="ml-4" variant="outline">Add</easiButton>
          </div>
        </div>
      </div>

      <div class="mt-12">
        <div class="font-bold">Benefits</div>
        <div class="flex">
            <div class="mt-4 font-bold mr-2">Housing:</div>
            <div>
                <input
                    class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                    type="text"
                    placeholder="10%"
                    required
                    v-model="args.approvedBy"
                />
            </div>

            <div class="mt-4 mr-4 ml-4">or</div>

            <div>
                <input
                    class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                    type="text"
                    placeholder="N10,000"
                    required
                    v-model="args.approvedBy"
                />
            </div>

            <div class="text-red-600 underline mt-4 ml-4">Remove</div>
        </div>
      </div>

      <div class="mt-6">
        <div class="font-bold">Add Benefits</div>
        <div class="flex">
          <div class="w-4/5">
            <input
                class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                type="text"
                placeholder="Select"
                required
                v-model="args.approvedBy"
            />
          </div>
          
          <div class="w-1/5">
            <easiButton class="ml-4" variant="outline">Add</easiButton>
          </div>
        </div>
      </div>

      <div class="mt-12">
        <div class="font-bold">Other Payments</div>
        <div class="flex">
            <div class="mt-4 font-bold mr-2">Housing:</div>
            <div>
                <input
                    class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                    type="text"
                    placeholder="10%"
                    required
                    v-model="args.approvedBy"
                />
            </div>

            <div class="mt-4 mr-4 ml-4">or</div>

            <div>
                <input
                    class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                    type="text"
                    placeholder="N10,000"
                    required
                    v-model="args.approvedBy"
                />
            </div>

            <div class="text-red-600 underline mt-4 ml-4">Remove</div>
        </div>
      </div>

      <div class="mt-6">
        <div class="font-bold">Add Other Payments</div>
        <div class="flex">
          <div class="w-4/5">
            <input
                class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
                type="text"
                placeholder="Select"
                required
                v-model="args.approvedBy"
            />
          </div>
          
          <div class="w-1/5">
            <easiButton class="ml-4" variant="outline">Add</easiButton>
          </div>
        </div>
      </div>

      
      <div class="flex justify-end mt-8 text-right">
        <easiButton variant="outline" @click.native="$router.push({ name: 'PayrollSettings' })" class="mr-8 inline-block">
          <div class="px-8">Cancel</div>
        </easiButton>
        <easiButton @click.native="create" class="inline-block">
          <div class="px-8">Save</div>
        </easiButton>
      </div>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
import Multiselect from "vue-multiselect";

export default {
  data() {
    return {
      args: {
        allStaff: false,
        inputIDs: [],
        subject: null,
        approvedBy: null,
        isTemplate: false,
        templateTitle: "",
        message: "",
      },
      value: [],
    };
  },
  watch: {
    value(x) {
      if (x) {
        this.args.inputIDs = [];
        this.value.forEach(({ id }) => {
          this.args.inputIDs.push(id);
        });
        console.log(this.args.inputIDs);
      }
    },
  },
  methods: {
    async create() {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "CreateMemo",
        data: { memoInput: this.args },
      });
      if (res.success) {
        this.$toast.success("Memo Sent Successfuly");
        this.$router.push({ name: "MemoAll" });
      }
    },

    queryMemoTemplates() {
      this.$store.dispatch("query", {
        endpoint: "ListMemoTemplate",
        payload: this.args,
        storeKey: "listMemoTemplates",
      });
    },
  },
  components: {
    Multiselect,
  },

  computed: {
    ...mapGetters(["applicant", "allIds"]),
    formatIds() {
      if (this.allIds && this.allIds.data) {
        let ids = this.allIds.data;
        let adminId = this.applicant._id;
        let getAdminIdFromIds = ids.find((x) => {
          return x.ID == adminId;
        });
        let filteredId = ids.filter((x) => x.ID != getAdminIdFromIds.ID);

        let k = {};
        k.Name = `${getAdminIdFromIds.Name} (Admin)`;
        k.ID = getAdminIdFromIds.ID;
        k.type = "Admin";
        console.log(k, "look");
        filteredId.push(k);
        return filteredId;
      }
    },
  },
  async created() {
    let res = await this.$store.dispatch("query", {
      endpoint: "ListEmployeeNameAndIds",
      storeKey: "listIds",
    });

    // await this.queryMemoTemplates();
  },
};
</script>


<style>
</style>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>