<template>
  <main>
    <div v-if="$route.meta.requiresHeader">
      <easiSubHeader :routeLinks="links" :optional="true">
        <div class="flex items-center">
        </div>
      </easiSubHeader>
    </div>
    <router-view
      class="lg:pl-4 lg:pr-4 px-2"
      :class="{ '': $route.meta.requiresHeader === 'Jobs' }"
    />
  </main>
</template>

<script>
export default {
  data() {
    return {
      links: [
        {
          routeName: "All",
          routeLinks: "PayrollPaymentsAll",
        },
        {
          routeName: "PAYE",
          routeLinks: "PayrollPaymentsPAYE",
        },
        {
          routeName: "Pension",
          routeLinks: "PayrollPaymentsPension",
        },
        {
          routeName: "NHF",
          routeLinks: "PayrollPaymentsNHF",
        },
        {
          routeName: "Employee Life Insurance",
          routeLinks: "PayrollPaymentsEmployeeLifeInsurance",
        },
      ],
    };
  },
};
</script>

<style>
</style>