<template>
  <main class>
    <div class="py-6 border">
      <easiBackButton @click.native="$router.push({ name: 'PayrollPaymentsEmployeeLifeInsurance' })" />
      <div class="text-sm text-gray-900 pl-4 inline-block">
        May 2020
      </div>

      <div class="ml-10 inline-block">
        <input
          type="text"
          class="focus:outline-none text-xs w-64 text-gray-600 appearance-none border rounded-sm leading-7 pl-3"
          placeholder="Search"
        />
      </div>

      <div class="float-right flex mr-10">
        <easiButton @click.native="createCategory" class="mr-8 w-32">Approve</easiButton>
        <easiButton @click.native="createCategory" class="mr-8 w-48" variant="outline">Submit For Approval</easiButton>
        <easiButton @click.native="createCategory" class="mr-8-12 w-16" variant="outline">Pay</easiButton>
      </div>
    </div>
    </div>
    <table class="table-auto w-full overflow-y-auto shadow-sm bg-white">
      <thead>
        <tr class="bg-easipurple text-white">
          <th
            v-for="(title, index) in headers"
            :key="index"
            class="px-4 py-3 text-left font-light uppercase text-sm"
          >
            <div>{{ title }}</div>
          </th>
        </tr>
      </thead>
      <div class="py-2" v-if="checkLoading">
        <div class="loader">
          <svg viewBox="0 0 80 80">
            <rect x="8" y="8" width="64" height="64" />
          </svg>
        </div>
      </div>
      <tbody v-else-if="getAllEmployees.data.length">
        <tr
          v-for="employee in getAllEmployees.data"
          :key="employee._id"
          class="bg-white even:bg-gray-100 text-gray-600 cursor-pointer hover:bg-gray-600 group hover:text-white"
        >
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ employee.profile.firstName }} {{ employee.profile.lastName }}
          </td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ employee.empJob.jobTitle }}
          </td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ employee.empJob.jobTitle }}
          </td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ employee.empJob.jobTitle }}
          </td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ employee.empJob.jobTitle }}
          </td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ employee.empJob.jobTitle }}
          </td>
        </tr>
      </tbody>

      <div v-else>
        <div
          class="py-4 flex justify-center bg-white items-center text-gray-600 font-light"
        >
          No record for payments
        </div>
      </div>
    </table>

    <easiModal v-if="showModal==true" @close="showModal=false">
      <template v-slot:header>
        <div class="text-white">-</div>
      </template>
      <div class="md:float-right md:h-full bg-white p-10 pt-0 float-none w-full text-sm">
        <div>
          <div class="font-bold">Pay</div>
          <div>You should never complain, complaning.</div>
        </div>

        <div class="mt-6">
          <div class="font-bold">Total Gross</div>
          <div>N300,000</div>
        </div>

        <div class="mt-6">
          <div class="font-bold">Total Net</div>
          <div>N300,000</div>
        </div>

        <div class="mt-6">
          <div class="font-bold">Allowances</div>
          <div>N300,000</div>
        </div>

        <div class="mt-6">
          <div class="font-bold">Benefits</div>
          <div>N300,000</div>
        </div>

        <div class="mt-6">
          <input class="mr-2 leading-tight" type="checkbox">
          <span class="font-bold">
            Pay Statutory Benefits
          </span>
        </div>

        <div class="mt-6">
            <easiButton @click.native="createCategory" class="float-right ml-8 w-32">Pay</easiButton>
            <easiButton class="float-right w-32" variant="outline">Cancel</easiButton>
        </div>
      </div>
    </easiModal>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      headers: ["EMPLOYEE", "EMPLOYEE ID", "STATUTORY BODY", "COMPANY ID", "AMOUNT", "STATUS"],
      loading: false,
      jobs: [],
      args: {
        paging: {
          limit: 10,
          search: null,
          skip: 0,
        }
      },
      showModal: false,
    };
  },
  computed: {
    ...mapGetters(["getAllEmployees", "applicant", "checkLoading"]),
  },
  methods: {
    makeRequest() {
      this.$store.dispatch("query", {
        endpoint: "ListEmployees",
        payload: this.args,
        storeKey: "listEmployees",
        service: "EMP",
      });
    },
    async view(x) {
      await this.$store.dispatch("query", {
        endpoint: "ViewEmployee",
        payload: { employeeId: x._id, companyId: x.companyId },
        storeKey: "viewEmployee",
        service: "EMP",
      });
      this.$router.push({ name: "ManageEmployeeViewEmployeeProfile" });
    },
  },
  async created() {
    //this.args.companyId = this.applicant.companyId;
    //await this.makeRequest();
  },
};
</script>

<style>
</style>