<template>
  <main class>
    <div class="py-6 border mt-10">
      <easiBackButton class="inline-block ml-10" @click.native="$router.push({ name: 'PayrollPaymentsPAYE' })" />
      <div class="text-sm text-gray-900 pl-4 inline-block">
        Payroll for May 2020
      </div>

      <div class="ml-10 inline-block">
        <input
          type="text"
          class="focus:outline-none text-xs w-64 text-gray-600 appearance-none border rounded-sm leading-7 pl-3"
          placeholder="Search"
        />
      </div>

      <div class="float-right flex mr-10">
        <easiButton @click.native="createCategory" class="mr-8 w-32">Approve</easiButton>
        <easiButton @click.native="createCategory" class="mr-8 w-48" variant="outline">Submit For Approval</easiButton>
        <easiButton @click.native="createCategory" class="mr-8-12 w-16" variant="outline">Pay</easiButton>
      </div>
    </div>
    </div>
    <table class="table-auto w-full overflow-y-auto shadow-sm bg-white">
      <thead>
        <tr class="bg-easipurple text-white">
          <th
            v-for="(title, index) in headers"
            :key="index"
            class="px-4 py-3 text-left font-light uppercase text-sm"
          >
            <div>{{ title }}</div>
          </th>
        </tr>
      </thead>
      <div class="py-2" v-if="checkLoading">
        <div class="loader">
          <svg viewBox="0 0 80 80">
            <rect x="8" y="8" width="64" height="64" />
          </svg>
        </div>
      </div>
      <tbody v-else-if="getAllEmployees.data.length">
        <tr
          v-for="employee in getAllEmployees.data"
          :key="employee._id"
          class="bg-white even:bg-gray-100 text-gray-600 cursor-pointer hover:bg-gray-600 group hover:text-white"
        >
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ employee.profile.firstName }} {{ employee.profile.lastName }}
          </td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ employee.empJob.jobTitle }}
          </td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ employee.empJob.jobTitle }}
          </td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ employee.empJob.jobTitle }}
          </td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ employee.empJob.jobTitle }}
          </td>
          <td class="px-4 py-4 text-sm font-thin tracking-wider">
            {{ employee.empJob.jobTitle }}
          </td>
          <td class="px-4 py-4 text-sm font-thin tracking-wide">
            <easiDropdown
              class="mt-5"
              :genericObj="{id: goal._id}"
              dropdownName="PayrollEmployeesDropdown"
            >
              <svg width="20" height="6" viewBox="0 0 20 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2.68173 0C1.22723 0 0 1.22723 0 2.68173C0 4.18168 1.22723 5.36345 2.68173 5.36345C4.18168 5.36345 5.36345 4.13622 5.36345 2.68173C5.36345 1.22723 4.18168 0 2.68173 0Z" fill="#888888" fill-opacity="0.5"/>
                  <path d="M17.3184 0C15.8185 0 14.6367 1.22723 14.6367 2.68173C14.6367 4.18168 15.8639 5.36345 17.3184 5.36345C18.7729 5.36345 20.0002 4.18168 20.0002 2.68173C20.0002 1.22723 18.7729 0 17.3184 0Z" fill="#888888" fill-opacity="0.5"/>
                  <path d="M10.1349 0C8.6349 0 7.45312 1.22723 7.45312 2.68173C7.45312 4.18168 8.68036 5.36345 10.1349 5.36345C11.6348 5.36345 12.8166 4.13622 12.8166 2.68173C12.8166 1.22723 11.6348 0 10.1349 0Z" fill="#888888" fill-opacity="0.5"/>
              </svg>
            </easiDropdown>
          </td>
        </tr>
      </tbody>

      <div v-else>
        <div
          class="py-4 flex justify-center bg-white items-center text-gray-600 font-light"
        >
          No record for payments
        </div>
      </div>
    </table>

    <easiModal v-if="showModal==true" @close="showModal=false">
      <template v-slot:header>
        <div class="text-white">-</div>
      </template>
      <div class="md:float-right md:h-full bg-white p-10 pt-0 float-none w-full text-sm">
        <div>
          <div class="font-bold">Pay</div>
          <div>You should never complain, complaning.</div>
        </div>

        <div class="mt-6">
          <div class="font-bold">Total Gross</div>
          <div>N300,000</div>
        </div>

        <div class="mt-6">
          <div class="font-bold">Total Net</div>
          <div>N300,000</div>
        </div>

        <div class="mt-6">
          <div class="font-bold">Allowances</div>
          <div>N300,000</div>
        </div>

        <div class="mt-6">
          <div class="font-bold">Benefits</div>
          <div>N300,000</div>
        </div>

        <div class="mt-6">
          <input class="mr-2 leading-tight" type="checkbox">
          <span class="font-bold">
            Pay Statutory Benefits
          </span>
        </div>

        <div class="mt-6">
            <easiButton @click.native="createCategory" class="float-right ml-8 w-32">Pay</easiButton>
            <easiButton class="float-right w-32" variant="outline">Cancel</easiButton>
        </div>
      </div>
    </easiModal>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      headers: ["EMPLOYEE", "TOTAL GROSS", "TOTAL NET", "ALLOWANCE", "BENEFITS", "STATUS", "ACTION"],
      loading: false,
      jobs: [],
      payload: {
        paging: {
          limit: 10,
          search: null,
          skip: 0,
        }
      },
      showModal: false,

      args: {
        month: "",
        year: ""
      }
    };
  },
  computed: {
    ...mapGetters(["getAllEmployees", "applicant", "checkLoading"]),
  },
  methods: {
    async submitForApproval() {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "SubmitPaymentForApproval",
        data: { request: this.args },
      });
      if (res.success) {
        this.$toast.success("Payment Submitted Successfuly!!!");
        this.$router.push({ name: "PayrollBenefits" });
      }
    },

    async approvePayment() {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "ApprovePayment",
        data: { request: this.args },
      });
      if (res.success) {
        this.$toast.success("Payment Approved Successfuly!!!");
        this.$router.push({ name: "PayrollBenefits" });
      }
    },
  },
  async created() {
    //this.args.companyId = this.applicant.companyId;
    //await this.makeRequest();
  },
};
</script>

<style>
</style>