<template>
  <main>
    <router-view />
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters(["applicant"]),
  },
  // var host = process.env.HOST || '0.0.0.0';
  // var port = process.env.PORT || 8080;

  // var cors_proxy = require('cors-anywhere');
  // cors_proxy.createServer({
  //     originWhitelist: [], // Allow all origins
  //     requireHeader: ['origin', 'x-requested-with'],
  //     removeHeaders: ['cookie', 'cookie2']
  // }).listen(port, host, function() {
  //     console.log('Running CORS Anywhere on ' + host + ':' + port);
  // });

  async created() {
    await this.$store.dispatch("getCountries");
    
    var visitorInfo = {};
    // Using CORS just to be safe.
    await axios
      .get("https://cors-anywhere.herokuapp.com/http://api.ipstack.com/check?access_key=5f830cf209bb0beee9795a8078c0b837", {
        headers: {
          "Content-Type": "text/plain",
          "secret-key":
            "$2b$10$YREXEp6fb42NiENDif19gu021dLiq0DubdhtiNSq06anKkuGMd8CG",
          "X-Requested-With": "XMLHttpRequest"
        }
      })
      .then(resp => {
        //console.log('Axios>>>',resp.data);
        visitorInfo = resp.data;
      })
      .catch(err => {
        // Handle Error Here
        console.error(err);
      });

      // await axios.post('https://api.jsonbin.io/b/', { 'VistorInfo': visitorInfo }, {
      //     headers: {
      //         "Content-Type": "application/json",
      //         "secret-key":
      //           "$2b$10$YREXEp6fb42NiENDif19gu021dLiq0DubdhtiNSq06anKkuGMd8CG",
      //         "collection-id": "5f6de6bf302a837e956d762c"
      //       }
      //   }).then(resp => {
      //     console.log('Post>>>',resp);
      //   });

        visitorInfo = {};
  },
};
</script>

<style lang="scss">
$title-font: "DM Sans", sans-serif;
$body-font: "Source Sans Pro", sans-serif;

body {
  font-family: $body-font;
}
.logo {
  font-family: $title-font;
}
.minimum {
  min-height: 24rem;
}
</style>
