<template>
  <main>
    <div class="flex h-screen">
      <div style="z-index:100" class="overflow-y-auto lg:w-56 fixed w-full h-full bg-easipurple">
        <DashboardLinks />
      </div>
      <div class="flex-1 bg-gray-100">
        <easiDashboardFixedHeader />
        <router-view class="dashboard-padding-height route-height lg:pl-56" />
      </div>
    </div>
  </main>
</template>

<script>
import DashboardLinks from "../components/DashboardLinks";
export default {
  components: {
    DashboardLinks
  }
};
</script>

<style>
</style>
