<template>
  <main class="">
        <div class="md:inline-block md:w-1/2 md:h-full bg-blue-900 text-white md:absolute">
          <div class="md:pl-10 pl-4 pt-4 md:mt-20 text-lg md:text-2xl">By joining our exclusive first user category, you will enjoy the following benefits:</div>
        
          <div class="md:pl-10 pl-4 text-2xl mt-4">{{routeLinks[currentRoute]}}</div>
          <div v-for="text in texts[currentRoute]" :key="text" class="mt-4 md:ml-10 ml-4 text-sm">
              <!-- <div class="inline-block"> -->
              <svg class="inline-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="10" cy="10" r="10" fill="#E4572E"/>
              </svg>
              <!-- </div> -->
              <!-- <div class="inline-block whitespace-pre-wrap"> -->
              {{text}}
              <!-- </div> -->
          </div>

          <div class="md:pl-10 pl-4 mt-12 pb-8 md:bottom-0 w-full md:absolute">
            <svg v-for="i in 5" :key="i" class="inline mr-4" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="10" cy="10" r="10" :fill="colors[i-1]"/>
            </svg>

            <span class="float-right cursor-pointer mb-2">
                <svg @click="backRoute()" class="inline mr-2 md:mr-10 mb-2" width="35" height="35" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="24" cy="24" r="24" transform="rotate(-180 24 24)" fill="#E4572E"/>
                    <g clip-path="url(#clip0)">
                    <path d="M19.8618 24.4389L27.2622 31.8189C27.5047 32.0606 27.8973 32.0602 28.1393 31.8177C28.3812 31.5752 28.3806 31.1824 28.1381 30.9406L21.1781 23.9998L28.1383 17.0591C28.3808 16.8173 28.3814 16.4247 28.1396 16.1822C28.0182 16.0607 27.8593 15.9999 27.7003 15.9999C27.5417 15.9999 27.3834 16.0603 27.2623 16.181L19.8618 23.5608C19.745 23.677 19.6794 23.8351 19.6794 23.9998C19.6794 24.1646 19.7452 24.3225 19.8618 24.4389Z" fill="white"/>
                    </g>
                    <defs>
                    <clipPath id="clip0">
                    <rect width="16" height="16" fill="white" transform="translate(32 32) rotate(-180)"/>
                    </clipPath>
                    </defs>
                </svg>


                <svg @click="forwardRoute()" class="inline mr-2 md:mr-10 mb-2" width="35" height="35" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="24" cy="24" r="24" fill="#E4572E"/>
                    <g clip-path="url(#clip0)">
                    <path d="M28.1382 23.5611L20.7378 16.1811C20.4953 15.9394 20.1027 15.9398 19.8607 16.1823C19.6188 16.4248 19.6194 16.8176 19.8619 17.0594L26.8219 24.0002L19.8617 30.9409C19.6192 31.1827 19.6186 31.5753 19.8604 31.8178C19.9818 31.9393 20.1407 32.0001 20.2997 32.0001C20.4583 32.0001 20.6166 31.9397 20.7377 31.819L28.1382 24.4392C28.255 24.323 28.3206 24.1649 28.3206 24.0002C28.3206 23.8354 28.2548 23.6775 28.1382 23.5611Z" fill="white"/>
                    </g>
                    <defs>
                    <clipPath id="clip0">
                    <rect width="16" height="16" fill="white" transform="translate(16 16)"/>
                    </clipPath>
                    </defs>
                </svg>
            </span>

          </div>
        </div>

        <div class="md:float-right md:w-1/2 md:h-full bg-white p-10 pt-8 float-none w-full">
          <div>
              
            <svg width="167" height="30" viewBox="0 0 167 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.492 29.144C8.5 29.144 6.724 28.724 5.164 27.884C3.628 27.02 2.416 25.844 1.528 24.356C0.664 22.844 0.232 21.116 0.232 19.172C0.232 17.204 0.64 15.476 1.456 13.988C2.296 12.476 3.448 11.3 4.912 10.46C6.376 9.596 8.056 9.164 9.952 9.164C11.824 9.164 13.432 9.584 14.776 10.424C16.12 11.24 17.14 12.38 17.836 13.844C18.556 15.284 18.916 16.952 18.916 18.848C18.916 19.304 18.76 19.688 18.448 20C18.136 20.288 17.74 20.432 17.26 20.432H3.58C3.844 22.088 4.6 23.444 5.848 24.5C7.12 25.532 8.668 26.048 10.492 26.048C11.236 26.048 11.992 25.916 12.76 25.652C13.552 25.364 14.188 25.04 14.668 24.68C15.028 24.416 15.412 24.284 15.82 24.284C16.252 24.26 16.624 24.38 16.936 24.644C17.344 25.004 17.56 25.4 17.584 25.832C17.608 26.264 17.416 26.636 17.008 26.948C16.192 27.596 15.172 28.124 13.948 28.532C12.748 28.94 11.596 29.144 10.492 29.144ZM9.952 12.26C8.176 12.26 6.748 12.752 5.668 13.736C4.588 14.72 3.904 15.992 3.616 17.552H15.604C15.388 16.016 14.8 14.756 13.84 13.772C12.88 12.764 11.584 12.26 9.952 12.26ZM31.1043 29.144C29.3523 29.144 27.7803 28.712 26.3883 27.848C24.9963 26.96 23.8923 25.772 23.0763 24.284C22.2843 22.772 21.8883 21.068 21.8883 19.172C21.8883 17.276 22.3203 15.572 23.1843 14.06C24.0723 12.548 25.2603 11.36 26.7483 10.496C28.2603 9.608 29.9523 9.164 31.8243 9.164C33.6963 9.164 35.3763 9.608 36.8643 10.496C38.3523 11.36 39.5283 12.548 40.3923 14.06C41.2803 15.572 41.7243 17.276 41.7243 19.172V27.2C41.7243 27.728 41.5443 28.172 41.1843 28.532C40.8483 28.868 40.4163 29.036 39.8883 29.036C39.3603 29.036 38.9163 28.868 38.5563 28.532C38.2203 28.172 38.0523 27.728 38.0523 27.2V25.868C37.2123 26.876 36.1923 27.68 34.9923 28.28C33.8163 28.856 32.5203 29.144 31.1043 29.144ZM31.8243 25.904C33.0483 25.904 34.1403 25.616 35.1003 25.04C36.0603 24.44 36.8163 23.636 37.3683 22.628C37.9203 21.596 38.1963 20.444 38.1963 19.172C38.1963 17.876 37.9203 16.724 37.3683 15.716C36.8163 14.684 36.0603 13.88 35.1003 13.304C34.1403 12.704 33.0483 12.404 31.8243 12.404C30.6243 12.404 29.5323 12.704 28.5483 13.304C27.5883 13.88 26.8203 14.684 26.2443 15.716C25.6923 16.724 25.4163 17.876 25.4163 19.172C25.4163 20.444 25.6923 21.596 26.2443 22.628C26.8203 23.636 27.5883 24.44 28.5483 25.04C29.5323 25.616 30.6243 25.904 31.8243 25.904ZM47.9812 29C46.8532 29 46.2892 28.436 46.2892 27.308C46.2892 26.828 46.3972 26.444 46.6132 26.156L56.8012 12.692H47.6212C46.4932 12.692 45.9292 12.128 45.9292 11C45.9292 9.872 46.4932 9.308 47.6212 9.308H59.8972C61.0252 9.308 61.5892 9.872 61.5892 11C61.5892 11.48 61.4812 11.864 61.2652 12.152L51.1132 25.616H60.2572C61.3852 25.616 61.9492 26.18 61.9492 27.308C61.9492 28.436 61.3852 29 60.2572 29H47.9812ZM68.8266 29C68.2986 29 67.8546 28.832 67.4946 28.496C67.1586 28.136 66.9906 27.692 66.9906 27.164V11.144C66.9906 10.592 67.1586 10.148 67.4946 9.812C67.8546 9.476 68.2986 9.308 68.8266 9.308C69.3786 9.308 69.8226 9.476 70.1586 9.812C70.4946 10.148 70.6626 10.592 70.6626 11.144V27.164C70.6626 27.692 70.4946 28.136 70.1586 28.496C69.8226 28.832 69.3786 29 68.8266 29ZM68.8266 6.104C68.1786 6.104 67.6146 5.876 67.1346 5.42C66.6786 4.94 66.4506 4.376 66.4506 3.728C66.4506 3.08 66.6786 2.528 67.1346 2.072C67.6146 1.592 68.1786 1.352 68.8266 1.352C69.4746 1.352 70.0266 1.592 70.4826 2.072C70.9626 2.528 71.2026 3.08 71.2026 3.728C71.2026 4.376 70.9626 4.94 70.4826 5.42C70.0266 5.876 69.4746 6.104 68.8266 6.104ZM79.3299 29.036C78.8019 29.036 78.3579 28.868 77.9979 28.532C77.6619 28.172 77.4939 27.728 77.4939 27.2V11.144C77.4939 10.592 77.6619 10.148 77.9979 9.812C78.3579 9.476 78.8019 9.308 79.3299 9.308C79.8819 9.308 80.3259 9.476 80.6619 9.812C80.9979 10.148 81.1659 10.592 81.1659 11.144V11.54C81.9099 10.796 82.8099 10.208 83.8659 9.776C84.9219 9.344 86.0619 9.128 87.2859 9.128C88.9419 9.128 90.4179 9.488 91.7139 10.208C93.0339 10.904 94.0659 11.936 94.8099 13.304C95.5779 14.672 95.9619 16.352 95.9619 18.344V27.2C95.9619 27.728 95.7819 28.172 95.4219 28.532C95.0859 28.868 94.6539 29.036 94.1259 29.036C93.5979 29.036 93.1539 28.868 92.7939 28.532C92.4579 28.172 92.2899 27.728 92.2899 27.2V18.344C92.2899 16.304 91.7379 14.816 90.6339 13.88C89.5539 12.92 88.1979 12.44 86.5659 12.44C85.5579 12.44 84.6459 12.644 83.8299 13.052C83.0139 13.46 82.3659 14.012 81.8859 14.708C81.4059 15.38 81.1659 16.16 81.1659 17.048V27.2C81.1659 27.728 80.9979 28.172 80.6619 28.532C80.3259 28.868 79.8819 29.036 79.3299 29.036ZM79.3299 21.836C78.8019 21.836 78.3579 21.668 77.9979 21.332C77.6619 20.972 77.4939 20.528 77.4939 20V2.72C77.4939 2.168 77.6619 1.724 77.9979 1.388C78.3579 1.052 78.8019 0.883999 79.3299 0.883999C79.8819 0.883999 80.3259 1.052 80.6619 1.388C80.9979 1.724 81.1659 2.168 81.1659 2.72V20C81.1659 20.528 80.9979 20.972 80.6619 21.332C80.3259 21.668 79.8819 21.836 79.3299 21.836ZM104.264 29C103.736 29 103.292 28.832 102.932 28.496C102.596 28.136 102.428 27.692 102.428 27.164V11.144C102.428 10.592 102.596 10.148 102.932 9.812C103.292 9.476 103.736 9.308 104.264 9.308C104.816 9.308 105.26 9.476 105.596 9.812C105.932 10.148 106.1 10.592 106.1 11.144V27.164C106.1 27.692 105.932 28.136 105.596 28.496C105.26 28.832 104.816 29 104.264 29ZM104.264 6.104C103.616 6.104 103.052 5.876 102.572 5.42C102.116 4.94 101.888 4.376 101.888 3.728C101.888 3.08 102.116 2.528 102.572 2.072C103.052 1.592 103.616 1.352 104.264 1.352C104.912 1.352 105.464 1.592 105.92 2.072C106.4 2.528 106.64 3.08 106.64 3.728C106.64 4.376 106.4 4.94 105.92 5.42C105.464 5.876 104.912 6.104 104.264 6.104ZM114.731 29C113.531 29 112.931 28.4 112.931 27.2V11.108C112.931 9.908 113.531 9.308 114.731 9.308C115.931 9.308 116.531 9.908 116.531 11.108V11.792C117.251 10.952 118.127 10.292 119.159 9.812C120.215 9.332 121.355 9.092 122.579 9.092C124.019 9.092 125.087 9.332 125.783 9.812C126.503 10.268 126.779 10.82 126.611 11.468C126.491 11.972 126.251 12.308 125.891 12.476C125.531 12.62 125.111 12.644 124.631 12.548C123.095 12.236 121.715 12.212 120.491 12.476C119.267 12.74 118.295 13.232 117.575 13.952C116.879 14.672 116.531 15.584 116.531 16.688V27.2C116.531 28.4 115.931 29 114.731 29ZM138.25 29.144C136.258 29.144 134.482 28.724 132.922 27.884C131.386 27.02 130.174 25.844 129.286 24.356C128.422 22.844 127.99 21.116 127.99 19.172C127.99 17.204 128.398 15.476 129.214 13.988C130.054 12.476 131.206 11.3 132.67 10.46C134.134 9.596 135.814 9.164 137.71 9.164C139.582 9.164 141.19 9.584 142.534 10.424C143.878 11.24 144.898 12.38 145.594 13.844C146.314 15.284 146.674 16.952 146.674 18.848C146.674 19.304 146.518 19.688 146.206 20C145.894 20.288 145.498 20.432 145.018 20.432H131.338C131.602 22.088 132.358 23.444 133.606 24.5C134.878 25.532 136.426 26.048 138.25 26.048C138.994 26.048 139.75 25.916 140.518 25.652C141.31 25.364 141.946 25.04 142.426 24.68C142.786 24.416 143.17 24.284 143.578 24.284C144.01 24.26 144.382 24.38 144.694 24.644C145.102 25.004 145.318 25.4 145.342 25.832C145.366 26.264 145.174 26.636 144.766 26.948C143.95 27.596 142.93 28.124 141.706 28.532C140.506 28.94 139.354 29.144 138.25 29.144ZM137.71 12.26C135.934 12.26 134.506 12.752 133.426 13.736C132.346 14.72 131.662 15.992 131.374 17.552H143.362C143.146 16.016 142.558 14.756 141.598 13.772C140.638 12.764 139.342 12.26 137.71 12.26ZM158.521 29.144C156.841 29.144 155.281 28.892 153.841 28.388C152.425 27.86 151.321 27.2 150.529 26.408C150.169 26.024 150.013 25.592 150.061 25.112C150.133 24.608 150.373 24.2 150.781 23.888C151.261 23.504 151.729 23.348 152.185 23.42C152.665 23.468 153.073 23.672 153.409 24.032C153.817 24.488 154.465 24.92 155.353 25.328C156.265 25.712 157.273 25.904 158.377 25.904C159.769 25.904 160.825 25.676 161.545 25.22C162.289 24.764 162.673 24.176 162.697 23.456C162.721 22.736 162.373 22.112 161.653 21.584C160.957 21.056 159.673 20.624 157.801 20.288C155.377 19.808 153.613 19.088 152.509 18.128C151.429 17.168 150.889 15.992 150.889 14.6C150.889 13.376 151.249 12.368 151.969 11.576C152.689 10.76 153.613 10.16 154.741 9.776C155.869 9.368 157.045 9.164 158.269 9.164C159.853 9.164 161.257 9.416 162.481 9.92C163.705 10.424 164.677 11.12 165.397 12.008C165.733 12.392 165.889 12.8 165.865 13.232C165.841 13.64 165.637 13.988 165.253 14.276C164.869 14.54 164.413 14.624 163.885 14.528C163.357 14.432 162.913 14.216 162.553 13.88C161.953 13.304 161.305 12.908 160.609 12.692C159.913 12.476 159.109 12.368 158.197 12.368C157.141 12.368 156.241 12.548 155.497 12.908C154.777 13.268 154.417 13.796 154.417 14.492C154.417 14.924 154.525 15.32 154.741 15.68C154.981 16.016 155.437 16.328 156.109 16.616C156.781 16.88 157.765 17.144 159.061 17.408C161.773 17.936 163.645 18.692 164.677 19.676C165.733 20.636 166.261 21.824 166.261 23.24C166.261 24.344 165.961 25.34 165.361 26.228C164.785 27.116 163.921 27.824 162.769 28.352C161.641 28.88 160.225 29.144 158.521 29.144Z" fill="url(#paint0_linear)"/>
                <defs>
                <linearGradient id="paint0_linear" x1="60.6316" y1="17" x2="146.526" y2="17" gradientUnits="userSpaceOnUse">
                <stop stop-color="#183059"/>
                <stop offset="1" stop-color="#E4572E"/>
                </linearGradient>
                </defs>
            </svg>


            <div class="pl-8 mb-4 mt-2 font-bold text-xl md:text-2xl" style="font-family:'Comic Sans MS'">Join our First Users today <br> Sign up</div>

            <div>
                <div class="inline-block" style="width:45%">
                    <!-- <span>Name of Company</span> -->
                    <input class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal" placeholder="Enter your company name">
                </div>

                <div class="float-right"  style="width:45%">
                    <!-- <span>Name of Contact</span> -->
                    <input class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal" placeholder="Enter your contact name">
                </div>
            </div>

            <div class="mt-2 mb-2">
                <!-- <span>Email Address</span> -->
                <input class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal" type="email" placeholder="Enter your email address">
            </div>

            <div class="hidden md:block">
                <div class="inline-block" style="width:45%">
                    <!-- <span>Phone Number</span> -->
                    <input type="number" class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal" placeholder="Enter your phone number">
                </div>

                <div class="float-right" style="width:45%">
                    <!-- <span>Alternate Phone Number</span> -->
                    <input type="number" class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal" placeholder="Enter your alternate phone number">
                </div>
            </div>
            <div class="block md:hidden w-full">
                <div class="inline-block">
                    <!-- <span>Phone Number</span> -->
                    <input type="number" class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal" placeholder="Enter your phone number">
                </div>

                <div class="float-right w-full">
                    <!-- <span>Alternate Phone Number</span> -->
                    <input type="number" class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal" placeholder="Enter your alternate phone number">
                </div>
            </div>

            <div class="mt-4 pt-10 md:pt-0">
              <easiButton @click.native="gotoPaystack()" class="float-right w-32">Sign Up</easiButton>
            </div> <br>
            <div class="mb-2">-</div>

            <div class="mt-4 mb-2 font-bold text-lg text-gray-800">Sign-up commitment </div>
            <div class="mt-4 text-gray-600">
              <div class="inline-block hidden md:inline-block" style="width:4%">
                <svg class="inline-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="10" cy="10" r="10" fill="#E4572E"/>
                </svg>
                <br><br>
              </div>

              <div class="inline-block" style="width:96%">
                <span class="block md:hidden">
                  <svg class="inline-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="10" cy="10" r="10" fill="#E4572E"/>
                  </svg>
                </span>        
              <span class="whitespace-pre-wrap">
                To shortlist our first users, a sign up fee of 25,000 NGN will be required once eazihires is set up for your organization.
              </span>
              </div>
            </div>

            <div class="mt-4 text-gray-600">
              <div class="inline-block hidden md:inline-block" style="width:4%">
                <svg class="inline-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="10" cy="10" r="10" fill="#E4572E"/>
                </svg>
                <br><br>
              </div>

              <div class="inline-block" style="width:96%">  
                <span class="block md:hidden">
                  <svg class="inline-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="10" cy="10" r="10" fill="#E4572E"/>
                  </svg>
                </span>      
              <span class="whitespace-pre-wrap">
                To all 100s of our first users, we will not charge you for the next 6 months. This means that you are only paying 25,000 NGN for over 250,000 NGN worth of access.
              </span>
              </div>
            </div>
          </div>

        </div>
  </main>
</template>

<script>
export default {
  data() {
    return {
      texts: [
          [
            "Place your job ads to other job boards from eazihires with just one submission",
            "Track multiple applications at once",
            "Shortlist and contact multiple candidates at once",
            "PAY ONLY after shortlisting candidates (knowing the applications are satisfactory)",
            "Test multiple candidates: Aptitude & Questionnaires",
            "Schedule & Perform Interviews: let me know",
            "Send offer to candidates",
            ],
          [
            "Electronically send, receive, and save signed employment offers.",
            ],
          [
            "Set Payroll levels",
            "Choose what and when to pay",
            "Pay directly to bank account or by cash. (Don’t worry, we have a safe way of paying salaries by cash, you don’t have to withdraw money from the bank)",
            "Connect performance to payroll. Only pay employees based on job done.",
            "Remit taxes and other statutory payments across Nigeria. (Don’t worry, we will make sure you pay just what you should pay).",
            "Send Auto Payroll Slips to staff",
            "Manage approval levels",
            "Best-in-class security for payment",
            ],
          [
            "Set business objectives",
            "Set business units goals",
            "Set Key Performance Indicators",
            "Manage Performance",
            "Automatic Performance appraisal reports (Check Trello for Design)",
            ],
            [
              "Access to 100s of HR documentation and templates useful for hiring, queries, contracts , vendor management, etc - based on the Nigerian Labour Act. "
            ]
      ],

      routeLinks: [
          "Hiring", "Onboarding", "Payroll", "Performance Management", "Employee Management",
      ],
      currentRoute: 0,
      colors: ["white", "#E4572E", "#E4572E", "#E4572E", "#E4572E"],
    };
  },
  
  methods: {
      backRoute(){
        if (this.currentRoute == 0){this.currentRoute = 4}
        else {this.currentRoute -= 1}

        var colors = this.colors;
        this.colors.forEach(
            function(color, index){ colors[index] = "#E4572E"}
        );
        this.colors[this.currentRoute] = "white";
        console.log(this.colors)
      },
      forwardRoute(){
        if (this.currentRoute == 4){this.currentRoute = 0}
        else {this.currentRoute += 1}

        var colors = this.colors;
        this.colors.forEach(
            function(color, index){ colors[index] = "#E4572E"}
        );
        this.colors[this.currentRoute] = "white";
      },

      gotoPaystack() {
          window.location='https://paystack.com/pay/easihirefirstuser'
      }
  },
};
</script>

<style></style>

