<template>
  <main>
    <div class="flex h-screen">
      <div class="hidden lg:flex max-w-sm w-full lg:overflow-hidden relative">
        <div class="absolute w-full h-full bg-blue-800">
          <img
            v-if="$route.name == 'Login'"
            class="w-full h-full object-cover opacity-75"
            src="https://images.unsplash.com/photo-1574714163307-d778e9ef9c45?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80"
            alt
          />
          <img class="w-full h-full object-cover opacity-75" v-else src="@/assets/Create.png" alt />
        </div>
      </div>
      <div
        class="overflow-y-auto flex-1 pb-10 lg:px-0 px-5 bg-gray-100 lg:block flex flex-col justify-between w-full"
      >
        <div
          class="lg:hidden logo text-2xl pt-3 font-medium logo text-gray-800 tracking-wide left-0"
        >EasiHire</div>
        <router-view class="lg:max-w-lg lg:mt-32 lg:mx-auto w-full" />
        <div></div>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  data() {
    return {};
  },
  watch: {}
};
</script>

<style>
</style>