<template>
  <main>
    <div class="flex w-full max-w-2xl items-center justify-between">
      <easiBackButton @click.native="$router.push({ name: 'MemoAll' })" />
      <h1 class="text-lg text-gray-700">Create Memo</h1>
      <div>
        <easiButton variant="outline">
          <div class="leading-4">
            Select Templates
          </div>
        </easiButton>
      </div>
    </div>
    <div class="w-full max-w-2xl bg-white py-3 px-5 mt-6 shadow-xs pb-8">
      <p class="text-gray-600 font-medium text-sm mt-2">Send To</p>

      <div class="grid grid-cols-2 items-center col-gap-5">
        <div class="mt-1">
          <div class="flex items-center">
            <input
              type="checkbox"
              v-model="args.allStaff"
              name=""
              class="p-20"
              id=""
            />
            <div class="text-sm font-light text-gray-600 ml-6">
              All Employees
            </div>
          </div>
          <!-- <input
            class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
            type="checkbox"
            placeholder="Search Employee"
            required
          /> -->
        </div>
        <div class="mt-3">
          <multiselect
            class="font-thin text-xs leading-5"
            v-model="value"
            :options="formatIds"
            :multiple="true"
            :close-on-select="false"
            :clear-on-select="false"
            :preserve-search="true"
            placeholder="Search Employees"
            :disabled="args.allStaff"
            label="Name"
            track-by="Name"
          >
            <template slot="selection" slot-scope="{ values, search, isOpen }">
              <span
                class="multiselect__single"
                v-if="value.length &amp;&amp; !isOpen"
                >{{ value.length }} Employees selected</span
              >
            </template>
          </multiselect>
        </div>
      </div>
      <p class="text-gray-600 font-medium text-sm mt-6">Approved By</p>
      <div class="mt-2">
        <input
          class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
          type="text"
          placeholder
          required
          v-model="args.approvedBy"
        />
      </div>
      <p v-if="!args.isTemplate" class="text-gray-600 font-medium text-sm mt-6">
        Subject
      </p>
      <div class="mt-2">
        <input
          v-if="!args.isTemplate"
          class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
          type="text"
          placeholder
          required
          v-model="args.subject"
        />
      </div>
      <div class="mt-6">
        <p v-if="!args.isTemplate" class="text-gray-600 font-medium text-sm">
          Message
          <span class="text-orange-500">*</span>
        </p>
        <easiEditor
          v-if="!args.isTemplate"
          v-model.lazy="args.message"
          required
          class="w-full mt-2"
        />
      </div>
      <div class="flex justify-end mt-8 text-right">
        <easiButton
          @click.native="$router.push({ name: 'MemoAll' })"
          variant="outline"
          class="inline-block mr-3"
        >
          <div class="px-8 leading-4">Cancel</div>
        </easiButton>
        <easiButton @click.native="create" class="inline-block">
          <div class="px-8">Create</div>
        </easiButton>
      </div>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
import Multiselect from "vue-multiselect";

export default {
  data() {
    return {
      args: {
        allStaff: false,
        inputIDs: [],
        subject: null,
        approvedBy: null,
        isTemplate: false,
        templateTitle: "",
        message: "",
      },
      value: [],
    };
  },
  watch: {
    value(x) {
      if (x) {
        this.args.inputIDs = [];
        this.value.forEach(({ id }) => {
          this.args.inputIDs.push(id);
        });
        console.log(this.args.inputIDs);
      }
    },
  },
  methods: {
    async create() {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "CreateMemo",
        data: { memoInput: this.args },
      });
      if (res.success) {
        this.$toast.success("Memo Sent Successfuly");
        this.$router.push({ name: "MemoAll" });
      }
    },

    queryMemoTemplates() {
      this.$store.dispatch("query", {
        endpoint: "ListMemoTemplate",
        payload: this.args,
        storeKey: "listMemoTemplates",
      });
    },
  },
  components: {
    Multiselect,
  },

  computed: {
    ...mapGetters(["applicant", "allIds"]),
    formatIds() {
      if (this.allIds && this.allIds.data) {
        let ids = this.allIds.data;
        let adminId = this.applicant._id;
        let getAdminIdFromIds = ids.find((x) => {
          return x.ID == adminId;
        });
        let filteredId = ids.filter((x) => x.ID != getAdminIdFromIds.ID);

        let k = {};
        k.Name = `${getAdminIdFromIds.Name} (Admin)`;
        k.ID = getAdminIdFromIds.ID;
        k.type = "Admin";
        console.log(k, "look");
        filteredId.push(k);
        return filteredId;
      }
    },
  },
  async created() {
    let res = await this.$store.dispatch("query", {
      endpoint: "ListEmployeeNameAndIds",
      storeKey: "listIds",
    });

    console.log(this.formatIds, "we read datad");

    await this.queryMemoTemplates();
  },
};
</script>


<style>
</style>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>