<template>
  <form @submit.prevent="create">
    <div class="flex w-full max-w-2xl items-center">
      <easiBackButton @click.native="$router.push({ name: 'MemoTemplates' })" />
      <h1 class="text-lg ml-20 text-gray-700">Create Templates</h1>
    </div>
    <div class="w-full max-w-2xl bg-white py-3 px-5 mt-6 shadow-xs pb-8">
      <p class="text-gray-600 font-medium text-sm mt-6">Title</p>
      <div class="mt-2">
        <input
          class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
          type="text"
          placeholder
          required
          v-model="args.title"
        />
      </div>
      <p class="text-gray-600 font-medium text-sm mt-6">Subject</p>
      <div class="mt-2">
        <input
          class="p-16 bg-white w-full text-gray-600 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
          type="text"
          placeholder
          required
          v-model="args.subject"
        />
      </div>
      <div class="mt-6">
        <p class="text-gray-600 font-medium text-sm">
          Message
          <span class="text-orange-500">*</span>
        </p>
        <easiEditor
          v-model.native="args.message"
          required
          class="w-full mt-2"
        />
      </div>
      <div class="flex justify-end mt-8 text-right">
        <easiButton
          @click.native="$router.push({ name: 'MemoAll' })"
          variant="outline"
          class="inline-block mr-3"
        >
          <div class="px-8 leading-4">Cancel</div>
        </easiButton>
        <easiButton class="inline-block">
          <div class="px-8">Create</div>
        </easiButton>
      </div>
    </div>

    <!-- <div class="mt-6">
      <p class="text-gray-600 font-medium text-sm">Monthly Salary</p>
      <input
        class="p-16 bg-white w-full text-gray-500 font-light text-sm leading-6 focus:outline-none mt-2 border rounded-sm py-2 px-4 block appearance-none"
        type="number"
        placeholder="Monthly Salary"
        required
      />
    </div> -->
  </form>
</template>

<script>
export default {
  data() {
    return {
      args: {
        title: "",
        subject: "",
        message: "",
      },
    };
  },
  formatIds() {
    if (this.allIds && this.allIds.data) {
      let ids = this.allIds.data;
      let adminId = this.getEmployee._id;
      let getAdminIdFromIds = ids.find((x) => {
        return x.ID == adminId;
      });
      let filteredId = ids.filter((x) => x.ID != getAdminIdFromIds.ID);
      let k = {};
      k.Name = `${getAdminIdFromIds.Name} (Admin)`;
      k.ID = getAdminIdFromIds.ID;
      k.type = "Admin";
      filteredId.push(k);
      return filteredId;
    }
  },
  methods: {
    async create() {
      let res = await this.$store.dispatch("mutate", {
        endpoint: "CreateMemoTemplate",
        data: { memoTemplateInput: this.args },
      });
      if (res.success) {
        this.$toast.success("Memo Template Created");
        this.$router.push({ name: "MemoTemplates" });
      }
    },
  },
};
</script>

<style>
</style>